//--- Site level Javascripts go here
//---------------------------------------------------------


//--- The below js is the one which calls require.js this ideally would sit in ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
//--- Howvever since AEM didnt want the revision numbers since it was interfering with thier cache, we have the below script
//--- Jira ticket number SWR-607
//---------------------------------------------------------

script(src='../assets/js/vendor/require.js' data-main='../assets/js/main.js' data-site-config-path=siteConfigPath type='text/javascript')

//--- The below js is for the Google Analytics
//---------------------------------------------------------
script(type='text/javascript').
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83551518-1', 'auto');
  ga('send', 'pageview');

//--- The below js is for the Google translate element
//---------------------------------------------------------
script(type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
