//--- VARIABLES
//---------------------------------------------------------

- var siteName        = "GEF SWS Theme"
//- - var theme           = "common"
- var siteConfigPath  = "config/"
- var schoolname      = "Liverpool Girls' High School"
//-- 65 char headline
- var headline = "It is a long established fact that a reader will be distracted by"
//-- 135 char news text
- var newsText = "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected hum"
- var quicklinksItems = ["Make a payment", "Events", "Newsletter", "Contact Us",]
- var qlMenuItems1 = [{name: "Make a payment", iconPath: "../assets/images/nav_mobile-payment.svg"},{name: "Events", iconPath: "../assets/images/nav_mobile-events.svg"},{name: "Newsletter", iconPath: "../assets/images/nav_mobile-news.svg"},{name: "Image gallery", iconPath: "../assets/images/nav_mobile-gallery.svg"},{name: "Contact Us", iconPath: "../assets/images/nav_mobile-contact.svg"}]
- var qlMenuItems2 = [{name: "Make a payment", iconPath: "../assets/images/nav_mobile-payment.svg"},{name: "Events", iconPath: "../assets/images/nav_mobile-events.svg"}]
- var menuItems = [{name: "Make a payment", iconPath: "../assets/images/nav_mobile-payment.svg"},{name: "Events", iconPath: "../assets/images/nav_mobile-events.svg"},{name: "Newsletter", iconPath: "../assets/images/nav_mobile-news.svg"},{name: "Image gallery", iconPath: "../assets/images/nav_mobile-gallery.svg"},{name: "Contact Us", iconPath: "../assets/images/nav_mobile-contact.svg"}]
- var menuItems2 = [{name: "Make a payment", iconPath: "../assets/images/nav_mobile-payment.svg"},{name: "Events", iconPath: "../assets/images/nav_mobile-events.svg"}]
