//--- INCLUDES
//---------------------------------------------------------

//--- foundation
include _foundation.pug

//-- patterns
include includes/general-content.pug

//-- partials
include components/partials/sws_local_footer_contact.pug
include components/partials/sws_local_footer_social-media
include components/partials/global_header_links.pug
include components/partials/sws_google_translate.pug
include components/partials/sws_albums_gallery.pug
include components/partials/sws_news_latest_partial.pug
include components/partials/sws_toc.pug
include components/partials/sws_static_banner_partials.pug
include components/partials/sws-page-components.pug
include components/partials/layout-content.pug
include components/partials/sws-news-article.pug
include components/partials/sidebar_components.pug
include components/partials/sws_album_detail_banner.pug
include components/partials/album-details-gallery.pug
include components/partials/sws-view-more.pug


//-- components
include components/sws-local-header.pug
include components/sws-local-mobile-nav.pug
include components/_global-footer.pug
include components/_global-corporate-logo.pug
include components/sws-local-footer.pug
include components/sws-breadcrumbs.pug
include components/sws-global-header.pug
include components/sws-albums-gallery.pug
include components/sws-latest-news.pug
include components/sws-mega-menu.pug
include components/sws-global-quicklinks.pug
include components/sws-local-desktop-quicklinks.pug
include components/sws-local-social-links.pug
include components/sws-events.pug
include components/sws-static-banner.pug
include components/sws-news-index.pug
include components/sws-newsletter-components.pug
include components/sws_template_header.pug
include components/sws_template_footer.pug
include components/sws-newsletter-cta.pug
include components/sws-search-results-components.pug
include components/sws-side-navigation.pug
include components/sws-events-detail-latest.pug
include components/sws_albums_landing.pug
include components/events-landing-component.pug
include components/sws-alert-message.pug
include components/sws-contact-us.pug
include components/sws-social-media.pug
