mixin general_content
  h1
    +lipsum(2, "words")

  +gef_lead

  h2
    +lipsum(4, "words")

  p(id="anchor-3")
    +lipsum(3, "sentences")
    | :

  a(href="http://www.google.com")
    | External Link

  ul
    li
      +lipsum(1, "sentences")
    li
      +lipsum(2, "sentences")
    li
      +lipsum(3, "sentences")

  h2
    +lipsum(3, "words")

  p
    +lipsum(5, "sentences")

  +gef_show_hide(false, 1)

  p
    +lipsum(1, "sentences")

  table
    thead
      tr
        th
          +lipsum(2, "words")
        th
          +lipsum(1, "words")
        th
          +lipsum(1, "words")
        th
          +lipsum(1, "words")
    tbody
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")

  p
    +lipsum(1, "sentences")

  ol
    li
      +lipsum(1, "sentences")
      ol
        li
          +lipsum(1, "sentences")
        li
          +lipsum(1, "sentences")
    li
      +lipsum(1, "sentences")
      ol
        li
          +lipsum(1, "sentences")
        li
          +lipsum(1, "sentences")

  h5
    +lipsum(3, "words")

  p
    +lipsum(3, "sentences")

  mixin call_out_box_content
    h3
      +lipsum(3, "words")
    p
      +lipsum(3, "sentences")
    +gef_link_list(2)

  +gef_call_out_box

  p
    +lipsum(3, "sentences")

    +gef_show_hide(false, 2)
    
  mixin sws_image_with_caption
    figure.gef-image-with-caption.sws-remove-external-link
      +Image
      figcaption
        span.sr-only Image: 
        +lipsum(2, "sentences")

  mixin Image
    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
  +sws_image_with_caption

  +gef_tabs(4)

  mixin page_metadata_content
    p
      strong Last reviewed:
      |  20 September 2015

    p
      strong Last updated:
      |  18 September 2014

  +gef_page_metadata
