
.sws-albums-gallery{
  &-wrapper{
    &__inner{
      color:@sws-theme-hover-color;
      background: @sws-theme-link-font-color-light;
      // @media screen and (max-width:@sws-md) {
      //   margin: 10px;
      // }
      .sws-albums-gallery{
        color:inherit;
        &__album-info{
          width: ~'calc(100% - 30px)';
          left:15px;
          background: @sws-theme-link-font-color-light;
          color:inherit;
          z-index: 990;
          padding: 0;
          a{
            color:inherit;
          }

          .sws-albums-gallery__right-content{
            .imageIcon;
            font-size: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            &:before{
              vertical-align: middle;
              line-height: 1.2;
              speak:none;
            }
            span {
              font-size: 0.875rem;
            }
            img{
              display:none;
            }
            span{
              font-weight: normal !important;
            }
          }
          .sws-albums-gallery__left-content{
            font-size: 0.875rem;
            font-weight: normal;
            padding-top: 5px;
          }
        }
        &-full-info{
          color:inherit;
          max-width: ~'calc(100% - 30px)';
          background: @sws-theme-link-font-color-light;
          max-height: ~'calc(100% - 15px)';
          left:15px;
          top:100%;
          display: flex;
          z-index: 999;//997;
          transition: top 0.7s ease;
          p,a{
            color:inherit;
            font-size: 1rem;
            text-align: left;
            justify-content: flex-start;
          }
          p:nth-child(2) {
            font-size: 0.875rem;
          }
          &__bottom{
            &__inner{
              padding: 0 15px 10px 0;
              font-size: 0.875rem;
              font-weight: normal !important;
              .imageIcon;
              img{
                display:none;
              }
            }
          }
          @media screen and (max-width:@sws-md){
            display:none;
          }
        }
        //--landing Page Specific
        &__main-link{
          color:inherit;
          p{
            color:inherit;
            font-weight: normal;
          }
          .sws-albums-gallery__album-info{
            @media screen and (max-width:@sws-md) {
              margin-bottom: 15px;
              background: @sws-primary-theme-color;
              color: @sws-theme-link-font-color-light;
              .sws-albums-gallery__right-content{
                .imageIcon(@color:@sws-theme-link-font-color-light;);
              }
            }
            .sws-albums-gallery__left-content{
              font-size:  0.75rem;

            }
          }
          // &:focus{
          //   outline: 1px solid black !important;
          //   outline-offset: -3px !important;
          // }
        }
        //mobile stretch code at bottom fro landing page
       //---
      }
    }

    &:not(:focus):hover{
      .sws-albums-gallery-wrapper__inner, .sws-albums-gallery__main-link{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        z-index: 999;
        .sws-albums-gallery__main-link{
          width: 100%;
        }
        .sws-albums-gallery-full-info{
          top: 15px;
          transition: top 0.7s ease;
        }
      }
      .sws-albums-gallery{
        transform: none;
        &__left-content{
          display: none;
        }
      }
    }
    &:hover,&:focus,&:not(:focus):hover{
      @media screen and (max-width:@sws-md){
        .sws-albums-gallery{
          transform: none;
          &__left-content{
            display: flex;
          }
        }
      }
    }
  }
}
//Album landing page Mobile
//--------------------------------
@media screen and (max-width:@sws-md){
  .sws-albums-landing__content{
    .mobileViewStretch(-10px);
    .sws-albums-gallery-wrapper {
      margin-bottom: 0;
      &__inner {
        margin: 10px;
      }
    }
  }
}
//--------------------------------
//Albums Detail Page
.sws-album-details{
  .sws-album-details__index-banner{
    .sws-latest-news{
      &__article{
        padding-top: 40px;
        &__date{
          .Familyinherits;
          font-size: 0.75rem;
          margin-bottom: 5px;
        }
        &__icons{
          i.uk-icon-image{
            .imageIcon(@color:@sws-primary-theme-color,@font:0.875rem);
          }
          i.uk-icon-eye{
            .imageIcon("remove_red_eye",@sws-primary-theme-color,0.875rem)
          }
          margin-bottom: 50px;
          span{
            margin: 0 7.5px 0 0;
          }
          i{
            margin: 0 5px 0 0;
          }
        }
        h2,h3,h4{
          color: inherit;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &__container {
    margin-left: -5px;
    .sws-album-details__thumbnail{
      border: 3px solid white;
    }
  }
  @media screen and (max-width:@sws-md) {
    .mobileViewStretch;
    & .sws-album-details__index-banner{
        .sws-latest-news__article{
          padding: 15px 30px;
          &__icons{
            margin-bottom: 10px;
          }
          &__text{
            margin-top:10px;
          }
        }
    }
    &__wrapper{
      margin-top:-30px;
      .album-view-more{
        width:90%;
      }
    }
  }
}
//Albums Pop up Image
.beforeMixin(@content,@back:@sws-primary-theme-color){
  background: @back;
  .iconMix(@content,@sws-theme-link-font-color-light,1.5rem);
  display: flex;
  align-items: center;
  top:20px;
  width:30px;
  height: 60px;
}
.fancybox-navigation{
  .fancybox-button--arrow_right:before{
    .beforeMixin("keyboard_arrow_right");
    right: 0;
  }
  .fancybox-button--arrow_left:before{
    .beforeMixin("keyboard_arrow_left");
    left:0;
  }
  .fancybox-button svg{
    display:none;
  }
}
.fancybox-close-small{
  background: @sws-primary-theme-color;
  &:after{
    color:@sws-theme-link-font-color-light;
  }
  &:hover:after {
    color:@sws-theme-link-font-color-light;
  }

}
.fancybox-container{
  .fancybox-bg{
    @media screen and (max-width:@sws-md) {
      background: @sws-primary-theme-color;
      opacity: 1;
    }
  }
  .fancybox-caption-wrap{
    font-family: @sws-primary-font-family;
    background: @sws-theme-link-font-color-light;
    *{
      color:@sws-theme-hover-color;
    }
    .fancybox-caption{
      font-size: 1rem;
      font-family: inherit;
    }
    .sws-caption-inside-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      pointer-events: all;
      .sws-caption{
        &-share__link{
          border-radius: 3px;
          .Familyinherits;
          cursor: pointer;
          background: @sws-theme-link-font-color-light;
          &:before{
            content: "\f1e0";
            font-family: 'FontAwesome';
            margin-right: 5px;
          }
        }
        &-back{
          align-self: flex-end;
          &__link{
          font-family: inherit;
          font-weight: 600;
            &:before{
              content: "\f190";
              font-family: 'FontAwesome';
              -webkit-font-smoothing: antialiased;
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              line-height: 1;
              font-weight: normal;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
