.alert-message-container {
    &__head {
        .alter_action__button {
            border-radius: 3px;
            color: #000 !important;
            &:hover {
              color: #fff !important;
              background-color: #000;
            }
            &:focus {
              color: #fff !important;
              background-color: #000;
            }
        }
    }
}
