.sws-banner-wrapper{
  max-width: 1200px;
  margin: auto;
  .sws-static-banner-component{
    background: none;
    color:@sws-theme-link-font-color-light;
    *{
      color:inherit;
    }
    &__text_inner{
      background: none;
      .sws-banner-inner_action{
        display:block;
        &__button{
          border-radius: 3px;
          border-color: @sws-theme-link-font-color-light;
        }
        &__button:hover{
          color:@sws-theme-hover-color;
          background: @sws-theme-link-font-color-light;
        }
      }
      &::-webkit-scrollbar {
        display:none !important;
      }
      h2{
        .Familyinherits;
        font-size: 1.625rem;
      }
    }
    &__text.sws-static-banner-component__textOnly{
      .sws-banner-inner_action{
        display:block;
        &__button{
          border-radius: 3px;
          border-color: @sws-theme-link-font-color-light;
        }
        &__button:hover{
          color:@sws-theme-hover-color;
          background: @sws-theme-link-font-color-light;
        }
      }
    }
    @media screen and (min-width:961px){

      &__image{
      width: 50%;
      right: 0;
      display: block;
      margin: auto;
      margin-right: 0;
      }
      //Image only
      &__image.sws-static-banner-component__ImgOnly{
        width:100%;
      }
      &__text{
        width: 50%;
        left: 0;
        position: absolute;
      }
      &__text_inner{
        width: 100% !important;
        //height: 100%;
        max-height: 100%;
        box-sizing: border-box;
        padding: 0;
        padding-right:5px;
        overflow-y: hidden;
        h2{
          font-size:3.5rem;
          line-height: 1.1;
        }
      }
      //Text only
      &__text.sws-static-banner-component__textOnly{
        width:100%;
        position: relative;
        .sws-static-banner-component__text_inner{
          padding:20px;
        }
      }
    }
    //media query end----------------
  }
  @media screen and (min-width:960px) {
    padding: 1px 12px;
    box-sizing: border-box;
  }
}
.banner {
    border-top: 0px solid #fff;
    @media only screen and (max-width: @sws-md) {
        border-top: 0;
    }
}
