//Content Template Page
//back-to-top
@media screen and (min-width:1024px) {
    .gef-main {
      border-top: 2px solid @sws-theme-link-font-color-light;
    }
}
.gef-main.sws-homepage-main {
  border-top: 0;
}
.gef-btt {
  border: 3px solid @sws-theme-link-font-color-light;
  &:hover {
    border: 3px solid @sws-tertiary-theme-color;
    background: @sws-tertiary-theme-color;
  }
}
.gef-btt .uk-icon-angle-up {
  color: @sws-theme-link-font-color-light;
  &:hover {
    color: @sws-theme-hover-color;
  }
}
//Page style
//hotfix start
// .gef-main-content.sws-content__content-page{
//   background: @sws-theme-link-font-color-light;
//hotfix end
//old code start
.gef-main-content.sws-content.sws-content__content-page{
//old code end
  @media screen and (min-width:768px) {
    padding:30px;
    .gef-main-content.sws-content{
      //padding:0;
    }
  }

}
//Main content
//style-like-rte class should be attached to the top level of the any component to offer same stylings
.gef-main-content.sws-content, .gef-main .sws-content-component .sws-content,.events-article-wrapper__main,.style-like-rte{
  background: @sws-theme-link-font-color-light;
  p,.sws-blockquote, ul li, ol li{
    font-family: @sws-primary-font-family;
  }
  *,.sws-lead-paragraph{
    color:@sws-theme-hover-color;
    .Familyinherits;
  }
  //Anchor Box
  .gef-anchor-box{
    background: #eeeeee;
    border:0;
    *{
      font-family: @sws-primary-font-family;
      color:@sws-theme-link-font-color-dark;
    }
    .gef-link-list li{
      &:before{
        color:inherit;
        transform: none;
      }
    }
  }
  //Horizontal Line, Divider
  hr, .sws-divider hr{
    border-top-color: @sws-primary-theme-color;
  }
  //Download Link
  .sws-download-link{
    font-size: 0.875rem;
    a, span{
      font-weight:normal;
      font-family: @sws-primary-font-family;
    }
    .uk-icon-paperclip{
      padding-right:5px;
      &:before{
      .iconMix("attach_file",@sws-primary-theme-color)
      }
    }
  }
  //Table
  table{
    thead{
      background: @sws-primary-theme-color;
      color:@sws-theme-link-font-color-light;
      *{
        color: inherit;
        font-family: @sws-primary-font-family;
      }
    }
    tbody{
      *{
        font-family: @sws-primary-font-family;
      }
    }
  }
  //sws-blockquote
  //Blockquote
  .sws-blockquote{
    padding:10px 15px;
    margin: 15px 0;
    border: 2px solid @sws-primary-theme-color;
    i{
      display:none;
    }
  }
  //Show hide accordion
  .gef-show-hide{
    border-bottom:2px solid @sws-primary-theme-color;
    h3.uk-accordion-title.uk-active{
      background-color: @sws-primary-theme-color;
      *,i:before{
        color:@sws-theme-font-color-accordion-light;
      }
    }
    .uk-accordion-title{
      font-weight: 600;
      border-top:2px solid @sws-primary-theme-color;
      background-color: @sws-theme-megamenu-drop-down;
      span{
        display: flex;
        justify-content: space-between;
        border:0;
        color: @sws-theme-font-color-accordion-same;
      }
    }
    i:before{
      color: @sws-theme-font-color-accordion-same;
      font-weight: 100;
    }
  }
  //Call out box
  .sws-callout-box{
    background: #eeeeee;
    border: 0;
    *,.gef-external-link:before{
      color:@sws-theme-link-font-color-dark;
    }
    p > a{
      font-weight: 600;
    }
  }
  //Tabs
  .gef-tabs--active{
    //top tabs
    .tabs__list{
      li a{
        background-color:@sws-theme-megamenu-drop-down;
        outline-color: transparent;
        color:@sws-theme-font-color-accordion-same;
      }
      li a[aria-selected="true"]{
        background: @sws-primary-theme-color;
        color:@sws-theme-link-font-color-light;
      }
    }
    //Inner Panels of selected tabs

      .tabs__content{
        border-color: @sws-primary-theme-color;
        background-color:@sws-theme-link-font-color-light;
      }

  }

  //Text and Image component
  //SIde by Side
  .sws-text-image-wrapper {
    padding:0;
  }

}
//-----------------------
//Side Nav
.sws-content__side-nav{
  display: inline-block;
  .sws-side-navigation{
    background: @sws-theme-link-font-color-light;
    color:@sws-theme-hover-color;
    margin-left:0;
    *{
      color: inherit;
    }
    & .sws-side-navigation-upper{
      background-color:@sws-primary-theme-color;
      *{
        color: @sws-theme-link-font-color-light;
      }
      .sws-side__list-item{
        padding-left:50px!important;
      }
      .uk-icon-arrow-left{
        margin-left:20px;
        &:before{
        content: "\f190";
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        }
      }
    }
    //Active Column
    .uk-parent{
      border-left:0;
      border-bottom-color: #ababab;
      &>a.sws-side__list-item,.sws-side__sublist-item{
        padding: 15px 0 15px 20px;
      }
      .sws-side__sublist-item{
        max-width: 75%;
      }
      .sws-side__open-icon{
        position: absolute !important;
        border-bottom: 0;
      }
    }
    li.uk-active{
      &:after {
        content:" ";
        position: absolute;
        width: 6px;
        background: @sws-primary-theme-color;
        top: 0;
        left:2px;
        height: ~'calc(100% - 2px)';
      }
    }
    li.uk-open{
      background-color: @sws-theme-link-font-color-light;
      *,a,.uk-icon-plus:before{
        color:inherit;
      }
      &>div>ul{
        li{
          border-bottom-color: #eaeaea !important;
        }
        a{
          text-decoration: none;
          &:hover{
            text-decoration: underline;
            font-weight: 600;
          }
        }
      }
    }
    //Side Openable column
    .sws-side__open-icon{
      .uk-icon-plus:before{
        .iconMix("add",@sws-theme-hover-color);
      }
    }
  }
}

//Content Template Page ---- END
//-------------------------------------------
//Content Components Page
.gef-main .sws-content-component{
  background: @sws-theme-link-font-color-light;
  color:@sws-theme-hover-color;
  padding: 0 30px 30px 30px;
  p{
    font-family: @sws-primary-font-family;
  }
  *{
    color:inherit;
    .Familyinherits;
  }
  .sws-content{
    padding:0px;
    @media screen and (max-width:@sws-md){
      padding:0 12px 12px 12px;
    }
  }
}
//--------------------
//Image and Text component side by side
.sws-text-image-wrapper {
  background: @sws-theme-link-font-color-light;
  padding:30px;
  *{
    color:@sws-theme-hover-color !important;
  }
  &--inner__left,&--inner__right {
    *{color:inherit;}
  }
}
//-----------------------
//Iframe fixes for theme-5
.sws-iframe-script {
  iframe {
    background: #fff;
  }
  .sws-iframe-script-error, .sws-enrolment-form {
    overflow: hidden;
    background: @sws-theme-link-font-color-light;
    * {
      color: @sws-theme-hover-color !important;
    }
    p:last-of-type{
      margin-bottom: 0;
    }
  }
}


//--------------------------------------------------
//Media queries
@media screen and (max-width:@sws-md) {
  //hotfix start
  //.gef-main-content.sws-content__content-page{
  // //padding:12px;
  //hotfix end
  //old code start
  .gef-main-content.sws-content.sws-content__content-page{
    padding:12px;
    //old code end
    .gef-main-content.sws-content{
    margin-top: -12px;
    margin-bottom: -12px;
    }
  }
  .text {
    .gef-main-content.sws-content.sws-content__content-page{
      .gef-main-content.sws-content {
        margin-top: -12px;
        margin-bottom: -12px;
      }
    }
  }

  .gef-main .sws-content-component{
    padding: 0 12px 12px 12px;
    .uk-width-large-2-3{
      h1{
        margin-top:0;
      }
    }
  }
  //together queries
  .gef-main-content.sws-content, .gef-main .sws-content-component .sws-content{
    //background: @sws-secondary-theme-color;
    *,.sws-lead-paragraph{
      //color:@sws-theme-link-font-color-dark;
      .Familyinherits;
    }
    //Anchor Box
    .gef-anchor-box{
      background: #eeeeee;
      border:0;
      .gef-link-list li{
        padding-left: 15px;
      }
    }
     //Table
    table{
      thead{
        *{
          color: inherit;
          font-weight: bold;
        }
      }
    }

    //Call out box
    .sws-callout-box{
      background: #eeeeee;
      border: 0;
      *{
        font-weight: normal;
      }
    }
    //Show Hide Accordion
    .gef-show-hide{
      .uk-accordion-title{
        background: #eeeeee;
        border:0;
        border-top:2px solid @sws-primary-theme-color;
        span{
          border:0;
          color:@sws-theme-link-font-color-dark;
        }
        i:before{
          font-weight: 100;
          color:@sws-theme-link-font-color-dark;
        }
      }
      h3.uk-accordion-title.uk-active{
        background-color: @sws-primary-theme-color;
        *,i:before{
          color:@sws-theme-link-font-color-light;
        }
      }
    }
    //Tabs
    .gef-tabs--active{
      .tabs__list .gef-tabs__group.tabs__item{
        a.tabs__link{
          font-weight: normal;
          &:after{
            content:"+";
          }
          &[aria-selected="true"]{
            font-weight: 600;
            &:after{
            transform: translateY(-50%) rotate(45deg);
            }
          }
        }
        .tabs__content{
          border-bottom:1px solid @sws-primary-theme-color;
        }
      }
    }
    //Image and Text component side by side
    .sws-text-image-wrapper {
      .mobileViewStretch;
      padding:12px;
    }
  }
  //Image and Text component side by side
  .sws-text-image-wrapper {
    .mobileViewStretch;
    padding:12px;
  }
}
