//Contact Us Sidebar
.category-sidebar--contact-us{
  border: 1px solid @sws-theme-link-font-color-light;
  border-bottom: 0;
  h4{
    font-family: inherit;
  }
  //head bar
  &__address{
    background: @sws-primary-theme-color;
    h4{
      display: flex;
      align-items: left;
      i{
        margin-top:4px;
        transform: rotate(45deg);
        position: relative;
        top:0;
      }
    }
  }
  //body
  &__header{
    background: @sws-theme-link-font-color-light;
    margin-bottom:0;
    *, h4, a{
      color:@sws-theme-hover-color;
    }
    a{
    outline-offset:-1px !important;
    }

    //when block opens
    //the active tab
    .uk-active{
      border-left:0 !important;
    }
  }
  // Inner openable block
  &__inner__add__block{
    border: 0 !important;
    padding-bottom: 25px;
    border-bottom: 1px solid  #ababab !important;
    p{
      font-size:1rem;
      line-height: 1rem;
    }
    //Icons inside openable cards
    .uk-icon-map-marker{
      &:before{
        .iconMix("location_on",@sws-primary-theme-color,0.875rem);
      }
    }
    .uk-icon-phone{
      &:before{
        .iconMix("phone_android",@sws-primary-theme-color,0.875rem);
      }
    }
    .uk-icon-fax {
      &:before{
        .iconMix("printer",@sws-primary-theme-color,0.875rem);
      }
    }
    .uk-icon-envelope{
      &:before{
        .iconMix("mail_outline",@sws-primary-theme-color,0.875rem);
      }
    }
  }
  &__header .category-sidebar--contact-us__inner__wrapper{
    border-bottom: 1px solid  #ababab !important;
    margin-top:0;
    padding-top:10px;
    padding-bottom:10px;
    h4{
      max-width: 90%;
      font-weight: normal;
    }
    i{
      position: absolute;
      top: 15px;
      &:before{
        .iconMix("add",inherit,0.875rem);
      }
    }
    small{
      font-size: 0.875rem;
    }
    &.uk-active,&.uk-active:hover{
      border-bottom:0 !important;
      h4{
        font-weight: 800;
      }
      i.uk-icon-plus{
        transform: rotate(45deg);
      }
    }
    &:hover{
      text-decoration: underline;
      h4{
        font-weight: 600;
      }
    }
  }
}
//----------------------------
//ContactUs Map
.contact_us__map{
  padding-left: 30px;
  padding-right: 0;
  .infowindow_wrapper{
    *{
      color:@sws-theme-link-font-color-dark;
    }
  }
  @media screen and (max-width:@sws-md) {
    padding: 5px;
    background: @sws-secondary-theme-color;
  }
}
//Mobile view
.contact-us-container-wrapper{
  @media screen and (max-width:@sws-md) {
    padding:0;
    .category-sidebar--contact-us{
      &__header .category-sidebar--contact-us__inner__wrapper{
        padding: 10px 15px !important;
        h4{
          margin-bottom: 5px;
        }
      }
      &__inner__add__block{
        padding-bottom:15px;
      }
    }
  }
}
