.sws-event{
  &-date-period-new{
    font-weight: normal;
    .imageIcon(@content:"event_note",@font:0.875rem);
  }
  &s-heading-new{
    font-weight: normal;
    .imageIcon(@content:"access_time",@font:0.875rem);
  }
  &-location-new{
    font-weight: normal;
    .imageIcon(@content:"location_on",@font:0.875rem);
  }
}
.sws-eventlanding-cta-wrapper{
  .uk-icon-calendar-plus-o{
    .imageIcon(@content:"add_alarm",@font:0.875rem);
  }
  a{
    font-weight: normal;
  }
  .uk-icon-paperclip{
    .imageIcon(@content:"attach_file",@font:0.875rem);
  }
}

.sws-news-component-first{
  .sws-latest-news{
    .sws-single-event-square--no_twistee,.sws-single-event-square{
      overflow: hidden;
      width: 80px;
      height: 80px;
      margin-left:0;
      background: @sws-primary-theme-color;
      color:@sws-theme-link-font-color-light;
      .sws-event-day{
        font-weight: 400;
        margin-bottom: 0px;
        padding-top: 2px;
      }
      .sws-event-day-date{
        font-weight: 600;
        .Familyinherits;
      }
      .sws-event-month{
        font-weight: 400;
        margin-bottom: 0px;
        text-transform: none;
        padding-bottom: 2px;
      }
      .sws-single-event-square_inside--eventslanding:after, &:after{
        display:none;
      }
    }

    .sws-event-stamp-wrapper{
      position: absolute;
      top:10px;
    }
    .sws-event-stamp-wrapper-noimage{
      margin-top: 10px;
    }
    .event-landing-article-image, .event-landing-article-noimage{
      margin-top: 0;
      .sws-latest-news__article{
        padding: 30px;
        padding-top:25px;
        @media screen and (max-width:@sws-md) {
          padding: 25px 15px 30px 15px;
        }
        h3{
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
  }
  @media screen and (max-width:@sws-md) {
    .sws-latest-news{
      .sws-single-event-square--no_twistee,.sws-single-event-square{
        .sws-event-day{
          font-size: 0.875rem;
        }
        .sws-event-day-date{
          font-size: 2.25rem;
        }
        .sws-event-month{
          font-size: 1rem;
        }
      }
      .sws-event-stamp-wrapper{
        left:15px;
      }
    }

  }
}
.sws-single-event-square--eventdetails .sws-single-event-square_design {
  .sws-single-event-square_inside--no_twistee , .sws-single-event-square_inside{
    .sws-event-month{margin-top: -5px;}
  }
}

@media screen and (max-width:@sws-md){
  .sws-events-landing{
    .mobileViewStretch;
  }

}

//Event Landing component --start
.from_department--events-landing .from-the-department {
  border: 1px solid @sws-theme-hover-color;
}
//Event Landing component --end
