.sws-events-complete{
  background: @sws-theme-link-font-color-light;
  color:@sws-theme-hover-color;
  padding-bottom: 30px;
  .sws-single-event{
    margin-right: 0;
    margin-left: 0;
    padding-left: 11px;
    overflow: hidden;
    .sws-event-desc{
      padding-left: 22px !important;
      font-weight: normal;
      h3,a,p{
        color:inherit;
      }
      h3{
        a{
          .Familyinherits;
          font-weight: 600;
        }
      }
      .sws-events-heading,.sws-event-location,.sws-event-date-period{
        font-weight: inherit;
      }
      .sws-events-heading-new, .sws-event-date-period-new, .sws-event-location-new {
        &:before{
          color:@sws-primary-theme-color;
        }
      }
    }
    .sws-event-date{
      padding-left:0;
      max-width: 80px;
    }
    .sws-single-event-square{
      margin:0;
      width:80px;
      &:after{
        display:none;
      }

      background-color: @sws-primary-theme-color;
      .sws-single-event-square_inside{
        &:after{
          display:none;
        }
        .sws-event-day{
          font-weight: 400;
          margin-bottom: 0;
        }
        .sws-event-month{
          .sws-event-day;
          text-transform: none;
          padding-bottom: 2px;
        }
        .sws-event-day-date{
          font-weight: 600;
          .Familyinherits;
        }
      }
    }
  }
}

//Events Detail Specific
.events-article-wrapper{
  .sws-index-banner__container--latest{
    background: @sws-theme-link-font-color-light;
    color:@sws-theme-hover-color;
    h3, a, p{
      color:inherit;
    }
    *{
      color:inherit;
    }
    .sws-events-detail-header__container__img{
      .event-latest-img{
        margin-bottom: 0;
      }
      .events-article-wrapper__main{
        padding: 30px;
        .event-details-latest-share{
          border-radius: 3px;
          .uk-icon-share-alt{
            font-family: 'FontAwesome';
          }
          a{
            .Familyinherits;
            font-weight: 600 !important;
          }
        }
        p{
          //.Familyinherits;
        }
      }
    }
    //event detail sidebar
    .sws-event-wrapper-sidebar{
      .component-sidebar{
        margin:0;
      }
      nav{
        outline:none;
        color:inherit;
        font-weight: normal;
        padding:20px;
        border:0;
        h3{
          font-size: 1.25rem;
          font-weight: 600;
        }
        p{
          font-weight: normal;
          .Familyinherits;
        }
        .uk-icon-calendar{
          .imageIcon(@content:"event_note",@font:0.875rem);
        }
        .uk-icon-clock-o{
          .imageIcon(@content:"access_time",@font:0.875rem);
        }
        .uk-icon-paperclip{
          .imageIcon(@content:"attach_file",@font:0.875rem);
        }
        .uk-icon-map-marker{
          .imageIcon(@content:"location_on",@font:0.875rem);
        }
        .category-sidebar--events_detail__attachments{
          a{
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  @media screen and (max-width:@sws-md) {
    .mobileViewStretch;
    .sws-index-banner__container--latest{
      .sws-events-detail-header__container__img{
        .events-article-wrapper__main{
          padding: 30px 15px 15px 15px;
        }
      }
      .sws-event-wrapper-sidebar{
        margin-top: 0;
        .categorySidebar--event-detail-page{
          margin-top: 0;
          nav{
            padding:0 15px 25px 15px !important;
            width:auto;
            h3{
              font-size: 1rem;
              margin-top:15px !important;
            }
            p{
              margin-bottom: 15px !important;
            }
          }
        }
      }
    }
    &__upcoming{
      .sws-latest-news-header{
        margin-left: 12px;
      }
      .sws-events-complete{
        .sws-single-event{
          padding-left:12px;
        }
      }
    }
  }
}
