.local-header{
  background: @sws-primary-theme-color;
  color:@sws-theme-link-font-color-light;
  margin-bottom:0;
  padding-bottom: 30px;
  &-heading{
    font-size: 1rem;
    font-family:@sws-secondary-font-family;
    padding: 0;
    margin: 10px 0 5px 0 !important;
    line-height: 1.1;
    font-weight: bold;
  }
  &-heading,p,a{
    color:@sws-theme-link-font-color-light;
  }
  &-message{
    font-size: 1rem;
    margin: 0 0 5px 0 !important;
  }
  &-contact{
    line-height: normal;
    font-size: 14px;
    margin: 0;
  }
}
//Mobile header
#mobile-nav-wrapper{
  background: @sws-primary-theme-color;
  color:@sws-theme-link-font-color-light;
  .sws-local-mobile-nav{
    background: @sws-primary-theme-color;
    padding-bottom: 15px;
    border-bottom: 3px solid @sws-theme-link-font-color-light;
    &__header-title{
      color: inherit;
      .Familyinherits;
      font-weight: bold;
    }
    &__icon--nav{
      &:after{
        .iconMix("dehaze", @sws-theme-link-font-color-light, 1.438rem);
      }
    }
  }
  .sws-search-icon__mobile{
    .uk-icon-search:before{
      color:@sws-theme-link-font-color-light;
    }
  }
  .sws-search-icon__dropdown{
    background: @sws-theme-link-font-color-light;
    .sws-search-input-textfield{
      border-color: @sws-primary-theme-color;
    }
    .sws-search-input__submit-wrapper{
      .uk-icon-search:before{
        color:@sws-theme-hover-color;
      }
    }
  }
  @media screen and (max-width: @sws-md){
    .sws-local-mobile-nav{
      &__header-title{
        font-size: 1rem !important;
        line-height: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
