
.local-footer{
  background-color: @sws-primary-theme-color;
  border-top: 1px solid  @sws-theme-link-font-color-light;
  color: @sws-theme-link-font-color-light;
  //-----------------------
  //Mobile Specific
  @media screen and (max-width:@sws-md) {
    padding: 30px 0 15px 0;
    .uk-container{
      padding:0;
    }
    &-main-content{
      padding: 0 17px;
    }
    &-social-media{
        border-top: 1px solid  @sws-theme-link-font-color-light;
        padding-top: 10px;
        h3, nav{
          padding: 0 17px;
        }
        .sws_social_links{
          display: flex;
          justify-content: space-evenly;
        }
        nav .sws-social-media__link{
          &:before{
            font-size: 3rem;
          }
        }
    }
    &-heading3{
      margin:0;
    }
    & .local-footer-heading1{
      font-size: 1.875rem;
      margin-bottom: 24px;
      padding: 0 17px;
      line-height: 2rem;
    }
    &-message.uk-width-1-1{
     padding: 20px 5px;
     p{
       font-family: 'Lucida Grande',sans-serif;
     }
    }
  }
  &-message{
    border-color: @sws-theme-link-font-color-light;
  }
  //Mobile Spec end
  //-------------------------
  &-heading1{
    color: inherit;
    font-family: @sws-secondary-font-family;
    font-size: 1.625rem;
    font-weight: normal;
  }
  &-main-content{
    color: inherit;
    a{
      color: inherit;
      &:before{
        text-decoration: none;
      }
    }
    //Mobile elements
    .mobileCta(){
      border-radius: 3px;
      font-weight: 600;
      .Familyinherits;
    }
    .local-footer-mobile-elements{
      margin-top:0;
      a{
        background: @sws-theme-link-font-color-light;
        color:@sws-theme-hover-color;
        font-weight: normal;
        font-size: 0.875rem !important;
      }
      .sws-call-button{
        width:~'calc(50% - 5px) !important';
        margin: 0 10px 15px 0;
        .mobileCta;
        padding: 12px 0px;
      }
      .sws-repeat-button{
        margin: 0 0 15px 0;
      }
      .sws-mail-button{
        width:100% !important;
        margin: 0;
        .mobileCta;
        padding: 12px 0px;
      }
      margin-bottom: 20px;
    }
    //Mobile footer ends
  }
  &-heading2{
    font-size:  0.875rem;
    .inherits;
  }
  &-social-media{
    .inherits;
    font-size:  0.875rem;
    .sws-social-media__link{
      color: inherit;
      &:before{
        font-size: 1.5rem;
      }
    }
  }
  &-heading3{
    font-size:  0.875rem;
    .inherits;
  }
  &-message{
    color: @sws-theme-link-font-color-light;
    background-color: @sws-primary-theme-color;
    p{
      .inherits;
    }
  }
}
.footer-multi__campus{
  //outer head of contact
  .uk-accordion-title{
    font-family: @gef-font-family;
    color: @sws-theme-link-font-color-light ;
  }
  .footer-multi__campus__openable{
    //mobile view card CSS
    .uk-accordion-title{
      font-family: @gef-font-family;
      font-size:0.875rem;
      border-top:1px solid @sws-theme-link-font-color-light ;
      margin-top:0;
      &:last-of-type{
        border-bottom:1px solid @sws-theme-link-font-color-light ;
      }
      &.uk-active{
          border-bottom:none;
      }
      i{
        background: @sws-theme-link-font-color-light ;
      }
    }
    .uk-accordion-content{
      &:last-of-type{
        border-bottom:1px solid @sws-theme-link-font-color-light ;
      }
    }
    .local-footer-contact{
      .local-footer-add{
        max-width: calc(100% - 15px);
      }
      .local-footer-phone, .local-footer-email{
        a{
          background: none;
          color:@sws-theme-link-font-color-light ;
        }
      }
    }
  }
}
