
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sws-mega-menu {
    .sws-meganav{
      &-megalinks__li{
        &:hover{
          .sws-meganav-megalinks{
            text-shadow:
              1px 0 0 currentColor;
          }
        }
        &.uk-open{
          .sws-meganav-megalinks{
            text-shadow:
              1px 0 0 currentColor;
          }
        }
      }
    }
  }
}

.sws-mega-menu {
  background-color: @sws-primary-theme-color;
  .sws-meganav{
    &-megalinks{
      color: @sws-theme-link-font-color-light;
      font-family: @sws-primary-font-family ;
      font-size: 0.875rem;
      font-weight: normal;

    }
    &-megalinks__li{
      &:hover{
        text-decoration: none !important;
        .sws-meganav-megalinks{
          text-decoration: none;
          text-shadow: 0.01em 0 inherit;
          -webkit-text-fill-color: inherit;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: inherit;
        }
      }
      &.uk-open{
        background-color: @sws-theme-link-font-color-light;
        color: @sws-theme-hover-color;
        *{
          color:inherit;
          background:none;
        }
        .sws-meganav-megalinks{
          text-shadow: .01em 0 inherit;
          -webkit-text-fill-color: inherit;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: inherit;
        }
        .list-columns li a:after{
          color: @sws-primary-theme-color;
        }
        .sws-mega-nav-text__content:after{
          color: @sws-primary-theme-color;
        }

        .sws-mega-nav-desc__design{
          border-bottom-color: @sws-primary-theme-color;
        }
        &>div{
          background: @sws-theme-link-font-color-light;
        }
      }
    }
    &-container{
      .sws-search-icon{
        .sws-search-icon__wrapper{
          &:before{
            .iconMix('search',@sws-theme-link-font-color-light,1.25rem);
          }
        }
        &.uk-open{
          background: @sws-theme-link-font-color-light;
          .sws-search-icon__wrapper:before{
            color:@sws-theme-hover-color;
          }
        }
      }
      .uk-dropdown-navbar.uk-dropdown-bottom{
        background: @sws-theme-link-font-color-light;
        .sws-search-input{
          &-textfield{
            border-color: @sws-primary-theme-color;
            color:@sws-theme-hover-color;
          }
          &__submit-wrapper{
            &:before{
              color:@sws-theme-hover-color;
            }
          }
        }
      }
    }

  }
}
