#mobile-nav{
  //------------
  //header part
  .sws-offcanvas-bar__header{
    margin:0;
    padding:15px;
    margin-bottom: 1px;
    background: @sws-primary-theme-color;
    color:@sws-theme-link-font-color-light;
    &-logo-wrap{
      width: 40px;
      margin-right: 25px;
    }
    h3{
      font-size:1rem;
      font-family: inherit;
      color:inherit;
    }
  }
  //-------------
  //Ul li part
  .sws-local-mobile-nav__li-quicklinks{
    background: @sws-primary-theme-color;
    color:@sws-theme-link-font-color-light;
    p{
      font-weight: 800;
      color:@sws-theme-link-font-color-light;
    }
    *{
      color:@sws-theme-link-font-color-light;
      background: none;
    }

    //nav icons
    .sws-local-mobile-nav{
      &-MakeaPayment{
        .nav-quicklinks("attach_money",@sws-theme-link-font-color-light,0.875rem);
      }
      &-Events{
        .nav-quicklinks("assignment",@sws-theme-link-font-color-light,0.875rem);
      }
      &-Newsletter{
        .nav-quicklinks("art_track",@sws-theme-link-font-color-light,0.875rem);
      }
      &-Imagegallery{
        .nav-quicklinks("image",@sws-theme-link-font-color-light,0.875rem);
      }
      &-ContactUs{
        .nav-quicklinks("phone_android",@sws-theme-link-font-color-light,0.875rem);
      }
    }
  }
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:hover,
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:focus {
    p.sws-offcanvas-bar__quicklinks-p, span:before {
      //color:@sws-theme-hover-color;
    }
  }
  .sws-local-mobile-nav__li-menu-items{
    *{
      color:#000;
    }
    .sws-local-mobile-nav__plus-icon{
      border-left:none;
    }
    //Menu open
    &.uk-open {
      & > a {
        border-bottom: 1px solid white;
      }
      //level 2
      .sws-local-mobile-nav__menu-ul{
        .sws-local-mobile-nav__li--name-a{
          font-weight: normal;
        }
        .sws-local-mobile-nav__li--name, .sws-local-mobile-nav__plus-icon{
          background: #cccccc;
        }

        //level 3 onwards
        .uk-open > div > ul > li {
          *{
            background: #eaeaea;
          }
        }
      }
    }

  }
}
h2.search_summary {
  font-family: @sws-primary-font-family;
}
