.sws-newsletter{
  &__content{
    margin-top:10px;
    h2{
      font-weight: normal;
      .Familyinherits;
    }
    h2:nth-of-type(2){
      margin-top: 40px;
    }
    .sws-newsletter{
      &--component{
        background: @sws-theme-link-font-color-light;
        *{
          color:@sws-theme-hover-color;
        }
        .sws-download-link{
          a,span{
            font-weight: 600;
          }
          .uk-icon-paperclip{
            .imageIcon(@content:"attach_file",@font:0.875rem);
            padding-right: 10px;
          }
        }
      }
      &__copy{
        h3{
          a{
            .Familyinherits;
          }
          @media screen and (max-width:@sws-md){
            margin-bottom: 15px;
          }
        }
      }
      &__date{
        font-size: 0.875rem;
        margin-top: 5px;
      }
    }
    @media screen and (max-width:@sws-md){
      margin-top:0;
      .sws-newsletter--component {
        margin: 15px -12px;
      }
    }
  }
  //Newsletter CTA Button
  &-cta{
    border: 2px solid @sws-theme-link-font-color-light;
    box-sizing: border-box;
    &__link{
      background: @sws-primary-theme-color;
      padding:0;
      height: 100%;
      padding-right: 30px;
      border: 0;
      .imageIcon(@content:"art_track",@font:2.25rem);
     &:before{
      width: 75px;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      background: @sws-theme-link-font-color-light;
      margin-right: 30px;
      padding:10px;
     }
      svg{
        display: none;
      }
      h2{
        font-size:1.625rem;
        font-weight: normal;
        .Familyinherits;
      }
      p{
        margin: auto 0;
      }
      //hover state
      &:hover{
        background: @sws-theme-link-font-color-light;
        *{
        color:@sws-primary-theme-color;
        }
      }
      @media screen and (max-width:@sws-md){
        margin: 0;
        padding:15px 0;
        &:before{
          padding:0;
          margin:0;
          background: none;
          color:@sws-theme-link-font-color-light;
        }
        &:hover{
          &:before{
            color:@sws-primary-theme-color;
          }
        }
      }
    }
  }
}
