//----
//header on home page for
//News
//Events
.sws-latest-news-header, .sws-social-media-header {
  margin-left: 0;
  margin-bottom: 30px;
  .Familyinherits;
  h2{
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__button{
    border-radius: 3px;
    border: solid 1px @sws-theme-link-font-color-dark;
    background-color: @sws-theme-link-font-color-light;
    color: @sws-theme-hover-color !important;
    padding: 7px 15px;
    font-family: inherit;
    font-weight: 600;
    height: auto !important;
  }
}

//News component

.sws-latest-news{
  &-wrapper{
    .sws-latest-news{
      background: @sws-theme-link-font-color-light;
      color:@sws-theme-hover-color;
      h3{
        .Familyinherits;
        color: inherit;
        font-size: 1.625rem;
        font-weight: normal;
        margin-bottom: 15px;
      }
      &__article__text{
        font-size: 1rem;
        margin-top: 15px;
      }
      &__article__category{
        font-size:0.875rem;
        width: fit-content;
        background: @sws-from-the-department-color;
        padding: 5px;
        margin-bottom: 15px;
        color:@sws-theme-link-font-color-dark !important;
      }
      &__article{
        padding-top: 0;
        .from-the-department{
          position: relative;
          margin-top: 0;
          background: @sws-theme-hover-color;
          color:@sws-theme-link-font-color-light;
        }
      }
      article, p, a{
        color: inherit;
      }

    }
    //used on EVents landing as well
    &.sws-news-component-first{
      box-sizing: border-box;
    }
    @media screen and (max-width:@sws-md) {
      //seperating tiles by inserting top and bottom margin
      &.sws-news-component-first{
        border: 0;
      }
    }
  }
}
//News Index page
.news-index{
  .sws-news-news{
    &Content{
      .sws-latest-news-wrapper{
        .sws-latest-news{
          &__article__heading{
            font-weight: 600;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

//News Article Page
.gef-main .news-article{
  background: @sws-theme-link-font-color-light;
  margin:0;
  *{
    color:@sws-theme-hover-color;
  }
  h1,h2,h3,h4,h5{
    font-weight: bold;
  }
  div.sws-news-article-content>p:nth-of-type(1){
    font-size: 0.875rem;
  }

  h3{
    .Familyinherits;
    //font-size: 1.625rem;
  }
  h4{
    .Familyinherits;
    //font-size:1.25rem;
  }
  ul li a{
    font-weight: 600;
  }
  .sws-blockquote{
    margin:10px 0;
    padding: 10px;
    border: 2px solid @sws-primary-theme-color ;
    i{
      display:none;
    }
  }
  &--hr{
    display:none;
  }
  @media screen and (max-width:@sws-md) {
    .mobileViewStretch;
    padding: 0 12px;
  }
}


//Latest News Template
//sws-container-width-33 News
.sws-container-width-33 .sws-container-inner {
  @media screen and (max-width:@sws-md) {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}


//Container Inner for Events, Latest News Index/Landing pages
//stretching the components to the sides
.news-index{
  @media screen and (min-width:@sws-md) {
    .sws-container-inner{
      margin: 0;
      justify-content: center;
    }
  }
}

//component tiles on event, news
.sws-news-component-first{
  .sws-latest-news{
    position: relative;
  }
}

.sws-index-banner {
  &__img {
    background: @sws-theme-link-font-color-light;
  }
}
