//Search advance Filters in page
.sws-advance-search{
  margin-top:0;
  &__block{
    margin-top:0;
    .sws-advance-search{
      color:@sws-theme-link-font-color-light;
      &__text-first{
        font-weight: bold;
        color:inherit;
      }
      &__text{
        font-weight: bold;
        color:inherit;
      }
      &__select-wrapper{
        color:@sws-theme-hover-color;
        border-radius: 4px;
        background: @sws-theme-link-font-color-light;
        .sws-advance-search__select{
          text-transform: capitalize;
          border-radius: 4px;
          font-weight: normal;
          font-size: 1rem;
          background: @sws-theme-link-font-color-light;
         .inherits;
         &:active{
           outline-offset: 2px;
         }
        }
        &:after{
          color:inherit;
        }
      }
      &__button{
        background: @sws-theme-link-font-color-light;
        color:@sws-theme-hover-color;
        font-weight: 600;
        font-size: 0.875rem;
        border-radius: 3px;
        .Familyinherits;
      }
    }
    @media screen and (max-width:@sws-md) {
      .sws-advance-search{
        &__text{
          margin-left: 0;
        }
      }
    }
  }
}
//News View more
.news-view-more, .event-view-more, #albums-landing-view-more, #album-view-more,#newsletter-view-more{
  .sws-view-more{
    background: @sws-theme-link-font-color-light;
    color:@sws-theme-hover-color;
    border-radius: 3px;
    h2{
      color: inherit;
      .Familyinherits;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }

    // view more loader svg color
    .sws-loader-svg-1 {
      svg .svg-rectangle {
        visibility: visible;
        fill: @sws-theme-link-font-color-light;
      }
    }

}
//Albums landing specific view more
#albums-landing-view-more{
  @media screen and (max-width:@sws-md){
    .mobileViewStretch(12px);
    width:~'calc(100% - 20px)';
  }
}
//hr
hr{
  .Inherit-hr;
}
//Gef gef-external-link
.gef-external-link{
  font-weight: normal;
  color: @sws-primary-theme-color !important;
}

//In Page Filter Header
.gef-main{
  .sws-content__h3{
    .Familyinherits;
  }
}
//Breadcrumbs

.gef-breadcrumbs{
  &__item:nth-child(1){
    a{
      padding-left:0;
    }
  }
  &__item{
    a,span{
      font-size:  0.75rem;
      .Familyinherits;
      color: @sws-theme-link-font-color-light;
    }
    &:before{
      font-size:  0.75rem;
      top: 20px;
      padding:0 10px 0 0;
    }
    &>a,&>span{
      padding-left:25px;
      padding-right: 10px;
    }
  }
  &__dropdown{
    div{
      background: @sws-theme-link-font-color-light;
      margin-left: -25px;
      p:before,a{
        color:@sws-primary-theme-color;
      }
    }
    &:before{
      padding:0;
    }

    &:after{
      color: @sws-theme-link-font-color-light;
      background: @sws-primary-theme-color !important;
      font-size:  0.75rem;
      width:auto;
      height: 35px;
      padding: 0 10px;
      margin-left: 5px;
      margin-top:20px;
      text-decoration: underline;
      text-underline-position: under;
      display: flex;
      align-items: flex-end;
    }
    &:hover,&.active-focused,&.active-hovered {
      &:after{
      background: @sws-theme-link-font-color-light !important;
      color:@sws-primary-theme-color;
      //display: none;
      }
    }
  }
  &__link{
    .Familyinherits;
    font-size: 0.75rem;
    font-weight: normal;
    .uk-icon-angle-left{
      font-size: 1rem;
    }
  }
}

//Content Header
.sws-content-header{
  background-color: @sws-primary-theme-color;
  margin-bottom:30px;
  padding: 0;
  //H1
  h1{
    margin-bottom: 20px;
    line-height: 1.1;
    margin-top: 30px;
    .Familyinherits;
  }
  //News article
  //From the department tag
  .from_department--news_article{
    top:25px;
  }
  //Events Detail Reminder
  .event-details-heading{
    float: none;
    display: inline-block;
    h1 {
      margin-top: 0;
    }
  }
  .event-latest-reminder{
    float: right;
    right:0;
    a{
        .Familyinherits;
        font-weight: normal;
    }
    i.uk-icon-calendar-plus-o{
      .imageIcon("access_alarm",@sws-theme-link-font-color-light,1rem)
    }
  }
  @media screen and (max-width:@sws-md) {
    margin-bottom:20px;
    h1{
      font-size: 1.5rem !important;
      font-weight: 800;
    }
    .event-details-heading{
      width:100%;
    }
    .event-latest-reminder{
      float: none;
    }
  }
  //--This is for Page header with FTD tag
  .event-title-box {
    .event-details-heading {
      float: left;
      margin-right: 20px;
      @media screen and (max-width:@sws-md) {
        display: block;
      }
    }
    .from_department--events-header {
      @media screen and (max-width:@sws-lg) and (min-width: 768px) {
        padding-bottom: 0;
      }
      @media screen and (max-width:@sws-lg) {
        left: 0;
      }
      .from-the-department {
        background: @sws-theme-link-font-color-light;
        color: @sws-theme-hover-color;
        margin-top: 9px;
        margin-left: 0;
        @media screen and (max-width:@sws-lg) and (min-width: 768px) {
          margin-top: 0;
        }
      }
    }
    .event-latest-reminder {
      @media screen and (max-width:@sws-lg) and (min-width: 768px) {
        top: -50px;
      }
      @media screen and (max-width:@sws-md) {
        float: left;
      }
    }
  }
}

.from_department--events-home .from-the-department {
  border: 1px solid @sws-theme-hover-color;
}

//Global Header Nav
.global-header-right-nav {
  margin-right: 0;
}

//Full Width Social Links
.sws_local_social-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:65px 0;
  *{
    padding:0;
    margin:0;
    color: @sws-theme-link-font-color-light;
  }
  .uk-container{
    .uk-h2{
      font-size: 1.875rem;
      .Familyinherits;
      font-weight: bold;
    }
  }
  ul{
    padding:0;
    justify-content: space-around;
    li i{
      color: inherit;
      //Social icons full width
      &.uk-icon{
        &-facebook-official:before{
          content: "\f082";
        }
      }
    }
    [class*="uk-icon-"]{
      &:hover{
        color: inherit;
      }
    }
  }
  @media screen and (max-width:@sws-md) {
    display:block;
    padding:0 0 20px 0;
    .uk-container{
      padding:20px 12px 0 12px;
      .uk-h2{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left !important;
        line-height: 1.5;
      }
      section{
        justify-content: flex-start;
      }
      .sws-fullwidth-icon-menu{
        justify-content: flex-start;
        &__li{
          margin-right: 30px;
        }
      }
    }
  }
}

//Alert Message
.alert-message-container{
  &__head{
    color: @sws-theme-link-font-color-dark;
    h2, p{
      color:inherit;
    }
  }
}
