.sws-global-quicklinks{
  background: @sws-primary-theme-color;
  .sws-inline-menu{
    background:none;
    a{
      color:@sws-theme-link-font-color-light;
      font-weight: normal;
      &:hover{
        text-decoration: none;
        text-shadow: 0.01em 0 @sws-theme-link-font-color-light;
        -webkit-text-fill-color: @sws-theme-link-font-color-light;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: @sws-theme-link-font-color-light;
      }
    }
    span{
      visibility: hidden;
    }
  }
}
