
//Search Results Page
//Search Bar Top
.search_mobile_view{
  padding-top:0;
  padding:0;
  *{
    color: @sws-theme-hover-color;
   }
  .search-text-box{
    background: @sws-theme-link-font-color-light;
    margin:0;
    .Familyinherits;
  }
  .search-icon-wrapper{
    top:20px;
  }
  @media screen and (max-width:@sws-md){
    padding:0 !important;
    .search-icon-wrapper{
      top:15px !important;
      right: 10px;
      i{
        font-size: 15px;
        vertical-align: middle;
      }
    }
    .search-text-box{
      padding: 15px 10px;
    }
  }
}
.search-results__hr{
  .templateshow{
    margin-top:30px;
  }
}
//Search Body
.search_summary{
  padding:0;
  margin-top:0 !important;
  margin-bottom: 40px !important;
  @media screen and (max-width:@sws-md){
    padding: 0 !important;
  }
}

.search-block{
  background: @sws-theme-link-font-color-light;
  margin:0 0 -5px 0;
  padding:30px 30px 0 30px;
  *,h2,a, .search-para-wrapper *, .gef-search-results__url{
    color: @sws-theme-hover-color;
    font-family: @sws-primary-font-family;
  }
  .gef-search-results__itemheader{
    a{
      &:hover{
        font-weight: 800;
      }
    }
  }
  .search-para-wrapper{
    p{
      font-size: 1rem !important;
    }
  }
  .gef-search-results__url{
    font-size: 0.875rem;
    font-weight: normal;
  }
  @media screen and (max-width:@sws-md){
    padding: 15px 5px 0px 5px;
  }
}
//pagination
.sws-search-results{
  display: inline-block;
  width: 100%;
  margin: 0;
  background: @sws-theme-link-font-color-light;
  .gef-pagination{
    margin-top:0;
    padding: 0 30px;
    padding-bottom: 15px;

    li{
      margin-top: 30px;
      *,&>span,&{
        color: @sws-theme-hover-color;
        background: @sws-theme-link-font-color-light !important;
        .Familyinherits;
        font-size:  0.875rem;
        border-radius: 3px;
        font-weight: 600;
        border-color:@sws-theme-hover-color;
      }
      &.gef-pagination__active a{
        background: @sws-primary-theme-color !important;
        color: @sws-theme-link-font-color-light!important;
      }
      &.gef-pagination__disabled>*,&.gef-pagination__disabled>*>*{
        background:none;
      }
    }
  }
  @media screen and (max-width:@sws-md){
    background: @sws-primary-theme-color;
    .gef-pagination{
      li{
        margin-top:20px;
        *{
          border:0;
          padding: 10px;
        }
      }
    }
  }
}
//highlight page 3 on pagination item demo (gef-pagination__active)
.search_pagination_demo .sws-search-results {
    & li:nth-child(4) a {
      background: @sws-primary-theme-color !important;
      color: @sws-theme-link-font-color-light!important;
    }
}
