
.component-sidebar{
  //archivesidebar
  &.archive-sidebar, .category-sidebar, .themed-sidebar{
    nav{
      background: @sws-theme-link-font-color-light;
      padding:0;
      border: 2px solid @sws-theme-link-font-color-light;
      h2{
        padding: 15px 30px;
        margin:0 !important;
        background: @sws-primary-theme-color;
        color:@sws-theme-link-font-color-light !important;
        font-size: 1.25rem;
        font-weight: 600;
        .Familyinherits;
      }
      ul{
        padding: 15px 30px 25px 30px;
        margin:0;
      }
      *{
        color:@sws-theme-hover-color;
      }
    }
    //Mobile Archive
    .category-sidebar__mobile{
      .archive-sidebar__caret{
        &:after{
          color:@sws-theme-hover-color;
        }
      }
    }
  }
  //Themed Sidebar explicit changes
  .themed-sidebar{
    padding:0;
    ul li{
      font-size: 0.875rem;
    }
    ul li a{
      font-weight:600;
      font-size: 1rem;
    }
  }
  //mobile style
  @media screen and (max-width:@sws-md) {
    select{
      background: @sws-theme-link-font-color-light;
      color:@sws-theme-hover-color;
    }

    &.archive-sidebar{
      border-radius: 3px;
      border:1px solid;
    }
  }
}
.sws-sidebar-wrapper{
    padding-left:0;
    .component-sidebar{
      margin:0;
      margin-bottom: 30px;
      margin-left: 25px;
      max-width: 100%;
    }
    @media screen and (max-width:@sws-md) {
      margin-top:15px;
      .component-sidebar{
        margin-left:0;
        .category-sidebar__caret{
          &:after{
            color:@sws-theme-hover-color;
          }
        }
      }
    }
}
