.social-media{
  .gef-social-media-post{
    background: @sws-theme-link-font-color-light;
    color:@sws-theme-hover-color;
    border: solid 1px @sws-theme-link-font-color-light;
    padding: 10px @sws-long-img-margin;
    *{
      color:inherit;
    }
    &__metadata{
      .gef-social-media-post{
        //Image section
        &__avatar{
          img{
            max-width: 50px !important;
            height: 50px;
          }
        }
        //Post Name
        &__name{
          .Familyinherits;
          font-size: 1.125rem;
          font-weight: normal;
        }
        //Date
        &__metadatum{
          font-size: .875rem;
        }
        //Icon
        &__icon{
          color:white;
          border-radius: 0;
        }
        //Youtube Icon
        &__icon.uk-icon-youtube{
          background: none;
          &:before{
            color:#d0021b;
          }
        }
         //Twitter Icon
         &__icon.uk-icon-twitter{
          background: none;
          &:before{
            color:#00aced;
          }
        }
        //Vimeo Icon
        &__icon.uk-icon-vimeo{
          background: none;
          &:before{
            color:#0faef1;
          }
        }
        //Instagram Icon
        &__icon.uk-icon-instagram{
          background: none;
          &:before{
            color:#833ab4;
          }
        }
      }
    }
    // media section
    &__media{
      margin: 0 -@sws-long-img-margin;
      &-img-facebook{
        padding:0;
      }
    }
  }
  @media screen and (max-width: 766px) {
    .gef-social-media-post{
      padding: @sws-long-img-margin-mobile;
      &__media{
        margin: 0 -@sws-long-img-margin-mobile;
      }
    }
  }
}
