&{
  font-family:@sws-primary-font-family;
}
.gef-main{
  background:@sws-primary-theme-color;
  color:@sws-theme-link-font-color-light;
  h1,h2,h3,h4,a,p{
    color:@sws-theme-link-font-color-light;
    em,strong{
      color:inherit;
    }
  }
  .from-the-department{
    background: @sws-theme-link-font-color-light;
    color:@sws-theme-hover-color;
  }
  //Homepage specific news
  &.sws-homepage-main{
    //Rte Similar Styling
    .style-like-rte {
      //hotfix start
      // //padding: 30px;
      //hotfix end
      //old fix start
      padding: 30px;
      //old fix end
  }

    @media screen and (max-width:@sws-md) {
      .sws-container-inner > .sws-latest-news-wrapper{
        margin: 0px -10px;
      }
      .sws-container-inner {
        justify-content: center
      }

    }

  }
  //RTE Componenent
  .gef-main-content.sws-content{
    padding:30px;
  }
  //content template page fix for RTE
  //hotfix start
  //.gef-main-content.sws-content__content-page{
  //hotfix end
  //old code start
  .gef-main-content.sws-content.sws-content__content-page{
  //old code end
    .gef-main-content.sws-content{
      //new fix start
      padding:30px;
      //new fix end
      @media screen and (max-width:@sws-md) {
        padding:12px;
      }
      &>.gef-main-content.sws-content{
        padding:0px;
      }
    }
    //new fix start
    .text .gef-main-content.sws-content{
      padding:0;
      @media screen and (max-width:@sws-md) {
        padding:12px;
      }
    }
    //new fix end
  }
  //Newsletter Archive RTE
  .component-sidebar.archive-sidebar{
    .gef-main-content.sws-content{
      margin-top: 15px;
    }
  }
  //News Article RTE
  .news-article.sws-content{
    @media screen and (min-width:768px) {
      .gef-main-content.sws-content{
        padding:0px;
      }
    }
  }

  //Rte On Content Template
  @media screen and (max-width:@sws-md) {
    .gef-main-content.sws-content{
      .mobileViewStretch;
      padding: 12px;
      box-sizing: content-box;
    }
  }
}
