/* Theme exposed variable defaults */
/* The exposed variables are used for integration purpose and this is what the user gets to change in site-wizard */
@exposed_sws-primary-theme-color: #c8daf7;

/* Important Notice*/
/* Following variable names should be used across all themes */
/* -------------------- */
//Theme colors
@sws-primary-theme-color: @exposed_sws-primary-theme-color;
@sws-primary-theme-lighter : lighten(@sws-primary-theme-color, 5%);
@sws-event-comp-bg-color: darken(@sws-primary-theme-color,4%);

//Theme variables dedicated to theme -2
@sws-secondary-theme-color : #ffffff;
@sws-quinary-theme-color:#eaeaea; //used in tabs as a bg for unselected tabs
@sws-from-the-department-color: #eeeeee;
@sws-local-footer-bg: #eaeaea; //Local footer background color, this might stay the same for theme-1
@sws-tertiary-theme-color: #55595B; //used as the icon color for back-to-top, this might stay the same for theme-1
@sws-md: 767px;
@sws-sm: 200px;
@sws-lg: 960px;
@sws-long-img-margin: 15px;
@sws-long-img-margin-mobile: 10px;

//Theme link colors
@sws-theme-link-font-color-dark: #000;
@sws-theme-megamenu-drop-down:#eeeeee;
//This is part of color contrast
// "@sws-theme-link-font-color-light" will change based upon background color
@sws-theme-link-font-color-light :#000;
//this is for accordion title only
@sws-theme-font-color-accordion-light :#000;
@sws-theme-font-color-accordion-dark: #fff;
@sws-theme-font-color-accordion-same: #000;
//This color needs to be always opposite to @sws-theme-link-font-color-light
//This is setup to accomodate hover state on color contrast mechanism
@sws-theme-hover-color:#fff;

// FONTS
// _fonts.less file has theme 1 font specific styles
@sws-font-weight-link-headings : 600;
//To apply this family anywhere, try font-family:inheit at first
//To keep it simple for changing in future
@sws-primary-font-family : 'Open Sans', sans-serif;
//Use mixinto apply this, example: .Familyinherits;
@sws-secondary-font-family: 'Poppins';

@gef-font-family:  'Open Sans', sans-serif, 'Zilla Slab', serif;

@h123-font-family : @sws-secondary-font-family;
@h123-font-weight : 700;
@h456-font-family : @sws-primary-font-family;
@h456-font-weight : 700;
@sws-h1-base-font : 2.250rem;
@sws-h2-base-font : 1.625rem;
@sws-h3-base-font : 1.250rem;
@sws-h4-base-font : 1.000rem;

@sws-border-color: #cccccc;//used on news component as bottom border
@sws-button-font-filter: .75rem;
@sws-background-event-circle:#eeeeee;//event circle background

//mixins for inheritance
.Familyinherits(){
  font-family: @sws-secondary-font-family;
}
.inherits(){
  color: inherit;
  font-family:inherit;
}
//hr Mixin  for variable colors and sizes
.Inherit-hr(@color:@sws-theme-link-font-color-light, @width: 1px){
  border-top-color: @color;
  border-top-width: @width;
}
//mixin for icons
//url for icons content : http://materializecss.com/icons.html
.iconMix(@content,@color,@font:1rem){
  content: @content;
    font-family: 'Material Icons';
    color: @color;
    font-size: @font;
    vertical-align: middle;
    font-weight: normal;
    .material-icons;
}
.imageIcon(@content:"image",@color:@sws-primary-theme-color,@font:1rem){
  &::before {
    .iconMix(@content,@color,@font);
  }
}
//mixin responsible for stretching mobile view to corners
//Just put it to 0, and all the comonents will be back to basic, as per theme-1 and 2
.mobileViewStretch(@val:-12px){
    margin-left: @val;
    margin-right: @val;
}

//mixin for mobile menu icons
.nav-quicklinks(@cont,@col,@fon){
  .sws-local-nav-quicklinks__icon-wrap{
    img{
      display: none;
    }
    &:before{
      .iconMix(@cont,@col,@fon);
    }
  }
}
