//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Album Components"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing">
  <!--<![endif]-->

  div#globalheader
    +global_header
  header

  span#content(tabindex="-1")
  main.gef-main
    div.uk-container.uk-container-center
      //hidden after column control
        h1.gef-main_header.uk-margin-large-bottom
          |Album Gallery
        br

        h2.uk-h5
          |Full width gallery view
        hr
        div#newsHeader
          +sws_albums_gallery_header(class="sws-albums-gallery__overall-padding")
        // Full width album view template 1******START******
        div.uk-grid.uk-grid-collapse.uk-grid-width-medium-1-1.sws-albums-gallery__overall-padding.sws-component-self-contain#albumGallery1

            +sws_albums_gallery_list(1)(class="sws-component-self-contain__first")
            +sws_albums_gallery_list(1)(class="sws-component-self-contain__second")

            +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
            +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
            +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
        // Full width album view template 1******FINISH******
        br
        h2.uk-h5
          |66% container gallery view
        hr
        div#newsHeader
          +sws_albums_gallery_header
        div.uk-grid.uk-grid-collapse.uk-width-medium-2-3
          // 66% album view template 2******START******
          div.uk-grid.uk-grid-collapse.uk-width-medium-1-1.sws-component-self-contain#albumGallery2
            div.uk-width-medium-1-1
              +sws_albums_gallery_list(1)
            div.uk-width-medium-1-1
              div.uk-grid.uk-grid-collapse.uk-grid-width-medium-1-2
                +sws_albums_gallery_list(1)
                +sws_albums_gallery_list(1)
                +sws_albums_gallery_list(1)
                +sws_albums_gallery_list(1)
          // 66% album view template 2******FINISH******
        br
        h2.uk-h5
          |33% container gallery view
        hr
        div#newsHeader
          +sws_albums_gallery_header
        div.uk-grid.uk-grid-collapse.uk-width-medium-1-3
          // 33% album view template 2******START******
          div.uk-grid.uk-grid-collapse.uk-width-medium-1-1.sws-component-self-contain#albumGallery3
            div.uk-width-medium-1-1


                +sws_albums_gallery_list(1)
                +sws_albums_gallery_list(1)
                +sws_albums_gallery_list(1)
                +sws_albums_gallery_list(1)
          // 33% album view template 2******FINISH******
      hr
      h2.uk-h5
        |Template Full Width
      hr
      div.latest-album#sws-latest-album-full  
        +sws_albums_gallery_header
        div#albumFullWidth
          //Album component*****Start*******
          div.sws-container-inner
            div.uk-grid.uk-grid-collapse.uk-width-medium-1-1.sws-albums-gallery__overall-padding.sws-component-self-contain

              +sws_albums_gallery_list(1)(class="sws-component-self-contain__first")
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__second")

              +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
          //Album component*****finish*******        
      hr
      h2.uk-h5
        |Template with column control for 100% container
      hr
      div#albumColumnsControl100    
        div.sws-grid  
          div.sws-container-width-100#albumColumn100
            div.latest-album#sws-latest-album-100
              +sws_albums_gallery_header
              //Album component*****Start*******
              div.sws-container-inner
                div.uk-grid.uk-grid-collapse.uk-width-medium-1-1.sws-albums-gallery__overall-padding.sws-component-self-contain

                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__first")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__second")

                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
              //Album component*****finish*******
      hr    
      h2.uk-h5
        |Template with column control for 66% container
      hr
      div#albumColumnsControl33-66    
        div.sws-grid  
          div.sws-container-width-33
            +sws_image_only_ii
          div.sws-container-width-66#albumColumn66
            div.latest-album#sws-latest-album-66
              +sws_albums_gallery_header
              //Album component*****Start*******
              div.sws-container-inner
                div.uk-grid.uk-grid-collapse.uk-width-medium-1-1.sws-albums-gallery__overall-padding.sws-component-self-contain

                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__first")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__second")

                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
              //Album component*****finish*******
      hr    
      h2.uk-h5
        |Template with column control for 33% container
      hr
      div#albumColumnsControl33-33-33
        div.sws-grid  
          div.sws-container-width-33
            +sws_image_only_ii
          div.sws-container-width-33
            +sws_image_only_ii
          div.sws-container-width-33#albumColumn33
            div.latest-album#sws-latest-album-33
              +sws_albums_gallery_header
              //Album component*****Start*******
              div.sws-container-inner
                div.uk-grid.uk-grid-collapse.uk-width-medium-1-1.sws-albums-gallery__overall-padding.sws-component-self-contain

                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__first")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__second")

                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
                  +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
              //Album component*****finish*******

  include ../assets/pug/_scripts.pug

  </body>
