//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Albums landing template"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

+sws_template_header

main.gef-main
  
  +layout-content-header_nomenu
  
  .uk-container.uk-container-center.sws-albums-landing
    
    .uk-width-medium-1-1
      +sws-advance-search('albums')
      
    .uk-width-medium-1-1.uk-margin-large-top
      +sws_albums_landing

    +gef_back_to_top

+sws_template_footer
