//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Album template"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

+sws_template_header

main.gef-main
  
  +layout-content-header_nomenu
  
  .uk-container.uk-container-center.sws-album-details
    +index-page-banner(7)(class="sws-events-detail__container")

    .uk-width-medium-1-1.uk-margin-large-top
      
      +sws_album_container

    +gef_back_to_top

+sws_template_footer
