//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Default Components"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing">
  <!--<![endif]-->

  div#globalheader
    +global_header
  header
    
  +local_mobile_nav

  span#content(tabindex="-1")
  main.gef-main
    div.uk-container.uk-container-center
      h1.gef-main_header.uk-margin-large-bottom
        |News

      div#newsHeader
        +sws_news_latest_header
      br

      div.uk-grid.uk-grid-collapse.uk-grid-width-1-1
        h2.uk-h5
          |News Component without Image
        hr

        div.uk-grid.uk-grid-collapse.uk-grid-width-1-3#newsOnly
          +sws_latest_news(1,0,0)

        h2.uk-h5
          |News Component with Image
        hr
        div.uk-grid.uk-grid-collapse.uk-grid-width-1-3#newsImage

            +sws_latest_news(0,1,0)

        h2.uk-h5
          |News Component with Heading Only
        hr
        div.uk-grid.uk-grid-collapse.uk-grid-width-1-3#newsHeading

            +sws_latest_news(0,0,1)









  include ../assets/pug/_scripts.pug

  </body>
