//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Default Components"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------



doctype html
html(class=theme, lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing">
  <!--<![endif]-->

  div#globalheader
      +global_header
  header

  div#mobile-nav-wrapper
    +local_mobile_nav

  span#content(tabindex="-1")
  main.gef-main
      +alert-message
      div.uk-container.uk-container-center
        h1.gef-main_header.uk-margin-large-bottom
          |SWS Core Components - Full width
        ul
            li
              a(href="#meganav")
                | Megamenu
            li
              a(href="#staticBanner")
                | Static Banner

      h2.force-margin-bottom.uk-container.uk-container-center
              | Mega Menu - Desktop Only (Maximum list)
      div#meganav
        +mega_menu(8)
      hr.templateshow
      h2.force-margin-bottom.uk-container.uk-container-center
              | Static Banner
      div#staticBanner
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-remove-external-link#staticBannerImg
          +sws_static_banner(1,0,0)
        hr.templateshow
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-remove-external-link#staticBannerTxt
          +sws_static_banner(0,1,0)
        hr.templateshow
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-remove-external-link#staticBannerFull
          +sws_static_banner(0,0,1)


  div#localfooter
      +sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
  //For multi campus view
  //Add class "footer-multi__campus"
  h2
    |Multi campus footer
  div#localfooter.footer-multi__campus
      +sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true,3,true)
  div#globalfooter
      +global_footer






  include ../assets/pug/_scripts.pug

  </body>
