//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Default Components"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------



doctype html
html(class=theme, lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing">
  <!--<![endif]-->

  div#globalheader
      +global_header
  header

  span#content(tabindex="-1")
  main.gef-main

    div.uk-container.uk-container-center
      h1.gef-main_header.uk-margin-large-bottom
          |SWS Core Components
      ul
          li
            a(href="#localheader")
              | Local header - Desktop
          li
            a(href="#meganav")
              | Meganav
          li
            a(href="#localfooter")
              | Local Footer
          li
            a(href="#globalfooter")
              | Global Footer
          li
            a(href="#globalheader")
              | Global Header    
          li
            a(href="#breadcrumbs")
              | Breadcrumbs
          li
            a(href="#backtotop")
              | Backtotop
          li
            a(href="#globalquicklinks")
              | Global Quicklinks - Desktop
          li
            a(href="#localquicklinks")
              | Local Quicklinks - Desktop               
          li
            a(href="#events")
              | Events  
          li
            a(href="#localsociallinks")
              | Local Social Links
          li
            a(href="#newsletterCta")
              | Newsletter CTA                         
          li
            a(href="#staticBanner")
              | Static Banner            
          li
            a(href="#regularColumnControl")
              | Regular Column Control                                
          li
            a(href="#searchPaginationDemo")
              | Search Pagination 
      hr

      h2.force-margin-bottom
            |Local header - Desktop Only
      div#localheader
        +sws_local_header(sws1)
      hr

      h2.force-margin-bottom
            |Breadcrumbs (enhanced)
      div#breadcrumbs.uk-container.uk-container-center
          +sws_breadcrumbs(6,true)
      hr
        
      h2.force-margin-bottom
          |Back to top
      div#backtotop
          +gef_back_to_top
      hr
      div#globalquicklinks
        h2.force-margin-bottom
          | Global Quicklinks - Desktop
        div#globalquicklinkstestcontainer
          +sws_global_quicklinks()
      hr
      div#localquicklinks
        h2.force-margin-bottom
          | Local Quicklinks - Desktop
        p 5 menu items
        div#quicklinks5items.quicklinks-local
          +sws_local_desktop_quicklinks(qlMenuItems1)
        p 2 menu items
        div#quicklinks2items.quicklinks-local
          +sws_local_desktop_quicklinks(qlMenuItems2)
      hr
      div#events
          h2.force-margin-bottom
            |Events
          h3
            |Events - Full Width
          +sws_events(7,0)
          h3
            |Events - 100% Width
          div#eventsColumnsControl
            div.sws-grid
              div.sws-container-width-100#eventColumn100
                +sws_events(7,1)
          h3
            |Events - 66% Width
          div#eventsColumnsControl
            div.sws-grid
              div.sws-container-width-33
                +sws_image_only_ii
              div.sws-container-width-66#eventColumn66
                +sws_events(7,2,true)
          h3
            |Events - 33% width
          div#eventsColumnsControl 
            div.sws-grid
              div.sws-container-width-33
                +sws_image_only_ii
              div.sws-container-width-33
                +sws_image_only_ii  
              div.sws-container-width-33#eventColumn33
                +sws_events(7,3)
      hr
      div#localsociallinks
        h2.force-margin-bottom
          | Local Social links - Desktop
        p 5 social items
        div#sociallinks5items
          +sws_local_social-links(socialItems)
        p 2 social items
        div#sociallinks2items
          +sws_local_social-links(socialItems2)          
      hr
        
      div#newsletterCta
        h2.force-margin-bottom
          | Newsletter CTA
        +sws_newsletter_cta
        
      hr
        
      div#staticBanner
        h2.force-margin-bottom
          | Static Banner
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-remove-external-link#staticBannerImg
          +sws_static_banner(1,0,0)
        hr
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-remove-external-link#staticBannerTxt
          +sws_static_banner(0,1,0)
        hr
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-remove-external-link#staticBannerFull
          +sws_static_banner(0,0,1)

        hr
          
        div#regularColumnControl
          h2.force-margin-bottom
            | Regular Column Control 33-33-33
          div.sws-grid
            div.sws-container-width-33
              +sws_iframe_map
              +sws_iframe_video
              +sws_image_only_ii
            div.sws-container-width-33
              div#eventthirtythree 
                +sws_events(7,1)        
            div.sws-container-width-33
              +sws_iframe_script_calendar            
              +sws_iframe_script
              +sws_iframe_script_error 
              +sws_freeform_script
        hr
          
        div#regularColumnControl
          h2.force-margin-bottom
            | Regular Column Control 33-66
          div.sws-grid
            div.sws-container-width-33
              +sws_iframe_map
              +sws_image_only_ii
            div.sws-container-width-66
              div#eventsixtysix 
                +sws_events(7,1)
        hr  
      
        div#regularColumnControl
          h2.force-margin-bottom
            | Regular Column Control 66-33
          div.sws-grid
            div.sws-container-width-66
              +sws_iframe_script_calendar
              +sws_iframe_video
            div.sws-container-width-33
              div#eventthirtythree 
                +sws_events(7,1)              

        hr
                                      
        div#searchPaginationDemo
          h2.force-margin-bottom
            | Search Pagination
          div.search_pagination_demo
            +search_pagination
                          
  div#localfooter
      +sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
  div#globalfooter
      +global_footer






  include ../assets/pug/_scripts.pug

  </body>
