//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

+sws_template_header

main.gef-main

  +layout-content-header

  .uk-container.uk-container-center

    .uk-grid.uk-grid-collapse

      div.uk-width-large-2-3.gef-main-content.sws-content__content-page(data-gef-anchor-box)

        +layout-content

      +gef_back_to_top

      .uk-width-large-1-3.sws-content__side-nav

        h2.show-on-sr
          | Related content

        +sws_side_navigation

+sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
+global_footer


include ../assets/pug/_scripts.pug

</body>
