//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Contact Us Single Campus"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------


+sws_template_header

span#content(tabindex="-1")
main.gef-main
  +layout-content-header_nomenu
  div.uk-container.uk-container-center.contact-us-container-wrapper
    div
      .uk-grid.uk-grid-collapse.contact
        .uk-width-medium-1-3
          +sws_contact_us(1)
        .uk-width-medium-2-3.contact_us__map#contact_map_wrapper
            div.contact_us__map__fill#map
        +sws_contact_us_skip('up')

+sws_template_footer
