//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Content Components"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------


+sws_template_header

main.gef-main

  +page-header

  div.uk-container.uk-container-center.sws-content-component

    div.uk-grid.uk-grid-collapse

      .uk-width-large-2-3

        br

        h1 WYSIWYG/Rich text content

        br

        +layout-content-with-ids

+sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
+global_footer



include ../assets/pug/_scripts.pug

</body>
