//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Events Details-latest"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]>
  <body class="standard">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <![endif]-->
  
+sws_template_header


main.gef-main
    +page-header--events-addons
    div.uk-container.uk-container-center.uk-margin-large-bottom

      div.uk-grid.uk-grid-collapse.uk-margin-large-bottom.events-article-wrapper
        +index-page-banner--latest(1)
  
        div.uk-width-medium-1-1.events-article-wrapper__upcoming.event-detail-upcoming-events.event-details-latest-box        
          +sws_events(4,1,true)

        +gef_back_to_top

+sws_template_footer


  include ../assets/pug/_scripts.pug

  </body>
