//--- INCLUDES template
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Event Landing Page"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

+sws_template_header

main.gef-main

  +layout-content-header

  div.uk-container.uk-container-center.uk-margin-large-bottom

      div.uk-width-medium-1-1
        .sws-advanced-search--eventslanding
            +sws-advance-search('events')

      div.uk-width-1-1.gef-main-content

        +event-landing-content



      div.uk-width-1-1
        +event-view-more
      +gef_back_to_top

+sws_template_footer


  include ../assets/pug/_scripts.pug

  </body>
