//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Global Template"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------



+sws_template_header

span#content(tabindex="-1")
main.gef-main
  div.uk-container.uk-container-center
      //Start- Here comes the layout,where drag-drop elements are placed. Please ignore the line breaks I added them so that the template looks better
      br
      br
      br
      br
      br
      //end- Here comes the layout,where drag-drop elements are placed
+sws_template_footer
