//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Latest News Template"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing">
  <!--<![endif]-->

  div#globalheader
    +global_header
  


  span#content(tabindex="-1")
  main.gef-main
    
    div.uk-container.uk-container-center
      h1.gef-main_header.uk-margin-large-bottom
        |News
      h2.uk-h5
        |Template 1 - Full width
      hr
      div.latestnews#sws-latest-news-full
        +sws_news_latest_header
        //News component*****Start*******
        div.sws-container-inner.sws-latest-news-desktop-container
            +sws_latest_news(0,1,0)(class="sws-news-component-first")
            +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
            +sws_latest_news(0,0,3)(class="sws-news-component-stack")
        div.sws-latest-news-mobile-container
            +sws_latest_news(0,1,0)(class="sws-news-component-first")
            +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
            +sws_latest_news(0,1,0)(class="sws-news-component-first")           
        div.sws-container-inner.sws-latest-news-tablet-container
            +sws_latest_news(0,1,0)(class="sws-news-component-first")
            +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
            +sws_latest_news(0,1,0)(class="sws-news-component-first")
            +sws_latest_news(0,1,0)(class="sws-news-component-first")     
        //News component*****finish*******

      hr
        
      h2.uk-h5
        |Template 2 - 100% column control (Case: First 3 tiles all have image)
      hr
      div#newsColumnsControl100  
        div.sws-grid
          div.sws-container-width-100#newsColumn100
            div.latestnews#sws-latest-news-100
              +sws_news_latest_header
              //News component*****Start*******
              div.sws-container-inner.sws-latest-news-desktop-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
              div.sws-latest-news-mobile-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")          
              div.sws-container-inner.sws-latest-news-tablet-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
              //News component*****finish*******

      hr

      h2.uk-h5
        |Template 3 - 33-66 column control
      hr
      div#newsColumnsControl33-66  
        div.sws-grid
          div.sws-container-width-33
            +sws_image_only_ii
          div.sws-container-width-66#newsColumn66
            div.latestnews#sws-latest-news-66
              +sws_news_latest_header          
              //News component*****Start*******
              div.sws-container-inner.sws-latest-news-desktop-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,0,2)(class="sws-news-component-stack")
              div.sws-latest-news-mobile-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
              div.sws-container-inner.sws-latest-news-tablet-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")                 
              //News component*****finish*******

      hr

      h2.uk-h5
        |Template 4 - 33-33-33 column control
      hr
      div#newsColumnsControl33-33-33  
        div.sws-grid
          div.sws-container-width-33
            +sws_image_only_ii
          div.sws-container-width-33
            +sws_image_only_ii    
          div.sws-container-width-33#newsColumn33
            div.latestnews#sws-latest-news-33
              +sws_news_latest_header            
              //News component*****Start*******
              div.sws-container-inner.sws-latest-news-desktop-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,0,2)(class="sws-news-component-stack")
              div.sws-latest-news-mobile-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
              div.sws-container-inner.sws-latest-news-tablet-container
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
                  +sws_latest_news(0,1,0)(class="sws-news-component-first")
              //News component*****finish*******





  +sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
  +global_footer



  include ../assets/pug/_scripts.pug

  </body>
