//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Article"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

+sws_template_header

main.gef-main

  +page-header--news-article

  .uk-container.uk-container-center.uk-margin-large-bottom

      .uk-grid.uk-grid-collapse.uk-margin-large-bottom

        .uk-width-medium-2-3.gef-main-content

          +news-article-content

        .uk-width-medium-1-3
            aside.sws-sidebar-wrapper.sws-news-article-wrapper-sidebar
              h2.show-on-sr
                |Related content
              +category_sidebar
              +themed-sidebar

        +gef_back_to_top

+sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
+global_footer


include ../assets/pug/_scripts.pug

</body>
