//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Newsletter"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------


+sws_template_header

main.gef-main

  +page-header

  span#content(tabindex="-1")
  .uk-container.uk-container-center

    .uk-grid.uk-grid-collapse.sws-newsletter.gef-main-content

      .uk-width-medium-1-1.uk-hidden-large.sws-sidebar
        +archive_sidebar_mobile

      .uk-width-large-2-3.uk-width-medium-1-1.sws-content
        +sws_newsletter

      .uk-width-large-1-3.uk-visible-large.uk-width-medium-1-1.sws-sidebar
        +archive_sidebar

      +gef_back_to_top

      .uk-width-1-1.uk-width-small-1-1.uk-visible-large
        hr
        +sws_local_social-links(socialItems)

+sws_template_footer
