//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]>
  <body class="standard">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <![endif]-->

  div#globalheader
      +global_header

  span#content(tabindex="-1")
  main.gef-main
    div.uk-container.uk-container-center.uk-margin-large-bottom
      h3.sws-content__h3
        |Version 2 - Featured News
      .sws-featured-news-hr
        hr

      div.uk-grid.uk-grid-collapse.uk-margin-large-bottom
        +index-page-banner(2)

        div.uk-width-medium-1-1.uk-margin-large-top
          h3.sws-content__h3
            |Latest news
        div.uk-width-medium-1-1
          +sws-advance-search('news')



        div.uk-width-1-1.gef-main-content._result-container

          +news-index-content
        div.uk-width-1-1
          +news-view-more
      hr

    div.uk-container.uk-container-center.uk-margin-large-bottom
      h3.sws-content__h3
        |Version 3 - Featured News
      .sws-featured-news-hr
        hr

      div.uk-grid.uk-grid-collapse.uk-margin-large-bottom
        +index-page-banner(3)

        div.uk-width-medium-1-1.uk-margin-large-top
          h3.sws-content__h3
            |Latest news
        div.uk-width-medium-1-1
          +sws-advance-search('news')



        div.uk-width-1-1.gef-main-content._result-container

          +news-index-content
        div.uk-width-1-1
          +news-view-more
      hr

    div.uk-container.uk-container-center.uk-margin-large-bottom
      h3.sws-content__h3
        |Version 4 - Featured News
      .sws-featured-news-hr
        hr

      div.uk-grid.uk-grid-collapse.uk-margin-large-bottom
        +index-page-banner(4)

        div.uk-width-medium-1-1.uk-margin-large-top
          h3.sws-content__h3
            |Latest news
        div.uk-width-medium-1-1
          +sws-advance-search('news')



        div.uk-width-1-1.gef-main-content._result-container

          +news-index-content
        div.uk-width-1-1
          +news-view-more


      +gef_back_to_top



+sws_template_footer
