//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------


+sws_template_header

main.gef-main
    +page-header

    div.uk-container.uk-container-center.uk-margin-large-bottom
      h3.sws-content__h3
        |Featured News
      .sws-featured-news-hr
        hr
        
      div.uk-grid.uk-grid-collapse.uk-margin-large-bottom
        +index-page-banner(1)

        div.uk-width-medium-1-1.uk-margin-large-top
          h3.sws-content__h3
            |Latest news
        div.uk-width-medium-1-1
          +sws-advance-search('news')

        div.uk-width-1-1.gef-main-content._result-container

          +news-index-content
        div.uk-width-1-1
          +news-view-more


        +gef_back_to_top

+sws_template_footer
