//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Social Media component"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing">
  <!--<![endif]-->

  div#globalheader
    +global_header
  


  span#content(tabindex="-1")
  main.gef-main
    
    div.uk-container.uk-container-center
      h1.gef-main_header.uk-margin-large-bottom
        |social media
      h2.uk-h5
        |full width
      hr
      +sws_social_media(0)
      h2.uk-h5
        |width 100%
      hr
      div#socialMediaColumnsControl100
        div.sws-grid
          div.sws-container-width-100#socialMediaColumn100
            +sws_social_media(1)
      h2.uk-h5
        |width 66%
      hr
      div#socialMediaColumnsControl33-66
        div.sws-grid
          div.sws-container-width-33
            +sws_image_only_ii
          div.sws-container-width-66#socialMediaColumn66
            +sws_social_media(2)
      h2.uk-h5
        |width 33%
      hr
      div#socialMediaColumnsControl33-33-33
        div.sws-grid
          div.sws-container-width-33
            +sws_image_only_ii
          div.sws-container-width-33
            +sws_image_only_ii  
          div.sws-container-width-33#socialMediaColumn33
            +sws_social_media(3)
     


  +sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
  +global_footer



  include ../assets/pug/_scripts.pug

  </body>
