//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Template"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

+sws_template_header('main')

main.gef-main.sws-homepage-main

  span#content(tabindex="-1")
  div.uk-container.uk-container-center
    div.sws-grid
      div.sws-container-width-66
        div.latestnews#sws-latest-news-66
          +sws_news_latest_header          
          //News component*****Start*******
          div.sws-container-inner.sws-latest-news-desktop-container
              +sws_latest_news(0,1,0)(class="sws-news-component-first")
              +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
              +sws_latest_news(0,0,2)(class="sws-news-component-stack")
          div.sws-latest-news-mobile-container
              +sws_latest_news(0,1,0)(class="sws-news-component-first")
              +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
              +sws_latest_news(0,1,0)(class="sws-news-component-first")
          div.sws-container-inner.sws-latest-news-tablet-container
              +sws_latest_news(0,1,0)(class="sws-news-component-first")
              +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
              +sws_latest_news(0,1,0)(class="sws-news-component-first")
              +sws_latest_news(0,1,0)(class="sws-news-component-first")                 
          //News component*****finish*******
      div.sws-container-width-33
        div.latest-album#sws-latest-album-33
          +sws_albums_gallery_header
          //Album component*****Start*******
          div.sws-container-inner
            div.uk-grid.uk-grid-collapse.uk-width-medium-1-1.sws-albums-gallery__overall-padding.sws-component-self-contain
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__first")
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__second")
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
              +sws_albums_gallery_list(1)(class="sws-component-self-contain__childs")
          //Album component*****finish*******

    +sws_events(7,1)
  div.force-margin-bottom-empty


  +sws_local_desktop_quicklinks()

+sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram, Vimeo", true)
+global_footer




include ../assets/pug/_scripts.pug

</body>
