//--- INCLUDES
//---------------------------------------------------------

include ../assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Results"
- var basePath = "../"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 landing">
  <!--<![endif]-->
+sws_template_header

span#content(tabindex="-1")
main.gef-main
  -var imgSrc= "//placehold.it/130x150/"
  +page-header
  div.uk-container.uk-container-center
    - var SearchBoxValue = "P & C information evening"
    +search_box(SearchBoxValue)
    div.search-results__hr
      hr.templateshow(aria-hidden="true")
    +search_result_summary()
    +sws_search_blocks(1,1,imgSrc)
    +sws_search_blocks(1,0)
    +sws_search_blocks(2,1,imgSrc)
    +sws_search_blocks(4,0)
    +sws_search_blocks(1,1,imgSrc)
    +sws_search_blocks(1,0)

    +search_pagination
    +gef_back_to_top



+sws_template_footer
  include ../assets/pug/_scripts.pug

  </body>
