//--- *************** ---//
//--- ALBUM DETAIL IMAGE CONTAINER ---//
//--- *************** ---//

- var name = "Album detail image container"
//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p Display the album details gallery component

mixin usage
  pre
    code.language-pug
      
mixin output
  +sws_news_latest_partial(num, numImg, numHead)

//--- VARIABLES ---//
//---------------------------------------------------------
- var imagesArr = [{large:"600x900", thumb:"140x225"}, {large:"900x600", thumb:"225x140"}, {large:"601x901", thumb:"141x226"}, {large:"901x601", thumb:"226x141"}, {large:"602x902", thumb:"142x227"}, {large:"902x602", thumb:"226x144"}, {large:"603x903", thumb:"144x230"}, {large:"903x603", thumb:"227x142"}]

//--- MIXIN ---//
//---------------------------------------------------------
mixin sws_album_image(v)
  - var large = "../assets/images/gallery/" + imagesArr[v].large + ".png"
  - var thumb = "http://placehold.it/" + imagesArr[v].thumb

  a(href=large data-caption="capiton for"+large data-fancybox="gallery").sws-album-details__thumbnail.sws-lightbox
    img(src=thumb alt="this is the thumbnail for image")

mixin album-view-more
  #album-view-more
    button.album-view-more.sws-view-more(type="button")
      h2 More images

mixin sws_album_container()
  #sws-album-details.sws-album-details__wrapper
    .sws-album-details__container
