//--- *************** ---//
//--- Global Header links ---//
//--- *************** ---//

//- A footer pattern with partner logo

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_global_link
mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin sws_global_link()

    div.sws-global-links
        button.sws-global-link-button(id='logindropdownbtn',type='button', data-toggle='dropdown', aria-expanded='false',aria-label="Login Menu")
            span.global-link-button-txt(aria-hidden='false')|Log in
            span.sws-link-icon.uk-visible-small(aria-hidden='true')
        ul.sws-global-links-dropdown
             li
                a(href="#" title="")|Staff portal
             li
                a(href="#" title="")|Student portal
             li
                a(href="#" title="")|Edit site                              
