mixin page-header
  .sws-content-header
    .uk-container.uk-container-center
      +gef_breadcrumbs(7, true)
      span#content(tabindex="-1")
      h1: +lipsum(4, "words")

mixin layout-content-header
  .sws-content-header__menu-wrapper
    +page-header

mixin layout-content-header_nomenu
  .sws-content-header__menu-wrapper
    +page-header

mixin sws_call_out_box
  // Start of call out component
  .gef-call-out-box
    section.sws-callout-box
      p: +lipsum(3, "sentences")
      p: a(href="https://dec-ce.bitbucket.io/gef-sws-theme/test/content-template.html")
        +lipsum(1, "sentences")
      p: a(href="http://www.google.com")
        +lipsum(1, "sentences")
  // End of call out component

mixin sws_image_no_caption
  // Start of image component
  h2 This is a h2
  img(src="http://placehold.it/400x400" alt="Placeholder" title="Placeholder image")
  // End of image component

mixin sws_image_only
  // Start of image only component
  img(src="http://placehold.it/400x400" alt="Placeholder" title="Placeholder image")
  // End of image only component

mixin sws_image_only_ii
  // Start of image component
  figure.gef-image-with-caption.sws-remove-external-link
    img(src="http://placehold.it/400x400" alt="Placeholder" title="Placeholder image")
  // End of image component

mixin sws_image_with_caption
  // Start of image component
  h2 This is a h2
  figure.gef-image-with-caption.sws-remove-external-link
    +Image
    figcaption
      span.show-on-sr Image:
      +lipsum(2, "sentences")
  // End of image component

mixin sws_image_large
  // Start of image large component
  h2 This is a h2
  figure.gef-image-with-caption.sws-remove-external-link
    img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
    figcaption
      span.show-on-sr Image:
      +lipsum(2, "sentences")
  // End of image large component


mixin sws_image_small
  // Start of image small component
  h2 This is a h2
  figure.gef-image-with-caption.sws-remove-external-link
    img(src="http://placehold.it/400x400" alt="Placeholder" title="Placeholder image")
    figcaption
      span.show-on-sr Image:
      +lipsum(2, "sentences")
  // End of image small component

mixin sws_iframe_video
  // Start of iframe video component
  div.video
    div.sws-remove-external-link.sws-iframe.sws-iframe-video
      iframe(src="https://www.youtube.com/embed/ZoNfszh7NxU" style="width:100%; height:500px;" title="Placeholder video" allowfullscreen)
  // End of iframe video component

mixin sws_iframe_map
  // Start of iframe map component
  div.maps
    div.sws-remove-external-link.sws-iframe.sws-iframe-map
      iframe(src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAuf6h1hiXPt-lQpSZPEgij_eY8bs8cq5M&q=105%20Phillip%20Street,%20Parramatta%20NSW" style="width:100%; height:400px;" title="Placeholder map")
  // End of iframe map component

mixin sws_iframe_script_calendar
  // Start of iframe calendar component
  div.script
    div.sws-remove-external-link.sws-iframe.sws-iframe-script
      iframe(src="https://www.google.com/calendar/embed?title=&showDate=0&showPrint=0&showTabs=0&showTz=0&mode=AGENDA&height=734&wkst=1&bgcolor=%23ffffff&src=tweedriverhs%40gmail.com&color=%2329527A&src=pbj7eqb43a5u4tbb5p24rsnqrk%40group.calendar.google.com&color=%2323724d&ctz=Australia%2FSydney" style="width:100%; height:650px;" title="Placeholder calendar")
  // End of iframe calendar component

mixin sws_iframe_script
  // Start of iframe script component
  div.script
    div.sws-remove-external-link.sws-iframe.sws-iframe-script
      iframe(src="https://drive.google.com/embeddedfolderview?id=1RXY2pxqVnvlWhopzhQu0IEAW02aSwQat#list" style="width:100%; height:200px;" title="Placeholder script")      
  // End of iframe script component
    
mixin sws_iframe_script_error
  // Start of iframe script error component
  div.script
    div.sws-remove-external-link.sws-iframe.sws-iframe-script
      div.sws-iframe-script-error
        p
          | The iframe you have tried to embed is currently not from an authorised domain.
        p.sws-iframe-script-url
          | https://drive.googles.com/embeddedfolderview?id=1RXY2pxqVnvlWhopzhQu0IEAW02aSwQat#grid
        p
          | To discuss the options around adding your content please contact the support team at 
          a(href="mailto:swssupport@detcorpcomms.zendesk.com") swssupport@detcorpcomms.zendesk.com
          | .
  // End of iframe script error component
      
mixin sws_freeform_script
  // Start of freeform script component
  div.script
    div.sws-remove-external-link.sws-iframe.sws-iframe-script
      div.sws-enrolment-form
        p#enrol
          a#enrolAnchor(href="https://www.google.com") Please enroll here online
  // End of freeform script component
          
mixin sws_meta_data_update
  .sws-page_metadata
    p
      strong Last reviewed:
      br
      |  20 September 2015

    p
      strong Last updated:
      br
      |  18 September 2014

mixin sws-download_link
  // Start of Download CTA component
  article.sws-download-link
    i.uk-icon-paperclip(aria-hidden="true")
    a(href="#") issue-8-week8-newsletter
      span.sws-download-link__file-size
        | #{' '}(200kb)
  // End of Download CTA component

mixin sws-download_link__content-page
  h2 download link
  br
  +sws-download_link
  br
  br

mixin sws-content-typography
  // Start of H1 to Lead Paragraph component
  p.sws-lead-paragraph
    +lipsum(3, "sentences")
  // End of H1 to Lead Paragraph component
  // anchor box tag
  div.lead.sws-lead
  // Start of H2 to H4 components

  h2.sws-content__h2
    +lipsum(4, "words")
    | - h2
  p: +lipsum(3, "sentences")

  h3.sws-content__h3
    +lipsum(8, "words")
    | - h3
  p: +lipsum(3, "sentences")

  h4.sws-content__h4
    +lipsum(8, "words")
    | - h4
  p: +lipsum(3, "sentences")
  // End of H1 to H4 components

mixin sws-content-external-link
  p: a(href="http://www.google.com")
    | External Link - google.com
  p: a(href="https://sites.google.com/education.nsw.gov.au/ghswellbeing/home")
    | External Link - education.nsw.gov.au
  p: a(href="http://localhost:3000/whitelabel/content-template.html?theme=theme1")
    | Internal Link - localhost

mixin sws-divider
  h2 divider
  // Start of Divider component
  hr
  // End of Divider component

mixin sws-content-table
  // Start of Table component
  h2 table
  table
    thead
      tr
        th
          +lipsum(2, "words")
        th
          +lipsum(1, "words")
        th
          +lipsum(1, "words")
        th
          +lipsum(1, "words")
    tbody
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
      tr
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
        td
          +lipsum(1, "words")
  // End of Table component

mixin sws-heading-paragraph
  h2 A heading for anchor box display purposes
  p: +lipsum(3, "sentences")

mixin sws-blockquote
  h2 blockquote
  // Start of Blockquote component
  #sws-blockquote
    blockquote.sws-blockquote
      i
      +lipsum(3, "sentences")
  // End of Blockquote component

mixin sws-bullets
  // Start of ul component
  //- 1st level
  ul
    li
      +lipsum(1, "sentences")
    li
      +lipsum(2, "sentences")
      //- 2nd level
      ul
        li
          +lipsum(1, "sentences")
        li
          +lipsum(2, "sentences")
          //- 3rd level
          ul
            li
              +lipsum(1, "sentences")
            li
              +lipsum(2, "sentences")
            li
              +lipsum(3, "sentences")
              //- 4th level
              ul
                li
                  +lipsum(1, "sentences")
                li
                  +lipsum(2, "sentences")
                li
                  +lipsum(3, "sentences")
                  //- 5th level
                  ul
                    li
                      +lipsum(1, "sentences")
                    li
                      +lipsum(2, "sentences")
                    li
                      +lipsum(3, "sentences")
                      //- 6th level
                      ul
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(2, "sentences")
    li
      +lipsum(1, "sentences")
    li
      +lipsum(2, "sentences")
  // End of ul component

  br
  // Start of ol component
  //- 1st level
  ol
    li
      +lipsum(1, "sentences")
      //- 2nd level
      ol
        li
          +lipsum(1, "sentences")
        li
          +lipsum(1, "sentences")
          //- 3rd level
          ol
            li
              +lipsum(1, "sentences")
            li
              +lipsum(1, "sentences")
              //- 4th level
              ol
                li
                  +lipsum(1, "sentences")
                li
                  +lipsum(1, "sentences")
                  //- 5th level
                  ol
                    li
                      +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
                      //- 6th level
                      ol
                        li
                          +lipsum(1, "sentences")
                        li
                          +lipsum(1, "sentences")
    li
      +lipsum(1, "sentences")
      ol
        li
          +lipsum(1, "sentences")
        li
          +lipsum(1, "sentences")
  // End of ol component

mixin sws-two-images
  p: i Large image size
  +sws_image_large
  p: i Small image size
  +sws_image_small
  +sws_iframe_video
  +sws_iframe_map
  +sws_iframe_script_calendar

mixin two-column-layout
  br
  h2 2 column layout 50-50
  hr
  .uk-grid
    .uk-width-medium-1-2
      p.sws-lead-paragraph
        +lipsum(3, "sentences")
      .lead.sws-lead

      h2.sws-content__h2
        +lipsum(4, "words")
        | - h2
      p: +lipsum(3, "sentences")

      h3.sws-content__h3
        +lipsum(8, "words")
        | - h3
      p: +lipsum(3, "sentences")

      h4.sws-content__h4
        +lipsum(8, "words")
        | - h4
      p: +lipsum(3, "sentences")
    .uk-width-medium-1-2
      +sws_image_large

  br
  h2 2 column layout 33-66
  hr
  .uk-grid
    .uk-width-medium-1-3
      +sws_image_only_ii
      +sws_iframe_video
      +sws_iframe_map

    .uk-width-medium-2-3
      +sws_iframe_video
      +sws_image_only_ii
      +sws_iframe_script_calendar

  br
  hr

mixin layout-content
  //RTE component starts from HERE, only change classes/Ids below this for successful RTE styling
  // The below class is a required wrapper for ANY WYSIWYG/ rich text editor in order to get the correct styles
  .gef-main-content.sws-content(data-gef-anchor-box)#sws-content

    +sws-content-typography

    br

    +sws-content-external-link

    br
    br

    +sws-divider

    +sws-download_link__content-page

    +sws-content-table

    +sws-heading-paragraph

    +sws-blockquote

    +gef_show_hide(false, 3)

    +sws-heading-paragraph

    +sws-bullets

    +sws_call_out_box

    +sws-heading-paragraph

    // Start of tabs component
    +gef_tabs(4)
    // End of tabs component

    +sws-two-images

    +two-column-layout

    +sws-text-image-wrap

    +sws_meta_data_update

mixin layout-content-with-ids
  // The below class is a required wrapper for ANY WYSIWYG/ rich text editor in order to get the correct styles
  .gef-main-content.sws-content(data-gef-anchor-box)#sws-content

    #sws-content-typography
      +sws-content-typography

    br

    #sws-content-external-link
      +sws-content-external-link

    br
    br
    #sws-divider
      +sws-divider

    #sws-download_link
      +sws-download_link__content-page

    #sws-content-table
      +sws-content-table

    #sws-heading-paragraph
      +sws-heading-paragraph

    #sws-blockquote
      +sws-blockquote

    #gef_show_hide
      +gef_show_hide(false, 3)

    #sws-heading-paragraph
      +sws-heading-paragraph

    #sws-bullets
      +sws-bullets

    #sws_call_out_box
      +sws_call_out_box

    #sws-heading-paragraph
      +sws-heading-paragraph

    #gef_tabs
      // Start of tabs component
      +gef_tabs(4)
      // End of tabs component

    #sws-two-images
      +sws-two-images

    #two-column-layout
      +two-column-layout

    #sws_meta_data_update
      +sws_meta_data_update

mixin sws-text-image-wrap
  // Start---text and image wrapped component
  .sws-text-image-wrapper
    h2.sws-content__h2
      +lipsum(8, "words")
      |-h2
    //Use class "sws-text-image-wrapper--inner__left" is image needed on left
    .sws-text-image-wrapper--inner__left
      +sws_image_only
      p: +lipsum(30, "sentences")
      p: +lipsum(5, "sentences")
      p: +lipsum(5, "sentences")
    //Use class "sws-text-image-wrapper--inner__right" is image needed on right
    .sws-text-image-wrapper--inner__right
      +sws_image_only
      p: +lipsum(30, "sentences")
      p: +lipsum(5, "sentences")
      p: +lipsum(5, "sentences")
  //Finished---text and image wrapped component
  //*******************************************
