//--- *************** ---//
//--- SIDEBAR COMPONENTS ---//
//--- *************** ---//

- var name = "Sidebar"
//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    |Different Sidebar components to be used on detail pages

mixin usage
  h4 Using pug:
  pre
    code.language-pug

//--- MIXIN ---//
//---------------------------------------------------------
mixin category_sidebar
  //--Category Side bar based upon gef
  //--will be a block on Tab and Desktop
  //--will be a drop down list on mobile
  //--will have background when block based upon "$sws-light-accent"
  div.component-sidebar#categorySidebar
   div.category-sidebar
          nav.category-sidebar__desktop
            h2.uk-h3.uk-margin-bottom.black
              |Categories
            ul.gef-category-list
              //Each List item should be in a pair as an "a"tag inside "li" tag
              // e.g <li><a href="#">title</a></li>
              //link title to be injected
              //link destination in href need to be fed, e.g href="google.com"
              li
                a(href="#")
                  |Duis
              li
                a(href="#")
                  |Duis
              li
                a(href="#")
                  |Duis
              li
                a(href="#")
                  |Duis

          form(id="frm01" action="" method="GET")
              div.gef-form.gef-form--inline.uk-width-large-8-10.uk-margin-remove.uk-hidden-medium
                fieldset.category-sidebar__caret
                  legend.show-on-sr Category Select
                  //please inject the same list as above
                  //this will be visible in mobile only
                  //this will be a drop down with all the list items from above
                  +gef_select("categories",4, 1, 1)

                  input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")

mixin themed-sidebar
  //--empty sidebar with theme background color
  //--will have background from "$sws-component-theme-bg"
  div
    div.component-sidebar#themedSidebar
      div.themed-sidebar
        //--demo Data
        nav
          h2.uk-h3.uk-margin-bottom.black
            |Demo Title
          ul.gef-category-list
                  li
                    a(href="#")
                      |Duis
                    |27 Jun 2017
                  li
                    a(href="#")
                      |Duis
                    |27 Jun 2017
                  li
                    a(href="#")
                      |Duis
                    |27 Jun 2017
                  li
                    a(href="#")
                      |Duis
                    |27 Jun 2017

mixin archive_sidebar
  //--Category Side bar based upon gef
  //--will be a block on Tab and Desktop
  //--will be a drop down list on mobile
  //--will have background when block based upon "$sws-light-accent"
  - var currentYear = 2017
  - var x = 0
  div.component-sidebar.archive-sidebar#archiveSidebar
    aside.category-sidebar
      nav.uk-hidden-small
        h2.uk-h3.uk-margin-bottom.black
          | Archive
        ul.gef-category-list
          //Each List item should be in a pair as an "a"tag inside "li" tag
          // e.g <li><a href="#">title</a></li>
          //link title to be injected
          //link destination in href need to be fed, e.g href="google.com"
          while x < 9
            li
              a(href="#")
                = currentYear
            - x++
            - currentYear--

mixin archive_sidebar_mobile
  .component-sidebar.archive-sidebar#archiveSidebar
    .category-sidebar.category-sidebar__mobile
      form(id="frm01" action="" method="GET")
        .gef-form.gef-form--inline.uk-margin-remove
          fieldset
            .archive-sidebar__caret(aria-hidden="true")
            +sws_archive_select(4, true)
            input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")

mixin events-detail_sidebar
  //--Category Side bar based upon gef
  div.component-sidebar#categorySidebar
    div.category-sidebar.category-sidebar--events_detail.sws-content
      nav
        h3.sws-content__h3
          |Date
        p.uk-margin-large-bottom.uk-margin-top-remove
          i.uk-icon-calendar.uk-margin-small-right(aria-hidden="true")
          //Insert date
          |1 May 2017
        h3.uk-margin-large-top.sws-content__h3
          |Time
        p.uk-margin-large-bottom.uk-margin-top-remove
          i.uk-icon-clock-o.uk-margin-small-right(aria-hidden="true")
          //Insert Time
          |9.30 am - :300 pm
        h3.uk-margin-large-top.sws-content__h3
          |Attachment
        p.uk-margin-large-bottom.uk-margin-top-remove.category-sidebar--events_detail__attachments
          //Insert attachments if any
          //for every attachement there shall be "a" tag with nested "i" tag exactly as showcased
          a(href="#")
            i.uk-icon-paperclip.uk-margin-small-right
            |Permission form (PDF 98KB)
          a(href="#")
            i.uk-icon-paperclip.uk-margin-small-right
            |Booking form (PDF 98KB)
          a(href="#")
            i.uk-icon-paperclip.uk-margin-small-right
            |Information sheet (PDF 98KB)
        h3.uk-margin-large-top.sws-content__h3
          |Link
        p.uk-margin-large-bottom.uk-margin-top-remove.category-sidebar--events_detail__links
          a(href="https://education.nsw.gov.au")
            |new external link 
          a(href="#")
            |new local link
        h3.uk-margin-large-top.sws-content__h3
          |Location
          
        p.uk-margin-large-bottom.uk-margin-top-remove.category-sidebar--events_detail__attachments
          i.uk-icon-map-marker.uk-margin-small-right(aria-hidden="true")
          |Bonnievale campground, Royal National Park, NSW

mixin sws_archive_option(num)
  option(value=num)
    +lipsum(2, "words")

mixin sws_archive_select(items, mobileOnly)
  - var num = 0
  - var year = 2017

  select(id="sws-select-year" name="year" class="uk-hidden-large" data-gef-auto-submit)
    option(selected disabled) all time
    while num < items
      option(value=year)
        =year
      - year--
      - num++
