
//--- *************** ---//
//---In Page Components ---//
//--- *************** ---//

//- A container that Provides components neccessary to build detail pages

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | +sws-advance-search("title")
  | +sws-view-more("title")
  | +index-page-banner

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin sws-advance-search(title)
  //Advance search layout
  .sws-advance-search.uk-grid.uk-grid-collapse(class=attributes.class)
    .uk-width-medium-1-1.sws-advance-search__block
      //color of the border will change in accordance to the theme color
      label.sws-advance-search__text-first(for="news-for")
        |Show me
      .sws-advance-search__select-wrapper
        select.sws-advance-search__select(aria-label='Show me '+title+' for')#news-for
          //add option for each school class, e.g. Year 1, Year 2
          option
            |all
          option
            |Year 1
          option
            |Year 2

      label.sws-advance-search__text(for="news-from")
        //put title here
        |#{title}
        if title == 'events'
          |
        else
          |  from

      .sws-advance-search__select-wrapper
        select.sws-advance-search__select(aria-label='Show me '+title+' from')#news-from

          if title == 'events'
            //option for each time frame in regards to search criteria
            option
              |from the past
            option
              |in the next 7 days
            option(selected)
              |in the next 30 days
            option
              |in the next 90 days
            option
              |in the future
          else
            //option for each time frame in regards to search criteria
            option
              |this week
            option
              |all time
            option
              |the past 7 days
            option(selected)
              |the past 30 days
            option
              |the past 90 days
            option
              |2017
            option
              |2016

      button.sws-advance-search__button
        |Go

    .uk-width-medium-1-1
      hr
    p.gef-search-results__info
            | Showing
            strong
              |  28
            |  #{title} from
            strong
              |  10/05/2017 - 18/05/2017

    //------------------ When deleting comment down the line, please make sure the indententation is correct
//--div.uk-width-medium-1-4.sws-advance-search__block
      div.sws-advance-search__options.sws-advance-search__select(type="button")
        //--To change icon please refer css pseudon class ":before"
        span
          |advance search
    //---------------------------------------------------

mixin index-page-banner(num)
  div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-index-banner(class=attributes.class)
      if num == 1
        //Featured News Version 1 *****START
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-index-banner__container(data-pseudo-link="data-pseudo-link")
          div.uk-width-medium-1-3.sws-index-banner__txt
            +sws_latest_news(1,0,0,true)(class="sws-index-banner__txt-inner")
          div.uk-width-medium-2-3.sws-index-banner__img
            +sws_image_only
        //Featured News Version 1 *****FINISH
      if num == 2
        //Featured News Version 2 *****START
        //Similar to full width Latest News Template
        div.sws-container-width-100#newsIndex100
            //News component*****Start*******
            div.sws-container-inner
                +sws_latest_news(0,1,0,true)(class="sws-news-component-first")
                +sws_latest_news(0,1,0)(class="sws-news-component-first")
                +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
            //News component*****finish*******
        //Featured News Version 1 *****FINISH
      if num == 3
        //Featured News Version 3 *****START
        //Similar to full width Latest News Template, but one class change
        //Change "sws-container-width-100#newsIndex100" to "sws-container-width-index50#newsIndex50"
        div.sws-container-width-index50#newsIndex50
            //News component*****Start*******
            div.sws-container-inner
                +sws_latest_news(0,1,0,true)(class="sws-news-component-first")
                +sws_latest_news(0,1,0)(class="sws-news-component-first")
            //News component*****finish*******
        //Featured News Version 1 *****FINISH
      if num == 4
        //Featured News Version 1 *****START
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-index-banner__container
          div.uk-width-medium-1-3.sws-index-banner__txt
            +sws_latest_news(1,0,0,true)(class="sws-index-banner__txt-inner")
          //Remove the img tag from inside the div, if no image in the post
          //class "sws-index-banner__img-none" required to be added if no image inside the div
          div.uk-width-medium-2-3.sws-index-banner__img.sws-index-banner__img-none

        //Featured News Version 1 *****FINISH
      if  num == 5
        //banner with imge EVENTS Detail Page ver 1******START
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-index-banner__container.sws-events-detail-header__container
          div.uk-width-small-2-3.sws-events-detail-header__container__img
            +sws_image_only
          div.uk-width-small-1-3.sws-events-detail-header__container__txt
            |Demo 1 Title Description
            br
            div.sws-events-detail-header__container__txt__calplus
              i.uk-icon-calendar-plus-o.uk-margin-small-right(aria-hidden="true")
              a(href="#")
                  |Remind me
        //banner with image *******FINISH

      if  num == 6
        //banner with imge EVENTS Detail Page ver 2******START
        //add a class ("sws-index-banner__no-img") beside the "sws-events-detail-header__container"
        //remove the whole div with class ".sws-index-banner__no-img"
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-index-banner__container.sws-events-detail-header__container.sws-index-banner__no-img
          div.uk-width-medium-1-3.sws-events-detail-header__container__txt
            |Demo 1 Title Description
        //banner with image *******FINISH

      if  num == 7
        //banner with image ALBUM Details Page ver 1 ******START
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-index-banner__container.sws-album-details__index-banner.sws-events-detail__container
          div.uk-width-medium-2-3.sws-index-banner__txt
            +sws_album_details_text(class="sws-index-banner__txt-inner")
          div.uk-width-medium-1-3.sws-index-banner__img
            +sws_image_only

//--Mixin for multi campus mobile contact cards
mixin sws_local_footer_contact_multi_mobile(num,sec)

  - var id = "contact-card-"+sec
  if sec == 0
   - var open = "true";
  else
   - var open = "false";
    
  h3.uk-accordion-title(id=id aria-controls="ac-" + id aria-expanded=open role="tab" tabindex="0")
    span
      |Campus-#{sec}
      i
      i.vertical(aria-hidden="true")
  .uk-accordion-content
    +sws_local_footer_contact(1)
    div.local-footer-mobile-elements.uk-visible-small
      div
        a.sws-call-button.uk-button(href="tel:AEM to use local footer phone variable here")
          | Call
        a.sws-call-button.uk-button.sws-repeat-button(href="#")
          | Get directions 
        a.sws-mail-button.uk-button(href="mailto:AEM to use local footer email variable here")
          | Mail
//Mixin for Multi campus Mobile
mixin gef_show_hide_multicampus_mobile(collapse, max)
  div.gef-show-hide.uk-accordion.footer-multi__campus__openable(data-uk-accordion="{collapse:" + collapse + ", showfirst:true}" role="tablist")
    - var num = 0
    while num < max
      +sws_local_footer_contact_multi_mobile(1,num)
      - num++
