

mixin news-article-content
  div.news-article.sws-content.gef-main-content#newsArticle
    div.sws-news-article-content
      p
        //Please insert the date
        |09 Jun 2017

      p.sws-lead-paragraph
        |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.


      +sws_image_no_caption




      h3.sws-content__h3
        |Lorem Ipsum is simply dummy text of the printing and typesetting industry - h3
      div.sws-remove-external-link-anchor-tags  
        p
          |It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

        p
          |It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

      h4.sws-content__h4
        |Lorem Ipsum is simply dummy text of the printing and typesetting industry - h4
      ul
        li
          a(href="http://google.com")
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry
        li
          a(href="#")
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry
        li
          a(href="#")
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry
        li
          a(href="#")
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry
      //- Start of Blockquote component
      div#sws-blockquote
        blockquote.sws-blockquote
          i
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

      //- End of Blockquote component

      h3.sws-content__h3
        |Lorem Ipsum is simply dummy text of the printing and typesetting industry - h3

      div.uk-grid.uk-grid-medium.uk-margin-top
        div.uk-width-medium-1-2.news-article__inline-images
          +sws_image_no_caption
        div.uk-width-medium-1-2.news-article__inline-images
          +sws_image_no_caption
      p
        |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
      p
        |If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
      p
        |It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
  hr.news-article--hr
    
mixin page-header--news-article
  .sws-content-header
    .uk-container.uk-container-center
      +gef_breadcrumbs(7, true)
      span#content(tabindex="-1")
      .from_department--news_article
        +from_the_department_box
      .news-article-fixer
      h1: +lipsum(4, "words")
