//- View more button
//- Currently used on the following templates:
//-   - Newsletter
//-   - News index component
//-   - Album detail template
//-   - Album component
//-   - Events landing page*/

mixin sws-view-more(title)
  button.sws-view-more(type="button")
    h2
      | More #{title}
