//--- *************** ---//
//--- Footer Contact links ---//
//--- *************** ---//

//- A footer pattern with partner logo

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_footer_contact

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin sws_local_footer_contact(num)

  - var n = 0

  while n < num
   li.local-footer-contact
    if num > 1
      h3.uk-accordion-title
        |Campus-#{n}
    p.uk-width-1-2.local-footer-add
      span.local-footer-add-new(aria-hidden="true")
      span.show-on-sr
        |address
      |Forbes St, Liverpool  NSW 2170
    p.local-footer-phone
      span.local-footer-phone-new(aria-hidden="true")
      span.show-on-sr
        |telephone
      |12345678
    p.local-footer-email
      span.local-footer-email-new(aria-hidden="true")
      span.show-on-sr
        |email
      a(href="mailto:xxxxxxxx@det.nsw.edu.au")
        |xxxxxxxx@det.nsw.edu.au
      -n++
    p.local-footer-directions.uk-hidden-small
      a(href="https://google.maps.com")|Get directions
