//--- *************** ---//
//--- Table of contents ---//
//--- *************** ---//

//- A container of a maximum of 8 internal page links.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of links to display.
  | //- @param {boolean} border - adds a faint border to top the top
  | +gef_toc(num, border)

mixin usage
  pre
    code.language-jade
      +documentation

//--- VARAIBLES ---//
//---------------------------------------------------------

- var megaMenuSubItems_1 = ['From the Principal']
- var megaMenuSubItems_2 = ['Student health and safety','School counselling service']
- var megaMenuSubItems_3 = ['Creative and performing arts','Ensure quality early childhood education','Human society and its environment']
- var megaMenuSubItems_4 = ['Transition toolkit','Parent engagement','Professional learning','Community events']
- var megaMenuSubItems_5 = ['Work more effectively','Ensure quality early childhood education', 'Innovate for the future', 'Enhance student wellbeing', 'Improve student outcomes']
- var megaMenuSubItems_6 = ['Work more effectively','Ensure quality early childhood education', 'Innovate for the future', 'Enhance student wellbeing', 'Improve student outcomes','Enhance student']
- var megaMenuSubItems_7 = ['Work more effectively','Ensure quality early childhood education', 'Innovate for the future', 'Enhance student wellbeing', 'Improve student outcomes','Enhance student','Naplan Skills']
- var megaMenuSubItems_8 = []

//--- MIXINS ---//
//---------------------------------------------------------
mixin toc_item(n)

    if n == 1
      - menuItemsArray = megaMenuSubItems_1
    else if n === 2
      - menuItemsArray = megaMenuSubItems_2
    else if n === 3
      - menuItemsArray = megaMenuSubItems_3
    else if n === 4
      - menuItemsArray = megaMenuSubItems_4
    else if n === 5
      - menuItemsArray = megaMenuSubItems_5
    else if n === 6
      - menuItemsArray = megaMenuSubItems_6  
    else if n === 7
      - menuItemsArray = megaMenuSubItems_7    
    else
      - menuItemsArray = megaMenuSubItems_8
      
    each item in menuItemsArray    
      li.sws-toc_item 
        a(href="#")
          span(class=sws-mega-nav-text)= item
      


//--- OUTPUT ---//
//---------------------------------------------------------
mixin sws_toc(num, border)


  - var amount = num

  - var counter = 0

  if border
    - var classes = "list-columns  top-border uk-width-1-1 uk-nav uk-nav-navbar"
  else
    - var classes = "gef-toc uk-width-1-1 uk-nav uk-nav-navbar"

  ul(class=classes)
    if num == 1
      - menuItemsArray = megaMenuSubItems_1
    else if num === 2
      - menuItemsArray = megaMenuSubItems_2
    else if num === 3
      - menuItemsArray = megaMenuSubItems_3
    else if num === 4
      - menuItemsArray = megaMenuSubItems_4
    else if num === 5
      - menuItemsArray = megaMenuSubItems_5
    else if num === 6
      - menuItemsArray = megaMenuSubItems_6  
    else if num === 7
      - menuItemsArray = megaMenuSubItems_7    
    else
      - menuItemsArray = megaMenuSubItems_8

    each item in menuItemsArray
        li.sws-toc_item 
          a(href="#")
           span(class="sws-mega-nav-text")= item