//--- *************** ---//
//--- ALBUM DETAIL BANNER TEXT ---//
//--- *************** ---//

- var name = "Album detail banner text"
//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p Display text for the album details banner component

mixin usage
  pre
    code.language-pug
      
mixin output
  +sws_news_latest_partial(num, numImg, numHead)

//--- MIXIN ---//
//---------------------------------------------------------

mixin sws_album_details_text

  .sws-latest-news-wrapper(class=attributes.class)
    
    .sws-latest-news(data-pseudo-link="data-pseudo-link")

      article.sws-latest-news__article
          
          //- removed as the h3 is replicated in the heading of the page
          //- h3.sws-latest-news__article__heading
          //-   |#{headline}
              
          p.sws-latest-news__article__date
            | 20 September 2017
            
          p.sws-latest-news__article__icons
            span
              // number of album images
              i.uk-icon-image(aria-hidden="true")
              span(aria-hidden="true")
                | 32
              // for screen readers only
              span.show-on-sr
                | 32 Images in this album
                
            span
              i.uk-icon-eye(aria-hidden="true")
              // number of album views
              span(aria-hidden="true")
                | 101
              // for screen readers only
              span.show-on-sr
                | 101 views of this album
          
          p.sws-latest-news__article__text
            |#{newsText}
