//--- *************** ---//
//--- LATEST NEWS ---//
//--- *************** ---//

- var name = "Latest News"
//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A mechanism to display a single news container made of different components based upon the params

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +sws_news_latest_partial(num, numImg, numHead)
      | num - if you need paragraph inside the article tag, include the date as well
      | numImg - if you need Image on top of the article tag attached
      | numHead - if you need heading of the news
mixin output
  +sws_news_latest_partial(num, numImg, numHead,department)

//--- MIXIN ---//
//---------------------------------------------------------
mixin sws_news_latest_header
  //Latest News Header*****Start*******
  div.sws-latest-news-header.sws-remove-external-link(class=attributes.class)
    h2
      |Latest news
      //color of the border will change in accordance to the theme color
    a.sws-latest-news-header__button.sws-remove-external-link(href="#")
          |Go to all news
    //Latest News Header*****Finish*******

mixin sws_news_latest_partial(num, numImg, numHead,department)

    div.sws-latest-news(data-pseudo-link="data-pseudo-link")

        if numImg > 0
          div.sws-latest-news__image-wrap
            img.sws-latest-news__image(src="//placehold.it/300x200" srcset="//placehold.it/300x200" alt="")

        article.sws-latest-news__article
          if department == true
              +from_the_department_box
          p.sws-latest-news__article__category
            |/News category

          if numHead > 0
            a(href="#" title=headline aria-label="Go to full article")
              h3.sws-latest-news__article__heading
                |#{headline}

          if num > 0
            p.sws-latest-news__article__date
              |20 May 2017
            p.sws-latest-news__article__text
              |#{newsText}

mixin from_the_department_box
  .from-the-department
    |From the department
