//--- *************** ---//
//--- SOCIAL MEDIA ---//
//--- *************** ---//

//- Social media icons

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | Social Media links. Options include Yammer Feed, Twitter, Facebook, YouTube, Instagram and Google Plus
  | +gef_social_media('Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus')

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin sws_social_links(type, escaped,caption)
  li
    a(href="https://www.xyz.com" title="Follow us on " + caption class="sws-social-media__link uk-icon-" + escaped)
        span.show-on-sr="" + caption
          

      

mixin social_include(channels, type, display)
  -var channel_match = String(channels).toLowerCase()
  -var media_type = type.replace(/\n/g, '-').toLowerCase()
  -var display_type = String(display)
  if channel_match.indexOf(media_type) > -1
      +sws_social_links(type, media_type,display_type)


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin sws_local_footer_social-media(channels)
  nav.sws-social-media
    h4.show-on-sr
      | Social media links
    ul.sws_social_links
      +social_include(channels, 'Twitter','Twitter')    
      +social_include(channels, 'Facebook-Square','Facebook')
      +social_include(channels, 'Instagram','Instagram')
      +social_include(channels, 'Vimeo','Vimeo')
      +social_include(channels, 'YouTube','YouTube')
    

