//--- *************** ---//
//--- LATEST ALBUM---//
//--- *************** ---//

- var name = "Latest Album Gallery"
//--75character data for testing
- var $gallery_data =  "It is a long established fact that a reader will be distracted by the read."

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A mechanism to display album gallery on homepage

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      |+sws_albums_gallery_header //--to incorporate header above the gallery
      //--for more padding to match the actual component wrapper padding, e.g full width container
      |+sws_albums_gallery_header(class="sws-albums-gallery__overall-padding")
      //------
      |+sws_album_gallery  //-- to view gallery


mixin output
  +sws_album-gallery
  +sws_albums_gallery_header

//--- MIXIN ---//
//---------------------------------------------------------
mixin sws_albums_gallery_header
  //Latest album Header*****Start*******
  div.sws-latest-news-header(class=attributes.class)
    h2
      |Image Gallery
      //color of the border will change in accordance to the theme color
    a.sws-latest-news-header__button(href="#")
        |Go to all image galleries
    //Latest album Header*****Finish*******

mixin sws_albums_gallery
    div.sws-albums-gallery-full-info
      //Full Info about the album
      //Please limit the injected data to 75char e.g.: $gallery_data
      p
              |#{$gallery_data}
      p
        |20 May 2017
      div.uk-grid.uk-grid-collapse.sws-albums-gallery-full-info__bottom
          div.uk-width-1-1.sws-albums-gallery-full-info__bottom__inner
            img(src="../assets/images/album_gallery_icon.svg" srcset="../assets/images/album_gallery_icon.svg" alt="")
            span
              |4
      div.sws-albums-gallery-full-info__inner-design
    //Album gallery default view
    div.sws-albums-gallery(data-pseudo-link="data-pseudo-link" role="none")
          img.sws-albums-gallery__image(src="//placehold.it/300x200" srcset="//placehold.it/300x200" alt="")

          div.sws-albums-gallery__album-info
            a(href="#")
              div.uk-grid.uk-grid-collapse
                div.uk-width-4-5
                  div.sws-albums-gallery__left-content
                    //Please inject the same data $gallery_data, but it will auto ellipse to 45 char
                    |#{$gallery_data}

                div.uk-width-1-5.sws-albums-gallery__right-content
                  img(src="../assets/images/album_gallery_icon.svg" srcset="../assets/images/album_gallery_icon.svg" alt="" aria-hidden="true" )
                  //please update the number of images into the span as well as aria-labelledby for accessibility
                  span(aria-hidden="true")
                    |4
                  //please update the number of images into the span as well as aria-labelledby for accessibility e.g here is 4
                  //this number should be always similar to above span
                  span.show-on-sr
                    |4 Images in this album
