//--- *************** ---//
//--- STATIC BANNER ---//
//--- *************** ---//

- var name = "Static Banner"
//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A mechanism to display Banner

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +sws_static_banner_partial()
mixin output
  +sws_static_banner_partial()

//--- MIXIN ---//
//---------------------------------------------------------
mixin sws_static_banner_partial(img,txt)
    div.sws-static-banner-component
      if (img)
        //Alt tag is optional, depending upon the author
        //If Alt not entered, leave blank
        img.sws-static-banner-component__image(src="//placehold.it/300x200" srcset="//placehold.it/300x200" alt="This is Banner" class=attributes.class)
      if (txt)
        //Please add a class after "sws-static-banner-component__text" in case Only Text and No Image
        //class to be added "sws-static-banner-component__textOnly"
        div.sws-static-banner-component__text(class=attributes.class)
          div.sws-static-banner-component__text_inner.sws-static-banner-component__textOnly_inner
            //header for the text
            h2
              |This is a Static Banner
            //Actual text goes here
            p
              |It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            div.sws-banner-inner_action.sws-banner-inner_action__visible
              a.sws-banner-inner_action__button(href="#")
               |Read More



