//--- *************** ---//
//--- Footer Contact links ---//
//--- *************** ---//

//- A footer pattern with partner logo

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_footer_contact

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin sws_google_translate

  div#google_translate_element.uk-hidden-small