.theme2 {
  //-----Mixin for image icon
  .imageIcon(@color:@sws-theme-icon-color){
    &:before {
      content: "\f03e";
      font-family: FontAwesome;
      color: @color;
      margin-right: 10px;
      font-size: 16px;
      vertical-align: middle;
    }
  }

  .sws-albums-gallery {
    &-wrapper__inner, &-full-info__bottom {
      background-color: @exposed_sws-primary-theme-color;
    }

    &-full-info {
      p:first-child {
        font-size: 1rem;
        text-align: left;
      }

      .sws-albums-gallery-full-info__bottom__inner, p{
        font-weight: normal !important;
        font-family: Nunito;
        font-size: 0.875rem;
      }
      .sws-albums-gallery-full-info__bottom__inner{
        .imageIcon(@sws-theme-link-font-color-light);
        img{
          display: none;
        }
        span{
          color: @sws-theme-link-font-color-light;
        }
      }

    }

    &__album-info {
      background: white;

      a{
        color: #000000;
        font-family: Nunito;
        font-size: 0.875rem;
      }

      img{
        display:none;
      }

      .sws-albums-gallery__right-content {
        padding-top: 5px;
        padding-bottom: 5px;
        .imageIcon();
      }

    }


    .sws-albums-gallery-wrapper__inner,
    .sws-albums-gallery-full-info__bottom,
    .sws-albums-gallery__album-info {
      background-color: @sws-secondary-theme-color;
    }

    .sws-albums-gallery__text,
    .sws-albums-gallery__left-content {
      color: @sws-tertiary-theme-color;
    }

    p.sws-albums-gallery__left-content {
      text-decoration: none;
    }

    .sws-albums-gallery__right-content span {
      color: @sws-tertiary-theme-color;
      font-weight: 400;
    }

    .sws-albums-gallery-full-info__inner-design {
      background-image: linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%);
      background-image: -webkit-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Safari 5.1 to 6.0 */
      background-image: -o-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Opera 11.1 to 12.0 */
      background-image: -moz-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Firefox 3.6 to 15 */
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-wrapper{
      .sws-albums-gallery-full-info{
        color: @sws-theme-link-font-color-light;
      }
    }


    .sws-album-details {
      .album-view-more {
        h2 {
          font-size: 1rem;
          line-height: 1.13;
        }
      }
    }
  }
  //Albums Pop up Image

  .fancybox-navigation{
    .fancybox-button--arrow_right{
      padding-right: 0;
      &:before{
        background: @sws-primary-theme-color;
        right: 0;
        color: @sws-theme-link-font-color-light;
        font-family: FontAwesome;
        content: "\f061";
        font-size: 17px;
        vertical-align: middle;
        line-height: 40px;
      }
      svg {
        display: none;
      }
    }
    .fancybox-button--arrow_left{
      padding-left: 0;
      &:before{
        background: @sws-primary-theme-color;
        left:0;
        color: @sws-theme-link-font-color-light;
        font-family: FontAwesome;
        content: "\f060";
        font-size: 17px;
        vertical-align: middle;
        line-height: 40px;
      }
      svg {
        display: none;
      }
    }
    .fancybox-button svg{
      max-width: 26px;
      margin: auto;
    }
  }
  .fancybox-close-small{
    background: @sws-primary-theme-color;
    &:after{
      color:@sws-theme-link-font-color-light;
    }
    &:hover:after {
      color:@sws-theme-link-font-color-light;
    }

  }
  .fancybox-container{
    .fancybox-bg{
      @media screen and (max-width:@sws-md) {
        background: @sws-primary-theme-color;
        opacity: 1;
      }
    }
    .fancybox-caption-wrap{
      font-family: @sws-secondary-font-family;
      background: @sws-theme-link-font-color-light;
      *{
        color:@sws-theme-hover-color;
      }
      .fancybox-caption{
        font-size: 1rem;
        font-family: inherit;
        padding: 10px 0 15px 0;
      }
      .sws-caption-inside-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        pointer-events: all;
        .sws-caption{
          &-share__link{
            width:88px;
            border-color: @sws-theme-hover-color;
            font-family: @sws-secondary-font-family;
            cursor: pointer;
            background: @sws-theme-link-font-color-light;
            font-weight: 600;
            &:before{
              content: "\e05b";
              font-family: "simple-line-icons";
              margin-right: 5px;
            }
          }
          &-back{
            align-self: flex-end;
            &__link{
            font-family: inherit;
            font-weight: 400;
            padding-left:19px;
            position: relative;
              &:before{
                //content: "\f190";
                content: "\e07a";
                font-family: "simple-line-icons";
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-weight: normal;
                margin-right: 5px;
                position:absolute;
                left:0;
                top:3px;
              }
            }
          }
        }
      }
    }
  }


}
