.theme2 {
  .text-font(@font:@sws-secondary-font-family){
    font-family: @font;
    color: @sws-theme-link-font-color-light;
  }
  .sws-static-banner-component__text_inner,.sws-static-banner-component__textOnly{
    background-color: @sws-primary-theme-color;
    .text-font();
    p{
      .text-font()
    }
    a{
      .text-font();
      border-radius: 0;
    }
    h2{
      .text-font();

    }
    .sws-banner-inner_action{
      .sws-banner-inner_action__button{
        color: @sws-theme-link-font-color-light;
        border: 1px solid @sws-theme-link-font-color-light !important;
      }
      .sws-banner-inner_action__button:hover{
        background: @sws-theme-link-font-color-light;
        color: @sws-theme-hover-color;
    }
  }
}

  .banner {
      border-top: 0px;
  }

  //----Media Queries
  @media (min-width: @sws-md){

    .sws-static-banner-component{
      text-align: right;
      background: none;
      &__image{
        width:70%;
      }
      &__text{
        text-align: left;
        left: 0;
        &_inner{
          width:40%;
        }
        h2{
          .text-font();
          font-size: @sws-h2-base-font;
        }
      }
      &__text.sws-static-banner-component__textOnly{
        text-align: center;
      }
    }
  }
  @media (min-width:@sws-lg){

    .sws-static-banner-component{
      &__text{
        text-align: left;
        right: 20%;
        left: 15%;
        &_inner{
          width:35%;
        }
      }
      &__text.sws-static-banner-component__textOnly{
        right:0;
        left:0;
      }
    }
    .sws-static-banner-component__textOnly .sws-static-banner-component__textOnly_inner {
      width: 50%;
    }
  }
  @media (max-width: @sws-md){
    .sws-static-banner-component{
      h2{
        .text-font();font-size: @sws-h2-base-font;
      }
    }
  }
}
