.theme2 {
  .contact-us-container-wrapper{
    @media screen and (max-width:@sws-md) {
      padding:0;
      .contact_us__map{
        padding:5px;
      }
    }
    .category-sidebar--contact-us{
      [class*="uk-icon-"]{
        font-family: "simple-line-icons";
        &:before{
          color:@sws-theme-icon-color;
        }
      }
      &__address{
        background:#eeeeee;
        i.uk-icon-thumb-tack:before{
          content: "\e031";
          font-size:0.875rem;
          color:@sws-theme-link-font-color-dark;
        }
      }
      &__inner__wrapper.uk-accordion-title.uk-active,  &__inner__wrapper.uk-accordion-title.uk-active:hover{
        border-left-color: transparent;
        i.uk-icon-plus{
          transform: rotateX(180deg);
        }
      }
      &__inner__wrapper.uk-accordion-title{
        i.uk-icon-plus:before{
          content: "\e604";
          color:@sws-theme-link-font-color-dark;
        }
      }
      &__inner__add__block.uk-accordion-content.uk-active{
        border-left-color: transparent;
        .uk-icon-phone:before{
          content: '\e600';
        }
        .uk-icon-fax:before{
          content: '\e02e';
        }
        .uk-icon-envelope:before{
          content:"\e086";
        }

      }
    }
  }
}
