
html, body {
  font: 400 16px / 1.5 @sws-secondary-font-family, Arial, sans-serif;
}
.theme2 {
  h1, h2, h3, h4, h5, h6, p, pre {
    font-family: @sws-secondary-font-family;
  }

  h1 {
    font-size: @sws-h1-base-font;
  }

  h2, .sws-content h2 {
    font-size: @sws-h2-base-font ;
  }

  h3 {
    font-size: @sws-h3-base-font;
    line-height: 1.23;
  }

  h4 {
    font-size: @sws-h4-base-font;
  }

  h5 {
    font-size: @sws-h5-base-font;
  }

  //local heading
  .local-header-heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: @sws-h1-base-font;
    }

    h2, .sws-content h2 {
      font-size: @sws-h2-base-font ;
    }

    h3, .sws-content h3 {
      font-size: @sws-h3-base-font;
    }

    h4, .sws-content h4 {
      font-size: @sws-h5-base-font;
    }

    h5, .sws-content h5 {
      font-size: @sws-h5-base-font;
    }
  }

  p {
    line-height: 1.38;
  }

  //blockquote
  .sws-content {
    .sws-blockquote i {
      &::before {
        font-family: @sws-secondary-font-family;
        color: @sws-primary-theme-color;
        font-weight: bold;
        left: -1.5rem;
      }
    }

    .gef-external-link  {
      &::before {
        color: @sws-primary-theme-color;
      }
    }
  }

  .from-the-department {
    position: relative;
    background-color: @sws-from-the-department-color;
    border: 1px solid @sws-tertiary-theme-color;
    color: @sws-tertiary-theme-color;
    border-radius: 5px;
  }

  .category-sidebar select {
  //  background-color: @sws-theme-link-font-color-light;
  //  border: 1px solid @sws-tertiary-theme-color !important;
  }

  //breadcrumbs
  .gef-breadcrumbs__dropdown div,
  .gef-breadcrumbs__dropdown:hover:after,
  .gef-breadcrumbs__dropdown.active-clicked:after,
  .gef-breadcrumbs__dropdown.active-hovered:after,
  .gef-breadcrumbs__dropdown.active-focused:after {
    background-color: @sws-from-the-department-color;
    color: #000000;

  }
  .gef-breadcrumbs__dropdown div{
    p a{
      color: #000000;
    }
    p:before{
      color: #000000;
    }

  }
}
