.theme2 {
  //mixin to change icons
  .icons-change(@cont){
    color: @sws-primary-theme-color;
    content:@cont;
  }
  //---header
  .sws-latest-events-header{
    h2{
      font-size: @sws-h2-base-font;
      font-family: @sws-secondary-font-family;
    }
    a{
      font-size: @sws-button-font-filter;
      font-family: @sws-secondary-font-family;
    }

  }
  .sws-single-event{
    font-family: @sws-secondary-font-family !important;
    margin-top: 0px !important;
    margin-bottom: 28px;
    a{
      font-family: @sws-secondary-font-family !important;
    }
    h3 a{
      font-size: @sws-h3-base-font;
      //font-weight: 700 !important;
    }
    &-square{
      border: 1px solid transparent;
      border-radius: 50%;
      overflow:hidden;
      margin-left: 40%;
      width: 80px ;
      height: auto;
      transform: scale(.8);
      display: table-cell;
      margin: auto;
      bottom: 8px;
      background: @sws-background-event-circle;
      &:after{
        border: 0;
      }
      &_inside:after{
        border:0;
      }
      p{
        margin: 0;
        margin-top: -5px !important;
        font-family: @sws-secondary-font-family;
        font-weight: bold;
      }
      &_inside{
        p.sws-event-day-date{
          margin-top:-5px !important;
          padding: 5px;
        }
        p.sws-event-month{
          margin-top:-10px !important;
          text-transform: capitalize;
        }
        p.sws-event-day{
          background:@sws-primary-theme-color;
          padding-top: 10px;
          color:@sws-theme-link-font-color-light;
        }
      }
    }
    .sws-event{
      &-date-period-new:before{
        color: @sws-theme-icon-color;
        content: "\e619";
        font-family: "simple-line-icons";
      }
      &s-heading-new:before{
        color: @sws-theme-icon-color;
        content: "\e018";
        font-family: "simple-line-icons";
      }
      &-location-new:before{
        color: @sws-theme-icon-color;
        content: "\e042";
        font-family: "simple-line-icons";
        /* New icon set for theme 2 to give it a unique look.*/
      }
    }
  }
  .sws-event-desc {
    padding-left: 22px;
    dl{
      margin: 0px ;
    }
  }
  .sws-events-heading--definition{
    margin-left: 0px;
  }
  .events-latest-category-sidebar{
    nav{
      padding: 20px 20px 1px 20px !important;
      width: 80%;

      @media(min-width:@sws-md){border-left: 1px solid @sws-quinary-theme-color;outline: none;}
      @media(max-width:@sws-md){
        padding: 0 !important;
      }
    }
  }
  .sws-event-more-icon:after{
    font-family: 'simple-line-icons';
    content: '\e606';
    font-size: 1.25rem;
    padding-right: 5px;
    display: none;
  }
  //---Media Query
  @media (max-width: @sws-md){
    .sws-events-full-width .sws-single-event{
      width:100% !important;
    }
    .sws-event-desc {
      padding-left: 12px;
    }
    .sws-single-event-square{
      width: 80px;
      height: 80px;
    }
    .events-article-wrapper{
      //margin-top: 20px;
      &__main{
        margin-top: 13px;
      }
      .event-latest-img{
        margin-top: 15px;
      }
    }

  }
  //Event Details Header --start
  .event-details-heading{
    float: none;
    h1{
      line-height: 1.11;
      font-weight: bold;
      padding: 1.875rem 2.5rem;
      @media screen and (max-width:@sws-md){
        margin-bottom: 0;
        padding: 1.25rem .75rem;
      }
    }
  }
  .event-latest-reminder{
    position: relative;
    right: 40px;
    float: right;
    top: -30px;
    a{
      font-family: @sws-secondary-font-family;
      font-weight: 300;
      line-height: 1.43;
      color: @sws-theme-link-font-color-light;
      font-size: 14px;
    }
    @media(max-width:@sws-md){
      background: @sws-primary-theme-color;
      padding: 0;
      width: ~'calc(100% + 24px)';
      height: 40px;
      top: 0;
      float: left;
      margin-left: -12px;
      margin-top: 3px;
      .sws-events-detail-header__container__txt__calplus{
        padding-top: 4px;
        padding-left: 12px;
      }
    }
  }
  //--This is for Page header with FTD tag
  .event-title-box {
    .event-details-heading{
      h1{
        padding: 1.875rem 2.5rem 2.5rem 2.5rem;
        @media screen and (max-width:@sws-md){
          padding: 1.25rem .75rem .75rem .75rem;
        }
      }
    }
    .from_department--events-header {
      @media screen and (min-width:@sws-md-a){
        position: relative;
        top: -35px;
        left: 40px;
        padding-bottom: 0;
      }
      @media screen and (max-width:@sws-md){
        background: @sws-primary-theme-color;
        width: ~'calc(100% + 32px)';
      }
      .from-the-department {
        margin: 0;
        @media screen and (max-width:@sws-md){
          margin-left: 20px;
        }
      }
    }
  }
  //Event Details Header --end
  //Event Landing component --start
  .from_department--events-landing {
    height: 35px;
  }
  .sws-event-stamp-wrapper .from_department--events-landing {
    position: absolute;
  }
  //Event Landing component --end
  .sws-event-wrapper-sidebar{
    .categorySidebar--event-detail-page{
      border: none !important;
      padding:0px !important;
      @media(max-width:767px){
        margin-top: 0;
      }
    }
  }

  //Themetizing icons start
  .uk-icon-calendar-plus-o:before{
    font-family: "simple-line-icons";
    font-size: @sws-button-font-filter;
    content: '\e095';
    color: @sws-theme-icon-color;
  }
  .uk-icon-calendar:before{
    font-family: "simple-line-icons";
    content: '\e619';
    color: @sws-theme-icon-color;
  }
  .uk-icon-clock-o:before{
    font-family: "simple-line-icons";
    content: '\e018';
    color: @sws-theme-icon-color;
  }
  .uk-icon-map-marker:before{
    font-family: "simple-line-icons";
    content: '\e042';
    color: @sws-theme-icon-color;
  }
  .uk-icon-paperclip:before{
    font-family: "simple-line-icons";
    content: '\e093';
    color: @sws-theme-icon-color;
  }
  //Themetizing icons ends
  .event-details-latest-share{
    border-radius: 0;
  }

  .sws-content-header .event-latest-reminder .uk-icon-calendar-plus-o::before {
    color: @sws-theme-link-font-color-light;
  }
  .sws-events-complete{
    margin-top: 30px;
  }
}
