.theme2 {
  .sws-event{
    &-date-period-new:before{
      color: @sws-theme-icon-color;
      content: "\e619";
      font-family: "simple-line-icons";
    }
    &s-heading-new:before{
      color: @sws-theme-icon-color;
      content: "\e018";
      font-family: "simple-line-icons";
    }
    &-location-new:before{
      color: @sws-theme-icon-color;
      content: "\e042";
      font-family: "simple-line-icons";
      /* New icon set for theme 2 to give it a unique look.*/
    }
  }
  .sws-eventlanding-cta-wrapper{
    .uk-icon-calendar-plus-o:before{
      font-family: "simple-line-icons";
      font-size: @sws-button-font-filter;
      content: '\e095';
      color: @sws-theme-icon-color;
    }
  }

  .sws-news-component-first{
    .sws-single-event-square--no_twistee{
      border: 1px solid transparent;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 40%;
      width: 80px;
      height: 80px;
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      top: 0;
      margin: auto;
      background: #eeeeee;
      .sws-event-day{
        background: @exposed_sws-primary-theme-color;
        color: @sws-theme-link-font-color-light;
        margin-bottom: 0px;
      }
      .sws-event-month{
        text-transform: capitalize;
        //margin-top:-5px;
      }
    }
  }
  .sws-single-event-square--eventdetails .sws-single-event-square_design .sws-single-event-square_inside--no_twistee{
    .sws-event-month{
      margin-top: -5px;
    }
  }
  .sws-latest-news--eventslanding .event-landing-article-image,.event-landing-article-noimage{
    .sws-latest-news__article{
      padding: 30px;
      padding-top:25px;
      padding-left: 26px;
      @media screen and (max-width:@sws-md) {
        padding: 25px 15px 30px 12px;
      }
    }
  }
  .sws-event-stamp-wrapper{
    &, &-noimage{
      left: 20px;
      @media screen and (max-width:@sws-md) {
        left:8px;
      }
    }
  }

}
