.theme2 {
  .local-footer{
    background:@sws-primary-theme-color;
    border-top: none;
    .uk-container{
      p , h3, h2{
        color: @sws-theme-link-font-color-light;
        font-family: Nunito;
        font-weight: normal;
      }
      a{
        color: @sws-theme-link-font-color-light;
        font-weight: normal;
      }
      h2.local-footer-heading1{
        font-weight: 700;
      }
      h3.local-footer-heading2, h3.local-footer-heading3{
        font-weight: 600;
      }
      @media screen and (max-width: @sws-md) {
        h2.local-footer-heading1{
          font-size: 1.875rem;
          line-height: 1.2;
        }
        h3.local-footer-heading2, h3.local-footer-heading3{
          font-size: 0.875rem;
        }
      }
    }
    & .local-footer-contact{
      //margin-bottom: 0 !important;
      .local-footer-add{
        position:relative;
        line-height: normal !important;
        padding-left:20px;
        @media screen and (max-width: @sws-md) {
          width:100%;
          margin-bottom:0;
          &:before{
            display: none;
          }
        }
      }
      .local-footer-add-new {
          &:after{
            content: "\e042";
            font-family: simple-line-icons;
            padding-right: 5px;
            float:left;
            width: auto;
            position: absolute;
            top:0;
            left:0;
          }
      }
      .local-footer-email{
        &:before{
          //new icon for email
        }
      }
    }
    & .local-footer-main-content{
      @media screen and (max-width: @sws-md) {
        &:after{
          content: " ";
          position: absolute;
          height: 1px;
          width: 100%;
          background: white;
          margin-left: -17px !important;
          margin-top: 15px;
        }
      }

      .local-footer-mobile-elements{
        text-align: center;
        a{
          font-size:0.875rem !important;
          padding: 15px;
        }
        .local-footer-email {
            a {
                padding: 0px;
            }
        }
        .sws-call-button, .sws-mail-button{
          border: 1px solid @sws-theme-link-font-color-light;
          border-radius: 0;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    & .local-footer-social-media{
      @media screen and (max-width: @sws-md) {
        margin-top: 15px;
        .sws_social_links{
          display: flex;
          margin: auto;
          justify-content: space-evenly;
        }
        .sws-social-media__link:before{
          font-size: 48px;
        }
      }
    }
    &-phone{
      line-height: normal !important;
      @media screen and (min-width: @sws-md) {
        margin-bottom: 10px !important;
      }
    }
  }

  .local-footer-message{
    background:@sws-primary-theme-color;
    color: @sws-theme-link-font-color-light;
  }
  .footer-multi__campus{
    &__openable{
      .uk-accordion-title{
        text-align: left;
        i{
          background: @sws-theme-link-font-color-light;
        }
      }
    }
  }


}
