.theme2 {
  //theme-1 code start
  .sws-mega-menu {
      background-color: @sws-primary-theme-color;
  }

  .uk-navbar-nav > li > a {
      font-family: @sws-primary-font-family;
      color: @sws-theme-link-font-color-light !important;
  }
  .uk-navbar-nav > li.uk-open > a {
      color: @sws-theme-link-font-color-dark !important;
      font-weight: @sws-font-weight-link-headings;
  }
  .uk-dropdown-navbar {
      background: @sws-secondary-theme-color;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .sws-search-icon__wrapper::before {
      color: @sws-theme-link-font-color-light;
  }
  .sws-search-icon.uk-open {
      background: @sws-secondary-theme-color;

      &.sws-search-icon__mobile {
        background: transparent;
      }
  }
  .sws-search-icon.uk-open .sws-search-icon__wrapper::before {
      color: @sws-theme-link-font-color-dark;
  }
  ul.list-columns li a:after {
      color: @sws-primary-theme-color;
  }
  .sws-meganav-title {
      font-family: @sws-secondary-font-family;
      font-size: 26px;
  }
  .sws-mega-nav-desc p {
      font-size: 18px;
  }
  .uk-nav-navbar > li > a:hover,
  .uk-nav-navbar > li > a:focus {
      background: @sws-secondary-theme-color;
  }
  .sws-search-input-textfield {
      border: 1px solid @sws-primary-theme-color;
  }
  ul.sws-mega-menu-title-bar li.uk-open {
      background: @sws-secondary-theme-color;
  }
  .uk-parent.sws-meganav-megalinks__li.sws-parent-menu:hover {
      color: @sws-theme-link-font-color-light;
  }

  .sws-search-input{
      z-index:5000;
  }
  .sws-meganav-container{
      position:relative;
  }
  //theme-1 code end

  .sws-mega-menu {
      background-color: transparent;
  }
  .uk-navbar-nav > li > a {
      font-family:@sws-secondary-font-family;
      color: @sws-theme-link-font-color-dark !important;
      font-weight: @sws-font-weight-link-headings;
      font-size: 0.9375rem !important;
  }
  .uk-navbar-nav > li > a:hover,
  .uk-navbar-nav > li > a:focus{
      text-decoration: none;
      padding-bottom: 7px;
  }
  .uk-navbar-nav > li{
      &:hover{
          text-decoration: none;
          border-bottom: 4px solid @exposed_sws-primary-theme-color ;

      }
  }

  .sws-search-icon{
      background: @exposed_sws-primary-theme-color;
      color: @sws-theme-link-font-color-light;
      &.sws-search-icon__mobile {
        background: transparent;
        &.uk-open{
          background: @exposed_sws-primary-theme-color;
          .sws-search-icon__button {
              background: @exposed_sws-primary-theme-color;
              border-radius: 0;
          i:before{
              content: '\e082';
              font-family: 'simple-line-icons';
              color: @sws-theme-link-font-color-light;
              font-size: 24px;

              }
          }
        }
      }
      &.uk-open{
          background: @exposed_sws-primary-theme-color;
      }
      .uk-dropdown-navbar{
          background:  @exposed_sws-primary-theme-color;
      }

  }
  .sws-mega-nav-desc__design{
      border-bottom: none;
  }
  .uk-dropdown-navbar {
      background: @sws-theme-megamenu-drop-down;
  }
  ul.list-columns li{
    a{
      &:after{
        content: none;
      }
    }
    @media screen and (max-width: 1024px) {
        min-width:180px;
    }
  }
  .sws-mega-nav-text__content:after{
    content: none;
  }

  .uk-dropdown-navbar{
      .sws-meganav-container{
          border-left: 4px solid @exposed_sws-primary-theme-color;
          padding-left: 15px;
          .uk-margin-top{
              margin-top: 0px !important;
              .sws-meganav-title{
                  font-weight: normal;
                  line-height: 1.23;
              }
              .sws-mega-nav-desc{
                  padding-bottom: 0px;
              }
          }
      }
      box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
      .sws-search-input {
          .sws-search-input-textfield{
              background: @sws-secondary-theme-color ;
              font-family: @sws-secondary-font-family;
              font-size: 1rem;
          }
      }
  }
  .sws-search-icon__mobile {
      .sws-search-icon__dropdown{
          padding: 8px ;
          margin-top: 0;
          .sws-search-input {
              margin: 0;
              .sws-search-input-textfield{
                  margin: 0;

              }
              .sws-search-input__submit-wrapper{
                  margin: 0;
              }
          }

      }

  }
  .sws-search-icon.uk-open .sws-search-icon__wrapper::before{
      content: '\e082';
      font-family: "simple-line-icons";
      color: @sws-theme-link-font-color-light;
  }
}
.sws-mega-nav-text__content{
    white-space: normal;
}