.theme2 {
  // theme-1 component-sidebar
  .sws-local-mobile-nav,li.sws-local-mobile-nav__li-quicklinks{
    background-color: @sws-primary-theme-color;
  }
  li.sws-local-mobile-nav__li-menu-items {
    background-color: #ababab;
    &.uk-open{
      li.sws-local-mobile-nav__li-menu-items{
        background-color: #cccccc;
        a.sws-local-mobile-nav__li--name-a{
          padding-left: 22px;
        }
        &.uk-open{
          ul.sws-local-mobile-nav__menu-ul{
            a.sws-local-mobile-nav__li--name-a{
              padding-left: 27px;
            }
          }
        }
      }
    }
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li {
    background-color: #eaeaea;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color:#eaeaea;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color:#eeeeee;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items.uk-open > .sws-local-mobile-nav__plus-icon{
    background-color:#eeeeee;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items.uk-open > .sws-local-mobile-nav__plus-icon{
    background-color:#eaeaea;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color: rgba(238, 238, 238, 0.8);
  }
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a p.sws-offcanvas-bar__quicklinks-p {
    color:@sws-theme-link-font-color-light;
    font-weight: bold;
  }
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:hover,
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:focus {
    color: @sws-theme-link-font-color-light;
    p.sws-offcanvas-bar__quicklinks-p, p.sws-offcanvas-bar__quicklinks-p:before {
      color: @sws-theme-link-font-color-light;
    }
  }

  .uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon div,
  li .sws-local-mobile-nav__plus-icon div,.uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon div, li .sws-local-mobile-nav__plus-icon div.uk-icon-plus {
    font-family:@sws-secondary-font-family;
    font-size:34px !important;
    color: @sws-primary-theme-color;
    font-weight:500;
    &:before {
      content: "\f067";
      font-family: "fontawesome";

    }

  }
  .sws-local-mobile-nav__li--name-a{
    font-size:12px !important;
  }
  .sws-local-mobile-nav__header-title{
    font-size:16px !important;
    color:@sws-theme-link-font-color-light !important;
  }
  li.sws-local-mobile-nav__li-menu-items a,li.sws-local-mobile-nav__li-menu-items p,li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li div > a.sws-local-mobile-nav__li--name-a {
    color: @sws-theme-link-font-color-dark;
  }
  // theme-1 code end

  .spanRule(){
    display: none;
  }

  .sws-local-mobile-nav{
    &-MakeaPayment{
      :before{
        font-family: "simple-line-icons";
        content: '\e025';
        padding-right: 10px;
        color: @sws-theme-link-font-color-light;
      }
      span{.spanRule;};
    }
    &-Events{
      :before{
        font-family: "simple-line-icons";
        content: '\e075';
        padding-right: 10px;
        color: @sws-theme-link-font-color-light;
      }
      span{.spanRule;};
    }
    &-Newsletter{
      :before{
        font-family: "simple-line-icons";
        content: '\e04c';
        padding-right: 10px;
        color: @sws-theme-link-font-color-light;
      }
      span{.spanRule;};
    }
    &-Imagegallery{
      :before{
        font-family: "simple-line-icons";
        content: '\e07f';
        padding-right: 10px;
        color: @sws-theme-link-font-color-light;
      }
      span{.spanRule;};
    }
    &-ContactUs{
      :before{
        font-family: "simple-line-icons";
        content: '\e010';
        padding-right: 10px;
        color: @sws-theme-link-font-color-light;
      }
      span{.spanRule;};
    }
  }
  // .sws-local-mobile-nav__li--name:not(.sws-local-mobile-nav__li--name-SubjectAndActivities){

  //     :after{
  //         font-family: "simple-line-icons";
  //         content: '\e604';
  //         position: absolute;
  //         right: 15px;

  //     }
  // }
  li.sws-local-mobile-nav__li-menu-items{
    .sws-local-mobile-nav__li--name{
      a.sws-local-mobile-nav__li--name-a{
        padding-left: 12px;
      }
    }
  }
  .sws-local-mobile-nav__plus-icon{
    .uk-icon-plus:before{
      font-family: "simple-line-icons" !important;
      content: '\e604' !important;
      color: @sws-theme-link-font-color-dark;
    }
  }
  .sws-local-mobile-nav{
    background-color: @sws-secondary-theme-color;

  }
  .sws-local-mobile-nav__header-title{
    color: @sws-theme-link-font-color-dark !important;
    font-weight: 800 !important;
    line-height: 1.5;
  }
  .sws-search-icon__button{
    color: @sws-theme-link-font-color-dark !important;
  }
  .sws-local-mobile-nav__icon--nav::after{
    color: @sws-theme-link-font-color-dark !important;
  }
  .sws-local-mobile-nav nav{
    border-bottom: 3px solid @exposed_sws-primary-theme-color;
  }
  .uk-nav-offcanvas > li.uk-open > .sws-local-mobile-nav__plus-icon,
  .uk-nav-offcanvas > li.uk-open > .sws-local-mobile-nav__plus-icon:focus,
  .uk-nav-offcanvas > li.uk-open > .sws-local-mobile-nav__plus-icon:hover {

    div {
      transform: rotate(180deg) ;
    }
  }
  ul.sws-local-mobile-nav__menu-ul {
    li{
      &.uk-open > .sws-local-mobile-nav__plus-icon {
        .uk-icon-plus{
          transform: rotate(180deg) !important;
        }
      }
    }

  }

  .sws-offcanvas-bar__main-unordered-list li.sws-local-mobile-nav__li-quicklinks a.sws-offcanvas-bar__quicklinks-a{
    padding-left: 12px;
  }
  .sws-search-icon__mobile{
    margin: 0;
    padding: 0 12px;
    padding-top: 12px;
    margin-left: auto;
  }



  .sws-search-icon__mobile--search{
    height: 100%;
    justify-content: flex-start;
    .sws-search-icon__button{
      font-size: 1.25rem;
      padding-top: 3px;
    }
  }
  .sws-offcanvas-bar__header h3 {
      font-size: 1.25rem;
      margin-bottom: 0;
  }
}
