.theme2 {
  .sws-latest-news,
  .sws-latest-news__article,
  .sws-latest-news .sws-latest-news__article__heading {
    background-color: @sws-secondary-theme-color;
    color: @sws-theme-link-font-color-dark;
    box-sizing: border-box;
  }
  .sws-latest-news-header, .sws-album-gallery-header, .sws-social-media-header{
    h2{
      font-family: @sws-secondary-font-family;
      font-size: 30px;
      font-weight: 700;
    }
    &__button {
      border: 1px solid @sws-primary-theme-color !important;
      border-radius: 0 !important;
      padding: 5px 15px !important;
      font-weight: 600 !important;
    }
  }
  .sws-latest-news {
    border-left: 4px solid @sws-primary-theme-color;
    border-bottom: 1px solid @sws-border-color;
    .sws-latest-news__article{
      padding: 29px 20px 28px 26px;
      //padding-left: 4px;
    }
    .sws-latest-news__article__text {
      font-size: 1rem;
    }
    .sws-latest-news__article__heading {
      font-size: 1.375rem;
      font-weight: 500;
      margin-top: 0;
      line-height: 1.18;
    }
    .sws-latest-news__article__date {
      padding-top: 0;
      text-decoration: none;
      font-size: 1rem;
    }

    .sws-latest-news__article__icons {
      i::before {
        color: @sws-theme-icon-color;
      }
    }

    .sws-latest-news__article__category {
      font-size: 14px;
    }
    // &__image{
    //   margin-left:-4px;
    // }
  }

  .sws-content-header {
    position: relative;
    background-color: transparent;
    padding-bottom: 3rem;
    margin: 0 0 0;

    @media screen and (max-width: @sws-md) {
      padding-bottom: 0;
    }

    h1 {
      background-color: @sws-primary-theme-color;
      color: @sws-theme-link-font-color-light;
      padding: 1.875rem 2.5rem;
      margin-top: 0;

      @media screen and (max-width: @sws-md) {
        position: relative;
        font-size: 1.5rem;
        padding: 1.25rem 0.75rem;
        left: -12px;
        width: 100%;
      }
    }

    //   .gef-breadcrumbs__dropdown div {
    //     // z-index: 1;
    //   }

    .from_department--news_article {
      position: relative;
      background-color: @sws-primary-theme-color;
      padding: 0;
      top: auto;
      padding: 1.25rem 2.5rem;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 0 !important;


      .from-the-department{
        width: 140px;
        background-color: @sws-from-the-department-color;
        border-radius: 5px;
        top: 25px;
      }

      @media screen and (max-width: 767px) {
        left: -12px;
        width: calc(100% + 12px);
        padding: 1.25rem 0.75rem;
        z-index: 1;
      }
    }

    // .from-the-department {
    //   margin-bottom: 0;
    //   width: 160px;
    // }
  }

  .sws-index-banner {
    &__container, &__txt, &__img {
      @media screen and (min-width: 1024px) {
        max-height: 401px;
      }
      @media screen and (max-width: 1023px) and (min-width: 961px)  {
        max-height: 455px;
      }
    }
    &__img {
      background: @sws-secondary-theme-color;
    }
    &__container {
      .sws-latest-news__article__text {
        font-size: 1rem;
        line-height: 1.44;
      }
      .sws-latest-news__article__heading {
        font-size: 1.625rem;
        margin-top: 0;
        line-height: 1.23;
      }
    }

    @media screen and (max-width: @sws-md) {
      display: block;
      margin-bottom: 0;
    }

    &.sws-events-detail__container {
      @media screen and (max-width: @sws-md) {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }

  .sws-album-details__index-banner {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .gef-main .news-article{
    &--hr{
      border-top: 1px solid @sws-primary-theme-color;
    }
  }

}
