.theme2 {
  .sws-newsletter {
    &-cta {
      &__link {
        border: 4px solid @sws-primary-theme-color;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        //background-color: @sws-theme-link-font-color-light;
        padding: 0px;
        h2 {
          color: @sws-theme-link-font-color-dark;
          font-family: @sws-secondary-font-family;
          line-height: 1.06;
          font-size: 2rem;
        }

        p {
          color: @sws-theme-link-font-color-dark;
          font-family: @sws-secondary-font-family;
          font-size: 1.125rem;
          margin: auto 30px auto 0;
        }
        &:before{
          content: "\f061";
          font-family: "fontAwesome";
          width: 21px;
          font-size: 24px;
          padding-right: 20px;
          padding-left: 20px;
        }

        &:hover {
          background-color: @sws-primary-theme-color;
          &:before{
            color: @sws-theme-link-font-color-light;
          }
          #newsletter_icon {
            .newsletter_icon__svg-path {
              fill: @sws-secondary-theme-color;
            }
          }

          h2 {
            color: @sws-theme-link-font-color-light;

          }

          &:focus {
            text-decoration: none;
          }

          p {
            color: @sws-theme-link-font-color-light;
          }
        }
        &:focus {
          text-decoration: none;
        }

        @media(max-width:@sws-md) {
          height: auto;
          line-height: 64px;
          border-top: 4px solid @sws-primary-theme-color;
          h2{
            align-self: left;
            font-size: 1.625rem;
            font-weight: 600;
          }
          p{
            align-self: left;
            margin: 10px 0 15px 0;
            font-size: 1rem;
            font-weight: normal;
          }
          &:before{
            align-self: left;
            padding-left: 0;
            padding-right: 0;
            font-size: 22px;
          }
        }

        #newsletter_icon {
          display: none;
          // .newsletter_icon__svg-path {
          //   fill: @sws-primary-theme-color;
          // }
        }
      }
    }
  }
}
