.theme2 {
  .uk-h5 {
    font-size: 1.125rem;
    font-weight: 800;
  }

  .sws-view-more h2 {
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.38;
    margin-bottom: 0;
  }
  .alert-message-container__head {
    p {
      font-size: 1rem;
      font-family: Open Sans,sans-serif;
    }

    h2 {
      font-size: 2rem;
      font-family: Open Sans,sans-serif;
    }
  }

  @media screen and (min-width: 768px) {
    .uk-h5 {
        margin-bottom: 0;
        font-size: 1.125rem;
        line-height: 1.44;
        margin-top: 1.875rem;
        letter-spacing: .03em;
        color: #000;
        font-weight: 800;
    }

  }

  @media screen and (max-width:@sws-md){
    .alert-message-container__head {
      p {
        font-size:0.875rem;
      }
      h2{
        font-size:1.5rem;
      }
    }
    h1 {
      margin-bottom: 33px;
    }
  }
}
