.theme2 {
  //**********
  //Advance Filter In-Page
  .sws-advance-search {
    margin: 10px 0px;

    &__block {
      margin: 10px 0;
    }
    a {
      text-decoration: none;
    }

    &__text {
      margin: 0 10px;

      @media screen and (max-width: @sws-md) {
        margin-left: 0;
      }

      &-static {
        margin-left: 5px;
      }

      &-first {
        margin-left: 0!important;
      }
    }

    &__select,
    &__button {
      outline: 0!important;
      text-align: left;
      padding: 10px 15px;
      border-radius: 0;
      // font-size: $sws-component-font-size-smaller;
      // font-weight: $sws-component-header-font-weight;
      width: 100%;
      white-space: pre-line;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
    }

    button {
      width: 25%;
      max-width: 100px;
      text-align: center;
      border-color: transparent !important;
      margin-left: 30px;
      background: @sws-primary-theme-color !important;
      color: @sws-theme-link-font-color-light;
      padding: 10px 15px;

      @media screen and (max-width: @sws-md) {
        width: 100%;
        margin: 10px 5px 0 0;
        max-width: initial;
      }
    }

    &__select-wrapper {
      display: inline-block;
      position: relative;
      min-width: 140px;
      border-radius: 0;
      border: 1px solid @sws-primary-theme-color;
      width: 25%;
      margin: 10px 5px;

      @media screen and (max-width: @sws-md) {
        width: 100%;
        margin: 10px 5px 10px 0;
      }
    }

    &__select-wrapper:after {
      padding-left: 10px;
      content: "\f107";
      // font-family: FontAwesome;
      position: absolute;
      top: 25%;
      right: 5%;
      pointer-events: none;
    }
  }

  // view more button used on pages such as news indes and newsletter
  .sws-view-more,
  .sws-album-details .album-view-more {
    border-radius: 0;
    border: 1px solid @sws-primary-theme-color !important;
    background-color: transparent;
  }

  .news-view-more {
    // view more loader svg color
    .sws-loader-svg-1 {
      svg .svg-rectangle {
        fill: @sws-primary-theme-color;
      }
    }
  }

  .sws-sidebar-wrapper {
    .show-on-sr {
      visibility: hidden;
      padding: 0;
    }

    .component-sidebar {
      border-bottom: 1px solid @sws-quinary-theme-color;
      padding-bottom: 30px;
      max-width: 100%;

      .themed-sidebar {
        .gef-category-list {
          li a {
            font-weight: 600;
          }
        }
      }

      nav {
        h2 {
          font-size: 1.25rem;
          font-weight: 600;
        }
      }

    }

    .category-sidebar nav,
    .themed-sidebar {
      padding: 0;
      background: transparent;
    }

    h2 {
      background: @sws-quinary-theme-color;
      padding: 15px 30px;
      font-weight: 400;

      @media screen and (max-width: 768px) {
        position: relative;
        left: -12px;
        width: calc(100% + 12px);
      }
    }

    ul {
      padding: 0 30px 0 18px;
    }
  }
  //pagination
  .sws-search-results{
    .gef-pagination{
      li{
        &.gef-pagination__active a{
          background: @sws-primary-theme-color !important;
          color: @sws-theme-link-font-color-light!important;
        }
        &.gef-pagination__disabled>*,&.gef-pagination__disabled>*>*{
          background:none;
        }
      }
    }
  }
  //highlight page 3 on pagination item demo (gef-pagination__active)
  .search_pagination_demo .sws-search-results {
      & li:nth-child(4) a {
        background: @sws-primary-theme-color !important;
        color: @sws-theme-link-font-color-light!important;
      }
  }
}
