.theme2 {
  ul.sws-inline-menu{
    background: @sws-secondary-theme-color;
    & .sws-inline-menu__li{
      a.sws-inline-menu__link {
        color: @sws-theme-link-font-color-dark;
        font-family: @sws-secondary-font-family;
        &:hover{
          text-decoration: none;
          text-shadow: 0.01em 0 #000000;
          -webkit-text-fill-color: #000000;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #000000;
        }
      }
    }
    .sws-inline-menu__divider {
      color: transparent;
    }

  }
}
