.theme2 {
  .component-sidebar{
    .themed-sidebar{
      color: @sws-theme-link-font-color-dark;
      a{
        color: @sws-theme-link-font-color-dark;
      }
      h2.black{
        color: @sws-theme-link-font-color-dark;
      }
    }
    .uk-icon-calendar,.uk-icon-clock-o,.uk-icon-paperclip,.uk-icon-map-marker,.uk-icon-calendar-plus-o{
      color: @sws-primary-theme-color;
    }
    .uk-h3, h2 {
      font-weight: 800;
      font-size: 1.375rem;
      line-height: 1.36;
    }
  }
}
