.theme2 {
  .sws-side-navigation {
    > li {
      border-left: 6px solid transparent;
      font-family: @sws-secondary-font-family;
      &.uk-parent {

        &.uk-active {
          border-left: 6px solid @sws-primary-theme-color;
        }

        a.sws-side__open-icon {
          color: @sws-primary-theme-color;
        }
      }
    }
  }
  .sws-side-navigation > li.uk-parent.sws-side-navigation-upper {
    background-color: @sws-quinary-theme-color;
  }
}
