.theme2 {

  .uk-icon-facebook-official:before{
      color:@sws-tertiary-theme-color;
  }
  .sws-fullwidth-icon-menu__li a i::before{
       color:@sws-tertiary-theme-color;
  }

  .sws_local_social-links {
    h2.uk-h2 {
      font-size:  1.625rem;
      font-family: @sws-secondary-font-family;
    }
  }
}
