.theme2 {
  .social-media{
    .gef-social-media-post {
      border: 0;
      border-bottom: 1px solid @sws-border-color;
      border-left: 4px solid @sws-primary-theme-color;
      &__avatar {
        padding-right: 15px;
        img {
          max-width: 35px !important;
          height: 35px;
        }
      }
      &__metadatum{
        font-weight:300;
      }
    }
    .gef-social-media-post__current-media{
      &-facebook {
        border-left: 4px solid #3b5998;
      }
      &-instagram {
        border-left: 4px solid #fd752f;
      }
      &-twitter {
        border-left: 4px solid #00aced;
      }
      &-vimeo {
        border-left: 4px solid #00adef;
      }
      &-youtube {
        border-left: 4px solid #c41201;
      }
    }

    @media screen and (max-width: 766px) {
      .gef-social-media-post {
        &__avatar {
          padding-right: 10px;
        }
        &__name {
          font-size: 1.125rem;
          font-weight: normal;
        }
        &__metadatum {
          font-size: 0.875rem;
        }
        &__metadata-viewfeed {
          font-weight: 600;
        }
      }
    }
  }
}
