.theme1 {
  //-----Mixin for image icon
  .imageIcon(@color:@exposed_sws-primary-theme-color){
    &:before {
      content: "\f03e";
      font-family: FontAwesome;
      color: @sws-theme-link-font-color-light;
      margin-right: 10px;
      font-size: 16px;
      vertical-align: baseline;
      font-weight: normal;
    }
  }
  .sws-albums-gallery-wrapper__inner,.sws-albums-gallery-full-info__bottom,.sws-albums-gallery__album-info{
    background-color: @sws-primary-theme-color;
  }
  .sws-albums-gallery-full-info__inner-design{
    background-image: linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%);
    background-image: -webkit-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Firefox 3.6 to 15 */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .sws-albums-gallery-full-info,
  .sws-albums-gallery__left-content,
  .sws-albums-gallery__text,
  .sws-albums-gallery__right-content span,
  .sws-albums-gallery__right-content p{
    color: @sws-theme-link-font-color-light;
  }

  .sws-albums-gallery-full-info__bottom__inner {
    img {
      display: none;
    }
    span {
      font-weight: bold;
      .imageIcon();
    }
  }
  .sws-album-details {
    .album-view-more {
      h2 {
        font-size: 1rem;
        line-height: 1.13;
      }
    }
  }

  .sws-albums-landing {
    p.sws-albums-gallery__text {
      font-weight: bold;
    }
  }

  .sws-albums-gallery__right-content {
    padding-top: 5px;
    padding-bottom: 5px;
    span {
      font-size: 0.875rem;
      font-weight: bold;
      .imageIcon();
    }
    img {
      display:none;
    }
  }

  .sws-albums-gallery-full-info {
    p {
      font-size: 1.125rem;
    }
  }
  .sws-album-details__index-banner{
    .sws-index-banner__txt-inner{
      .sws-latest-news__article{
        p,a,h1,h2,h3,h4{
          color:@sws-theme-link-font-color-light;
          *{
            color:inherit;
          }
        }
      }
    }
  }
  //Albums Pop up Image

  .fancybox-navigation{
    .fancybox-button--arrow_right{
      padding-right: 0;
      &:before{
        background: @sws-primary-theme-color;
        right: 0;
        color: @sws-theme-link-font-color-light;
        font-family: FontAwesome;
        content: "\f061";
        font-size: 17px;
        vertical-align: middle;
        line-height: 40px;
      }
      svg {
        display:none;
      }
    }
    .fancybox-button--arrow_left{
      padding-left: 0;
      &:before{
        background: @sws-primary-theme-color;
        left:0;
        color: @sws-theme-link-font-color-light;
        font-family: FontAwesome;
        content: "\f060";
        font-size: 17px;
        vertical-align: middle;
        line-height: 40px;

      }
      svg {
        display:none;
      }
    }
    .fancybox-button svg{
      max-width: 26px;
      margin: auto;
    }
  }
  .fancybox-close-small{
    background: @sws-primary-theme-color;
    &:after{
      color:@sws-theme-link-font-color-light;
    }
    &:hover:after {
      color:@sws-theme-link-font-color-light;
    }

  }
  .fancybox-container{
    .fancybox-bg{
      @media screen and (max-width:@sws-md) {
        background: @sws-primary-theme-color;
        opacity: 1;
      }
    }
    .fancybox-caption-wrap{
      font-family: @sws-primary-font-family;
      background: @sws-theme-link-font-color-light;
      *{
        color:@sws-theme-hover-color;
      }
      .fancybox-caption{
        font-size: 0.875rem;
        font-family: inherit;
        font-weight: 300;
        padding: 10px 0 15px 0;
      }
      .sws-caption-inside-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        pointer-events: all;
        .sws-caption{
          &-share__link{
            border-radius: 18px;
            border-color: @sws-primary-theme-color;
            font-family: @sws-primary-font-family;
            font-size: 0.875rem;
            cursor: pointer;
            background: @sws-theme-link-font-color-light;
            &:before{
              content: "\f1e0";
              font-family: 'FontAwesome';
              margin-right: 5px;
            }
          }
          &-back{
            align-self: flex-end;
            &__link{
              font-family: @sws-primary-font-family;
            font-weight: 400;
            font-size: 0.875rem;
              &:before{
                content: "\f104";
                font-family: 'FontAwesome';
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-weight: normal;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

}
