.theme1 {
  .sws-static-banner-component__text_inner,.sws-static-banner-component__textOnly{
      background-color: @sws-primary-theme-color;
  }

  .sws-banner-inner_action__button{
      font-family: @sws-secondary-font-family;
      border: 1px solid @sws-theme-link-font-color-light !important;
      &:hover{
      background-color: @sws-secondary-theme-color;
      color: @sws-tertiary-theme-color;
      border-color: @exposed_sws-primary-theme-color;
      border: 1px solid  @exposed_sws-primary-theme-color !important;
      }
  }
  .sws-static-banner-component__text h2 {
      color:@sws-theme-link-font-color-light;
      font-size: 2.25rem;
  }
  .sws-static-banner-component__text p {
      color:@sws-theme-link-font-color-light;
  }
  .sws-banner-inner_action a {
      color:@sws-theme-link-font-color-light;
  }
  .banner {
      border-top: 3px solid #fff;
  }
}
