.theme1 {
  .contact-us-container-wrapper{
    .category-sidebar--contact-us{
      &__address{
        background:#eaeaea;
      }
      &__inner__wrapper.uk-accordion-title.uk-active,  &__inner__wrapper.uk-accordion-title.uk-active:hover{
        border-left-color: @sws-primary-theme-color;
        i.uk-icon-plus{
          transform: rotate(45deg);
        }
      }
      &__inner__wrapper.uk-accordion-title{
        i.uk-icon-plus:before{
          color:@sws-primary-theme-color;
        }
      }
      &__inner__add__block.uk-accordion-content.uk-active{
        border-left-color: @sws-primary-theme-color;
      }
    }
  }
}
