.theme1 {
  //local heading
  .local-header-heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: Open Sans,sans-serif;
  }
  //lead para
  .sws-lead-paragraph{
    padding-top: 0;
  }
  .sws-content__h4 {
    font-family: "Zilla Slab";
  }

  //anchor
  .sws-content .gef-anchor-box ul.gef-link-list li::before {
    color: @sws-primary-theme-color;
  }
  .gef-anchor-box__title{
    font-size: 1rem;
    font-family: @sws-primary-font-family;
    font-weight:bold;
  }
  //table
  .sws-content table thead {
    background-color: @sws-primary-theme-color;
    tr th {
      color: @sws-theme-link-font-color-light;
    }


  }
  //blockquote
  .sws-content .sws-blockquote i {
    position: absolute;
    left: -10px;
    font-family: Helvetica Neue;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 92px;
    line-height: 0.76;
    &::before {
      color: @sws-primary-theme-color;
    }
  }
  //tabs
  .sws-content .js-tabs.gef-tabs--active .gef-tabs__group [role="tab"][aria-selected=true] {
    background-color: @sws-primary-theme-color;
    color: @sws-theme-link-font-color-light;
  }
  .gef-tabs--active .gef-tabs__group [role="tab"] {
    background-color: @sws-quinary-theme-color;

  }
  .sws-content .js-tabs.gef-tabs--active .gef-tabs__panel-group [role="tabpanel"] {
    border: 1px solid @sws-primary-theme-color;
    border-left: none;
    border-right: none;
  }
  //callout
  .sws-content .gef-call-out-box .sws-callout-box {
    border: 1px solid @sws-primary-theme-color;
  }
  //show/hides
  .sws-content .gef-show-hide .uk-accordion-title i::before {
    color: @sws-primary-theme-color;
    font-weight:400;
  }
  //back-to-top
  .gef-btt {
    border-radius: 50%;
    border: 3px solid @sws-tertiary-theme-color;
    .gef-btt .uk-icon-angle-up {
      color: @sws-tertiary-theme-color;
    }
  }
  //breadcrumbs
  .gef-breadcrumbs__dropdown div,
  .gef-breadcrumbs__dropdown:hover:after,
  .gef-breadcrumbs__dropdown.active-clicked:after,
  .gef-breadcrumbs__dropdown.active-hovered:after,
  .gef-breadcrumbs__dropdown.active-focused:after {
    background-color: @sws-primary-theme-color;
    color: @sws-theme-link-font-color-light;
  }
  .gef-breadcrumbs__dropdown {
    a {
      color: @sws-theme-link-font-color-light;
    }
    p {
      &:before {
        color: @sws-theme-link-font-color-light;
      }
    }


  }
  //Show hide
  .sws-content .gef-show-hide .uk-accordion-title i {
    top: -10px;
    font-size: 2.2rem;
  }

}
