// -------------------
// Events Landing Component
//
//  Events Component styles. Normally present in page body
// -------------------
.theme1 {// -------------------
  // Events Landing Component
  //
  //  Events Component styles. Normally present in page body
  // -------------------

  .sws-event-stamp-wrapper{
    position: relative;
    bottom:182px;
    width: 80px;
  }

  .sws-single-event-square--no_twistee{
    background-color: @sws-event-comp-bg-color;

  }
  .sws-single-event-square_inside--eventslanding:after {
    border-right: 7px solid @sws-quinary-theme-color;
  }
  .sws-single-event-square--eventdetails:after{
    border-left: 7px solid @sws-quinary-theme-color;
  }
  .sws-single-event-square_inside--no_twistee:after {
    content: none;
    display: block;
    position: absolute;
    top: 51%;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid @sws-quinary-theme-color;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    right: -1px;
  }
  .sws-single-event-square--no_twistee:after {
    content: none ;
    display: inline-block;
    position: absolute;
    border: 7px solid white;
    border-color: transparent transparent transparent @sws-quinary-theme-color;
    top: 41%;
    left: -1px;
  }
  .sws-event-snapshots-wrapper{
    display: inline-flex;
  }
  .sws-event-landing-article-wrapper{
    margin-top: -130px;
  }
  .sws-event-landing-grid-main{
    margin-right: 30px;
    max-height: 613px;

  }
  .sws-event-landing-grid-main--first-component{
    height: 613px;

  }
  .sws-single-event-square--eventdetails{
    width: 80px;
    .sws-single-event-square_design{
      .sws-single-event-square_inside--no_twistee{
        color: @sws-theme-link-font-color-light;
      }
    }
  }
  .sws-eventdetail-remindme{
    display: inline-flex;
    a{
      text-decoration: underline;
    }
    i{
      padding-top: 4px !important;
    }
  }
  .sws-eventlanding-pdf{
    display: inline-flex;
    a{
      text-decoration: underline;
    }
    i{
      padding-top: 4px !important;
    }

  }
  .sws-eventlanding-cta-wrapper{
    font-size: 14px;
    .sws-eventdetail-remindme, .sws-eventlanding-pdf{
      a{
        font-weight: 300;
      }
    }
  }
  .sws-single-event-square--no_twistee:after{
    content: none;
  }
  .sws-advance-search__select-wrapper{
    border-radius: 24px;
  }

  .sws-advance-search__select {
    border: 1px solid @sws-primary-theme-color;
  }

  .event-landing-article-image,.event-landing-article-noimage{
    h3{
      margin-bottom: 0px;
      //margin-top: 28px;
      font-weight: 700;
    }
  }
  //line ellipsis
  // .sws-event-location{
  //     text-overflow: ellipsis;
  //     white-space: nowrap;
  //     max-width: 260px;
  //     overflow: hidden;
  // }
  .sws-single-event-square_design{
    color: @sws-secondary-theme-color;
  }
  .sws-latest-news--eventslanding .event-landing-article-image,.event-landing-article-noimage{
    .sws-latest-news__article{
      padding: 30px;
      padding-top:25px;
      @media screen and (max-width:767px) {
        padding: 25px 15px 30px 15px;
      }
    }
  }
}
