.theme1 {
  .sws-single-event-square {
      background-color: @sws-event-comp-bg-color;
  }
  .sws-event-date-period-new:before,
  .sws-events-heading-new:before,
  .sws-event-location-new:before,
  .sws-event-more-icon:after {
      color: @sws-theme-icon-color;
  }
  .sws-eventdetail-remindme,.event-latest-reminder{
      .uk-icon-calendar-plus-o:before{
          color: @sws-theme-icon-color;
      }
  }
  .sws-eventlanding-pdf{
      .uk-icon-paperclip:before{
          color: @sws-theme-icon-color;
      }
  }

  .sws-event-month {
      font-family: @sws-secondary-font-family;
  }
  .sws-single-event-square_inside {
      color: @sws-theme-link-font-color-light;
      position:relative;
  }
  .sws-single-event-square_design {
      background-image: linear-gradient(to top,@sws-primary-theme-color 0%, @sws-primary-theme-color 50%, transparent 50%);
      background-image: -webkit-linear-gradient(top, @sws-primary-theme-color  0%, @sws-primary-theme-color  50%, transparent 50%);
      /* For Safari 5.1 to 6.0 */
      background-image: -o-linear-gradient(to top, @sws-primary-theme-color  0%, @sws-primary-theme-color  50%, transparent 50%);
      /* For Opera 11.1 to 12.0 */
      background-image: -moz-linear-gradient(top, @sws-primary-theme-color  0%, @sws-primary-theme-color  50%, transparent 50%);
      /* For Firefox 3.6 to 15 */


      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  }
  .sws-single-event-square_inside p.sws-event-month{
      font-weight:500;
  }

  .sws-event-desc h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  @media screen and (max-width: 767px){
    .sws-event-desc h3  {
      font-size: 1rem;
    }
  }

  .event-details-heading {
      margin-right: 20px;
  }

  .from_department--events-header {
      left: 0;
    .from-the-department {
      margin: 13px 20px 0 0;
    }
  }
  .event-latest-reminder {
      right: 0;
  }
}
