.theme1 {
  .local-footer{
      border-top:3.6px solid @sws-primary-theme-color;
      background:@sws-local-footer-bg;
  }
  .local-footer-message{

      background:@sws-local-footer-bg;
  }
  .sws-call-button, .sws-mail-button{
     border:1px solid @sws-theme-icon-color !important;
  }

  .sws-call-button:hover, .sws-call-button:focus,.sws-mail-button:hover, .sws-mail-button:focus {
    background-color: @sws-primary-theme-color;
    color: @sws-theme-link-font-color-light ;
  }

  .local-footer-main-content, .local-footer-message {
    p, a, li {
      font-family: @gef-font-family;
    }
  }
  .footer-multi__campus{
    //outer head of contact
    .uk-accordion-title{
      font-family: @gef-font-family;
    }
    .footer-multi__campus__openable{
      //mobile view card CSS
      .uk-accordion-title{
        font-family: @gef-font-family;
        font-size:0.875rem;
        border-top:1px solid @sws-theme-link-font-color-light ;
        margin-top:0;
        &:last-of-type{
          border-bottom:1px solid @sws-theme-link-font-color-light ;
        }
        &.uk-active{
            border-bottom:none;
        }
      }
      .uk-accordion-content{
        &:last-of-type{
          border-bottom:1px solid @sws-theme-link-font-color-light ;
        }
      }
      .local-footer-contact{
        .local-footer-add{
          max-width: calc(100% - 15px);
        }
      }
    }
  }
  .local-footer {
    .local-footer-main-content {
      .footer-multi__campus--switch{
        .local-footer-contact {
          p.local-footer-directions {
            font-family: @sws-secondary-font-family;
          }
        }
      }
    }
  }
}
