.theme1 {
  .sws-mega-menu {
    background-color: @sws-primary-theme-color;
  }

  .uk-navbar-nav > li > a {
    font-family: @sws-primary-font-family;
    color: @sws-theme-link-font-color-light !important;
  }
  .uk-navbar-nav > li.uk-open > a {
    color: @sws-theme-link-font-color-dark !important;
  }
  .uk-dropdown-navbar {
    background: @sws-secondary-theme-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .sws-search-icon__wrapper::before {
    color: @sws-theme-link-font-color-light;
  }
  .sws-search-icon.uk-open {
    background: @sws-secondary-theme-color;

    &.sws-search-icon__mobile {
      background: transparent;
    }
  }
  .sws-search-icon.uk-open .sws-search-icon__wrapper::before {
    color: @sws-theme-link-font-color-dark;
  }
  ul.list-columns li a:after {
    color: @sws-primary-theme-color;
  }
  .sws-mega-nav-text {
    font-family: @sws-primary-font-family;
  }
  .sws-mega-nav-text__content:after{
    color: @sws-primary-theme-color;
  }
  .sws-meganav-title {
    font-family: @sws-secondary-font-family;
    font-size: 26px;
  }
  .sws-mega-nav-desc {
    margin: 10px 0 0 0;
    font-family: @sws-primary-font-family;
  }
  .sws-mega-nav-desc p {
    font-size: 18px;
  }
  .uk-nav-navbar > li > a:hover,
  .uk-nav-navbar > li > a:focus {
    background: none;
  }
  .sws-search-input-textfield {
    border: 1px solid @sws-primary-theme-color;
  }
  ul.sws-mega-menu-title-bar li.uk-open {
    background: @sws-secondary-theme-color;
  }
  .uk-parent.sws-meganav-megalinks__li.sws-parent-menu:hover {
    color: @sws-theme-link-font-color-light;
  }
  .sws-search-input{
    z-index:5000;
  }
  .sws-meganav-container{
    position:relative;
  }

}
