.theme1 {
  .sws-local-mobile-nav,li.sws-local-mobile-nav__li-quicklinks{
    background-color: @sws-primary-theme-color;
  }
  li.sws-local-mobile-nav__li-menu-items {
    background-color: #ababab;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li {
    background-color: #cccccc;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color:#eaeaea;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color:#eeeeee;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items.uk-open > .sws-local-mobile-nav__plus-icon{
    background-color:#eeeeee;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items.uk-open > .sws-local-mobile-nav__plus-icon{
    background-color:#eaeaea;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color: rgba(238, 238, 238, 0.8);
  }
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a p.sws-offcanvas-bar__quicklinks-p {
    color:@sws-theme-link-font-color-light;
    &:hover {
      color:@sws-theme-hover-color;
    }
    &:focus {
      color: @sws-theme-hover-color;
    }
  }
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:hover,
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:focus {
    color: @sws-theme-link-font-color-light;
    p.sws-offcanvas-bar__quicklinks-p, p.sws-offcanvas-bar__quicklinks-p:before {
      color: @sws-theme-link-font-color-light;
    }
  }
 .sws-local-mobile-nav__li-quicklinks-wrapper {
   img {
     display:none;
   }
   span {
    font-family: "FontAwesome";
    font-size: 14px;
    color:@sws-theme-link-font-color-light;
    &:hover{
      color: @sws-theme-hover-color;
    }
    &:focus{
      color: @sws-theme-hover-color;
    }
   }
   &.sws-local-mobile-nav-MakeaPayment span{
     &:before {
      content: "\f155";
     }
   }
   &.sws-local-mobile-nav-Events span:before {
     content: "\f133";
   }
   &.sws-local-mobile-nav-Newsletter span:before {
     content: "\f1ea";
   }
   &.sws-local-mobile-nav-Imagegallery span:before {
     content: "\f03e";
   }
   &.sws-local-mobile-nav-ContactUs span:before {
    content: "\f095";
   }
  }

  .uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon div,
  li .sws-local-mobile-nav__plus-icon div,.uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon div, li .sws-local-mobile-nav__plus-icon div.uk-icon-plus {
    font-family:@sws-secondary-font-family;
    font-size:34px !important;
    color: @sws-primary-theme-color;
    font-weight:500;
    &:before {
      content: "\f067";
      font-family: "fontawesome";

    }

  }
  .sws-local-mobile-nav nav .sws-local-mobile-nav__icon--nav:after{
    color: @sws-theme-link-font-color-light;
  }

  .sws-search-icon__mobile .sws-search-icon__button i:before {
    color: @sws-theme-link-font-color-light;
  }

  .sws-local-mobile-nav__li--name-a{
    font-size:12px !important;
  }
  .sws-local-mobile-nav__header-title{
    font-family: Open Sans, sans-serif;
    font-size:16px !important;
    color:@sws-theme-link-font-color-light !important;
  }
  li.sws-local-mobile-nav__li-menu-items a,li.sws-local-mobile-nav__li-menu-items p,li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li div > a.sws-local-mobile-nav__li--name-a {
    color: @sws-theme-link-font-color-dark;
  }
  .sws-local-mobile-nav{
    .sws-search-icon{
      &__mobile .sws-search-icon__button{
        .uk-icon-search:before{
          color:@sws-theme-link-font-color-light;
        }
      }
    }
    &__icon--nav{
      &::after{
        color:@sws-theme-link-font-color-light !important;
      }
    }
  }
  h2.search_summary {
    font-family: @sws-primary-font-family;
  }
}
