.theme1 {
  .sws-newsletter {
    &-cta {

      &__link {
        border: 1px solid @sws-primary-theme-color;
        //background-color: @sws-theme-link-font-color-light;
        h2 {
          color: @sws-theme-link-font-color-dark;
          font-size: 2rem;
          font-weight: 500;
        }
        p {
          color: @sws-theme-link-font-color-dark;
          font-size: 1.125rem;
          margin: auto 0;
        }
        &:hover {
          background-color: @sws-primary-theme-color;

          #newsletter_icon {
            .newsletter_icon__svg-path {
              fill: @sws-theme-link-font-color-light;
            }
          }

          h2 {
            color: @sws-theme-link-font-color-light;
          }

          &:focus {
            text-decoration: none;
          }

          p {
            color: @sws-theme-link-font-color-light;
          }
        }
        &:focus {
          text-decoration: none;
        }

        @media(max-width:@sws-md) {
          height: auto;
          h2{
            font-weight: 600;
            font-size: 1.5rem;
            padding: 5px 0;
            line-height: 30px;
          }
          p{
            font-size: 1rem;
            padding-bottom: 15px;
          }
          #newsletter_icon {
            padding-top: 15px;
          }
        }

        #newsletter_icon {
          .newsletter_icon__svg-path {
            fill: @sws-primary-theme-color;
          }
        }
      }
    }
  }
}
