.theme1 {
  .sws-latest-news,
  .sws-latest-news__article,
  .sws-latest-news .sws-latest-news__article__heading {
    background-color: @sws-quinary-theme-color;
    color: @sws-theme-link-font-color-dark;
  }
  .sws-latest-news-header, .sws-album-gallery-header, .sws-social-media-header {
    &__button {
        border: 1px solid @sws-primary-theme-color;
    }
  }
  .sws-latest-news {
    border-bottom: 2px solid @sws-primary-theme-color;
    .sws-latest-news__article__text {
      margin-top: 10px;
    }
    .sws-latest-news__article__heading {
      font-size: 1.375rem;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .sws-latest-news__article__date {
      padding-top: 0;
    }
    .sws-latest-news__article__category,
    .sws-latest-news__article__date {
      font-size: 14px;
    }
  }
  .sws-content__h3{
    font-size: 2rem;
    color: @sws-theme-link-font-color-dark;
  }

  .sws-album-details__index-banner {
    .sws-latest-news {
      p, a, b, i, i::before, span,
      h1, h2, h3, h4, h5, h6, ul, li, ol, sub, sup,
      .sws-latest-news__article__text,
      .sws-latest-news__article__heading,
      .sws-latest-news__article__date,
      .sws-latest-news__article__category,
      .sws-latest-news__article__date {
        color: @sws-theme-link-font-color-light;
      }
    }
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .news-article {
    blockquote {
      margin: 25px 0 40px 25px;
      padding: 0px 0 0 30px;
    }
  }

}
