.theme1 {
  .sws-newsletter {
    .category-sidebar {
      background-color: #eee;
      position: relative;
      overflow: hidden;
      z-index: 0;

      &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-left: 320px solid #e7e7e7;
        border-bottom: 190px solid transparent;
        z-index: 1;
      }

      nav {
        padding: 30px;
        background: transparent;
        z-index: 2;
        position: relative;
      }

      &__mobile {
        &::before {
          content: none;
          display: none;
        }
      }
      article i:before{
        color:@sws-theme-link-font-color-light;
      }
    }

    #sws-select-year {
      font-family: @sws-secondary-font-family;
      font-size: 1rem;
    }

    .sws-newsletter--component {
      background-color: @sws-primary-theme-color;
      .sws-newsletter__copy{
        * {
          color: @sws-theme-link-font-color-light;
        }
        article i:before{
          color:@sws-theme-link-font-color-light;
        }
      }

    }

    .newsletter-view-more {
      border: 1px solid @sws-primary-theme-color;
      font-family: @sws-secondary-font-family;
      font-size: 1rem;
    }

    .sws-loader-svg-1 {
      img, svg {
        .svg-rectangle {
          fill: @sws-primary-theme-color;
        }
      }
    }
  }

}
