.theme1 {
  .uk-h5 {
    font-size: 1rem;
    line-height: 1.43;
    margin-bottom: 14px;
    letter-spacing: .01em;
    font-weight: 800;
  }

  .sws-content h3 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .sws-view-more h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.38;
    margin-bottom: 0;
  }

  .alert-message-container__head {
    p {
      font-size: 1rem;
      font-family: Open Sans,sans-serif;
    }

    h2 {
      font-size: 2rem;
      font-family: Open Sans,sans-serif;
    }
  }

  @media screen and (min-width: 768px) {
    .uk-h5 {
        margin-bottom: 0;
        font-size: 1.125rem;
        line-height: 1.44;
        margin-top: 1.875rem;
        letter-spacing: .03em;
        color: #000;
        font-weight: 800;
    }
  }
  @media screen and (min-width: 1024px) {
    .gef-search-results__itemheader {
        font-size: 1rem;
    }
  }
  @media screen and (max-width:767px){
    .alert-message-container__head {
      p {
        font-size:0.875rem;
      }
      h2{
        font-size:1.5rem;
      }
    }
  }
}
