.theme1 {
  .sws-featured-news-hr hr {
    border-top: solid 2px @sws-advance-search-hr-color;
  }
  //------Search Filter
  .sws-advance-search{

    hr {
      border-top: solid 2px @sws-advance-search-hr-color;
    }
    &__select{
      font-family: @sws-secondary-font-family;
      font-size: @sws-h4-base-font;
      &-wrapper{
        border-color: @sws-primary-theme-color !important;
      }
    }
    button.sws-advance-search__button{
      background: @sws-primary-theme-color;
      font-family: @sws-secondary-font-family;
      font-size: 1rem !important;
      color: @sws-theme-link-font-color-light;
    }
  }

  //------View more button
  .sws-view-more,
  .sws-album-details .album-view-more{
    border: 1px solid @sws-primary-theme-color !important;
    font-family: @sws-secondary-font-family;
    font-size: @sws-h4-base-font;
  }
  .sws-loader-svg-1{
    svg{
      .svg-rectangle{
        fill: @sws-primary-theme-color !important;
      }
    }
  }

  //-----News Index Banner
  .sws-index-banner{
    &__img{
      background: @sws-primary-theme-color;
    }
    .sws-latest-news{
      background: @sws-primary-theme-color;
      &__article{
        background: @sws-primary-theme-color;
        color:@sws-theme-link-font-color-light;
      }
      &__article h3{
        background: transparent;
        color:@sws-theme-link-font-color-light;
      }
    }
    &__article h3.sws-latest-news__article__heading{
      background: transparent;
      color:@sws-theme-link-font-color-light;
    }

  }
  //pagination
  .sws-search-results{
    .gef-pagination{
      li{
        &.gef-pagination__active a{
          background: @sws-primary-theme-color !important;
          color: @sws-theme-link-font-color-light!important;
        }
        &.gef-pagination__disabled>*,&.gef-pagination__disabled>*>*{
          background:none;
        }
      }
    }
  }
  //highlight page 3 on pagination item demo (gef-pagination__active)
  .search_pagination_demo .sws-search-results {
      & li:nth-child(4) a {
        background: @sws-primary-theme-color !important;
        color: @sws-theme-link-font-color-light!important;
      }
  }
}
