.theme1 {
  .sws-inline-menu {
      background-color: @sws-primary-theme-color;
  }
  a.sws-inline-menu__link {
      color: @sws-theme-link-font-color-light;
      font-family: @sws-secondary-font-family;
  }
  a.sws-inline-menu__link:hover {
      color: @sws-theme-link-font-color-light;
  }
  //Local desktop quicklinks
  .sws-fullwidth-icon-menu__icon-wrap {
      background-color: @sws-primary-theme-color;
  }
  .sws-fullwidth-icon-menu__icon-wrap::before {
      border-right: 26px solid @sws-primary-theme-lighter;
  }
  a.sws-fullwidth-icon-menu__link p {
      color: @sws-theme-link-font-color-dark;
      font-family: @sws-secondary-font-family;
      font-weight: bold;
      font-size: 16px;
  }
  .sws-inline-menu__divider {
    color: @sws-theme-link-font-color-light;
  }
}
