.theme1 {

  .sws-side-navigation {
    > li {
      border-left: 6px solid transparent;

      &.uk-parent {

        &.uk-active {
          border-left: 6px solid @sws-primary-theme-color;
        }

        a.sws-side__open-icon {
          color: @sws-primary-theme-color;
        }
      }
    }
  }

}
