.theme1 {
  .component-sidebar{
    .themed-sidebar{
      background: @sws-primary-theme-color;
      color: @sws-theme-link-font-color-light;
      a, li, p{
        color: @sws-theme-link-font-color-light;
      }
      h2.black{
        color: @sws-theme-link-font-color-light !important;
      }
    }

    .uk-h3 {
      font-weight: 800;
      font-size: 1.375rem;
      line-height: 24px;
    }
    .uk-icon-calendar,.uk-icon-clock-o,.uk-icon-paperclip,.uk-icon-map-marker,.uk-icon-calendar-plus-o{
      color: @sws-theme-link-font-color-light;
    }

    &.categorySidebar--event-detail-page {
      .uk-icon-calendar,.uk-icon-clock-o,.uk-icon-paperclip,.uk-icon-map-marker,.uk-icon-calendar-plus-o{
        color: @sws-theme-icon-color;
      }
    }
    @media screen and (max-width: 769px) {
      h2, h2.uk-h3 {
         font-weight: 800;
         font-size: 1.25rem;
      }
    }
  }
}
