.theme1 {
  .gef-social-media-post {
    &__avatar {
      height: auto;
      img {
       max-width: 60px !important;
       height: 60px;
       padding:  10px;
       border: 1px solid #d8d8d8;
     }
    }
    &__metadatum{
      font-weight:300;
    }
    &__metadata-viewfeed a{
      //font-weight:500;
      font-size: 1rem;
      font-weight: 600;
    }
  }
  .sws-container-width-33 {
    .sws-social-media-parent-list {
      li:last-child {
        .gef-social-media-post {
          //border-bottom: 2px solid @sws-primary-theme-color;
        }
      }
    }
  }
}
