
/* Theme exposed variable defaults */
/* The exposed variables are used for integration purpose and this is what the user gets to change in site-wizard */
@exposed_sws-primary-theme-color: #c41201;

/* Important Notice*/
/* Following variable names should be used across all themes */
/* -------------------- */
//Theme colors
@sws-primary-theme-color: @exposed_sws-primary-theme-color;
@sws-primary-theme-lighter : lighten(@sws-primary-theme-color, 5%);
@sws-event-comp-bg-color: darken(@sws-primary-theme-color,4%);

//Theme variables dedicated to theme -1
@sws-secondary-theme-color : #ffffff;
@sws-quinary-theme-color:#eaeaea; //used in tabs as a bg for unselected tabs
@sws-local-footer-bg: #eaeaea; //Local footer background color, this might stay the same for theme-1
@sws-advance-search-hr-color: #d8d8d8;
@sws-tertiary-theme-color: #000; //used as the icon color for back-to-top, this might stay the same for theme-1

//Theme link colors
@sws-theme-link-font-color-light :#fff;
@sws-theme-link-font-color-dark: #000;
//This color needs to be always opposite to @sws-theme-link-font-color-light
//This is setup to accomodate hover state on color contrast mechanism
@sws-theme-hover-color:#000;
//This color switches icons to black for light theme;
@sws-theme-icon-color: @sws-primary-theme-color;

@sws-md: 767px;
@sws-sm: 200px;
@sws-lg: 960px;


// FONTS
// _fonts.less file has theme 1 font specific styles
@sws-font-weight-link-headings : 600;
@sws-primary-font-family : Open Sans, sans-serif;
@sws-secondary-font-family: "Zilla Slab";

@gef-font-family:  'Open Sans', sans-serif, 'Zilla Slab', serif;

// Base typography
@h123-font-family : @sws-secondary-font-family;
@h123-font-weight : 700;
@h456-font-family : @sws-primary-font-family;
@h456-font-weight : 700;
@sws-h1-base-font : 2.250rem;
@sws-h2-base-font : 1.625rem;
@sws-h3-base-font : 1.250rem;
@sws-h4-base-font : 1.000rem;
