@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:400,500,600,700|Raleway:400,500,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
.font-awesome-5{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.theme3 {
  @import "theme3/_variables-light.less";
  @import "theme3/_mega-menu.less";
  @import "theme3/_mega-menu-mobile.less";
  @import "theme3/_quicklinks.less";
  @import "theme3/_fonts.less";
  @import "theme3/_social-links.less";
  @import "theme3/_local-header.less";
  @import "theme3/_local-footer.less";
  @import "theme3/_albums.less";
  @import "theme3/_news.less";
  @import "theme3/_events.less";
  @import "theme3/_banner.less";
  @import "theme3/_content.less";
  @import "theme3/_newsletter.less";
  @import "theme3/_newsletter-cta.less";
  @import "theme3/_side-navigation.less";
  @import "theme3/_sidebar.less";
  @import "theme3/_page-components.less";
  @import "theme3/_events-landing.less";
  @import "theme3/_search-results.less";
  @import "theme3/_contact-us.less";
  @import "theme3/_social-media.less";
  @import "theme3/_alert-message-top.less";
}
