@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700|Open+Sans:300,400,700');
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype'),
  url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.material-icons {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.theme5 {
  @import "theme5/_variables.less";
  @import "theme5/_standard-template.less";
  @import "theme5/_local-header.less";
  @import "theme5/_quicklinks.less";
  @import "theme5/_mega-menu.less";
  @import "theme5/_local-footer.less";
  @import "theme5/_events.less";
  @import "theme5/_news.less";
  @import "theme5/_albums.less";
  @import "theme5/_page-components.less";
  @import "theme5/_events-landing.less";
  @import "theme5/_newsletter.less";
  @import "theme5/_sidebar.less";
  @import "theme5/_mega-menu-mobile.less";
  @import "theme5/_search-results.less";
  @import "theme5/_contact-us.less";
  @import "theme5/_content.less";
  @import "theme5/_banner.less";
  @import "theme5/_social-media.less";
  @import "theme5/_alert-message-top.less";
}
//Ie-specific rule
  body.sws-ie{
    //News
    .sws-latest-news{
      &-wrapper{
        .sws-latest-news{
          &__article__category{
            display: table;
          }
        }
      }
    }
    //News End
  }
