.fancybox {
  &-close-small:after, &-button {
    color: @sws-theme-link-font-color-light;
  }
  &-close-small:hover:after, &-button:hover {
    color: @sws-octonary-theme-color;
  }
  &-close-small:after {
    .iconMixin("\f00d",1.5rem,@sws-theme-link-font-color-light);
    top: 0;
    right: 0;
    background: @sws-primary-theme-color !important;
    border-radius: 0;
    padding-top: 12px;
    width: 50px;
    height: 50px;
  }
  &-navigation{
    button:before {
      background: @sws-primary-theme-color;
      width: 30px;
      height: 65px;
    }
    .fancybox-button--arrow_left:before{
      .iconMixin("\f0d9",1.5rem,inherit);
      left:0;
      vertical-align: middle;
      line-height: 67px;
    }
    .fancybox-button--arrow_right:before{
      .iconMixin("\f0da",1.5rem,inherit);
      right: 0;
      vertical-align: middle;
      line-height: 67px;
    }
    .fancybox-button svg{
      display:none;
    }
  }
  &-caption-wrap {
    font-family: @sws-primary-font-family;
    font-size: 1rem;
    padding: 5px 15px;
    font-weight: 300;
    background: @sws-primary-theme-color;
    color: @sws-theme-link-font-color-light;
    @media screen and (min-width: @sws-lg) {
      font-weight: normal;
      padding: 5px 20px;
    }
    .fancybox-caption {
      padding: 5px 0;
      color: @sws-theme-link-font-color-light;
      border-top: 0;
      @media screen and (min-width: @sws-lg) {
        font-size: 1rem;
      }
    }
    .sws-caption-inside-wrapper {
      @media screen and (min-width: @sws-lg) {
        display: flex;
        justify-content: space-between;
        pointer-events: auto;
      }
      .sws-caption-back {
        padding: 5px 0 10px 0;
        a {
          font-weight: 600;
          color: @sws-theme-link-font-color-light;
        }
        &::before {
          .iconMixin("\f30a",1rem,inherit);
        }
      }
      .sws-caption-share {
        .sws-caption-share__link::before {
          .iconMixin("\f1e0",0.8125rem,inherit);
          margin-right: 5px;
        }
        .sws-caption-share__link {
           font-family: @sws-secondary-font-family !important;
           font-size: 0.875rem;
           font-weight: bold;
           background: @sws-tertiary-theme-color;
           border: 1px solid @sws-secondary-theme-color;
           border-radius: 0;
           color: @sws-secondary-theme-color;
           @media screen and (max-width: @sws-md) {
             margin: 10px 0;
           }
        }
      }
    }
  }
}
.sws-albums-gallery-wrapper__inner,.sws-albums-gallery-full-info__bottom,.sws-albums-gallery__album-info{
  background-color: @sws-primary-theme-color;
  font-family: @sws-primary-font-family ;
  font-size: 1rem;
}
// .sws-albums-gallery-wrapper__inner {
//   margin: 12px;
//   @media screen and (max-width: @sws-md){
//     margin: 6px 0px;
//   }
// }
.sws-albums-gallery__album-info{
  width: 100%;
  @media screen and (min-width: @sws-md){
    width:~'calc(100% - 20px)';
    left: 10px;
    bottom: 10px;
  }
}
.sws-albums-landing__content {
  @media screen and (max-width: @sws-md){
    margin: 0 -12px;
  }
}
.sws-album-gallery-header__button{
  border:1px solid  @sws-primary-theme-color;
}
.sws-albums-gallery-full-info__inner-design{

  // background-image: linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%);
  // background-image: -webkit-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Safari 5.1 to 6.0 */
  // background-image: -o-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Opera 11.1 to 12.0 */
  // background-image: -moz-linear-gradient(to left top, hsla(0,0%,100%,.1) 0%, hsla(0,0%,100%,.1) 50%, transparent 50%); /* For Firefox 3.6 to 15 */
  //background-color: @sws-primary-theme-color;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sws-albums-gallery-full-info,
.sws-albums-gallery__left-content,
.sws-albums-gallery__text,
.sws-albums-gallery__right-content span,
.sws-albums-gallery__right-content p{
  color: @sws-theme-link-font-color-light;
  font-weight: normal !important;
}

.sws-album-details {
  .album-view-more {
    h2 {
      font-size: 1rem;
      line-height: 1.13;
    }
  }
  &__index-banner{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    .sws-index-banner__txt-inner{
      .sws-latest-news__article{
        p,a,h1,h2,h3,h4,span{
          color: @sws-tertiary-theme-color;
        }
        p.sws-latest-news__article__date {
          font-size: 0.75rem;
          font-weight: normal;
        }
        p.sws-latest-news__article__icons span {
          margin-right: 8px;
          i::before {
            color: @sws-theme-icon-color;
          }
        }
        p.sws-latest-news__article__text {
          margin-top: 50px;
        }
      }
    }
  }
}

  // .sws-albums-landing {
    .sws-albums-gallery-full-info {
      p {
        font-size: 1.125rem;
      }
      &__bottom img {
        display: none;
      }
      &__bottom__inner:before {
         content: "\f03e";
         font-family: @sws-quaternary-font-family;
         font-size: 1rem;
         font-weight: normal;
         margin-right: 10px;
         vertical-align: sub;
         color: @sws-theme-link-font-color-light;
       }
    }

	.sws-albums-gallery__album-info {
	  @media screen and (max-width: @sws-md) {
	    background: @sws-secondary-theme-color;
    }
    img {
      display: none;
    }
    p.sws-albums-gallery__text {
      font-weight: normal;
      font-size: 1rem;
      @media screen and (max-width: @sws-md) {
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
    .sws-albums-gallery__right-content {
      padding-top: 5px;
      padding-bottom: 5px;
      span {
        font-size: 0.875rem;
        font-weight: normal;
      }
    }

    .sws-albums-gallery__right-content:before {
       content: "\f03e";
       font-family: @sws-quaternary-font-family;
       font-size: 1rem !important;
       color: @sws-theme-link-font-color-light;
       font-weight: normal;
       margin-right: 10px;
       vertical-align: middle;
       @media screen and (max-width: @sws-md) {
         .iconMixin("\f03e",inherit,@sws-primary-theme-color);
       }
    }

    p.sws-albums-gallery__text,
    .sws-albums-gallery__left-content,
    .sws-albums-gallery__right-content span {
      @media screen and (max-width: @sws-md) {
        color: @sws-tertiary-theme-color;
      }
    }
  }
  .sws-albums-gallery-full-info__bottom__inner {
    font-weight: normal !important;
  }
// }
