  .sws-static-banner-component__text {
      align-items: flex-end;
      min-width: 31%;
      h2, p {
        color: @sws-theme-link-font-color-light;
      }
  }
  .sws-static-banner-component__text.sws-static-banner-component__textOnly {
      align-items: center;
  }
  .sws-static-banner-component__textOnly .sws-static-banner-component__textOnly_inner{
      padding: 10%;
      @media screen and (max-width: @sws-lg) {
            padding: 20px;
      }
  }

  .sws-static-banner-component__text_inner {
      padding: 20px;
      background-color: transparent;
      h2 {
        font-size: 1.875rem;
        background: @sws-primary-theme-color;
        padding: 5px 15px;
        margin-bottom: 10px;
      }
      p {
        display: inline;
        background: @sws-primary-theme-color;
        letter-spacing: 1px;
        line-height: 1.4;
        padding: 5px 20px 5px 15px;
        -moz-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
      .sws-banner-inner_action {
          margin: 10px 0 0 0;
          a.sws-banner-inner_action__button {
              font-family: @sws-secondary-font-family;
              font-size: 0.875rem;
              font-weight: bold;
              border-radius: 0;
              background: @sws-tertiary-theme-color;
              width: 115px;
              &:hover {
                background-color: @sws-secondary-theme-color;
                color: @sws-tertiary-theme-color;
                border: 1px solid  @exposed_sws-primary-theme-color !important;
              }
          }
      }
   }
   .banner {
     border-top: 0;
   }
