//Contact Us
.category-sidebar--contact-us, .contact_us__map {
  @media screen and (min-width: @sws-md) {
    margin-top: 10px;
  }
}
.category-sidebar--contact-us {
  &__address {
    background: @sws-quaternary-theme-color;
    border-bottom: 1px solid @sws-quinary-theme-color;
    .uk-icon-thumb-tack:before {
      .iconMixin('\f08d',0.875rem,inherit);
    }
  }
  &__inner__wrapper {
    padding-left: 20px;
    h4 {
      font-size: 1rem;
    }
  }
  &__header {
    font-family: @sws-primary-font-family;
    margin-bottom: 20px;
    @media screen and (max-width: @sws-md) {
      margin-top: 10px;
    }
    .uk-accordion-title {
      padding-top: 10px;
      padding-bottom: 5px;
      margin-top: 0;
      @media screen and (max-width: @sws-md) {
        padding-left: 3px;
      }
      h4 {
        margin-bottom: 9px;
        @media screen and (max-width: @sws-md) {
          margin-bottom: 6px;
        }
      }
      .uk-icon-plus:before{
        .iconMixin("\f0d7",1.25rem,inherit);
      }
      small {
        font-size: 0.875rem;
      }
    }
    .uk-accordion-title.uk-active > .uk-icon-plus {
      transform: rotate(180deg) !important;
    }
    .uk-accordion-content {
      padding: 20px 15px 20px 20px;
      @media screen and (max-width: @sws-md) {
        padding-top: 5px;
        padding-left: 3px;
      }
      p {
        font-size: 1rem;
        margin-top: 0;
        i {
          width: auto;
          padding-right: 9px;
        }
        .uk-icon-map-marker:before, .uk-icon-phone:before, .uk-icon-envelope:before, .uk-icon-fax:before {
          .iconMixin(inherit,0.875rem,@sws-theme-icon-color);
        }
        .uk-icon-map-marker:before {
          content: '\f041';
        }
        .uk-icon-phone:before {
          content: '\f095';
        }
        .uk-icon-fax:before {
          content: '\f1ac';
        }
        .uk-icon-envelope:before {
          content: '\f0e0';
        }
      }
    }
    .category-sidebar--contact-us__inner__wrapper.uk-accordion-title.uk-active,
    .category-sidebar--contact-us__inner__wrapper.uk-accordion-title:hover.uk-active {
      border-left: 0;
    }
    .category-sidebar--contact-us__inner__wrapper.uk-accordion-title,
    .category-sidebar--contact-us__inner__wrapper.uk-accordion-title:hover,
    .category-sidebar--contact-us__inner__add__block.uk-accordion-content,
    .category-sidebar--contact-us__inner__add__block.uk-accordion-content:hover {
      border-bottom: 2px dashed @sws-senary-theme-color;
      border-left: 0;
    }
  }
}
.contact_us__map {
  padding-left: 35px;
  padding-right: 0;
  @media screen and (max-width: @sws-md) {
    padding: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }
}
