  //local heading
  // .local-header-heading {
  //    font-size: 2.25rem;
  //    line-height: 2.75rem;
  // }
  //lead para
  .sws-lead-paragraph{
    padding-top: 0;
  }

  //anchor
  .sws-content .gef-anchor-box ul.gef-link-list li::before {
    .iconMixin("\f111",0.5rem,@sws-primary-theme-color);
    font-weight: normal;
    margin-top: 10px;
  }
  .gef-anchor-box {
    border: 0;
    background: @sws-quaternary-theme-color;
    margin: 10px 0;
  }
  .gef-anchor-box__title{
    font-size: 1rem;
    font-family: @sws-primary-font-family;
    font-weight:bold;
  }
  //table
  .sws-content table thead {
    background-color: @sws-quaternary-theme-color;
  }
  .sws-content table thead tr th {
    color: @sws-tertiary-theme-color;
  }
  .sws-content table tbody td {
    border-bottom-color:@sws-octonary-theme-color;
  }
  //blockquote
  .sws-blockquote {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-left: 22px solid @sws-primary-theme-color;
    padding: 10px;
    margin-left: 0;
    i::before {
      content: open-quote;
      font-family: @sws-secondary-font-family;
      font-size: 2.875rem;
      font-weight: bold;
      color: @sws-theme-link-font-color-light;
      left: -20px;
      top: -30px;
    }
  }
  //tabs
  .sws-content .js-tabs.gef-tabs--active .gef-tabs__group [role="tab"][aria-selected=true] {
    background-color: @sws-primary-theme-color;
    color: @sws-theme-link-font-color-light;
  }
  @media screen and (max-width: @sws-md) {
    .gef-tabs--active .gef-tabs__group [role="tab"] {
      background-color: @sws-secondary-theme-color;
      text-transform: none;
      font-weight: 600;
      &:after {
        .iconMixin("\f0d7",1.25rem,inherit);
      }
    }
  }
  .gef-tabs--active .gef-tabs__group [role="tabpanel"] {
    border-bottom: 1px solid @sws-primary-theme-color;
  }
  .sws-content .js-tabs.gef-tabs--active .gef-tabs__panel-group [role="tabpanel"] {
    border: 1px solid @sws-primary-theme-color;
    border-left: none;
    border-right: none;
  }
  //callout
  .sws-content .gef-call-out-box .sws-callout-box {
    border: 0;
    background: @sws-quaternary-theme-color;
  }
  .uk-icon-external-link:before, .gef-external-link:before {
    .iconMixin("\f360",inherit,@sws-primary-theme-color);
  }
  hr {
    border: 1px solid @sws-primary-theme-color;
  }
  //back-to-top
  .gef-btt {
    border-radius: 50%;
    border: 3px solid @sws-tertiary-theme-color;
    .gef-btt .uk-icon-angle-up {
      color: @sws-tertiary-theme-color;
    }
  }
  //breadcrumbs
  .gef-breadcrumbs__link {
    font-family: @sws-primary-font-family;
    text-decoration: underline;
    font-size: 0.75rem;
    font-weight: normal;
    i {
      font-size: 1rem;
    }
  }
  ul.gef-breadcrumbs__list {
    margin-bottom: 0;
  }
  .gef-breadcrumbs__dropdown div,
  .gef-breadcrumbs__dropdown:hover:after,
  .gef-breadcrumbs__dropdown.active-clicked:after,
  .gef-breadcrumbs__dropdown.active-hovered:after,
  .gef-breadcrumbs__dropdown.active-focused:after {
    background-color: @sws-primary-theme-color;
    color: @sws-theme-link-font-color-light;
  }
  .gef-breadcrumbs__dropdown p:before,
  .gef-breadcrumbs__dropdown a {
    color: @sws-theme-link-font-color-light;
  }
  .gef-breadcrumbs__item a {
    font-family: @sws-primary-font-family;
    font-size: 0.75rem;
  }
  .gef-breadcrumbs__item span {
    font-family: @sws-secondary-font-family;
    font-size: 0.875rem;
    font-weight: 700;
  }
  .sws-content-header {
    background: transparent;
    border-bottom: 5px solid @sws-primary-theme-color;
    padding-bottom: 0;
    margin-bottom: 20px;
    @media screen and (max-width: @sws-md) {
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
    h1 {
      font-size: 1.875rem;
      @media screen and (max-width: @sws-md) {
        font-size: 1.5rem;
        padding: 20px 0;
      }
    }
    .event-details-heading h1 {
      margin-bottom: 0;
    }
    .event-latest-reminder {
      background: @sws-primary-theme-color;
      font-size: 0.875rem;
      padding: 10px 20px 30px 20px;
      float: right;
      right: -10px;
      top: 1px;//27px;
      @media screen and (min-width: 768px) {
        margin-top: 26px;
      }
      @media screen and (max-width: @sws-lg) {
        clear: none;
      }
      @media screen and (max-width: @sws-md) {
        padding: 10px 20px 15px 15px;
        top: 0px;
        float: left;
        right: -20px;
        width: 100%;
        margin-left: -12px;
        margin-bottom: -4px;
      }
      .uk-icon-calendar-plus-o:before, a {
        color: @sws-theme-link-font-color-light;
      }
      a {
        font-weight: normal;
      }
    }
    //--This is for Page header with FTD tag
    .event-title-box {
      .event-details-heading {
        padding-right: 20px;
        h1 {
          @media screen and (max-width: @sws-lg) {
            margin-bottom: 0;
          }
        }
      }
      .from_department--events-header {
        padding-bottom: 0;
        @media screen and (max-width: @sws-lg) {
          position: initial;
          clear: both;
        }
        @media screen and (max-width: @sws-md) {
          padding-bottom: 10px;
        }
        .from-the-department {
          margin: 18px 0 0 0;
          @media screen and (max-width: @sws-lg) and (min-width: 768px) {
            margin: 13px 0 0 0;
          }
          @media screen and (max-width: @sws-md) {
            margin: 0;
          }
        }
      }
      .event-latest-reminder {
        @media screen and (max-width: @sws-lg) and (min-width: 768px) {
          clear: none;
          position: relative;
          float: right;
          top: 1px;
        }
      }
    }
  }
  .sws-content {
    .sws-latest-news__article h3 a {
      font-size: 1.25rem;
      line-height: 1.2;
    }

    h1, h2, h3, h4 {
      font-family: "Oswald";
    }
    a, .sws-download-link__file-size,
    p.category-sidebar--events_detail__attachments > a,
    p.category-sidebar--events_detail__links > a {
      font-size: 0.875rem;
      font-weight: normal;
      letter-spacing: normal;
    }
    p > a {
      font-size: inherit;
      font-weight: 600;
    }
    ul li a {
      font-weight: 600;
    }
    ul li::after {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
  //Show hide - Content Component and Latest News
  .sws-content .gef-show-hide.uk-accordion {
    border-bottom: 0;
  }
  .sws-content .gef-show-hide .uk-accordion-title,
  .sws-latest-news .gef-show-hide .uk-accordion-title {
    background: @sws-quaternary-theme-color;
    border-top: 0;
    margin-bottom: 5px;
    padding-left: 20px;
    &.uk-active {
      background: @sws-primary-theme-color;
      color: @sws-theme-link-font-color-light;
      i::before {
        transform: rotate(180deg);
      }
    }
    i {
      top: 5px;
      font-size: 2.2rem;
      &::before {
        .iconMixin("\f0d7",1.25rem,inherit);
      }
    }
  }
  .events-article-wrapper {
    margin-bottom: 10px !important;
  }
