  .sws-eventslanding-hr {
    border-top: 2px solid @sws-primary-theme-color;
    @media screen and (max-width: @sws-md) {
      border-top: 1px solid @sws-primary-theme-color;
    }
  }
  .gef-search-results__info{
      margin-bottom: 5px !important;
      max-width: fit-content;
  }
  .sws-news-newsContent{
    .sws-event-stamp-wrapper, .sws-event-stamp-wrapper-noimage{
      padding: 11px 10px 10px 0;
      @media screen and (max-width: @sws-md){
        padding-top:5px;
      }
    }
    .sws-event-stamp-wrapper, .sws-event-stamp-wrapper-noimage{
      left: 0px;
    }
    .sws-event-stamp-wrapper-noimage{
      .sws-single-event-square:after, .sws-single-event-square_inside--eventslanding:after {
        border:0;
      }
    }


    //applied to all squares
    .sws-single-event-square--eventdetails {
      background: none;
      .sws-single-event-square_design {
        width: 80px;
        height: 80px;
        background-color: @sws-primary-theme-color;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        font-family: @sws-secondary-font-family;
        .sws-single-event-square_inside, .sws-single-event-square_inside--no_twistee {
            font-weight: bold;
            color: @sws-theme-link-font-color-light;
            position:relative;
            width: 70px;
            p.sws-event-day {
              font-size: 0.875rem;
              margin-bottom: 0;
              padding-top: 0;
            }
            p.sws-event-day-date {
              font-size: 2.25rem;
            }
            p.sws-event-month {
              font-size: 1rem;
            }
        }
        .sws-single-event-square_inside:after, .sws-single-event-square_inside--no_twistee:after {
            border:0;
        }
      }
    }
  }
  //event details
  .event-latest-img {
    margin-bottom: 15px;
  }
  .event-details-latest-share {
    font-family: @sws-secondary-font-family;
    font-size: 0.875rem;
    background: @sws-tertiary-theme-color;
    border: 1px solid @sws-theme-link-font-color-light ;
    border-radius: 0;
    width: 93px;
    @media screen and (max-width: @sws-md) {
      width: 66px;
    }
    a {
      font-weight: bold !important;
      color: @sws-secondary-theme-color;
      .uk-icon-share-alt:before {
        padding-right: 10px;
        @media screen and (max-width: @sws-md) {
          padding-right: 0;
        }
      }
    }
  }
  //Event Landing component --start
  .from_department--events-landing {
    height: 27px;
    .from-the-department {
      width: 80px;
    }
  }
  .sws-container-inner.sws-news-newsContent {
    .sws-latest-news.sws-latest-news--eventslanding.gef-pseudo-link {
      .event-landing-article-image, .event-landing-article-noimage{
        .sws-latest-news__article {
          h3 a {
            font-weight: 600;
          }
        }
      }
    }
  }


  //Event Landing component --end
/*
  .sws-event-stamp-wrapper{
    position: relative;
    bottom:182px;
    left: 30px;
    width: 80px;
  }
  .sws-event-landing-article-wrapper{
    margin-top: -130px;
  }
  .sws-event-landing-grid-main{
    margin-right: 30px;
    max-height: 613px;
  }
  .sws-event-landing-grid-main--first-component{
    height: 613px;
  }
*/
