  // .event-detail-upcoming-events .sws-container-full-width {
  //   margin-left: 0;
  // }
  //--Regular Column Control style for Events component
  .sws-container-full-width .sws-single-event {
    @media screen and (min-width: @sws-full) {
      max-width: 32.7% !important;
      &:nth-child(3n) {
        margin-right: 0 !important;
      }
    }
    @media screen and (min-width: @sws-md-a) and (max-width: @sws-lg-b) {
      max-width: 49.3% !important;
      &:nth-child(even) {
        margin-right: 0 !important;
      }
    }
    /*@media screen and (max-width: @sws-sm-d) {
      width:~'calc(100% + 6px) !important';
      margin-left: -22px !important;
    }*/
    .sws-event-date {
      @media screen and (min-width: @sws-lg) {
         width: 112px;
      }
    }
  }
  .sws-container-width-66 .sws-single-event,
  .sws-grid .sws-container-width-66 .sws-single-event {
    @media screen and (min-width: @sws-md-a) {
      max-width: 49.3% !important;
      &:nth-child(3n) {
        margin-right: 10px !important;
      }
      &:nth-child(even) {
        margin-right: 0 !important;
      }
    }
  }
  .sws-container-width-33 .sws-single-event,
  .sws-grid .sws-container-width-33 .sws-single-event {
    @media screen and (min-width: @sws-full) {
      max-width: 100% !important;
      margin-right: 0 !important;
    }
    @media screen and (min-width: @sws-md-a) and (max-width: @sws-lg-b) {
      max-width: 49.3% !important;
      &:nth-child(even) {
        margin-right: 0 !important;
      }
    }
  }
  //SWR-3117 AEM fix start
  // .sws-events-full-width .sws-single-event {
  //   @media screen and (min-width: @sws-full) {
  //     max-width: 32% !important;
  //   }
  //   @media screen and (min-width: @sws-md-a) and (max-width: @sws-lg-b) {
  //     max-width: 49% !important;
  //     &:nth-child(even) {
  //       margin-right: 0 !important;
  //     }
  //   }
  // }
  // .sws-container-width-66 .sws-events-full-width .sws-single-event {
  //   @media screen and (min-width: @sws-md-a) {
  //     max-width: 48% !important;
  //   }
  // }
  // .sws-container-width-33 .sws-events-full-width .sws-single-event {
  //   @media screen and (min-width: @sws-md-a) {
  //     max-width: 100% !important;
  //   }
  // }
  //SWR-3117 AEM fix end
  .sws-single-event {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      margin: 0 10px 15px 0 !important;
      padding:10px 10px 10px 0;
      .sws-event-date {
         padding-left: 0px;
      }
      .sws-single-event-square {
         background-color: @sws-secondary-theme-color;
         font-family: @sws-secondary-font-family;
         margin-left: 0px;
         margin-right: 0px;
         .sws-single-event-square_design {
              width: 80px;
              height: 80px;
              background-color: @sws-primary-theme-color;
              border-top-right-radius: 80px;
              border-bottom-right-radius: 80px;
              .sws-single-event-square_inside {
                  font-weight:bold;
                  color: @sws-theme-link-font-color-light;
                  position:relative;
                  width: 70px;
                  p.sws-event-day {
                    font-size: 0.875rem;
                    margin-bottom: 0;
                    padding-top: 0;
                  }
                  p.sws-event-day-date {
                    font-size: 2.25rem;
                  }
                  p.sws-event-month {
                    font-size: 1rem;
                  }
              }
              .sws-single-event-square_inside:after, .sws-single-event-square_inside--no_twistee:after {
                  border:0;
              }
          }
      }
      .sws-single-event-square:after, .sws-single-event-square--no_twistee:after {
         border:0;
      }
      .sws-event-desc {
         font-family: @sws-primary-font-family;
         padding-left: 0px;
         h3 > a{
           font-size: 1.25rem;
           font-weight: 600;
           @media screen and (max-width: @sws-md) {
             font-size: 1rem;
           }
         }
         .sws-event-date-period, .sws-events-heading, .sws-event-location {
           font-size: 0.875rem;
           font-weight: 300;
           white-space: normal;
         }
         p {
           font-size: 1rem;
           font-weight: normal;
         }
      }
  }
  .sws-event-date-period-new:before,
  .uk-icon-calendar::before,
  .sws-events-heading-new:before,
  .uk-icon-clock-o::before,
  .sws-event-location-new:before,
  .uk-icon-map-marker::before,
  .sws-event-more-icon:after,
  .uk-icon-calendar-plus-o:before,
  .uk-icon-paperclip:before {
    .iconMixin(inherit,inherit,@sws-theme-icon-color);
  }
  .uk-icon-paperclip:before {
    content: '\f0c6';
  }
  .uk-icon-clock-o::before, .sws-events-heading-new:before {
    content: '\f254';
  }
  .uk-icon-calendar-plus-o:before {
    content: '\f055';
  }
  .uk-icon-calendar::before, .sws-event-date-period-new:before {
    content: '\f073';
  }
  .uk-icon-map-marker::before, .sws-event-location-new:before {
    content: '\f041';
  }
  .sws-event-month {
      font-family: @sws-secondary-font-family;
  }
  .sws-single-event-square_inside {
      color: @sws-theme-link-font-color-light;
      position:relative;
  }
  .sws-latest-news-header, .sws-social-media-header {
      font-family:@sws-secondary-font-family;
      margin: 10px 10px 25px 0;
      &__button {
         border: 1px solid @sws-secondary-theme-color;
         color:@sws-secondary-theme-color;
         background:@sws-tertiary-theme-color;
         border-radius:0px;
         padding: 10px;
         font-size: 0.875rem;
         font-weight: bold;
      }
      h2{
         font-size:1.875rem;
         margin-bottom: 18px;
      }
  }
