  .gef-main {
      font: 400 16px / 1.5 @sws-primary-font-family;      
  }
  //Adding font style for mobile navigation
  .sws-offcanvas-bar__main-unordered-list{
    font-family: @sws-primary-font-family;
  }
  /* Headings
   ========================================================================== */
  h1, h2, h3 {
    font-family: @h123-font-family;
    font-weight: @h123-font-weight;
  }
  h4, h5, h6 {
    font-family: @h456-font-family;
    font-weight: @h456-font-weight;
  }
  h1{
  font-size: @sws-h1-base-font;
  }
  h2{
  font-size: @sws-h2-base-font;
  }
  h3{
  font-size: @sws-h3-base-font;
  }
  h4{
  font-size: @sws-h4-base-font;
  }
