  .local-footer{
      background:@sws-local-footer-bg;
      border: 0;
      padding-bottom: 42px;
      .uk-container{
        position:relative;
        padding-top:5px;
        h2.local-footer-heading1{
            display:inline;
            padding:0px 10px;
            font-size:1.5rem;
            font-weight:bold;
            color:@sws-theme-link-font-color-light;
            background:@sws-primary-theme-color;
            letter-spacing: 1px;
            @media screen and (max-width:@sws-md){
              line-height:3.4rem;
              font-size: 1.875rem;
              font-weight: 600;
              padding:5px 15px 5px 5px;
              -moz-box-decoration-break:clone;
              -webkit-box-decoration-break:clone;
              box-decoration-break:clone;
           }
        }

        p, h3, p>a {
          font-size:0.875rem;
        }
        a{
          color:@sws-secondary-theme-color;
        }
      }
      & .local-footer-main-content{
         @media screen and (max-width:@sws-md){
           &:after{
             content:" ";
             position:absolute;
             height:1px;
             width:100%;
             background:@sws-secondary-theme-color;
             //margin-left:-17px !important;
             //margin-top:20px;
             margin-left:-12px !important;
           }
         }
         .uk-accordion-title, .uk-accordion-content {
           color: @sws-secondary-theme-color;
         }
         .local-footer-mobile-elements{
             text-align: center;
             font-size: 0;
             margin-bottom: 20px;
             @media screen and (max-width: @sws-md){
               margin-top: 5px;
             }
             a{
                font-family:@sws-secondary-font-family;
                font-size:1rem !important;
                font-weight:600;
                padding: 10px;
                background-color: @sws-tertiary-theme-color;
                border:1px solid @sws-secondary-theme-color;
                border-radius:0;
             }
             .sws-call-button{
                margin: 0 6px 6px 6px;
                width: 135px;
                height: 40px;
             }
             .sws-mail-button{
                margin: 0 6px 6px 6px;
                width: 280px;
                height: 40px;
             }
             .sws-call-button:hover, .sws-call-button:focus, .sws-mail-button:hover, .sws-mail-button:focus{
                // background-color: @sws-primary-theme-color;
                // color: @sws-theme-link-font-color-light;
              }
          }
      }
      & .local-footer-social-media{
         @media screen and (max-width: @sws-md){
           .sws_social_links{
             display:flex;
             margin:auto;
             justify-content:space-evenly;
           }
           .sws-social-media__link:before{
             font-size: 3rem;
           }
         }
      }
      // & .local-footer-logo{
      //   position:absolute;
      //   top:11px;
      //   left:720px;
      //   @media screen and (max-width: 1220px) {
      //     left: 59%;
      //   }
      // }
  }

  .local-footer-message{
      background:@sws-primary-theme-color;
      color:@sws-theme-link-font-color-light;
      font-family:@sws-tertiary-font-family;
      font-family: LucidaGrande;
      p {
        margin-bottom: 0px;
      }
      @media screen and (max-width: @sws-md){
        padding: 20px 5px;
      }
  }
  .local-footer-main-content, .local-footer-heading2, .local-footer-heading3{
      font-family:@sws-primary-font-family;
      font-weight:600;
      color:@sws-secondary-theme-color;
  }
  .local-footer-heading2 {
      margin-top:12px;
      @media screen and (max-width: @sws-md){
          margin-top:20px;
          margin-bottom: 10px;
      }
   }
   .local-footer-heading3{
       margin-top:12px;
       @media screen and (max-width: @sws-md){
           margin-top:25px;
           margin-bottom:6px;
       }
    }
    .local-footer-contact {
       @media screen and (min-width: @sws-md-a) {
         //margin-bottom: 0px !important;
       }
       .local-footer-phone, .local-footer-add{
         @media screen and (min-width: @sws-md){
           margin-top: 10px !important;
         }
       }
    }
    .footer-multi__campus{
      &__openable{
        .uk-accordion-title{
          text-align: left;
          i{
            background: @sws-secondary-theme-color;
          }
        }
      }
    }
    //Overwrite the style from the original(single) campus footer
    .footer-multi__campus .local-footer .local-footer-main-content .local-footer-mobile-elements {
        .local-footer-phone a, .local-footer-email a {
          font-family:inherit;
          font-size:inherit;
          font-weight:inherit;
          padding:inherit;
          background-color:inherit;
          border:inherit;
          border-radius:inherit;
        }
     }
