  .local-header{
    margin-bottom:30px; 
    img.local-header-logo{
      margin-top:8px;
    }
    .local-header-name{
      font-family:@sws-primary-font-family;
      font-size:1.125rem;
      .local-header-heading{
        font-size:3rem;
        font-weight:800;
        line-height:48px;
        margin-top:41px !important;
      }
      .local-header-message{
        margin-top:23px;
        margin-bottom:0px;
      }
      .local-header-contact{
        margin-top:0;
        .local-header-contact-info-phone{
          width:40%;
          font-size:1rem;
          display:inline;
          background:@sws-quaternary-theme-color;
          padding-right:15px;
        }
        p > span {
          font-family:@sws-secondary-font-family;
          font-weight:600;
        }
        .local-header-contact-info{
          width:55%;
          font-size:1rem;
          display:inline;
          background:@sws-quaternary-theme-color;
          padding:0 10px !important;
        }
      }
    }
  }
