  .sws-mega-menu {
    background-color: @sws-secondary-theme-color;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    &-title-bar {
      margin: 10px 0 15px 0;
      li.sws-meganav-megalinks__li {
        border-right: 2px solid @sws-primary-theme-color;
        text-align: center;
      }
      li.sws-meganav-megalinks__li {
        .uk-grid.uk-dropdown-grid.uk-margin-top {
          text-align: left;
        }
      }
      a.sws-meganav-megalinks {
        padding:0px 13px;
      }
      li.uk-parent:first-child {
        padding-left: 0px;
      }
      li.uk-parent:last-child {
        border: 0;
      }
      li.uk-parent:hover {
        text-decoration: none !important;
      }
      li.uk-open {
        &:after {
          content: '';
          position: absolute;
          left: 10%;
          bottom: -14px;
          height: 3px;
          background-color: @sws-primary-theme-color;
          width: 80%;
          transition: width .25s;
        }
      }
    }
  }

  .uk-navbar-nav > li > a {
    font-family: @sws-secondary-font-family;
    font-weight: bold;
    color: @sws-tertiary-theme-color !important;
  }
  .uk-dropdown-navbar {
    background: @sws-secondary-theme-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid @sws-denary-theme-color;
    top: 50px !important;
    @media screen and (max-width:@sws-lg-c) {
      top: 68px !important;
    }
  }
  .sws-search-icon {
    //background: @sws-local-footer-bg;
    //height: 42px; note SWR-2192: try 50px but setting height would push down the search dock
    //margin: 10px 0;
  }
  .sws-search-icon__wrapper {
    margin-bottom: 12px;
    display: block;
  }
  .sws-search-icon__wrapper::before {
    color: @sws-secondary-theme-color;
    background: @sws-local-footer-bg;
    padding: 15px;
  }
  .sws-search-icon.uk-open {
    background: @sws-secondary-theme-color;

    &.sws-search-icon__mobile {
      background: transparent;
    }
  }
  ul.list-columns li a:after {
    color: @sws-primary-theme-color;
  }
  .sws-meganav-title {
    font-family: @sws-secondary-font-family;
    font-size: 1.625rem;
  }
  .sws-mega-nav-desc p {
    font-size: 1.125rem;
  }
  .uk-nav-navbar > li > a:hover,
  .uk-nav-navbar > li > a:focus {
    background: none;
  }
  .sws-search-input-textfield {
    border: 1px solid @sws-primary-theme-color;
  }
  ul.sws-mega-menu-title-bar li.uk-open {
    background: @sws-secondary-theme-color;
  }
  .uk-parent.sws-meganav-megalinks__li.sws-parent-menu:hover {
    color: @sws-theme-link-font-color-light;
  }

  .sws-search-input{
    z-index:5000;
  }
  .sws-meganav-container{
    position:relative;
  }
