  .sws-local-mobile-nav {
    background-color: @sws-secondary-theme-color;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }
  li.sws-local-mobile-nav__li-menu-items {
    background-color: #ababab;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li {
    background-color: #cccccc;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color:#eaeaea;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color:#eeeeee;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items.uk-open > .sws-local-mobile-nav__plus-icon{
    background-color:#eeeeee;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items.uk-open > .sws-local-mobile-nav__plus-icon{
    background-color:#eaeaea;
  }
  li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul > li > div > .sws-local-mobile-nav__menu-ul .sws-local-mobile-nav__li-menu-items{
    background-color: rgba(238, 238, 238, 0.8);
  }
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a p.sws-offcanvas-bar__quicklinks-p {
    color:@sws-theme-link-font-color-light;
    font-weight: bold;
  }
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:hover,
  .sws-offcanvas-bar__main-unordered-list a.sws-offcanvas-bar__quicklinks-a:focus {
    color: @sws-theme-link-font-color-light;
    background: none;
    p.sws-offcanvas-bar__quicklinks-p, p.sws-offcanvas-bar__quicklinks-p:before {
      color: @sws-theme-link-font-color-light;
    }
  }
  li.sws-local-mobile-nav__li-quicklinks {
    background: @sws-primary-theme-color;
  }
  .spanRule(){
    display: none;
  }
  .sws-local-mobile-nav{
    &-MakeaPayment{
      :before{
        font-family: "simple-line-icons";
        content: '\e025';
        padding-right: 10px;
      }
      span{.spanRule;};
    }
    &-Events{
      :before{
        font-family: "simple-line-icons";
        content: '\e075';
        padding-right: 10px;
      }
      span{.spanRule;};
    }
    &-Newsletter{
      :before{
        font-family: "simple-line-icons";
        content: '\e04c';
        padding-right: 10px;
      }
      span{.spanRule;};
    }
    &-Imagegallery{
      :before{
        font-family: "simple-line-icons";
        content: '\e07f';
        padding-right: 10px;
      }
      span{.spanRule;};
    }
    &-ContactUs{
      :before{
        font-family: "simple-line-icons";
        content: '\e010';
        padding-right: 10px;
      }
      span{.spanRule;};
    }
  }
  .uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon div,
  li .sws-local-mobile-nav__plus-icon div,.uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon div, li .sws-local-mobile-nav__plus-icon div.uk-icon-plus {
    font-family:@sws-secondary-font-family;
    font-size:2.125rem !important;
    color: @sws-primary-theme-color;
    font-weight:500;
    &:before {
      content: "\f067";
      font-family: "fontawesome";
      position: relative;
      top: -3px;
    }
  }
  .sws-local-mobile-nav__li--name-a{
    font-size:0.75rem !important;
  }
  .sws-local-mobile-nav nav h1.sws-local-mobile-nav__header-title {
    font-size:1.125rem !important;
    font-weight:600;
    line-height: 2rem;
    color: @sws-tertiary-theme-color !important;
    padding-top:5px;
    padding-bottom:5px;
  }
  .sws-local-mobile-nav nav h2.sws-local-mobile-nav__header-title {
    font-size:1.125rem !important;
    font-weight:600;
    line-height: 2rem;
    color: @sws-tertiary-theme-color !important;
    padding-top:5px;
    padding-bottom:5px;
  }
  h2.search_summary {
    font-family: @sws-primary-font-family;
  }
  li.sws-local-mobile-nav__li-menu-items a,li.sws-local-mobile-nav__li-menu-items p,li.sws-local-mobile-nav__li-menu-items ul.sws-local-mobile-nav__menu-ul > li div > a.sws-local-mobile-nav__li--name-a {
    color: @sws-tertiary-theme-color;
  }
  .uk-navbar-toggle {
    font-size: 22px;
    vertical-align: middle;
  }
  .sws-search-icon__mobile{
      background:transparent;
      .sws-search-icon__button{
        color:@sws-tertiary-theme-color !important;
        padding-right: 22px;
        font-size: 20px;
      }
  }
  .sws-local-mobile-nav__icon--nav::after{
    color:@sws-tertiary-theme-color !important;
    margin-left: 8px;
    vertical-align: middle;
  }
