  .sws-newsletter {
    .category-sidebar {
      background-color: #eee;
      position: relative;
      overflow: hidden;
      z-index: 0;

      &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-left: 320px solid #e7e7e7;
        border-bottom: 190px solid transparent;
        z-index: 1;
      }

      nav {
        padding: 30px;
        background: transparent;
        z-index: 2;
        position: relative;
      }

      &__mobile {
        &::before {
          content: none;
          display: none;
        }
      }
      article i:before{
        color:@sws-theme-link-font-color-light;
      }
    }

    #sws-select-year {
      font-family: @sws-secondary-font-family;
      font-size: 1rem;
    }

    .sws-newsletter--component {
      background-color: transparent;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      .sws-newsletter__copy{
        h3, p, article, a, article i:before,
        .sws-download-link, .sws-download-link a, .sws-download-link span {
          color: @sws-tertiary-theme-color;
        }
        h3>a {
          font-size: 1.25rem;
          font-weight: 600;
        }
      }
    }

    .sws-loader-svg-1 {
      img, svg {
        .svg-rectangle {
          fill: @sws-primary-theme-color;
        }
      }
    }
  }
