  .sws-newsletter-cta__link {
        background-color: @sws-secondary-theme-color;
        display: block;
        border: 40px solid @sws-local-footer-bg;
        border-right: 20px solid rgba(0,0,0,0);
        border-left: 20px solid rgba(0,0,0,0);
        @media screen and (max-width: @sws-md) {
          border: 90px solid @sws-local-footer-bg;
          border-right: 0;
          border-left: 0;
          font-size: 1.5rem;
        }
        &:hover {
          border: 40px solid @sws-primary-theme-color;
          border-right: 20px solid rgba(0,0,0,0);
          border-left: 20px solid rgba(0,0,0,0);
          h2, p {
            color: @sws-theme-link-font-color-light;
          }
          @media screen and (max-width: @sws-md) {
            border: 90px solid @sws-primary-theme-color;
            border-right: 0;
            border-left: 0;
            font-size: 1.5rem;
          }
          &:focus {
            text-decoration-color: @sws-theme-link-font-color-light;
          }
        }
        &:focus {
          text-decoration-color: @sws-primary-theme-color;
        }
        svg {
          display: none;
        }
        h2, p {
          color: @sws-secondary-theme-color;
          margin: 0;
          text-align: center;
        }
        h2 {
          font-size: 1.875rem;
          margin-top: -30px;
          @media screen and (max-width: @sws-md) {
            margin-top: -40px;
          }
          @media screen and (max-width: @sws-sm-b) {
            margin-top: -60px;
          }
        }
        p {
          font-family: @sws-primary-font-family;
          font-weight: normal;
        }
  }
