  .sws-latest-news,
  .sws-latest-news__article,
  .sws-latest-news .sws-latest-news__article__heading {
    background-color: @sws-secondary-theme-color;
    color: @sws-tertiary-theme-color;
  }
  .sws-latest-news-header__button {
    border: 1px solid @sws-primary-theme-color;
  }
  .sws-latest-news {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    a {
      padding: 0 20px 0 0;
    }
    .sws-latest-news__article {
      padding: 30px 25px 40px 25px;
      font-family: @sws-primary-font-family;
      @media (max-width: @sws-md){
         padding: 30px 15px 30px 18px;
      }
      h3 {
        font-weight: 600;
      }
      p.sws-event-date-period {
        padding-right: 20px !important;
      }
    }
    .sws-latest-news__article__text {
      margin-top: 10px;
      font-size: 1rem;
    }
    .sws-latest-news__article__heading {
      font-size: 1.625rem;
      font-weight: normal !important;
      overflow: hidden;
      display: inline;
      color: @sws-theme-link-font-color-light;
      background: @sws-primary-theme-color;
      letter-spacing: normal;
      line-height: 1.6;
      padding: 0px 20px 5px 6px;
      margin-left: 0px;
      -moz-box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
    .sws-latest-news__article__category,
    .sws-latest-news__article__date {
      font-size: 0.875rem;
      font-weight: 300;
    }
    .sws-latest-news__article__category {
      margin-bottom: 10px;
    }
    .sws-latest-news__article__date {
      margin: 17px 0 22px 0;
    }
  }
  .news-article {
    blockquote {
      margin-left: 50px;
    }
    div.sws-news-article-content > p:first-child {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
  .sws-album-details__index-banner {
    .sws-latest-news {
      p, a, b, i, i::before, span,
      h1, h2, h3, h4, h5, h6, ul, li, ol, sub, sup,
      .sws-latest-news__article__text,
      .sws-latest-news__article__heading,
      .sws-latest-news__article__date,
      .sws-latest-news__article__category,
      .sws-latest-news__article__date {
        color: @sws-tertiary-theme-color;
      }
    }
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .from_department--news_article {
     padding-bottom: 30px;
     @media (max-width: @sws-md){
        padding-bottom: 0px;
     }
  }
  .sws-index-banner {
    &__img {
      background: @sws-secondary-theme-color;
    }
  }
