  //------Search Filter
  .sws-advance-search{
    // hr {
    //   border-top: solid 2px @sws-advance-search-hr-color;
    // }
    &__block{
      font-size: 1rem;
      font-weight: 700;
      font-family: @sws-primary-font-family;
      margin: 0px;
    }
    &__select{
      font-size: 1rem;
      font-weight: 300;
      font-family: @sws-primary-font-family;
      background: @sws-tertiary-theme-color;
      color: @sws-secondary-theme-color;
      padding: 10px 35px 10px 16px;
      border-radius: 0;
      &-wrapper{
        border-radius: 0;
        border: 1px solid @sws-secondary-theme-color;
        background: @sws-tertiary-theme-color;
        color: @sws-secondary-theme-color;
      }
      &-wrapper:after{
        content:'\f0d7';
        right: 22px;
        top: 20%;
      }
    }
    &__text {
      @media screen and (max-width: @sws-md) {
         margin: 0;
      }
    }
    button{
      font-size: 1rem;
      font-weight: 700;
      font-family: @sws-secondary-font-family;
      border-radius: 0;
      border-color: @sws-secondary-theme-color;
      background: @sws-primary-theme-color;
      color: @sws-theme-link-font-color-light;
    }
  }
  //------View more button
  // .sws-view-more,
  // .sws-album-details .album-view-more{
  //   border: 1px solid @sws-primary-theme-color !important;
  //   font-family: @sws-secondary-font-family;
  //   font-size: @sws-h4-base-font;
  // }
  .sws-view-more {
    background: @sws-tertiary-theme-color;
    border-radius: 0;
    border: 1px solid @sws-secondary-theme-color;
    h2 {
      color: @sws-secondary-theme-color;
      font-size: 1rem;
      font-weight: bold !important;
    }
  }
  .sws-view-more:hover {
    background: @sws-tertiary-theme-color;
  }
  // .sws-loader-svg-1{
  //   svg{
  //     .svg-rectangle{
  //       fill: @sws-primary-theme-color !important;
  //     }
  //   }
  // }

  //-----News Index Banner
  // .sws-index-banner{
  //   &__img{
  //     background: @sws-primary-theme-color;
  //   }
  //   .sws-latest-news{
  //     background: @sws-primary-theme-color;
  //     &__article{
  //       background: @sws-primary-theme-color;
  //       color:@sws-secondary-theme-color;
  //     }
  //     &__article h3{
  //       background: transparent;
  //       color:inherit;
  //     }
  //   }
  //   &__article h3.sws-latest-news__article__heading{
  //     background: transparent;
  //     color:inherit;
  //   }
  // }
  //------Spacing between Page Header & Page Content --START
  nav.gef-breadcrumbs {
    margin-bottom: 20px;
  }
  .gef-breadcrumbs__item a, .gef-breadcrumbs__item span  {
    padding-bottom: 20px;
  }
  .gef-breadcrumbs__truncate:after {
    top: 50px;
  }
  .sws-content-header h1 {
    margin-bottom: 40px;
  }
  .event-details-heading {
    padding-top: 10px;
  }
  .news-article, .sws-news-article-wrapper-sidebar, .sws-index-banner__container--latest,
  .sws-index-banner, .sws-newsletter {
    margin-top: 10px;
  }
  .sws-advance-search__select-wrapper {
    margin-top: 0;
  }
  @media screen and (max-width: @sws-md) {
    nav.gef-breadcrumbs {
      margin-bottom: 0;
    }
    .news-article, .sws-index-banner, .sws-index-banner__container--latest,
    .sws-advance-search {
      margin-top: 25px !important;
    }
    .sws-advance-search__select-wrapper {
      margin-top: 10px;
    }
    .sws-content-header h1 {
      margin: 0;
    }
    .event-details-heading {
      padding-top: 0;
    }
  }
  //Spacing between Page Header & Page Content --END
  //Alert
  .alert-message-container__head {
    p {
      font-size: 1rem;
      font-family: Open Sans,sans-serif;
      @media screen and (max-width:@sws-md){
        font-size:0.875rem;
      }
    }

    h2 {
      font-size: 2rem;
      font-family: Open Sans,sans-serif;
      @media screen and (max-width:@sws-md){
        font-size:1.5rem;
      }
    }
  }
  //Overrides.less
  .uk-h5 {
    font-size: 1rem;
    line-height: 1.43;
    margin-bottom: 14px;
    letter-spacing: .01em;
    font-weight: 800;
    @media screen and (min-width: @sws-md-a) {
        margin-bottom: 0;
        font-size: 1.125rem;
        line-height: 1.44;
        margin-top: 1.875rem;
        letter-spacing: .03em;
        color: @sws-tertiary-theme-color;
        font-weight: 800;
    }
  }
