  .sws-global-quicklinks {
      background: @sws-local-footer-bg;
  }
  .uk-flex-right {
      //justify-content: flex-start;
      //padding-left: 145px;
  }
  ul.sws-inline-menu {
      background: @sws-local-footer-bg;
      & .sws-inline-menu__li {
        line-height: 1rem;
        margin:10px 0;
        a.sws-inline-menu__link {
            color: @sws-secondary-theme-color;
            font-family: @sws-primary-font-family;
            font-size: 0.875rem;
            line-height: 1rem;
            &:hover{
              text-decoration: none;
              text-shadow: 0.01em 0 #ffffff;
              -webkit-text-fill-color: #ffffff;
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: #ffffff;
            }
        }
        a.uk-text-uppercase {
            text-transform: none !important;
        }
        .sws-inline-menu__divider {
            display: none;
        }

      }
  }
  //Local desktop quicklinks
  .sws-fullwidth-icon-menu__icon-wrap {
      // background-color: @sws-primary-theme-color;
  }
  .sws-fullwidth-icon-menu__icon-wrap::before {
      // border-right: 26px solid @sws-primary-theme-lighter;
  }
  a.sws-fullwidth-icon-menu__link p {
      color: @sws-tertiary-theme-color;
      font-family: @sws-secondary-font-family;
      font-weight: bold;
      font-size: 1rem;
  }
