//Search Results
.search_mobile_view {
  padding: 10px 0;
  @media screen and (max-width: @sws-md) {
    padding: 25px 0 20px 0 !important;
  }
  input.search-text-box {
    margin-top: 0;
    padding: 25px;
    font-family: @sws-primary-font-family;
    font-size: 1.125rem;
    color: @sws-theme-link-font-color-light;
    background: @sws-theme-hover-color;
    border: 1px solid @sws-theme-link-font-color-light;
    @media screen and (max-width: @sws-md) {
      padding: 15px 10px;
    }
  }
  .search-icon-wrapper {
    top: 30px;
    @media screen and (max-width: @sws-md) {
      right: 12px;
    }
    a {
      color: @sws-theme-link-font-color-light;
    }
  }
}
.search-results {
  &__hr {
    @media screen and (max-width: @sws-md) {
      width: auto;
      margin-left: 0;
    }
    hr {
      border: 2px solid @sws-advance-search-hr-color;
      margin: 20px 0;
      @media screen and (max-width: @sws-md) {
        margin: 5px 0;
      }
    }
  }
  &-header h2 {
    font-size: 1rem !important;
  }
}
h2.search_summary {
  padding: 0 !important;
  margin: 15px 0 67px 0 !important;
}
.search-block {
  padding: 15px 0;
  margin: 0;
  @media screen and (max-width: @sws-md) {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: @sws-secondary-theme-color;
    padding: 15px 5px;
    margin-bottom: 13px !important;
  }
  h2.gef-search-results__itemheader {
    font-family: @sws-primary-font-family;
    @media screen and (max-width: @sws-md) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: @sws-lg-a) {
    .gef-search-results__itemheader {
        font-size: 1rem;
    }
  }
  img.search-results-image {
    padding-top: 6px;
    margin-right: 11px;
    //margin-bottom: 0;
    @media screen and (max-width: @sws-md) {
      padding: 0;
      margin-right: 0;
    }
  }
  .search-para-wrapper p {
    font-size: 1rem !important;
    padding-top: 4px;
    @media screen and (max-width: @sws-md) {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
  .sr_url_text_wrapper p {
    font-size: 0.875rem;
    font-weight: 300;
    @media screen and (max-width: @sws-md) {
      margin-bottom: 0;
      padding-top: 10px;
    }
  }


}
.sws-search-results {
  @media screen and (min-width: @sws-md) {
    margin-left: 0;
  }
  ul.gef-pagination {
    margin-top: 0;
    padding-top: 32px;
    @media screen and (max-width: @sws-md) {
      padding-top: 26px;
    }
    li {
      margin-top: 0;
      margin-right: 5px;
    }
  }
  .gef-pagination li > a, .gef-pagination li > span {
    font-family: @sws-secondary-font-family;
    font-size: 1rem;
    color: @sws-theme-link-font-color-light !important;
    background: @sws-theme-hover-color;
  }
  .gef-pagination__disabled > a, .gef-pagination__disabled > span {
    background: @sws-theme-hover-color !important;
  }
  .gef-pagination .gef-pagination__active a {
    background: @sws-primary-theme-color !important;
  }
  .gef-pagination__prev span:first-child, .gef-pagination__next :first-child {
    @media screen and (max-width: @sws-md) {
      border-radius: 0;
      padding: 10px 20px;
    }
  }
}
//highlight page 3 on pagination item demo (gef-pagination__active)
.search_pagination_demo .sws-search-results {
    & li:nth-child(4) a {
      background: @sws-primary-theme-color !important;
    }
}
