  aside.sws-sidebar-wrapper {
    padding-left: 0;
  }
  .component-sidebar {
    // @media screen and (min-width: @sws-lg-a) {
    //   margin: 0;
    // }
    h2.uk-h3 {
      display: inline;
      padding: 0px 15px;
      margin-left: 15px;
      font-size: 1.625rem;
      font-weight: normal;
      color: @sws-theme-link-font-color-light !important;
      background: @sws-primary-theme-color;
      letter-spacing: 1px;
    }
    .category-sidebar {
      nav.category-sidebar__desktop {
        padding: 15px 0 0 0;
        margin-bottom: 45px;
        border-bottom: 0.5px solid @sws-nonary-theme-color;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        background: @sws-secondary-theme-color;
        ul.gef-category-list {
          margin: 30px 30px 40px 30px;
          li {
            margin-top: 15px;
          }
        }
      }
      .category-sidebar__caret::after {
        .iconMixin("\f0d7",1.25rem,inherit);
      }
    }
    .themed-sidebar {
      padding: 15px 0 0 0;
      border-bottom: 1px solid @sws-octonary-theme-color;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      background: @sws-secondary-theme-color;
      ul.gef-category-list {
        margin: 25px 30px 15px 30px;
        li {
          margin-top: 20px;
          font-size: 0.875rem;
          a {
            font-size: 1rem;
            font-weight: 600;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  @media screen and (min-width: @sws-lg-a) {
    .archive-sidebar {
      margin-top: 45px;
      h2.uk-h3 {
        margin-left: -15px;
      }
    }
  }
  //events detail latest
  .events-latest-category-sidebar nav {
    padding: 20px;
    border-left: 1px dashed @sws-senary-theme-color;
    @media screen and (max-width: @sws-md) {
      border-left: 0;
    }
    h3 {
      padding-bottom: 10px;
    }
    p.category-sidebar--events_detail__attachments {
      margin-bottom: 0 !important;
    }
  }
