  .sws-content__content-page, .sws-content__side-nav {
    margin-top: 10px;
    @media screen and (max-width: @sws-md) {
      margin-top: 25px;
    }
  }
  .sws-side-navigation {
    font-size: 1.125rem;
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,.1);
    border: solid 1px @sws-septenary-theme-color;
    > li {
      padding-left: 6px;
      border-left: 0;
      border-bottom: 1px solid @sws-quaternary-theme-color;
    }
    li a.sws-side__open-icon {
      border: 0;
      .uk-icon-plus:before {
        .iconMixin("\f0da",1.5rem, inherit);
      }
    }
    > li.uk-parent.uk-open a.sws-side__open-icon i {
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    > li.uk-parent.uk-active {
      border-left: 0;
      background: @sws-primary-theme-color;
      a {
        color: @sws-theme-link-font-color-light;
        font-weight: 400;
      }
    }
  }
