.social-media{
  .gef-social-media-post {
    padding: 10px @sws-long-img-margin;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    &__media {
      margin: 0 -@sws-long-img-margin;
    }
    &__name {
      font-size: 1.125rem;
      font-weight: normal;
    }
    &__metadata {
      &:first-child {
        border-bottom: 1px solid @sws-quaternary-theme-color;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
    &__metadatum{
      font-weight:300;
      font-size: 0.875rem;
    }
    &__icon.uk-icon {
      &-youtube {
        &:before {
          content:"\f16a";
        }
      }
    }
  }
  @media screen and (max-width: 766px) {
    .gef-social-media-post {
      padding: @sws-long-img-margin-mobile;
      &__media {
        margin: 0 -@sws-long-img-margin-mobile;
      }
    }
  }
}
