  .sws_local_social-links {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: @sws-md) {
      padding-top: 15px;
      padding-bottom: 25px;
      .uk-container {
        h2 {
          line-height: 1.5;
        }
      }
    }
    @media screen and (min-width: @sws-md) {
      .uk-container {
        display: inline-block;
        h2 {
          padding-right: 25px;
          line-height: 1.2;
        }
        section {
          padding-left: 25px;
        }
      }
    }
    .sws-fullwidth-icon-menu {
      max-width: 255px;
      padding-top:24px;
      padding-bottom:24px;
    }
    .sws-fullwidth-icon-menu__li {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .sws-fullwidth-icon-menu__li:last-child {
        margin-right: 0px;
    }
    .sws-fullwidth-icon-menu__link i {
        color:@sws-local-footer-bg;
        font-size:  2.25rem;
        @media screen and (max-width: @sws-md) {
          font-size:  1.75rem;
        }
    }
    h2.uk-h2 {
      font-size:  1.875rem;
      margin-bottom: 0px;
      @media screen and (max-width: @sws-md) {
        font-size:  1.5rem;
      }
    }
  }
