
/* Theme exposed variable defaults */
/* The exposed variables are used for integration purpose and this is what the user gets to change in site-wizard */
@exposed_sws-primary-theme-color: #1464b6;

/* Important Notice*/
/* Following variable names should be used across all themes */
/* -------------------- */
//Theme colors
@sws-primary-theme-color: @exposed_sws-primary-theme-color;
@sws-primary-theme-lighter : lighten(@sws-primary-theme-color, 5%);
@sws-event-comp-bg-color: darken(@sws-primary-theme-color,4%);

//Theme variables dedicated to theme -3
@sws-secondary-theme-color: #ffffff;
@sws-tertiary-theme-color: #000000; //used as the icon color for back-to-top, this might stay the same for theme-1
@sws-quaternary-theme-color:#eeeeee;
@sws-quinary-theme-color:#ababab;
@sws-senary-theme-color:#979797;
@sws-septenary-theme-color:#eaeaea;
@sws-octonary-theme-color:#cccccc;
@sws-nonary-theme-color:#4a4a4a;
@sws-denary-theme-color:#dddddd;
@sws-local-footer-bg: #333333; //Local footer background color, this might stay the same for theme-1
@sws-advance-search-hr-color: #d8d8d8;
@sws-md: 767px;
@sws-sm: 200px;
@sws-lg: 960px;
//custom breakpoints
// @sws-sm-a: 320px;
@sws-sm-b: 419px;
// @sws-sm-c: 420px;
@sws-sm-d: 620px;
@sws-sm-e: 621px;
@sws-md-a: 768px;
@sws-lg-a: 1024px;
@sws-lg-b: 1199px;
@sws-lg-c: 1178px;
@sws-full: 1200px;
@sws-long-img-margin: 15px;
@sws-long-img-margin-mobile: 10px;
@sws-theme-link-font-color-dark: #000000;

//Theme link colors
@sws-theme-link-font-color-light:#fff;
//This color needs to be always opposite to @sws-theme-link-font-color-light
//This is setup to accomodate hover state on color contrast mechanism
@sws-theme-hover-color:#000;
//This color switches icons to black for light theme;
@sws-theme-icon-color: @sws-primary-theme-color;

// FONTS
// _fonts.less file has theme 1 font specific styles
@sws-font-weight-link-headings : 600;
@sws-primary-font-family : "Raleway", sans-serif;
@sws-secondary-font-family: "Oswald";
@sws-tertiary-font-family: "LucidaGrande";
@sws-quaternary-font-family: "FontAwesome";

@gef-font-family:  'Open Sans', sans-serif, 'Raleway', serif;

// Base typography
@h123-font-family : @sws-secondary-font-family;
@h123-font-weight : 700;
@h456-font-family : @sws-primary-font-family;
@h456-font-weight : 700;
@sws-h1-base-font : 1.875rem;
@sws-h2-base-font : 1.625rem;
@sws-h3-base-font : 1.250rem;
@sws-h4-base-font : 1.000rem;

//mixin for FontAwesome5 icons
.iconMixin(@content,@fontsize,@color) {
  content:@content;
  font-size:@fontsize;
  color:@color;
  .font-awesome-5;
}
