//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"
- var basePath = ""

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  include assets/pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1.indexpage-themeList

          h1.uk-margin-large-top
            | #{siteName} : #{pageName}

          h2#whitelabel.uk-h3 Whitelabel

          ul
            li
              a(href="whitelabel/albums-component.html") Albums component
            li
              a(href="whitelabel/components-default-full-width.html") Default Components - Full Width
            li
              a(href="whitelabel/components-default-width-contained.html") Default Components - Width Contained
            li
              a(href="whitelabel/latest-news-template.html") Latest news component
            li
              a(href="whitelabel/social-media-component.html") Social media component
            li
              a(href="whitelabel/standard-template.html") Standard Template
            li
              a(href="whitelabel/content-components.html") Content components
            li
              a(href="whitelabel/content-template.html") Content Template
            li
              a(href="whitelabel/global-template.html") Global Template
            li
              a(href="whitelabel/news-article.html") News Article
            li
              a(href="whitelabel/news-index-component.html") News Index
            li
              a(href="whitelabel/news-index-component2.html") News Index Ver2
            li
              a(href="whitelabel/newsletter.html") Newsletter
            li
              a(href="whitelabel/sws-search-results.html") Search Results
            li
              a(href="whitelabel/events-detail-template-latest.html") Events Detail Template Latest
            li
              a(href="whitelabel/events-detail-template-latest-image.html") Events Detail Template Latest-Image Variant
            li
              a(href="whitelabel/events-landing-page.html") Events Landing Page
            li
              a(href="whitelabel/album-detail-template.html") Album Detail Template
            li
              a(href="whitelabel/albums-landing-template.html") Albums Landing Template
            li
              a(href="whitelabel/contact-us.html") Contact Us
            li
              a(href="whitelabel/contact-us-single.html") Contact Us Single Campus

          h2.uk-h3 Theme 1
          ul#theme1

          h2.uk-h3 Theme 2
          ul#theme2
            
          h2.uk-h3 Theme 3
          ul#theme3

          h2.uk-h3 Theme 5
          ul#theme5



  include assets/pug/_scripts.pug
  script(type='text/javascript').
     window.onload = function() {
        var anchors = document.getElementsByClassName('uk-h3');
        //Fubnction to optionally reset all elements except the parameter
        function resetAll(callBack){
          //Looping each h2
          for(var i = 0; i < anchors.length; i++) {
            var anchor = anchors[i];
            anchor.style.cursor="pointer";
            //fetching dynamic Ul li
            var closest = document.getElementsByClassName('created');
            //fatching Whitelabel
            var white = document.getElementById("whitelabel");
            if(callBack!=white){
            white.nextElementSibling.style.display="none";
            }
            //check if the element is similar to clicked element
            //If not then clear the dynamic li
            if(closest[i] && closest[i] != callBack){
              closest[i].innerHTML = "";
              closest[i].classList.remove("created");
            };
            //Attaching on click for h2
            anchor.onclick = function() {
              if(this!=white){
              setBlock(this.nextElementSibling, this);
              }else{
                this.nextElementSibling.style.display= "block";
                resetAll(this);
              }
            }
          }
        }
        function setBlock(el, ele){
          //copy innerhtml of Ul beside whitelabel h2
          var x = document.getElementById("whitelabel").nextElementSibling.innerHTML;
          el.classList.add("created");
          el.innerHTML = x;
          var a= el.querySelectorAll("a");
          //Get the themefile name to be appoended in the url as parameter
          var ulTheme = el.id;
          for(var i=0; i< a.length; i++){
              a[i].href += "?theme="+ ulTheme;
              //creating a lighter version variant clickable tag
              a[i].parentNode.innerHTML+='  -- --  <a href='+ a[i].href+'&themeType=light style="color:red"> lighter Variant </a>';
          }
          resetAll(el);
        }
        resetAll();
    }

  </body>
