head(data-theme=theme, data-revision=revision)

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
  link(rel='stylesheet', href=basePath + 'assets/css/site.css?r=' + revision, media="screen")
  link(rel='stylesheet', href=basePath + 'assets/css/print.css?r=' + revision, media="print")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwRAI9ybH41VklsZdSJgye2sDAPj1-myI" async defer  type='text/javascript')
  if theme == "theme1"
    link(rel='stylesheet', href=basePath + 'assets/css/'+ theme +'.css?r=' + revision, media="screen")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Zilla+Slab:400,500,700')
  if theme == "theme2"
    link(rel='stylesheet', href=basePath + 'assets/css/'+ theme +'.css?r=' + revision, media="screen")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito:400,500,700|Zilla+Slab:400,500,700')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css')

  title #{pageName} | #{siteName}

  <!--[if lt IE 9]>
  <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
  <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
  <![endif]-->

