//--- *************** ---//
//--- GLOBAL FOOTER ---//
//--- *************** ---//

//- A container that serves global footer content.
//- Derived from GEF only links removed

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +global_footer()

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin global_footer
  // Component - Global Footer fragment starts here  
  aside.gef-global-footer.uk-width-1-1

    div.uk-container.uk-container-center

      div.gef-global-footer__inner.uk-grid

        div.gef-global-footer__inner__wrapper.uk-width-medium-6-10.uk-width-large-7-10

          nav.uk-grid

            h2.show-on-sr
              | Support Links

            div.uk-width-medium-1-2.uk-width-large-1-4.sws-global-footer-links

              ul.uk-list
                li
                  a(href="https://www.xyz.com") Accessibility
                li
                  a(href="https://www.xyz.com") Information access
            div.uk-width-medium-1-2.uk-width-large-1-4.sws-global-footer-links

              ul.uk-list
                li
                  a(href="https://www.xyz.com") Privacy
                li
                  a(href="https://www.xyz.com") Copyright

            div.uk-width-medium-1-2.uk-width-large-1-4.sws-global-footer-links

              ul.uk-list
                li
                  a(href="https://www.xyz.com") Policy library
                li
                  a(href="https://www.xyz.com") Department contacts

            div.uk-width-medium-1-2.uk-width-large-1-4.sws-global-footer-links

              ul.uk-list
                li
                  a(href="https://www.xyz.com") NSW Government
                li
                  a(href="https://www.xyz.com") dec.nsw.gov.au


        div.gef-global-footer__inner__logo.uk-width-medium-4-10.uk-width-large-3-10

          +gef_corporate_logo

  div.uk-container.uk-container-center.gef-copyright-print
    p
      | Copyright for this website is owned by the State of New South Wales through the Department of Education. For more information go to http://www.dec.nsw.gov.au/footer/copyright.
  // Component - Global Footer fragment ends here  