//--- *************** ---//
//--- EVENTS LANDING PAGE ---//
//--- *************** ---//

- var name = "Events landing"
//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A mechanism to display a single events container made of different components based upon the params

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +sws_events_card(numImg)

      | numImg - if you need Image on top of the article tag attached

mixin output
  +sws_events_card(numImg)

mixin sws_events_card(numImg)

    div.sws-latest-news(data-pseudo-link="data-pseudo-link")

        if numImg > 0
          img.sws-latest-news__image(src="//placehold.it/300x200" srcset="//placehold.it/300x200" alt="")

        .sws-events-stamp
            +sws-events-time-stamp
        .sws-event-landing-article-wrapper
            article.sws-latest-news__article
                +sws-events-description

mixin sws-events-time-stamp
    div.sws-single-event-square.sws-single-event-square--eventdetails
        div.sws-single-event-square_design
            div.sws-single-event-square_inside.sws-single-event-square_inside--eventslanding
                p.sws-event-day
                    span.scr-only
                        |Saturday
                    span(aria-hidden="true")
                        |Sat
                p.sws-event-day-date
                    |11 
                p.sws-event-month
                    span.scr-only
                        |December
                    span(aria-hidden="true")
                        |Dec


mixin sws-events-time-stamp--no_twistee
    div.sws-single-event-square--no_twistee.sws-single-event-square--eventdetails
        div.sws-single-event-square_design
            div.sws-single-event-square_inside--no_twistee
                p.sws-event-day
                    span.scr-only
                        |Friday
                    span(aria-hidden="true")
                        |Fri
                p.sws-event-day-date
                    |11
                p.sws-event-month
                    span.scr-only
                        |January
                    span(aria-hidden="true")
                        |Jan



mixin sws-events-description
    h3
        a(href="#")|Year 5 NAPLAN test
    p.uk-visible-small.sws-event-more-icon
    p.sws-event-date-period
        span.sws-event-date-period-new(aria-hidden="true")
        |11 - 17th December
    p.sws-events-heading
        span.sws-events-heading-new(aria-hidden="true")
        | All day
    a.sws-event-location(href="#")
        span.sws-event-location-new(aria-hidden="true")
        span.sws-char-length-43|43 characte location that eventually
    p.sws-char-length-1001
        | All Year 5 students sit for the National Assessment Program Literacy and Numeracy Program Literacy and Numeracy

mixin sws-event-snapshots(imgFirst,imgSecond,imgThird)

    .uk-grid.sws-event-landing-grid-main
    .uk-width-1-3.sws-event-landing-grid-main--first-component
        .sws-container-width-66.sws-event-landing-66
            .sws-container-inner
                +sws_events_card(imgFirst)
    .uk-width-1-3.sws-event-landing-grid-main--first-component
        .sws-container-width-66.sws-event-landing-66
            .sws-container-inner
                +sws_events_card(imgSecond)
    .uk-width-1-3.sws-event-landing-grid-main--first-component
        .sws-container-width-66.sws-event-landing-66
            .sws-container-inner
                +sws_events_card(imgThird)


//first bit
mixin event-landing-content
  div.news-index.sws-content.sws-events-landing#eventsArticle
    div.sws-container-width-100#newsFullColumn
      div.sws-container-inner.sws-news-newsContent
        +sws_event_cards(0,1,0)(class="sws-news-component-first")
        +sws_event_cards(1,0,0,true)(class="sws-news-component-first")
        +sws_event_cards(0,1,0)(class="sws-news-component-first")
        +sws_event_cards(0,1,0,true)(class="sws-news-component-first")
        +sws_event_cards(1,0,0)(class="sws-news-component-first")
        +sws_event_cards(0,1,0)(class="sws-news-component-first")
        div.uk-hidden.load-before(aria-hidden="true")
          |hidden

//second bit
mixin sws_event_cards(num,numImg,numHead,department=false)

  - var n = 0

    - if (num)
      div.sws-latest-news-wrapper(class=attributes.class)
        while n < num

            // News without Image component
            +sws_event_cards_partial(1,0,1,department)

            -n++

    - if (numImg)
      div.sws-latest-news-wrapper(class=attributes.class)
        while n < numImg

            // News with Image component
            +sws_event_cards_partial(1,1,1,department)

            -n++

    - if (numHead)
      div.sws-latest-news-wrapper(class=attributes.class)
        while n < numHead

            // News heading only component
            +sws_event_cards_partial(0,0,1)

            -n++

//last bit
mixin sws_event_cards_partial(num, numImg, numHead,department)

    div.sws-latest-news(data-pseudo-link="data-pseudo-link").sws-latest-news--eventslanding
        if numImg > 0
            img.sws-latest-news__image(src="//placehold.it/300x200" srcset="//placehold.it/300x200" alt="")
            .sws-event-stamp-wrapper
                +sws-events-time-stamp--no_twistee
                if department == true
                   .from_department--events-landing
                     +from_the_department_box                
            .event-landing-article-image
                +sws-event-landing-article
        else
            .sws-event-stamp-wrapper-noimage
                +sws-events-time-stamp
                if department == true
                  .from_department--events-landing
                    +from_the_department_box  
            .event-landing-article-noimage
                +sws-event-landing-article


mixin sws-event-landing-article
    article.sws-latest-news__article
        +sws-events-description
        +sws-event-CTA-link
mixin event-view-more
  div.event-view-more
    +sws-view-more("events")

mixin sws-event-CTA-link
  //- /*change to download link icon*/
  // Start of Download CTA component
  .sws-eventlanding-cta-wrapper
    .sws-events-detail-header__container__txt__calplus.sws-eventlanding-reminder.sws-eventdetail-remindme
        i.uk-icon-calendar-plus-o.uk-margin-small-right(aria-hidden="true")
        a(href="#") Remind me  (ICS 12KB)


    article.sws-download-link.sws-eventlanding-pdf
        i.uk-icon-paperclip(aria-hidden="true")
        a(href="#") Permission form (PDF 98KB)



  // End of Download CTA component

mixin sws-advance-search-eventlanding(title)
  //Advance search layout
  div.sws-advance-search.uk-grid.uk-grid-collapse(class=attributes.class)
    div.uk-width-medium-1-1.sws-advance-search__block
      //color of the border will change in accordance to the theme color
      label.sws-advance-search__text-first(for="news-for")
        |Show me
      div.sws-advance-search__select-wrapper
        select.sws-advance-search__select(aria-label='Show me '+title+' for')#news-for
          //add option for each school class, e.g. Year 1, Year 2
          option
            |all
          option
            |Year 1
          option
            |Year 2

      label.sws-advance-search__text(for="news-from")
        //put title here
        |#{title}
      div.sws-advance-search__select-wrapper
        select.sws-advance-search__select(aria-label='Show me '+title+' from')#news-from
          //option for each time frame in regards to search criteria
          option
            |from the past
          option
            |in the next 7 days
          option(selected)
            |in the next 30 days
          option
            |in the next 90 days
          option
            |in the future
      button.sws-advance-search__button
        |Go
