//--- *************** ---//
//--- SIDE NAVIGATION ---//
//--- *************** ---//

//- A navigation used to display sibling and children pages of the current page. Usually displayed on the right or left of page next to the main content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_side_navigation

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin sn-sws_link
  a(href="#").sws-side__list-item 
    +lipsum(3, "words")

mixin sn-sws_item
  li
    a(href="#").sws-side__list-item 
      +lipsum(3, "words")

mixin sn-sws_item_two_lines
  li
    a(href="#").sws-side__list-item 
      +lipsum(7, "words")

mixin sn-sws_top_item
  li.uk-parent.sws-side-navigation-upper
    a(href="#").sws-side__list-item 
      i.uk-icon-arrow-left
      | Supporting our students

mixin sn-sws_parent_item
  li.uk-parent
    a(href="#").sws-side__list-item 
      +lipsum(3, "words")

mixin sn-sws_parent_item-active
  li.uk-parent.uk-active
    a(href="#").sws-side__list-item 
      +lipsum(3, "words")

mixin sn-sws_parent_item_two_lines
  li.uk-parent
    a(href="#").sws-side__list-item 
      +lipsum(7, "words")

mixin sn-sws_item_with_sublist
  li.uk-parent.sws-side__sublist-block
    div.sws-side__sublist-item
      a(href="#").sws-side__list-item
        span Parent page link
    a(href="#").sws-side__open-icon
      i.uk-icon-plus
    ul.uk-nav-sub.sws-side__sublist-ul
      +sn-sws_item
      +sn-sws_item
      +sn-sws_item
      +sn-sws_item_two_lines

mixin sn-sws_side_navigation_mobile-select
  form(id="frm01" action="" method="GET").uk-hidden-large.sws-side-nav
    div.gef-form.gef-form--inline.uk-width-large-8-10.uk-margin-remove.uk-hidden-medium.sws-side-nav__wrapper
      fieldset.category-sidebar__caret.sws-side-nav__button
        legend.show-on-sr Child page select
        +gef_select("children",7, 1, 1)

        input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin sws_side_navigation
  nav(aria-label="section navigation")#sws-side-navigation
    h3.show-on-sr
      | Section navigation

    ul.sws-side-navigation.uk-nav(data-uk-nav="{multiple:true}").uk-visible-large
      +sn-sws_top_item
      +sn-sws_item_with_sublist
      +sn-sws_parent_item-active
      +sn-sws_parent_item
      +sn-sws_parent_item_two_lines
      +sn-sws_parent_item
    //- mobile only select list for child pages
    //- +sn-sws_side_navigation_mobile-select
