//--- *************** ---//
//--- GLOBAL QUICKLINKS ---//
//--- *************** ---//

//- GLOBAL QUICKLINKS ON SWS HOMEPAGE.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_social-links

mixin usage
  pre
    code.language-jade
      +documentation
      
//--- VARIABLES ---//
//---------------------------------------------------------

- var socialItems = [{name: "facebook", class: "uk-icon-facebook-official"}, {name: "twitter", class: "uk-icon-twitter"}, {name: "youtube", class: "uk-icon-youtube"}, {name: "vimeo", class: "uk-icon-vimeo"}, {name: "instagram", class: "uk-icon-instagram"}]
- var socialItems2 = [{name: "vimeo", class: "uk-icon-vimeo"}, {name: "instagram", class: "uk-icon-instagram"}]


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin sws_local_social-links(sociallinksItems)

    div(role="navigation").sws_local_social-links.sws-remove-external-link
    
      div.uk-container.uk-container-center
        h2.uk-text-center.uk-h2 Stay connected with Liverpool Girls’ High School
          
      div.uk-container.uk-container-center
        
        section.uk-flex.uk-flex-center
          h3.show-on-sr Social media links
          ul.sws-fullwidth-icon-menu.uk-width-2-3.uk-flex.uk-link-text.uk-flex-center
            
            if sociallinksItems
              each item in sociallinksItems
                li.sws-fullwidth-icon-menu__li
                  a.sws-fullwidth-icon-menu__link(href="https://xyz.com" aria-label=item.name).uk-link.uk-text-capitalize.uk-flex.uk-flex-column.uk-flex-middle.uk-text-break
                    i(class=item.class)
            
