//--- *************** ---//
//--- STATIC BANNER BUILD ---//
//--- *************** ---//

//- A container that Consist the partials accordingly

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int}
  | +sws_static_banner(num,numImg)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin sws_static_banner(img,txt, both)
  - if (img > 0)
    div.sws-banner-wrapper
      //Image only Banner*********START
      +sws_static_banner_partial(1,0)(class="sws-static-banner-component__ImgOnly")
      //Image only Banner*********FINISH
  - if (txt > 0)
    div.sws-banner-wrapper
      //Txt only Banner*********START
      +sws_static_banner_partial(0,1)(class="sws-static-banner-component__textOnly")
      //Txt only Banner*********FINISH
  - if (both > 0)
    div.sws-banner-wrapper
      //Image and Text Banner*********START
      +sws_static_banner_partial(1,1)
      //Image and Text Banner*********FINISH





