//--- *************** ---//
//--- Events ---//
//--- *************** ---//

//- A container that serves primary events content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | //- @param {boolean} search     - adds a search show/hide
  | +sws_events(false, true)


mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin sws_social_media(grid)

 if grid == "3"
        - var superclass = "sws-social-media-33"
        - var endofcomponent ="sws-end-of-content-33"
        - var endofcomponentid ="#sws-end-of-content-33"
        - var skipid ="sws-social-skip-link-33"
        //- - var columnSize="33"

 if grid =="2"
        - var superclass = "sws-social-media-66"
        - var endofcomponent ="sws-end-of-content-66"
        - var endofcomponentid ="#sws-end-of-content-66"
        - var skipid ="sws-social-skip-link-66"
        //- - var columnSize="66"
        
 if grid =="1"
        - var superclass ="sws-social-media-100"
        - var endofcomponent ="sws-end-of-content-100"
        - var endofcomponentid ="#sws-end-of-content-100"
        - var skipid ="sws-social-skip-link-100"
 
 if grid =="0"
        - var superclass ="sws-social-media-full"
        - var endofcomponent ="sws-end-of-content"
        - var endofcomponentid ="#sws-end-of-content"
        - var skipid ="sws-social-skip-link"
               
 - var mainclass = "sws-home-containers"
 - var classes = "uk-grid uk-width-medium-1-1"  

 // Component - social media component html fragment starts here   
 div.social-media(id=superclass)
     div.sws-social-media-header(class=attributes.class)
         h2
             |Social media
             //color of the border will change in accordance to the theme color
         a.sws-social-media-header__button(href="#")
             |Go to all social feed
         //Social Media Header*****Finish*******          
         div.gef-skiplink-container
           div.gef-skiplink
             ul
               li.sws-skipsocial-link
                 a(id=skipid class="gef-skiplink__link" href=endofcomponentid)|Skip social feed
                   i(class="uk-icon-angle-right")
     div.sws-container-full-width
       div( data-pseudo-link="data-pseudo-link")
         div(data-gef-social-media='{"displayCap": 9,"contentLength":100,"dateplacement": true, "services": [{"service":"facebook", "username":"digservdoe", "numberOfPosts": 4},{"service":"youtube", "username":"UCT8TtTkD_138SWJrCXD2Xfw", "type":"channel", "numberOfPosts": 4},{"service":"twitter", "username":"TestTes35054958", "numberOfPosts": 4}]}')
                           div.gef-loader(aria-hidden=true)
                           ul.uk-width-1-1.uk-grid.sws-social-media-parent-list()
     div(id=endofcomponent tabindex="0")
          span(class="show-on-sr")
              |Social media feeds end here
 // Component - social media component html fragment ends here
