//--- *************** ---//
//--- GLOBAL QUICKLINKS ---//
//--- *************** ---//

//- GLOBAL QUICKLINKS ON SWS HOMEPAGE.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_desktop_quicklinks

mixin usage
  pre
    code.language-jade
      +documentation
      
//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin sws_local_desktop_quicklinks(itemsArray)

    div(role="navigation").sws-local-desktop-quicklinks.uk-hidden-small.sws-remove-external-link
          
      div.uk-container.uk-container-center
        
        section.uk-flex.uk-flex-center
        
          ul.sws-fullwidth-icon-menu.uk-width-2-3.uk-flex.uk-link-text.uk-flex-center
            
            if itemsArray
              each item in itemsArray
                li.sws-fullwidth-icon-menu__li
                  a.sws-fullwidth-icon-menu__link(href="https://www.xyz.com" title=item.name).uk-link.uk-text-capitalize.uk-flex.uk-flex-column.uk-flex-middle.uk-text-break
                    div.sws-fullwidth-icon-menu__icon-wrap.uk-flex.uk-flex-center.uk-flex-middle
                      img(src=item.iconPath alt="")
                    p.uk-text-center= item.name
            
