//--- *************** ---//
//---Search Result Blocks ---//
//--- *************** ---//

//- A container that Provides blocks for search results

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | +search-results-block

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------
mixin sws_search_blocks(num,img,imgSrc)
    - var n=0;
    while n<num
        .search-block
            .search-results-header
                +sr_header_link
                if img === 1
                    div.uk-grid-collapse
                        .uk-padding
                            img(src=imgSrc, alt="" class = "search-results-image uk-align-left uk-margin-remove-adjacent")
                        .uk-padding.search-para-wrapper
                            +sr_paragraph__updated
                        .sr_url_text_wrapper.sr_url_text_wrapper__img
                            +sr_url_text_url
                else
                    div.uk-grid-collapse
                        .uk-padding.search-para-wrapper
                            +sr_paragraph__updated
                        .sr_url_text_wrapper
                            +sr_url_text_url
                -n++

mixin search_box(BoxValue)
 .search_mobile_view
    .uk-width
        input.search-text-box#search-textfield(type="text" value = BoxValue placeholder="Enter your search..." aria-label="Search site")
    div.search-icon-wrapper
        a(href="" aria-label="Submit search")
            i.uk-icon-search.uk-icon-small

mixin search_result_summary
 h2.search_summary
    |Showing 
    strong
        |1-10 
    |results of 7870 for 
    strong
     |"P & C information evening"


mixin search_pagination
    div.sws-search-results
        div.uk-margin-bottom.uk.uk-margin-bottom-uk--sws
            +gef_pagination(5, "left")

mixin search_result_test
    - var countResults = 1
    - var numberResults = 10
    ol.gef-search-results__list
        while countResults < numberResults + 1
        +sr_item(countResults++)

mixin sr_paragraph__updated
  p
    +lipsum(20, "words")
    | #[strong P & C information evening ]
    +lipsum(25, "words")
    | &hellip;

    

 
