//--- *************** ---//
//--- LOCAL HEADER ---//
//--- *************** ---//

//- LOCAL HEADER IN SWS HOMEPAGE.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_header

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin sws_local_header(page)

  // Component - Local Header html fragment starts here    
  header.local-header.uk-hidden-small
   div.uk-width-xlarge-1-1
    div.uk-container.uk-container-center
            a(class="local-header-logo-link local-header-school-logo" href="#"): img(src="//placehold.it/130x150/" class="local-header-logo" alt=schoolname)
            div.local-header-name.uk-width-8-10
                //- Set a h1 for the main page, all other content pages use a h2
                if (page === 'main')
                  h1.local-header-heading
                      | #{schoolname}
                else
                  h2.local-header-heading
                      | #{schoolname}
                    
                p.local-header-message 
                    |Nam quis nulla. Integer malesuada, in enim a Integer malesuada, in enim a 
                div.local-header-contact
                    p.local-header-contact-info-phone
                        span(aria-hidden="true")
                            |T: 
                        span.show-on-sr
                            |Telephone
                        |xx xxxx xxxx
                    p.local-header-contact-info
                        span(aria-hidden="true")
                            |E: 
                        span.show-on-sr
                            |Email
                        a(href="mailto:xxxxxxxx@det.nsw.edu.au")
                            |xxxxxxxx@det.nsw.edu.au

    // Component - Local Header html fragment ends here
