//--- *************** ---//
//--- LATEST NEWS LIST ---//
//--- *************** ---//

//- A container that lists maximum of 3 and minimum of 1 News Image Item

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of news with image to display. Valid inputs: 1, 2, 3, 4
  | +sws_latest_news_image(num)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin sws_latest_news(num,numImg,numHead,department=false)

  - var n = 0

    - if (num)
      div.sws-latest-news-wrapper(class=attributes.class)
        while n < num

            // News without Image component
            +sws_news_latest_partial(1,0,1,department)

            -n++

    - if (numImg)
      div.sws-latest-news-wrapper(class=attributes.class)
        while n < numImg

            // News with Image component
            +sws_news_latest_partial(1,1,1,department)

            -n++

    - if (numHead)
      div.sws-latest-news-wrapper(class=attributes.class)
        while n < numHead

            // News heading only component
            +sws_news_latest_partial(0,0,1)

            -n++

