//--- *************** ---//
//--- GLOBAL QUICKLINKS ---//
//--- *************** ---//

//- GLOBAL QUICKLINKS ON SWS HOMEPAGE.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_global_quicklinks

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------


mixin sws_global_quicklinks()

    div.sws-global-quicklinks.uk-visible-large.sws-remove-external-link(role="navigation")
          
      div.uk-container.uk-container-center
        
        section.uk-flex.uk-flex-right.uk-section
        
          ul.sws-inline-menu.uk-flex.uk-link-text
            
            each item in quicklinksItems
              li.sws-inline-menu__li
                a.sws-inline-menu__link(href="www.xyz.com").uk-link.uk-text-uppercase= item
                span.sws-inline-menu__divider |
            
