//--- *************** ---//
//--- GLOBAL HEADER ---//
//--- *************** ---//

//- A container that serves primary global header content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | //- @param {boolean} search     - adds a search show/hide
  | +mega_menu(false, true)


mixin usage
  pre
    code.language-jade
      +documentation

//--- VARAIBLES ---//
//---------------------------------------------------------
- var megaMenuItems = ['Home', 'About us', 'Benefits', 'Gallery', 'News', 'Location', 'Teaching staff', 'School campus', 'Contact us']
- var megaMenuItems3 = ['Home', 'About us', 'Benefits', 'Contact us']
- var megaMenuItemsLong = ['Home', 'About us', 'Benefits of our programs', 'Gallery', 'News about the campus', 'Location and other campuses', 'Teaching Staff', 'School campus and our motto', 'Contact us']

//--- MIXINS ---//
//---------------------------------------------------------
mixin sws_megamenu_menulink(n, menuItemsArray)

  - var x = 1
  
  while x <= n

      li.uk-parent.sws-meganav-megalinks__li(data-uk-dropdown="{justify:'#menu_id',delay: 0,mode:'click'}" class='sws-parent-menu')
        a.sws-meganav-megalinks(href="#" aria-haspopup="true" aria-expanded="false")= menuItemsArray[x - 1]
        div.uk-dropdown.uk-dropdown-navbar.sws-dropdown-menu
          div.sws-meganav-container.uk-container.uk-container-center.uk-position-relative
            div.uk-grid.uk-dropdown-grid.uk-margin-top
              h3(aria-hidden="false" aria-label=menuItemsArray[x - 1])
                a.sws-meganav-title(href="#" aria-hidden="false" aria-label=menuItemsArray[x - 1] )= menuItemsArray[x - 1]            
              div.uk-width-1-1.sws-mega-nav-desc
                p.uk-width-3-5(id='menu-desc-'+ x)
                  | Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.
                div.sws-mega-nav-desc__design
              +sws_toc(x,true)
              -x++

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin mega_menu(num)
    
    // Component -Megamenu code fragment starts here
    .sws-mega-menu.uk-visible-large
      div.uk-container.uk-container-center.sws-meganav-container.sws-remove-external-link
        nav.uk-navbar(role="navigation")
          div#menu_id
          ul.uk-navbar-nav.sws-mega-menu-title-bar
            +sws_megamenu_menulink(num, megaMenuItemsLong)            
          #sws-search-icon.sws-search-icon.uk-button-dropdown.uk-flex.uk-flex-middle.uk-flex-center(data-uk-dropdown="{justify:'#menu_id',delay: 0,mode:'click'}")
            .sws-search-icon__wrapper
              button#search.uk-button.sws-search-icon__button(aria-label="Open search")
                span.show-on-sr
                  | Search
            .uk-dropdown.uk-dropdown-navbar
              .sws-search-input.uk-flex
                label.sws-search-input__label(for="search-textfield") Enter your search
                input(id="search-textfield" type="text" placeholder="Enter your search..." aria-label="Search site").sws-search-input-textfield
                div.sws-search-input__submit-wrapper.uk-flex.uk-flex-middle.uk-flex-center
                  label.sws-search-input__label(for="search-textfield__submit") Submit search
                  input(id="search-textfield__submit" type="submit" value="" onclick="clickHandler()" aria-label="Submit search").sws-search-input__submit-button

    // Component - Megamenu code fragment ends here
