//--- *************** ---//
//---EVENT DETAIL PAGE ---//
//--- *************** ---//

//- A container that Provides the visuals for events in detail

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | +events-detail-content

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin events-detail-content
  div.news-index.sws-content#newsArticle
    div.sws-container-width-100#newsFullColumn
      div.sws-container-inner.sws-news-newsContent
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(1,0,0)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(1,0,0)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        div.uk-hidden.load-before(aria-hidden="true")
          |hidden


mixin page-header--events
  .sws-content-header
    .uk-container.uk-container-center
      +gef_breadcrumbs(7, true)
      span#content(tabindex="-1")
      .event-details-heading
        h1: +lipsum(4, "words")
      .event-latest-reminder
        +remindme-globalheader
      

//Use 'event-title-box' to nest markup for Page header with FTD tag
mixin page-header--events-addons
  .sws-content-header
    .uk-container.uk-container-center
      +gef_breadcrumbs(7, true)
      span#content(tabindex="-1")
      .event-title-box
       .event-details-heading
         h1: +lipsum(4, "words")
       .from_department--events-header
         +from_the_department_box
       .event-latest-reminder
         +remindme-globalheader


//index page banner for event details page based
// on the new design

          
mixin index-page-banner--latest(img)
  
        div.uk-grid.uk-grid-collapse.uk-width-1-1.sws-index-banner__container--latest
          
            div.uk-width-small-2-3.sws-events-detail-header__container__img
              if  img == 1
                .uk-width.sws-events-detail-header__container__img.event-latest-img
                  +sws_image_only
              .uk-width
                div.events-article-wrapper__main
                  +event-share-icon
                  p: +lipsum(3, "sentences")
                  p: +lipsum(3, "sentences")
            div.uk-width-medium-1-3
                aside.sws-sidebar-wrapper.sws-event-wrapper-sidebar
                  h2.show-on-sr
                    |Related content
                  +events-detail_sidebar--latest
       



mixin events-detail_sidebar--latest
  //--Category Side bar based upon gef
  div.component-sidebar#categorySidebar.categorySidebar--event-detail-page
    div.category-sidebar.category-sidebar--events_detail.sws-content.events-latest-category-sidebar
      nav
        h3.sws-content__h3
          |Date
        p.uk-margin-large-bottom.uk-margin-top-remove
          i.uk-icon-calendar.uk-margin-small-right(aria-hidden="true")
          //Insert date
          |1 May 2017
        h3.uk-margin-large-top.sws-content__h3
          |Time
        p.uk-margin-large-bottom.uk-margin-top-remove
          i.uk-icon-clock-o.uk-margin-small-right(aria-hidden="true")
          //Insert Time
          |9.30 am - 3:00 pm
        h3.uk-margin-large-top.sws-content__h3
          |Attachment
        p.category-sidebar--events_detail__attachments
          //Insert attachments if any
          //for every attachement there shall be "a" tag with nested "i" tag exactly as showcased
          a(href="#")
            i.uk-icon-paperclip.uk-margin-small-right
            |Permission form (PDF 98KB)
          a(href="#")
            i.uk-icon-paperclip.uk-margin-small-right
            |Booking form (PDF 98KB)
          a(href="#")
            i.uk-icon-paperclip.uk-margin-small-right
            |Information sheet (PDF 98KB)
        h3.uk-margin-large-top.sws-content__h3
          |Link
        p.uk-margin-large-bottom.uk-margin-top-remove.category-sidebar--events_detail__links
          a(href="https://education.nsw.gov.au")
            |new external link 
          a(href="#")
            |new local link
        h3.uk-margin-large-top.sws-content__h3
          |Location
          
        p.uk-margin-large-bottom.uk-margin-top-remove.category-sidebar--events_detail__attachments
          i.uk-icon-map-marker.uk-margin-small-right(aria-hidden="true")
          |Bonnievale campground, Royal National Park, NSW
         


mixin remindme-globalheader
  div.sws-events-detail-header__container__txt__calplus
    i.uk-icon-calendar-plus-o.uk-margin-small-right(aria-hidden="true")
    a(href="#")
        |Remind me (ICS 12KB)

mixin event-share-icon
  .event-details-latest-share
    a(href="")
      i.uk-icon-share-alt(aria-hidden="true")
      |
      |Share
