//--- *************** ---//
//--- LATEST ALBUM GALLERY ---//
//--- *************** ---//

//- A container that lists album galleries based upon number request

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of album galleries to display. Valid inputs: 1, 2, 3, 4
  | +sws_albums_gallery_list(num)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin sws_albums_gallery_list(num)

  - var n = 0

    - if (num)
      div.sws-albums-gallery-wrapper(class=attributes.class)
        div.sws-albums-gallery-wrapper__inner(data-pseudo-link="data-pseudo-link")
          while n < num
            +sws_albums_gallery
            -n++


