//--- *************** ---//
//--- LOCAL FOOTER ---//
//--- *************** ---//

//- A section of a page that is located normally located at the bottom of a page between the primary content area and the global footer. Use this section to group "local site/application" footer content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} channels      - comma delimeted list of social media channels.
  | //- Available channels: "Twitter, Facebook, YouTube, Instagram, Vimeo"
  | //- @param {bool} show_link_list  - choose to display the link list
  | +gef_section_footer(channels, show_link_list)


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin sws_local_footer(channels, show_link_list,num,multi)
  if !num
    -var num =1
  else
    -var num =num

  // Component - Local Footer html fragment starts here
  div.local-footer#local_footer

    div.uk-container.uk-container-center
        h2.local-footer-heading1
            | #{schoolname}
        div.uk-grid.uk-grid-collapse

            div.uk-width-3-10.local-footer-main-content
                h3.local-footer-heading2
                    |General enquiries
                ul.uk-grid.uk-width-1-1.footer-multi__campus--switch
                    +sws_local_footer_contact(num)
                div.local-footer-mobile-elements.uk-visible-small
                  if multi
                    //--Multi campus Mobile View
                    +gef_show_hide_multicampus_mobile(false, 3)
                    //--Multi campus Mobile View----END---
                  else

                    a.sws-call-button.uk-button(href="tel:AEM to use local footer phone variable here")
                        | Call
                    a.sws-call-button.uk-button.sws-repeat-button(href="#")
                        | Get directions
                    a.sws-mail-button.uk-button(href="mailto:AEM to use local footer email variable here")
                        | Mail
            div.uk-width-4-10.local-footer-social-media
                h3.local-footer-heading3
                    |Follow us
                +sws_local_footer_social-media(channels)
            div.uk-width-4-10.local-footer-logo.uk-hidden-small
                img(src="//placehold.it/130x150/" class="local-header-logo" alt=schoolname)
  div.uk-width-1-1.local-footer-message
        div.uk-container.uk-container-center
                p
                    |We acknowledge the traditional custodians of the country on which the NSW Department of Education Schools stand and our responsibility to respect and care for country, people and spirit.

  // Component - Local Footer fragment ends here
