//--- *************** ---//
//--- NEWSLETTER COMPONENTS---//
//--- *************** ---//

- var name = "Newsletter components"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    Component for displaying newsletter components

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      |+newsletter_component

//- /* MIXINS OUTPUT      */
mixin newsletter-view-more
  #newsletter-view-more
    button.newsletter-view-more.sws-view-more(type="button")
      h2 More newsletters
                
mixin newsletter_component(image)
  article.sws-newsletter--component
    .uk-width-large-1-1.uk-flex.uk-flex-top.uk-flex-space-between
      
      if image
        .uk-width-large-1-4.uk-visible-large.sws-newsletter__image--wrap.sws-remove-external-link
          .sws-newsletter__image--a
            img(src="http://placehold.it/140x110" alt="")
        .uk-width-large-3-4.sws-newsletter__copy
          h3.sws-remove-external-link: a(href="#") 
            | Issue 8: Week 8
          p.sws-newsletter__date 02 June 2017
          p: +lipsum(5, "sentences")
          +sws-download_link
      
      else
          
        .uk-width-1-1.sws-newsletter__copy
          h3.sws-remove-external-link: a(href="#") 
            | Issue 8: Week 8
          p.sws-newsletter__date 02 June 2017
          p: +lipsum(5, "sentences")
          +sws-download_link

//- /* MAIN OUTPUT        */
mixin sws_newsletter
  .sws-newsletter__content
    h2 Current issue
    +newsletter_component(true)

    h2 Back issues
    +newsletter_component(false)
    +newsletter_component(true)
    +newsletter_component(false)
    +newsletter_component(true)
    +newsletter_component(true)

    +newsletter-view-more
