//--- *************** ---//
//--- GLOBAL HEADER ---//
//--- *************** ---//

//- A container that serves primary global header content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | +global_header(false, true)


mixin usage
  pre
    code.language-jade
      +documentation

//--- VARIABLES ---//
//---------------------------------------------------------
- var menuItems         = [{name: "Home", subNav: false,iconId:"Home"}, {name: "About the school", subNav: false,iconId:"AboutTheSchool"}, {name: "Support and community", subNav: false,iconId:"SupportTheCommunity"}, {name: "Subjects and activities", subNav: true,iconId:"SubjectAndActivities"}, {name: "What's happening", subNav: false,iconId:"WhatsHappening"}, {name: "Faculties", subNav: false,iconId:"Faculties"}, {name: "Glides", subNav: false,iconId:"Glides"}, {name: "Links", subNav: false,iconId:"Links"}]
- var menuItemsLevel2   = [{name: "Assessment and reporting", subNav: false}, {name: "Academic opportunities", subNav: false}, {name: "Creative arts ", subNav: false}, {name: "English", subNav: false}, {name: "Human society and its environment", subNav: false}, {name: "Languages", subNav: true}, {name: "Mathematics", subNav: false}, {name: "Personal development, health and physical education", subNav: false}, {name: "Science", subNav: false}, {name: "Technology and applied science", subNav: false}, {name: "Vocational Education (VET)  ", subNav: false}]
- var menuItemsLevel3   = [{name: "VET Expectations", subNav: false}, {name: "VET Assessment Outlines", subNav: false}, {name: "Work Placement", subNav: true}, {name: "World Skills Challenge", subNav: false}, {name: "Links", subNav: false}]
- var menuItemsLevel4   = [{name: "Level 4", subNav: false}, {name: "Stage 2 long title testing", subNav: true}, {name: "Stage 3", subNav: false}, {name: "Stage 4", subNav: false}, {name: "Stage 5 - long title testing", subNav: false}]
- var menuItemsLevel5   = [{name: "Level 5", subNav: false}, {name: "Stage 2 long title testing lorem ipsum", subNav: true}, {name: "Stage 3", subNav: false}, {name: "Stage 4", subNav: true}, {name: "Stage 5 - long title testing", subNav: false}]
- var menuItemsLevel6   = [{name: "Level 6", subNav: false}, {name: "Stage 2 long title testing lorem ipsum", subNav: false}, {name: "Stage 3", subNav: false}, {name: "Stage 4", subNav:false }, {name: "Stage 5 - long title testing", subNav: false}]
- var qlMobileNavItems = [{name: "Make a payment", iconPath: "../assets/images/nav_mobile-payment.svg" ,iconId:"MakeaPayment"},{name: "Events", iconPath: "../assets/images/nav_mobile-events.svg",iconId:"Events"},{name: "Newsletter", iconPath: "../assets/images/nav_mobile-news.svg",iconId:"Newsletter"},{name: "Image gallery", iconPath: "../assets/images/nav_mobile-gallery.svg",iconId:"Imagegallery"},{name: "Contact Us", iconPath: "../assets/images/nav_mobile-contact.svg",iconId:"ContactUs"}]
      
//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin local_mobile_nav(page)
  // Component - Local Mobile Navigation start
  #mobile-nav-wrapper
    .sws-local-mobile-nav.uk-offcanvas-content.uk-hidden-large

      nav.uk-width-1-1.uk-container.uk-container-center.uk-flex.uk-flex-center.uk-flex-space-between
        .uk-width-1-10.uk-navbar-left
          button(type="button" aria-label="Main menu" aria-expanded="false" data-uk-offcanvas="{mode: 'slide', target: '#mobile-nav'}").uk-navbar-toggle.sws-local-mobile-nav__icon--nav
        //- Set h1 for the main page, all other content pages use h2
        if (page ==='main')
          h1.uk-width-3-4.uk-center.uk-flex.uk-flex-center.sws-local-mobile-nav__header-title.uk-text-center
            | #{schoolname}
        else
          h2.uk-width-3-4.uk-center.uk-flex.uk-flex-center.sws-local-mobile-nav__header-title.uk-text-center
            | #{schoolname}    
            
        #sws-search-icon-mobile.sws-search-icon.sws-search-icon__mobile.uk-button-dropdown.uk-flex.uk-flex-middle.uk-flex-center(data-uk-dropdown="{justify:'#menu_id',delay: 0,mode:'click'}")
          .uk-width-1-10.sws-search-icon__mobile--search
            button(type="button" aria-expanded="false" aria-label="Open search").uk-button.sws-search-icon__button
              i.uk-icon-search(aria-hidden="true")
          .uk-dropdown.uk-dropdown-navbar.sws-search-icon__dropdown
            .sws-search-input.uk-flex
              input(id="search-textfield" type="text" placeholder="Enter your search..." aria-label="Search site").sws-search-input-textfield
              .sws-search-input__submit-wrapper.uk-flex.uk-flex-middle.uk-flex-center
                i.uk-icon-search(aria-hidden="true")
                input(id="search-textfield__submit" type="submit" value="" aria-label="Submit search").sws-search-input__submit-button

    
      .uk-offcanvas#mobile-nav
        .sws-local-mobile-nav__close
          span.uk-icon-close(aria-hidden="true")
          button(aria-label="Close menu").sws-local-mobile-nav__close--button
      
        .uk-offcanvas-bar.sws-offcanvas-bar#mobile-nav-container
          
          header
            a(href="#").sws-offcanvas-bar__header.uk-panel.uk-flex.uk-flex-space-between
              .uk-width-1-4.sws-offcanvas-bar__header-logo-wrap
                img(src="https://placehold.it/43x50" alt="School logo")
              div.uk-width-3-4.uk-text-middle
                h3 #{schoolname}
          
          ul(data-uk-nav="{multiple:true}" role="list").uk-nav.uk-nav-offcanvas.sws-offcanvas-bar__main-unordered-list
            
            each item in qlMobileNavItems
              li.sws-local-mobile-nav__li-quicklinks.uk-flex.uk-flex-left.sws-remove-external-link
                a(href="#").sws-offcanvas-bar__quicklinks-a
                  .uk-flex.uk-flex-center.sws-local-mobile-nav__li-quicklinks-wrapper(class='sws-local-mobile-nav-'+ item.iconId)
                    span.sws-local-nav-quicklinks__icon-wrap.uk-flex.uk-flex-center.uk-flex-middle
                      img(src=item.iconPath alt="")
                    p.sws-offcanvas-bar__quicklinks-p
                      = item.name
                      
            each item in menuItems
              if item.subNav
                li.sws-local-mobile-nav__li-menu-items.uk-parent
                  .sws-local-mobile-nav__li--name(class='sws-local-mobile-nav__li--name-'+item.iconId)
                    a(href="#").sws-local-mobile-nav__li--name-a
                      = item.name
                  a(href="#").sws-local-mobile-nav__plus-icon
                    div.uk-icon-plus
                  +sub_menus(5)
                              
              else
                li.sws-local-mobile-nav__li-menu-items
                  .sws-local-mobile-nav__li--name(class='sws-local-mobile-nav__li--name-'+item.iconId)
                    a(href="#").sws-local-mobile-nav__li--name-a
                      = item.name
          
          .sr-only
            button(type="button" aria-label="Close menu").sws-local-mobile-nav__close--button-hidden

mixin sub_menus (numberOfLevels)
  - var x = 0
  - var menuItemsArray
  
  mixin sub_menu_loop (y)
    -y++
    if y === 1
      - menuItemsArray = menuItemsLevel2
    else if y === 2
      - menuItemsArray = menuItemsLevel3
    else if y === 3
      - menuItemsArray = menuItemsLevel4
    else if y === 4
      - menuItemsArray = menuItemsLevel5
    else
      - menuItemsArray = menuItemsLevel6
    
    
      
    ul(data-uk-nav="{multiple:true}" role="list").sws-local-mobile-nav__menu-ul
      each subItem in menuItemsArray
        
        if subItem.subNav
          li.sws-local-mobile-nav__li-menu-items.uk-parent
            .sws-local-mobile-nav__li--name
              a(href="#").sws-local-mobile-nav__li--name-a
                = subItem.name
            a(href="#").sws-local-mobile-nav__plus-icon
              div.uk-icon-plus
            if x < numberOfLevels
              +sub_menu_loop(y)

        else
          li.sws-local-mobile-nav__li-menu-items
            .sws-local-mobile-nav__li--name
              a(href="#").sws-local-mobile-nav__li--name-a
                = subItem.name
    -x++
                
  +sub_menu_loop(x)
    
// Component - Local Mobile Navigation end
