//--- *************** ---//
//--- ALBUMS LANDING PAGE ---//
//--- *************** ---//

//- A container that lists all available albums/galleries

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_alert-message

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------
mixin alert-message
  .alert-message-container#alert-message
    .uk-container.uk-container-center.alert-message-container__head
      h2
        i.uk-icon-exclamation-triangle.alert-message-container__head_tricon
        |Emergency
      p
        |Several schools are non-operational because of extreme conditions. Check if your school is affected.
      a.alter_action__button(href='/contact-us.html')
        |Click me if you need more help
