//--- *************** ---//
//--- Events ---//
//--- *************** ---//

//- A container that serves primary events content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | //- @param {boolean} search     - adds a search show/hide
  | +sws_events(false, true)


mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML OUTPUT ---//
//---------------------------------------------------------


mixin sws_events(num,grid,department)

 if grid == "3"
        //- - var superclass = "sws-container-width-33"
        - var componentId = "sws-upcoming-events-33"
 if grid =="2"
        //- - var superclass = "sws-container-width-66"
        - var componentId = "sws-upcoming-events-66"
 if grid =="1"
        //- - var superclass = "sws-container-width-100"
        - var componentId = "sws-upcoming-events-100"
 if grid =="0"
        //- - var superclass = "sws-container-full-width"
        - var componentId = "sws-upcoming-events-full"

 - var mainclass = "sws-home-containers sws-events-complete"
 - var classes = "uk-grid sws-events-full-width uk-grid-collapse uk-width-medium-1-1 "
 - var subclass = "uk-grid uk-width-1-3 sws-single-event"
    // Component - events html fragment starts here
    div.upcoming-events(id=componentId)    
      div.sws-latest-news-header(class=attributes.class)
          h2
              |Latest Events
              //color of the border will change in accordance to the theme color
          a.sws-latest-news-header__button(href="#")
            |Go to all events
          //Latest Events Header*****Finish*******
      div(class="sws-container-full-width")
          div(class=mainclass)
              div(class=classes)
                  - var x = 1
                  while x < num
                      div(class=subclass data-pseudo-link="data-pseudo-link")
                          div.uk-width-2-6.sws-event-date
                              div.sws-single-event-square
                                  div.sws-single-event-square_design
                                      div.sws-single-event-square_inside
                                          p.sws-event-day
                                              span.scr-only
                                                  |Saturday
                                              span(aria-hidden="true")
                                                  |Sat
                                          p.sws-event-day-date   
                                              |11
                                          p.sws-event-month
                                              span.scr-only
                                                  |December
                                              span(aria-hidden="true")
                                                  |Dec
                                              
                          div.uk-width-4-6.sws-event-desc
                              h3
                                  a(href="#")|Year 5 NAPLAN test
                              if department == true
                                  div.from_department--events-home
                                      +from_the_department_box      
                              p.uk-visible-small.sws-event-more-icon
                              dl
                                  dt.sws-event-desc--definition Date
                                      dd
                                          p.sws-event-date-period.sws-event-date-period--definition
                                              span.sws-event-date-period-new(aria-hidden="true")
                                              |11 - 17th December
                                  dt.sws-event-desc--definition Time
                                      dd
                                          p.sws-events-heading.sws-events-heading--definition
                                              span.sws-events-heading-new(aria-hidden="true")
                                              | All day
                                      
                                  dt.sws-event-desc--definition Location
                                      dd
                                          a.sws-event-location(href="#")
                                              span.sws-event-location-new(aria-hidden="true")
                                              span.sws-char-length-43|43 characte location that eventually
                              
                              p.sws-char-length-100
                                  | All Year 5 students sit for the National Assessment Program Literacy and Numeracy Program Literacy and Numeracy
                              -x++  
          // Component - events html fragment ends here    
