
//--- *************** ---//
//---NEWS LANDING PAGE ---//
//--- *************** ---//

//- A container that Provides the visuals for News Index

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | +news-article-content

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------
mixin news-view-more
  div.news-view-more
    +sws-view-more("news")

mixin news-index-content
  div.news-index.sws-content#newsArticle
    div.sws-container-width-100#newsFullColumn
      div.sws-container-inner.sws-news-newsContent
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(1,0,0,true)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        div.uk-hidden.load-before(aria-hidden="true")
          |hidden
