
//--- *************** ---//
//---EVENT DETAIL PAGE ---//
//--- *************** ---//

//- A container that Provides the visuals for events in detail

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | +events-detail-content

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin events-detail-content
  div.news-index.sws-content#newsArticle
    div.sws-container-width-100#newsFullColumn
      div.sws-container-inner.sws-news-newsContent
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(1,0,0)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        +sws_latest_news(1,0,0)(class="sws-news-component-first")
        +sws_latest_news(0,1,0)(class="sws-news-component-first")
        div.uk-hidden.load-before(aria-hidden="true")
          |hidden








