//--- *************** ---//
//--- Contact Us ---//
//--- *************** ---//

//- A \CONATCT US PAGE WITH MAP

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_footer_contact

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------
//--Skip Link for Contact Us Map
mixin sws_contact_us_skip(point)
    div.gef-skiplink
        if point == 'down'
            a#googleMapStart.gef-skiplink__link.skip-link-single(href="#local_footer")
                | Skip GoogleMap
        else if point == 'up'
            a#googleMapEnd.gef-skiplink__link.skip-link-single(href="#category-sidebar-last-item")
                | Skip GoogleMap 
                
mixin sws_contact_us(num)

   div.uk-width-1-1.category-sidebar--contact-us

    div.uk-width-1-1.category-sidebar--contact-us__address
      div.category-sidebar--contact-us__inner__wrapper.sws-content
          h4
            i.uk-icon-thumb-tack
            |Look for campus below or click on the map
    - var n = 0

      div.category-sidebar--contact-us__header.uk-width-1-1.uk-accordion(data-uk-accordion="{showfirst:false}",role="tablist")
        while n < num
          if n != num-1
            a.category-sidebar--contact-us__inner__wrapper.sws-content.uk-accordion-title(href="#",aria-expanded="false",role="tab")
              h4
                //insert school/campus details
                |Granville South Creative and Performing Arts High School, Top Site(K-#{n})
              i.uk-icon-plus
              small
                |Banskia NSW 2229

            div.category-sidebar--contact-us__inner__add__block.uk-accordion-content
                p.uk-width-1-1.category-sidebar--contact-us__markers
                  span.show-on-sr
                    |address
                  i.uk-icon-map-marker
                  span.category-sidebar--contact-us__markers__address
                    //Campus Address
                    |#{n}1 Forbes St, Liverpool 2170
                p.uk-width-1-1
                  span.show-on-sr
                    |telephone
                  span.category-sidebar--contact-us__markers__tel-desktop
                    i.uk-icon-phone
                    //Telephone Number
                    |+61 2 9876 5432
                  a.category-sidebar--contact-us__markers__tel-mobile.uk-hidden-medium.uk-hidden-large(href="tel:0400000000")
                    i.uk-icon-phone
                    //Telephone Number
                    |+61 2 9876 5432
                p.uk-width-1-1
                  span.show-on-sr
                    |fax
                  span.category-sidebar--contact-us__markers__tel-desktop
                    i.uk-icon-fax
                    //Fax Number
                    |+61 2 1234 5678
                  a.category-sidebar--contact-us__markers__tel-mobile.uk-hidden-medium.uk-hidden-large(href="fax:0400000000")
                    i.uk-icon-fax
                    //Fax Number
                    |+61 2 1234 5678    
                p.uk-width-1-1
                  span.show-on-sr
                    |email
                  a(href="mailto:xxxxxxxx@det.nsw.edu.au")
                    i.uk-icon-envelope
                    //Email Address
                    |xxxxxxxx@det.nsw.edu.au
                  -n++
          if n == num-1
            a#category-sidebar-last-item.category-sidebar--contact-us__inner__wrapper.sws-content.uk-accordion-title(href="#",aria-expanded="false",role="tab")
              h4
                //insert school/campus details
                |Granville South Creative and Performing Arts High School, Top Site(K-#{n})
              i.uk-icon-plus
              small
                |Banskia NSW 2229

            div.category-sidebar--contact-us__inner__add__block.uk-accordion-content
                p.uk-width-1-1.category-sidebar--contact-us__markers
                  span.show-on-sr
                    |address
                  i.uk-icon-map-marker
                  span.category-sidebar--contact-us__markers__address
                    //Campus Address
                    |#{n}1 Forbes St, Liverpool 2170
                p.uk-width-1-1
                  span.show-on-sr
                    |telephone
                  span.category-sidebar--contact-us__markers__tel-desktop
                    i.uk-icon-phone
                    //Telephone Number
                    |+61 2 9876 5432
                  a.category-sidebar--contact-us__markers__tel-mobile.uk-hidden-medium.uk-hidden-large(href="tel:0400000000")
                    i.uk-icon-phone
                    //Telephone Number
                    |+61 2 9876 5432
                p.uk-width-1-1
                  span.show-on-sr
                    |fax
                  span.category-sidebar--contact-us__markers__tel-desktop
                    i.uk-icon-fax
                    //Fax Number
                    |+61 2 1234 5678
                  a.category-sidebar--contact-us__markers__tel-mobile.uk-hidden-medium.uk-hidden-large(href="fax:0400000000")
                    i.uk-icon-fax
                    //Fax Number
                    |+61 2 1234 5678
                p.uk-width-1-1
                  span.show-on-sr
                    |email
                  a(href="mailto:xxxxxxxx@det.nsw.edu.au")
                    i.uk-icon-envelope
                    //Email Address
                    |xxxxxxxx@det.nsw.edu.au
                  -n++
      +sws_contact_us_skip('down')
