//--- *************** ---//
//--- GLOBAL HEADER ---//
//--- *************** ---//

//- A container that serves primary global header content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | //- @param {boolean} search     - adds a search show/hide
  | +global_header(false, true)


mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin global_header()
    +gef_skiplink
    // Component - Global Header fragment starts here
    div.sws-global-header

      div.uk-container.uk-container-center



          div.uk-width-1-1

            a.sws-global-header__header(href="https://education.nsw.gov.au" title=corporateName)

              abbr(title=corporateName aria-hidden="true")
                =corporateNameShort
            div.global-header-right-nav.uk-grid
              +sws_google_translate
              div.global-header-links-right
                +sws_global_link
    // Component - Global Header fragment ends here
