//--- *************** ---//
//--- NEWSLETTER CTA---//
//--- *************** ---//

//- A button that links to the newsletter page

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_newsletter_cta

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin icon_1
  <svg version="1.1" id="newsletter_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 40.5" style="enable-background:new 0 0 36 40.5;" xml:space="preserve">
    <style type="text/css">.st0{fill:#BFBEBE;}</style>
    <path class="newsletter_icon__svg-path" d="M31.5,0c1.3,0,2.3,0.4,3.2,1.3C35.6,2.2,36,3.2,36,4.5V36c0,1.2-0.4,2.2-1.3,3.2c-0.9,0.9-1.9,1.3-3.2,1.3h-27 c-1.2,0-2.2-0.5-3.2-1.3C0.5,38.2,0,37.2,0,36V4.5c0-1.3,0.5-2.3,1.4-3.2C2.2,0.4,3.3,0,4.5,0H31.5z M31.5,36V4.5h-27V36H31.5z M15.8,9v9H9V9H15.8z M13.5,20.2v2.2H9v-2.2H13.5z M20.2,24.8V27H9v-2.2H20.2z M27,29.2v2.2H9v-2.2H27z M15.8,22.5v-2.2H27v2.2H15.8 z M18,13.5V9h9v4.5H18z M27,15.8V18h-9v-2.2H27z M22.5,27v-2.2H27V27H22.5z"/>
  </svg>

mixin sws_newsletter_cta
  .newsletter-cta
    .sws-newsletter-cta.sws-remove-external-link
      a(href="#").sws-newsletter-cta__link
        +icon_1
        h2 View our latest newsletter
        p August 2017
