//--- *************** ---//
//--- BREADCRUMBS ---//
//--- *************** ---//

//- A mechanism that provides the information about a userâ€™s location within a set of web pages. Breadcrumbs are a single line of text to show a page's location in the site hierarchy.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int}     num      - number of links to display
  | //- @param {boolean} enhanced - added JS functionality to force breadcrumbs on one line
  | //- @param {boolean} homeicon - choose to show the home icon or not
  | +gef_breadcrumbs(6, true, false)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin breadcrumbs_link(words,count)

  li.gef-breadcrumbs__item
    a(href="#")
     |Breadcrumb Link-#{count} Longer Crumb
      

mixin breadcrumbs_home(words)
  li.gef-breadcrumbs__item
    a(href="#")|Home

mixin breadcrumbs_current(words)
  li.gef-breadcrumbs__item
    span
      |Breadcrumb Current


mixin breadcrumbs_mobile(enhanced,homeicon)

  if enhanced

    if homeicon
      a.gef-breadcrumbs__link.uk-hidden-large(title="Go to NSW Department of Education homepage", href="#")
        i.uk-icon-angle-left(aria-hidden="true")
        i.uk-icon-home.gef-home-mobile-breadcrumb(aria-hidden="true")
        span.uk-hidden home

    else
      a.gef-breadcrumbs__link.uk-hidden-large(title="Go back to parent page", href="#")
        i.uk-icon-angle-left(aria-hidden="true")
        | Back

  else
    a.gef-breadcrumbs__back.uk-hidden-large(title="Go back to previous page", href="#")
      i.uk-icon-angle-left(aria-hidden="true")
      | Back



//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin sws_breadcrumbs(amount, enhanced , homeicon)

  // Component -Breadcrumbs code fragment starts here
  - var num = 1

  if enhanced
    - var words = "9"
    - var extraClass = "enhanced"

  else
    - var words = "2"
    - var extraClass = ""

  nav(class="gef-breadcrumbs " + extraClass)

    h2.show-on-sr
      | Breadcrumb navigation

    +breadcrumbs_mobile(enhanced,homeicon)

    ul.gef-breadcrumbs__list.uk-visible-large(role="menubar")
      if num = 1
        +breadcrumbs_home(words)
      while num < amount
        +breadcrumbs_link(words,num)
        - num++
      +breadcrumbs_current(words)
    // Component -Breadcrumbs code fragment starts here