//--- *************** ---//
//--- Template Footer ---//
//--- Contains Local footer and Global footer components --//
//--- *************** ---//

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_footer_contact

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin sws_template_footer(num)

  +sws_local_footer("Yammer, Twitter, Facebook-Square, YouTube, Instagram,Vimeo", true)
  +global_footer


  
  include ../_scripts.pug

  </body>
