//--- *************** ---//
//--- Template Header ---//
//--- Contains Contains global header local header and meganav desktop and mobile--//
//--- *************** ---//

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_local_footer_contact

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin sws_template_header(page)

  doctype html
  html(class="#{theme}", lang='en')

    include ../components/_global-head.pug

    <!--[if gt IE 9 | !IE ]><!-->
    <body>
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <body class="gef-ie9 landing">
    <!--<![endif]-->

    div#globalheader
      +global_header

    +local_mobile_nav(page)
    +sws_global_quicklinks()

    +sws_local_header(page)
    +mega_menu(8)
