//--- *************** ---//
//--- ALBUMS LANDING PAGE ---//
//--- *************** ---//

//- A container that lists all available albums/galleries

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +sws_albums_landing

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin albums-landing-view-more
  #albums-landing-view-more
    button.albums-landing-view-more.sws-view-more(type="button")
      h2 More albums
      
mixin sws_albums_landing-gallery
  .sws-albums-gallery-wrapper(class=attributes.class).uk-width-large-1-3.uk-width-medium-1-2.uk-width-small-1-1
    .sws-albums-gallery-wrapper__inner
      a(href="#").sws-albums-gallery__main-link
        .sws-albums-gallery-full-info
          p #{$gallery_data}
          .uk-grid.uk-grid-collapse.sws-albums-gallery-full-info__bottom
              .uk-width-1-1.sws-albums-gallery-full-info__bottom__inner
                img(src="../assets/images/album_gallery_icon.svg" srcset="../assets/images/album_gallery_icon.svg" alt="")
                span(aria-hidden="true")
                  | 4
          .sws-albums-gallery-full-info__inner-design
        //Album gallery default view
        .sws-albums-gallery(data-pseudo-link="data-pseudo-link" role="role_link")
              img.sws-albums-gallery__image(src="//placehold.it/300x200" srcset="//placehold.it/300x200" alt="")

              .sws-albums-gallery__album-info.sws-albums-landing__link
                .uk-grid.uk-grid-collapse
                  .uk-width-1-1
                    .sws-albums-gallery__left-content(aria-hidden="true")
                      //Please inject the same data $gallery_data, but it will auto ellipse to 45 char
                      p.sws-albums-gallery__text #{$gallery_data}
                      
                  .uk-width-4-5
                    p.sws-albums-gallery__left-content 20 September 2017

                  .uk-width-1-5.sws-albums-gallery__right-content
                    img(src="../assets/images/album_gallery_icon.svg" srcset="../assets/images/album_gallery_icon.svg" alt="" aria-hidden="true" )
                    span(aria-hidden="true")
                      | 4
                    // Screen reader only text
                    span.show-on-sr
                      | 4 Images in this album

mixin sws_albums_landing
  - var x = 0
  
  .sws-albums-landing__content.uk-grid.uk-grid-collapse
    while x < 12
      +sws_albums_landing-gallery
      - x++
      
    +albums-landing-view-more
