@media(min-width:$sws-lg-min-view) {
  .sws-albums-gallery__overall-padding {
        padding: 0 5%;
  }
}
.gef-main {
  .latest-album {
    margin-bottom: 15px;
  }
}

//media queries
@media(max-width:$sws-sm-max-view) {
    // .sws-albums-gallery__overall-padding {
    //     padding: 0 0;
    // }
    .sws-albums-gallery-wrapper:nth-child(4),
    .sws-albums-gallery-wrapper:nth-child(5) {
        display: none;
    }
}
//Full width container --start
.sws-component-self-contain {
    display: inline-block;
    &__first,
    &__second {
        width: 50%;
    }
    &__childs {
        width: 33.33%;
    }
    @media(max-width:$sws-sm-max-view) {
        &__first,
        &__second,
        &__childs {
            width: 100%;
        }
    }
    @media(min-width:$sws-md-min-view)and(max-width:$sws-md-max-view) {
        &__first {
            width: 100%;
        }
        &__second,
        &__childs {
            width: 50%;
        }
        .sws-albums-gallery-wrapper:nth-child(4),
        .sws-albums-gallery-wrapper:nth-child(5) {
            display: block;
        }
    }
}
//Full width container --end


.sws-album-gallery-header {
    margin: 10px 10px;
    a {
        text-decoration: none;
    }
    &__button {
        display: table;
        border: 1px solid $sws-component-theme-bg;
        padding: 0px 15px;
        border-radius: 20px;
        font-size: $sws-component-font-size-smaller;
        font-weight: $sws-component-header-font-weight;
    }
}

.sws-albums-gallery-wrapper {
    overflow: hidden;
    max-width: 100%;
    &:hover {
        .sws-albums-gallery {
            transform: translateY(-100%);
        }
        .sws-albums-gallery-full-info {
            display: flex;
        }
    }
    &:hover,
    &:focus,
    &:not(:focus):hover {
        @media screen and (max-width: $sws-md) {
            .sws-albums-gallery {
                transform: none;
            }
            .sws-albums-gallery-full-info {
                display: none;
            }
        }
    }
    &__inner{
        position: relative;
        overflow: hidden;
        background: $sws-component-theme-bg;
        @media screen and (max-width: 767px) {
            margin: 10px 0;
        }
        //focus state show outline on landing page
        .sws-albums-gallery {
            &__main-link {
                display: block;
                z-index: 999;
                position: relative;
                .sws-albums-gallery {
                    z-index: -999;
                }
                &:focus {
                    outline: 1px solid #000!important;
                    outline-offset: -3px!important;
                }
            }
        }
    }
}
@media(min-width: $sws-xg) {
    .sws-albums-landing__content .sws-albums-gallery-wrapper:nth-child(3n+1) .sws-albums-gallery-wrapper__inner {
      margin: 10px 10px 10px 0;
    }
    .sws-albums-landing__content .sws-albums-gallery-wrapper:nth-child(3n+2) .sws-albums-gallery-wrapper__inner {
      margin: 10px;
    }
    .sws-albums-landing__content .sws-albums-gallery-wrapper:nth-child(3n+3) .sws-albums-gallery-wrapper__inner {
      margin: 10px 0px 10px 10px;
    }
}


@media(min-width: 768px) and (max-width: 1023px) {
    .sws-albums-landing__content .sws-albums-gallery-wrapper:nth-child(2n+1) .sws-albums-gallery-wrapper__inner {
      margin: 10px 10px 10px 0;
    }
    .sws-albums-landing__content .sws-albums-gallery-wrapper:nth-child(2n) .sws-albums-gallery-wrapper__inner {
      margin: 10px 0px 10px 10px;
    }
}
.sws-albums-gallery-full-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: $sws-component-color;
    &__bottom {
        text-align: -webkit-center;
        white-space: nowrap;
        vertical-align: middle;
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        img {
            max-width: 18px;
            margin-right: 5px;
            height: 100%;
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
            font-size: 0.875rem;
        }
        &__inner {
            padding: 0px 15px 10px 0;
            text-align: right;
            display: table;
            white-space: nowrap;
            font-size: 14px !important;
        }
    }
    p {
        width: 80%;
        overflow: hidden;
        align-self: center;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    a {
        text-decoration: none;
        font-size: $sws-component-font-size;
        font-weight: $sws-component-header-font-weight;
    }
    @media screen and (max-width:$sws-md) {
        display: none;
    }
}

.sws-albums-gallery {
    width: 100%;
    max-width: 100%;
    position: relative;
    transition: transform 0.5s ease;
    a {
        display: block;
        font-size: $sws-component-font-size;
        font-weight: $sws-component-header-font-weight;
        text-decoration: none;
        color: $sws-component-color;
    }
    a:focus {
        outline-offset: -2px !important;
    }
    &__image {
        width: 100%;
        min-height: 182px;
        max-height: 300px;
        object-fit: cover;
        height: 245px;
    }
    &__album-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
        background: $sws-component-theme-bg;
        padding: 5px 0;
    }
    &__left-content {
        padding: 5px 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 45ch;
        overflow: hidden;
        vertical-align: middle;
    }
    &__right-content {
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        white-space: nowrap;
        font-size: 0;
        img {
            max-width: 18px;
            margin-right: 5px;
            margin-left: 5px;
            width: 100%;
        }
        span {
            vertical-align: middle;
            font-size: 0.875rem;
        }
    }
}

//container 100
//.sws-container-width-100 {
      .sws-albums-gallery__overall-padding {
          .sws-albums-gallery-wrapper__inner {
             @media screen and (min-width: $sws-lg-min-view) {
                margin: 10px;
             }
             @media screen and (max-width: $sws-sm-max-view) {
                margin: 10px 0;
             }
          }
      }
      .sws-albums-gallery-wrapper:nth-child(2n+1) .sws-albums-gallery-wrapper__inner{
          @media screen and (max-width: $sws-md-max-view) and (min-width: $sws-md-min-view) {
              margin: 10px 0px 10px 10px;
          }
      }
      .sws-albums-gallery-wrapper:nth-child(2n) .sws-albums-gallery-wrapper__inner{
          @media screen and (max-width: $sws-md-max-view) and (min-width: $sws-md-min-view) {
              margin: 10px 10px 10px 0px;
          }
      }
      .sws-albums-gallery-wrapper.sws-component-self-contain__first{
          .sws-albums-gallery-wrapper__inner {
              @media screen and (max-width: $sws-md-max-view) {
                  margin: 10px 0;
              }
          }
      }



    // }
//}

//container 66
.sws-container-width-66 {
    .sws-albums-gallery__overall-padding {
        padding: 0;
        .sws-albums-gallery-wrapper:nth-child(2n+1) .sws-albums-gallery-wrapper__inner{
            margin: 10px 0px 10px 10px;
            @media screen and (max-width: $sws-sm-max-view) {
                margin: 10px 0;
            }
        }
        .sws-albums-gallery-wrapper:nth-child(2n) .sws-albums-gallery-wrapper__inner{
            margin: 10px 10px 10px 0px;
            @media screen and (max-width: $sws-sm-max-view) {
                margin: 10px 0;
            }
        }
        .sws-albums-gallery-wrapper.sws-component-self-contain__first{
            .sws-albums-gallery-wrapper__inner {
                margin: 10px 0px 10px 0px !important;
            }
        }
    }

    .sws-component-self-contain {
        &__first {
            width: 100%;
        }
        &__second,
        &__childs {
            width: 50%;
        }
        .sws-albums-gallery-wrapper:nth-child(4),
        .sws-albums-gallery-wrapper:nth-child(5) {
            display: block;
        }
        @media(max-width:$sws-sm-max-view) {
            &__first,
            &__second,
            &__childs {
                width: 100%;
            }
            .sws-albums-gallery-wrapper:nth-child(n+4) {
                display: none;
            }
        }
    }
}

//container 33
.sws-container-width-33 {
    .sws-albums-gallery__overall-padding {
        padding: 0;
        .sws-albums-gallery-wrapper{
            &__inner {
                margin: 10px 0;//10px 0 10px 10px;
                @media screen and (max-width: $sws-sm-max-view) {
                    margin: 10px 0;
                }
            }
        }
        @media(min-width: $sws-md-min-view) and (max-width: $sws-md-max-view) {

            .sws-albums-gallery-wrapper:nth-child(2n){
                .sws-albums-gallery-wrapper__inner {
                    margin: 10px 10px 10px 0px;
                }
            }
            .sws-albums-gallery-wrapper:nth-child(2n+1){
                .sws-albums-gallery-wrapper__inner {
                    margin: 10px 0px 10px 10px;
                }
            }
            .sws-albums-gallery-wrapper:nth-child(1){
                .sws-albums-gallery-wrapper__inner {
                    margin: 10px 0;
                }
            }
        }
    }
    @media(min-width: $sws-lg-min-view) {
        .sws-component-self-contain {
            &__first,
            &__second,
            &__childs {
                width: 100%;
            }
        }
        .sws-albums-gallery-wrapper:nth-child(4),
        .sws-albums-gallery-wrapper:nth-child(5) {
            display: none;
        }
    }
}

//container 50
.sws-container-width-50 {
    .sws-albums-gallery__overall-padding {
        padding: 0;
    }
    @media(min-width: $sws-lg) {
        .sws-component-self-contain {
            &__first,
            &__second,
            &__childs {
                width: 100%;
            }
        }
        .sws-albums-gallery-wrapper:nth-child(4),
        .sws-albums-gallery-wrapper:nth-child(5) {
            display: none;
        }
    }
}
