.alert-message-container {
    padding: 35px 0;
    background: $sws-alert-color;
    @media screen and (max-width: $sws-md) {
        padding: 26px 0;
    }
    &__head {
        h2 {
            font-size: 1.5rem;
            font-family: 'Open Sans', sans-serif;
            @media screen and (min-width: $sws-md) {
                font-size: 2rem;
            }
        }
        &_tricon {
            margin-right: 15px;
        }
        p {
            @media screen and (max-width: $sws-md) {
                font-size: 0.875rem;
                font-family: 'Open Sans', sans-serif;
            }
        }
        .alter_action__button {
            display: table;
            border: 1px solid #000;
            padding: 10px 15px;
            border-radius: 20px;
            width: 20%;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            color: #000;
            background: transparent;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            margin-top: 25px;
            &:hover {
              color: #fff;
              background-color: #000;
            }
            &:focus {
              color: #fff;
              background-color: #000;
            }
            @media screen and (max-width: $sws-md-max-view) and (min-width: $sws-md-min-view)  {
              width: 30%;
            }
            @media screen and (max-width: $sws-sm-max-view) {
              width: 65%;
            }


        }
    }
}
