//--mixin for font
%font-contact-sidebar {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.contact-us-container-wrapper {
  .contact {
    margin-bottom: 20px !important;
  }
}
.category-sidebar--contact-us {
    & &__inner__wrapper {
        padding: 15px 15px;
        h4 i {
            margin-right: 10px;
            width: 14px;
        }
        &.sws-content h4 {
            font-weight: normal;
        }
    }
    & &__address {
        background: $sws-light-accent;
        @extend %font-contact-sidebar;
        @media screen and (max-width: $sws-md) {
            display: none;
        }
    }
    & &__header {
        max-width: 100%;
        margin-bottom: 15px;
        @extend %font-contact-sidebar;
        div[aria-expanded="false"] {
            //display: none;
        }
        .category-sidebar--contact-us__inner__wrapper h4 {
            font-weight: 800;
        }
        small {
            font-size: 12px;
            font-weight: normal;
        }
        .category-sidebar--contact-us__inner__wrapper i {
            background: none;
            height: auto;
            transform-origin: 50% 50%;
        }
        .category-sidebar--contact-us__inner__wrapper.uk-accordion-title,
        .category-sidebar--contact-us__inner__wrapper.uk-accordion-title:hover {
            background: none;
            text-transform: none;
            border-bottom: 1px solid $sws-meganav-bg;
            //--active state for accordion
            &.uk-active {
                border-left: 6px solid $sws-meganav-bg;
                border-bottom: none;
                margin-top: 0;
            }
        }
        .category-sidebar--contact-us__inner__add__block.uk-accordion-content,
        .category-sidebar--contact-us__inner__add__block.uk-accordion-content:hover {
            background: none;
            // visibility: hidden;
            //--active state for accordion
            border-left: 6px solid $sws-meganav-bg;
            border-bottom: 1px solid $sws-meganav-bg;
        }
        @media screen and (max-width: $sws-md) {
            .category-sidebar--contact-us__inner__wrapper {
                padding-top: 0;
            }
            & .category-sidebar--contact-us__inner__wrapper.uk-accordion-title.uk-active {
                padding-top: 15px;
            }
        }
    }
    & &__inner__add__block {
        padding: 0 15px;
        p {
            font-size: 0.875rem;
            margin: 5px 0;
            i {
                margin-right: 10px;
                width: 14px;
            }
        }
        p a {
            text-decoration: none;
            font-weight: normal;
            .gef-external-link {
                display: none;
            }
        }
        @media screen and (max-width:$sws-md) {
            .category-sidebar--contact-us__markers {
                &__tel-desktop {
                    display: none;
                }
            }
        }
    }
}

//--map section
//
.contact_us__map {
    padding: 0 25px;
    &__fill {
        height: 100%;
        min-height: 50vh;
    }
    .infowindow_wrapper {
        & .rtoicon {
            max-height: 50px;
            max-width: 100px;
        }
        & .infotxt {
            margin-left: 5px;
            max-width: 200px;
        }
    }
    @media screen and (max-width: $sws-md) {
        padding: 0;
    }
}
