// -------------------
// Events Landing Component
//
//  Events Component styles. Normally present in page body
// -------------------
.sws-event-stamp-wrapper {
    position: relative;
    bottom: 182px;
    left: 30px;
    width: 80px;
}

.sws-event-stamp-wrapper-noimage {
    left: 30px;
    position: relative;
    width: 80px;
}

@media screen and (max-width:$sws-md) {
    .sws-event-stamp-wrapper {
        &,
        &-noimage {
            left: 15px;
        }
    }
}

.from_department--events-landing {
    height: 37px;
    .from-the-department {
        width: auto;
        margin: 5px 0 0 0;
        line-height: inherit;
    }
}

.sws-event-stamp-wrapper .from_department--events-landing {
    float: left;
}

.sws-single-event-square {
    background-color: $sws-theme-hero;
}

.sws-single-event-square_inside--eventslanding:after {
    border-right: 7px solid #808080;
}

.sws-single-event-square--eventdetails:after {
    border-left: 7px solid #808080;
}

.sws-event-snapshots-wrapper {
    display: inline-flex;
}

.sws-event-landing-article-wrapper {
    margin-top: -130px;
}

.sws-event-landing-grid-main {
    margin-right: 30px;
    max-height: 613px;
}

.sws-event-landing-grid-main--first-component {
    height: 613px;
}

.sws-single-event-square--eventdetails {
    width: 80px;
}

.sws-eventdetail-remindme {
    display: inline-flex;
    padding-bottom: 15px;
    a {
        text-decoration: underline;
        font-weight: 300;
    }
    i {
        padding-top: 4px !important;
    }
}

.sws-eventlanding-pdf {
    display: inline-flex;
    a {
        text-decoration: underline;
        font-weight: 300;
    }
    i {
        padding-top: 4px !important;
    }
}

.sws-eventlanding-cta-wrapper {
    font-size: 14px;
}

.event-landing-article-image {
    margin-top: -110px;
}

.sws-latest-news--eventslanding {
    color: $sws-black;
    @media(max-width: $sws-md) {
        margin: 0 0 15px 0;
    }
}

.sws-single-event-square--no_twistee {
    @extend .sws-single-event-square;
     :after {
        content: none;
    }
}

.sws-single-event-square_inside--no_twistee {
    @extend .sws-single-event-square_inside;
}

.sws-single-event-square--no_twistee:after {
    content: none;
}

.sws-latest-news--eventslanding .event-landing-article-image,
.event-landing-article-noimage {
    .sws-latest-news__article {
        padding: 30px;
        padding-top: 25px;
        @media screen and (max-width: $sws-md) {
            padding: 25px 15px 30px 15px;
        }
        h3 {
            margin-bottom: 0px;
            //margin-top: 28px;
            font-weight: 700;
        }
    }
}

//line ellipsis
.sws-event-location {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 260px;
    overflow: hidden;
}

.sws-char-length-1001 {
    margin-top: 10px;
}

.sws-eventslanding-hr {
    margin-top: 20px;
    margin-bottom: 30px;
    @media(max-width: $sws-md) {
        margin-bottom: 15px;
    }
}

.gef-search-results__info {
    font-size: 1rem;
    line-height: 1.38;
    margin-bottom: 10px;
}

//paragraph ellipsis
// .sws-char-length-1001{
//     display: block;
//     height: calc(1.38em * 3);
//     overflow: hidden;
//     max-width: 324px;
// }
// .sws-char-length-1001::after{
//     content:"...";
//     position: absolute;
//     //bottom: 22px;
//     left: 365px;
//     top: 560px;
//     height: calc(1.38em * 3);
// }
//media queries
@media(min-width:$sws-lg) {
    .sws-event-landing-66 {
        max-width: 100% !important;
    }
}

@media(max-width:$sws-md+1) {
    .news-index {
        margin-right: 0;
    }
    .news-view-more {
        width: 100%;
    }
    .event-landing-article-image {
        margin-top: -90px;
    }
    .sws-event-location {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 192px;
        overflow: hidden;
    }
    .gef-search-results__info {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.event-view-more {
    @media(max-width: $sws-md) {
        width: 98%;
    }
    width: 70%;
    margin: auto;
    .sws-loader-svg-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
        img,
        svg {
            width: 25%;
            @media #{$gef-mq-md} {
                width: 17.5%;
            }
            .svg-rectangle {
                fill: rgb(100, 100, 100);
            }
        }
    }
}
.sws-events-landing {
    .sws-news-newsContent {
        .sws-latest-news-wrapper:nth-child(3n+2) {
            .sws-latest-news {
                @media(min-width: $sws-lg) and (max-width: $sws-xg) {
                    margin: 10px 5px;
                }
            }
        }
    }
}
// @media(max-width:$sws-md){
//         .sws-container-inner{
//             .sws-news-component-first{
//                 padding: 15px 12px;
//             }
//         }
// }
