// -------------------
// Events Component for print
//
//  Events Component styles. Normally present in page body
// -------------------

.events-article-wrapper {
	aside {
		display: block !important;
		nav {
			display: block !important;
		}
	}
}
