//------
//Events detail-latest page
//-------

/* uncss:ignore start */

.sws-index-banner.sws-events-detail__container {
    width: 100%;
    @media screen and (min-width: $sws-lg) {
        max-height: 375px;
    }
    @media screen and (max-width:$sws-lg) {
        margin-bottom: 10px;
        .sws-latest-news {
            padding-bottom: 0;
        }
    }
}

.sws-index-banner__container.sws-events-detail-header__container {
    background: $sws-component-theme-bg;
    .sws-events-detail-header__container__txt {
        padding: 0 40px;
        display: flex;
        max-height: 100%;
        flex-direction: column;
        justify-content: center;
        &__calplus {
            margin-top: 10px;
        }
    }
    .sws-events-detail-header__container__img {
        max-height: 100%;
    }
}

.events-article-wrapper {
    // &__main {
    //     margin-right: 25px;
    // }
    &__upcoming .sws-latest-news-header {
        margin-left: 0;
    }
}

// .sws-index-banner__container--latest{
// }
//map placeholder
.event-latest-mapplaceholder {
    max-width: 344px;
    max-height: 262px;
    background: $sws-meganav-bg;
    color: $sws-component-color;
    position: relative;
    right: 10px;
    margin-bottom: -20px;
    height: 262px;
}

.event-details-heading {
    float: left;
}

.from_department--events-header {
  float: left;
  // display: inline-block;
  .from-the-department {
    position: relative;
    width: 110%;
    margin: 13px 0 0 20px;
  }
}

.event-latest-reminder {
    top: 15px;
    position: relative;
    right: -20px;
    display: inline-block;
}

.sws-events-detail-header__container__img {
    max-height: 100%;
}

.sws-event-wrapper-sidebar {
    position: relative;
    //margin-left: 24px;
    padding: 0px !important;
}

.sws-events-detail__container-latest {
    //max-height: 420px;
    min-height: 400px;
}

.event-latest-img {
    max-width: 100%;
    max-height: 374px;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
    img {
        position: relative;
        width: 100%;
        //transform: translateY(-50%);
        //top: 50%;
        height: auto;
        object-fit: cover;
    }
}

.event-detail-upcoming-events {
    position: relative;
    margin-top: 60px;
    //top: 215px;
    //left: 30px;
}

.event-details-latest-share {
    width: 83px;
    height: 30px;
    font-size: 12px;
    border-radius: 14px;
    border: solid 1px $sws-component-theme-bg;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    line-height: 1.67;
    a {
        text-decoration: none;
        font-weight: 500 !important;
    }
}

.gef-main-content--latest {
    margin-top: 10px;
}

.sws-event-desc {
    dl {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width:$sws-md) {
    .events-latest-category-sidebar {
        nav {
            padding: 0 !important;
            p {
                margin-bottom: 20px !important;
            }
        }
    }
    .sws-events-detail-header__container__img {
        width: 100%;
    }
    .event-latest-reminder {
        position: relative;
        clear: both;
        float: left;
        left: 0px;
        top: 0px;
    }
}

@media(max-width:1024px) {
    .sws-event-wrapper-sidebar {
        position: relative;
        left: 0px;
        margin-top: 0;
        .categorySidebar--event-detail-page {
            margin: 0;
            margin-left: 24px;
        }
    }
}

@media(max-width:$sws-lg) {
    .sws-event-wrapper-sidebar {
        position: relative;
        left: 0;
        margin-top: 0;
    }
    .gef-main-content--latest {
        margin-top: 10px;
    }
    .sws-latest-events-header {
        margin-top: 10px;
    }
    .event-latest-mapplaceholder {
        max-width: 296px;
        max-height: 226px;
        right: 0px;
    }

    .event-detail-upcoming-events {
        margin-top: 10px;
    }
    .events-article-wrapper {
        &__content-order {
            flex-direction: column-reverse;
        }
    }
    .sws-index-banner__container.sws-events-detail-header__container {
        .sws-events-detail-header__container__txt {
            padding: 20px;
        }
    }
    .from_department--events-header {
        position: relative;
        clear: both;
        left: -20px;
        padding-bottom: 10px;
    }
    .gef-main-content--latest {
        width: 100%;
    }
    .sws-events-heading--definition {
        margin-left: 0px;
    }
    .sws-content-header {
        margin: 0 0 20px;
    }
}

@media(max-width:767px) {
    .sws-event-wrapper-sidebar {
        margin-top: 20px;
        margin-left: 0;
        .categorySidebar--event-detail-page {
            margin: 15px 0;
        }
    }
    .event-latest-img {
        //max-height: 200px !important;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .category-sidebar--events_detail nav {
        outline: none;
    }
}

.category-sidebar--events_detail__attachments {
    margin-top: 0px;
    margin-bottom: 0px;
    a {
        &:not(:last-child) {
            padding-bottom: 15px;
        }
        font-weight: 300;
    }
}

.category-sidebar--events_detail__links {
    margin-top: 0px;
    margin-bottom: 0px;
    // li{
    //   &:after {
    //     content: none !important;
    //   }
    // }
    a {
        &:not(:last-child) {
            padding-bottom: 15px;
        }
        font-weight: 300;
    }
}

.events-latest-category-sidebar {
    nav {
        padding: 20px 20px 1px 20px;
        width: 80%;
        h3 {
            padding-bottom: 5px;
            margin-bottom: 0;
        }
    }
    p {
        font-weight: 300;
    }
}

/* uncss:ignore end */
