//------
//Events detail page
//-------
.sws-index-banner.sws-events-detail__container {
    width: 100%;
}

.sws-index-banner__container.sws-events-detail-header__container {
    background: $sws-component-theme-bg;
    max-height: 375px;

    @media (max-width:$sws-lg) {
      max-height: 100%;
    }

    .sws-events-detail-header__container__txt {
        padding: 0 40px;
        display: flex;
        max-height: 100%;
        flex-direction: column;
        justify-content: center;
        &__calplus {
            margin-top: 10px;
        }
    }
    .sws-events-detail-header__container__img {
        max-height: 100%;
    }
}

.events-article-wrapper {
    // &__main {
    //     margin-right: 25px;
    // }
    &__upcoming .sws-latest-news-header {
        margin-left: 0;
    }
}

//--media queries
@media (max-width:$sws-md) {
    .events-article-wrapper {
        &__content-order {
            flex-direction: column-reverse;
        }
    }
    .sws-index-banner__container.sws-events-detail-header__container {
        .sws-events-detail-header__container__txt {
            padding: 20px;
        }
    }
}
