// -------------------
// Events Component
//
//  Events Component styles. Normally present in page body
// -------------------
.sws-events-complete {
    margin-top: 15px;
    margin-bottom: 15px;
    //homepage events specific fixes
    .sws-single-event-square {
        margin-left: 5px;
    }
}

.sws-event-more-icon {
    float: right;
    margin-top: 0 !important;
    margin-right: -35px;
    &:after {
        content: '';
        font-family: 'FontAwesome';
        text-decoration: none;
        display: inline-block;
        top: 41%;
        //revision SWR-1425
        padding-right: 25px;
    }
}

.sws-events-full-width {
    .sws-single-event {
        @media #{$sws-mq-sm-view} {
            width: 100% !important;
        }
        @media #{$sws-mq-md-view} {
            width: 50% !important;
            .sws-event-more-icon {
                display: none !important;
            }
        }
        @media #{$sws-mq-lg-view} {
            width: 33.3333% !important;
            cursor: default;
            .sws-event-desc {
                cursor: pointer;
            }
        }
    }
}

//scenario with 66% container
.sws-container-width-66 {
    @media(min-width: $sws-md-min-view) {
        .uk-width-1-3 {
            width: 50% !important;
        }
    }
}

.sws-container-width-33 {
    @media(min-width: $sws-lg-min-view) {
        .uk-width-1-3 {
            width: 100% !important;
        }
    }
}

.sws-single-event {
    margin-top: 30px;
    @media screen and (min-width: 1024px) {
        margin-right: 40px;
    }
//TODO--missing 769-1023 margin-right @media screen and (min-width: 768px) {
    @media screen and (max-width: 768px) {
        margin-right: 20px;
    }
}

.sws-event-desc {
    padding-left: 18px;
    @media (max-width: 768px) and (min-width: 600px) {
        padding-left: 0 !important;
    }
    @media (max-width: 768px) and (min-width:620px) {
        padding-left: 8px !important;
    }
    h3 {
        font-size: 1.25rem;
        font-weight: 700;
        @media screen and (max-width: 420px) {
            margin-bottom: 0;
        }
        @media(max-width:$sws-md) {
            font-size: 1rem;
        }
        a {
            text-decoration: none;
            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .from_department--events-home .from-the-department {
        position: static;
        margin: 0 0 5px;
        width: 100%;
    }
}

.sws-events-heading {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: left;
    padding-top: 5px!important;
    padding-right: 10px;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-right: 15px!important;
    display: inline-block;
}
.sws-events-heading-new {
    &:before {
        content: '\f017';
        font-family: 'FontAwesome';
        text-decoration: none;
        display: inline-block;
        padding-right: 3px;
    }
}

.sws-event-date-period {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: left;
    padding-top: 5px!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-right: 5px!important;
    display: inline-block;
}
.sws-event-date-period-new {
    &:before {
        content: '\f073';
        font-family: 'FontAwesome';
        text-decoration: none;
        display: inline-block;
        padding-right: 3px;
    }
}

.sws-event-location {
    text-decoration: none;
    display:block;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.23;
    padding-top:5px!important;
}
.sws-event-location-new {
  &:before {
      content: '\f041';
      font-family: 'FontAwesome';
      text-decoration: none;
      display: inline-block;
      padding-right: 3px;
  }
}

.sws-char-length-100 {
    margin-top: 0;
    padding-top: 5px;
    text-align: left;
    overflow: hidden;
    @media screen and (max-width: 499px) {
        display: none;
    }
}

.sws-char-lenth-100__wrapper {
    max-width: 282px;
}

.sws-single-event-square {
    width: 95%;
    height: auto;
    background: $sws-theme-hero;
    //margin-left: 5px;
    margin-right: 5px;
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    @media screen and (max-width: $sws-md) {
        width: 85%;
    }
    // @media (max-width: 768px) and (min-width:600px) {
    // 	width: 90%;
    // }
}

.sws-single-event-square:before {
    content: "";
    display: inline-block;
    position: absolute;
    //border:10px solid black;
    border-color: transparent transparent transparent black;
    top: 40%;
}

.sws-single-event-square:after {
    content: "";
    display: inline-block;
    position: absolute;
    border: 7px solid white;
    border-color: transparent transparent transparent white;
    top: 41%;
    left: -1px;
}

.sws-single-event-square_inside:before {
    content: "";
    display: inline-block;
    position: absolute;
    //border:10px solid black;
    border-color: transparent transparent transparent black;
    top: 40px;
}

.sws-single-event-square_inside:after {
    content: '';
    display: block;
    position: absolute;
    top: 51%;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid white;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    right: -1px;
}

.sws-single-event-square_inside {
    p {
        text-align: center;
        font-weight: bold;
    }
    p.sws-event-day {
        font-size: 14px;
        line-height: 1.43;
        padding-top: 5px;
        @media screen and (max-width: 420px) {
            font-size: 12.2px;
            margin-bottom: 0;
        }
    }
    p.sws-event-day-date {
        font-size: 36px;
        margin: 0;
        height: auto;
        line-height: 1.11;
        @media screen and (max-width: 420px) {
            font-size: 31.3px;
        }
    }
    p.sws-event-month {
        font-size: 16px;
        margin: 0;
        text-transform: uppercase;
        @media screen and (max-width: 420px) {
            font-size: 13.9px;
        }
    }
}

.sws-container-width-33 {
    .sws-events-full-width .sws-single-event {
        display: none;
    }
    .sws-events-full-width .sws-single-event:nth-child(-n+4) {
        display: unset;
    }
    @media screen and (max-width: $sws-md-max-view) and (min-width: $sws-md-min-view) {
      .sws-events-full-width .sws-single-event {
         display: inherit;
      }
    }
    @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
        .sws-events-full-width .sws-single-event:nth-child(-n+4) {
            display: inherit;
        }
    }
}

.sws-events-complete, .sws-container-full-width {
    @media screen and (max-width: $sws-sm-max-view) {
        .sws-events-full-width .sws-single-event {
            display: none;
        }
        .sws-events-full-width .sws-single-event:nth-child(-n+4) {
            display: unset;
        }
    }
    @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
        .sws-events-full-width .sws-single-event:nth-child(-n+4) {
            display: inherit;
        }
    }
}

.sws-container-width-66 {
    @media screen and (max-width: 420px) {
        .sws-events-full-width .sws-single-event {
            display: none;
        }
        .sws-events-full-width .sws-single-event:nth-child(-n+4) {
            display: unset;
        }
    }
    @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
        .sws-events-full-width .sws-single-event:nth-child(-n+4) {
            display: inherit;
        }
    }
}

.sws-latest-events-header {
    @extend .sws-latest-news-header;
    margin-left: 3px;
}

//Style below can be used to hide a content
//from sighted user yet make available for screen readers
.sws-event-desc--definition {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sws-event-date-period--definition {
    float: left;
    margin-right: 15px;
}

.events-article-wrapper__main {
    max-width: 689px;
}
.scr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
