// -------------------
// Global Header
//
// Global Header styles. Normally present between as the last component of the page
//
// -------------------

.sws-global-header-container {
    position: relative;
    z-index: 1001;
}
.sws-global-header {
    background: $gef-global-header-bg;
    padding: 2px 0;
    overflow: visible;
    z-index: 2000;
    abbr {
        border: none;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.3;
    }
    @media #{$gef-mq-md}
    {
        padding: 2px 0;
    }
    @media #{$gef-mq-lg}
    {
        padding: 3px 0;
    }
}
.global-header-links-right {
    padding-left: 0;
}
.sws-global-header__header {
    font-weight: 400;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1;
    float: left;
    color: $gef-global-header-color;
    padding-top: 10px;
    @media #{$gef-mq-md}
    {
        font-size: 0.75rem;
        font-weight: 600;
        &:before {
            content: attr(title);
        }
        &:hover,
        &:focus {
            text-decoration: underline;
            outline-offset: 0px !important;
        }
        abbr {
            display: none;
        }
    }
}

div#google_translate_element .goog-te-gadget-simple {
	background: #ffffff !important;
	border: initial !important;
  padding: 0 5px !important;
  border-left: 1px solid #d5d5d5 !important;
  border-top: 1px solid #9b9b9b !important;
  border-bottom: 1px solid #e8e8e8 !important;
  border-right: 1px solid #d5d5d5 !important;
}

div#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span:nth-child(1) {
  text-transform: initial;
}

.sws-global-links-dropdown > li {
  border: none;
  padding: 0;
}

img.goog-te-gadget-icon {
  width: 18px !important;
  height: 18px !important;
}

//google translate css
.goog-te-menu-value {
    font-weight: 600;
    font-family: $base-body-font-family;
    span:first-child {
        display: none!important;
        @media #{$gef-mq-md}
        {
            display: inline!important;
            font-size: 12px;
        }
    }
    &:focus {
        outline-offset: 5px !important;
    }
}
div#google_translate_element div.goog-te-gadget-simple {
    font-size: 14px;
    margin-top: 4px;
    padding: 0;
    margin-bottom: 4px;
}
.goog-te-gadget-icon {
    margin-right: 0!important;
    height: 14px !important;
}
.global-header-right-nav {
    float: right;
    margin-right: -12px;
    @media #{$gef-mq-md}
    {
        margin-right: 5px;
    }
}
.sws-global-links {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}
.sws-global-link-button {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    @media #{$gef-mq-md}
    {
        padding: 0 12px;
    }
    &:hover {
        background-color: #b4b4b4;
    }
}
.sws-global-links-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  left: auto;
  right: 0;
  z-index: 1000;

  li {
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding-left: 0;

    a {
      display: block;
      clear: both;
      white-space: nowrap;
      padding: 3px 20px;
      text-decoration: none;
      font-weight: 600;

      &:focus {
        text-decoration: underline;
        outline-offset: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.sws-global-link-button {
    background-color: $gef-zircon;
    font-size: 12px;
    font-weight: 600;
    border-width: 0;
    width: 80px;
    height: 100%;
    &:focus {
        outline-offset: 1px !important;
    }
    &:after {
        padding-left: 10px;
        content: '\f107';
        font-family: 'FontAwesome';
        font-size: 16px;
        font-weight: 700;
    }
    .global-link-button-txt {
        display: none!important;
        vertical-align: text-bottom;
        @media #{$gef-mq-md}
        {
            display: inline!important;
        }
    }
}
.sws-link-icon {
    &:before {
        content: '\f007';
        font-family: 'FontAwesome';
        display: inline!important;
        font-size: 1.75em;
    }
}
.sws-global-link-button.rotate {
    &:after {
        padding-left: 10px;
        content: '\f106';
        font-family: 'FontAwesome';
        font-size: 16px;
        font-weight: 700;
    }
}
#google_translate_element img {
    width: auto !important;
}
div#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span:nth-child(5) {
    color: transparent!important;
     &:after{
        content: "\f107";
        font-family: 'FontAwesome';
        font-size: 16px;
        font-weight: 700;
        color: #000!important;
    }

}
div#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span:nth-child(3) {
    display: none;
}
div#google_translate_element .goog-te-gadget-simple .goog-te-menu-value img {
    margin-left: -1px!important;
    margin-right: -1px!important;
}
div#google_translate_element .goog-te-gadget-simple .goog-te-gadget-icon {
    margin-top: -2px!important;
}