.sws-global-quicklinks {

  @at-root .sws-inline-menu {
    background-color: $sws-dark-accent;
    padding: 0;
    margin: 0;

    @at-root li.sws-inline-menu__li {
      padding: 0;
      margin: 7px 0 4px;

      @at-root a.sws-inline-menu__link {
        font-size: 0.875rem;
        color: $sws-white;
        text-decoration: none;
        font-weight: 400;
        padding: 0 12px;

        &:hover {
          color: $sws-white;
          text-decoration: underline;
        }

        &:focus {
          outline-offset: 2px !important;
        }
      }

      @at-root .sws-inline-menu__divider {
        color: $sws-white;
      }

      &:last-child {
        .sws-inline-menu__divider {
          display: none;
        }
      }
    }
  }
}
