body.sws-ie {
    figure.gef-image-with-caption {
        display: block;
        figcaption {
            display: block;
        }
    }
    .sws-banner-wrapper {
        .sws-static-banner-component {
            max-height: 450px;
            overflow: hidden;
            &__image {
                max-height: 100%;
            }
        }
    }
    .sws-index-banner {
        &__container .sws-index-banner__img img {
            width: 100%;
            max-width: none;
            height: auto;
            min-height: 100%;
            max-height: none;
        }
    }
    .sws-album-details {
        &__index-banner {
            .sws-index-banner__img {
                max-height: 375px;
                align-items: center;
            }
        }
    }
    .sws-albums-gallery-wrapper {
        .sws-albums-gallery {
            height: 245px;
            overflow: hidden;
            &__image {
                min-height: 245px;
                height: auto;
                max-width: none;
                width: 100%;
                max-height: none;
            }
            &__main-link:focus {
                border: 1px solid #000;
            }
        }
    }
    .sws-latest-news {
        &__image-wrap {
            overflow: hidden;
            height: 182px;
            width: 100%;
        }
        &__image {
            height: auto;
        }
    }
    .sws-latest-news--eventslanding {
      .sws-latest-news__image {
        height: 182px;
      }
    }
    .sws-event-desc .from_department--events-home .from-the-department {
        position: static;
        margin: 0 0 5px;
        width: 100%;
    }
    .component-sidebar.archive-sidebar .archive-sidebar__caret select::-ms-expand {
      display: none;
    }
    .contact_us__map .infowindow_wrapper .rtoicon {
        height: 50px;
    }
}
