//----------
//latest news component specific variables
//----------
.sws-container-inner {
    display: flex;
    flex-wrap: wrap;
}

.sws-latest-news-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.sws-news-consumable {
    display: inline-block;
}

.sws-latest-news-header, .sws-album-gallery-header, .sws-social-media-header {
    margin: 10px;
    a {
        text-decoration: none;
    }
    &__button {
        display: inline-block;
        border: 1px solid $sws-component-theme-bg;
        padding: 0px 15px;
        border-radius: 20px;
        font-size: $sws-component-font-size-smaller;
        font-weight: $sws-component-header-font-weight;
    }
}
//--TODO temp fix SWR-2722. In future, margin will be removed as well for latest news & album gallery.
.sws-social-media-header {
    // margin: 0;
}

.sws-latest-news-container-padding {
    padding: 0 5%;
}

.sws-latest-news {
    color: $sws-component-color;
    background: $sws-component-theme-bg;
    margin: 10px 10px;
    width: 100%;
    .sws-latest-news__image {
        width: 100%;
        max-width: 100%;
        height: 182px;
        object-fit: cover;
    }
    .sws-latest-news__article {
        position: relative;
        padding: 20px 30px;
        @media screen and (max-width: $sws-md) {
            padding: 20px 15px;
        }
    }
    .sws-latest-news__article__heading {
        color: $sws-component-color;
        font-weight: $sws-component-header-font-weight;
        font-size: 1.375rem;
        line-height: 1.18;
        margin-bottom: 10px;
    }
    .sws-latest-news__article__date {
        font-size: 0.875rem;
        margin: 0;
    }
    .sws-latest-news__article__icons {
        font-size: 0.875rem;
    }
    .sws-latest-news__article__category {
        font-size: $sws-component-font-size-smaller;
        margin-bottom: 10px;
    }
    .sws-latest-news__article__text {
        font-size: 1.125rem;
        margin-top: 10px;
    }
    a {
        text-decoration: none;
        display: block;
        color: inherit;
    }
    a .gef-external-link {
        display: none;
    }
    &-desktop-container {
      display: flex;
    }
    &-mobile-container {
      display: none;
    }
    &-tablet-container {
      display: none;
    }
    @media (max-width: $sws-sm-max-view) {
      &-desktop-container {
        display: none;
      }
      &-mobile-container {
        display: block;
      }
    }
    @media (max-width: $sws-md-max-view) and (min-width: $sws-md-min-view) {
      &-desktop-container {
        display: none;
      }
      &-tablet-container {
        display: flex;
      }
    }
}

//News Index & Events Landing Page - Results Container
//.news-index {
    .sws-news-component {
        &-stack,
        &-first {
            width: 33.33%;
            .sws-latest-news {
                img,
                &__article__date,
                &__article__text {
                    display: block;
                }
            }
        }
        @media(max-width:$sws-sm-max-view) {
            &-first {
                width: 100%;
            }
            &-stack {
                //display: none;
            }
        }
        @media (min-width:$sws-md-min-view) and (max-width: $sws-md-max-view) {
            &-first {
                width: 50%;
            }
            &-stack {
                width: 100%;
                .sws-latest-news {
                    width: calc(50% - 10px);
                }
                .sws-latest-news:nth-child(3) {
                    display: none;
                }
            }
        }
    }
//}

//News Component
.sws-latest-news-desktop-container, .sws-latest-news-mobile-container, .sws-latest-news-tablet-container {
    .sws-news-component {
        &-stack,
        &-first {
            width: 33.33%;
            .sws-latest-news {
                img,
                &__article__date,
                &__article__text {
                    display: block;
                }
            }
        }
        // @media(min-width:$sws-lg-min-view) {
        //     &-first:nth-child(n+4) {
        //         display: none;//This is for Template 1.2
        //     }
        // }
        @media(max-width:$sws-sm-max-view) {
            &-first {
                width: 100%;
                &:not(:nth-child(1)) {
                    .sws-latest-news {
                        &__image-wrap,
                        &__article__date,
                        &__article__text {
                            display: none;
                        }
                    }
                }
                // &:nth-child(n+4) {
                //     display: none;//This is for Template 1.2
                // }
            }
            // &-stack {
            //     width: 100%;
            //     .sws-latest-news:not(:nth-child(1)) {
            //         // display: none;
            //     }
            // }
        }
        @media (min-width:$sws-md-min-view) and (max-width: $sws-md-max-view) {
            &-first {
                width: 50%;
                &:nth-child(n+3) {
                    .sws-latest-news {
                        &__image-wrap,
                        &__article__date,
                        &__article__text {
                            display: none;
                        }
                    }
                }
            }
            // &-stack {
            //     width: 100%;
            //     .sws-latest-news {
            //         width: calc(50% - 10px);
            //     }
            //     .sws-latest-news:nth-child(n+3) {
            //         display: none;
            //     }
            // }
        }
    }
}

//scenario with Full width
// .sws-container-width-100 {
    .sws-latest-news-wrapper:nth-child(3n+1) {
        .sws-latest-news {
            margin: 10px 10px 10px 0px;
        }
    }
    .sws-latest-news-wrapper:nth-child(3n+2) {
        .sws-latest-news {
            margin: 10px;
        }
    }
    .sws-latest-news-wrapper:nth-child(3n+3) {
        .sws-latest-news {
            margin: 10px 0 10px 10px;
        }
    }
    .sws-news-component-stack {
        .sws-latest-news {
            margin: 10px 0px 10px 10px;
        }
    }
    @media screen and (max-width: $sws-sm-max-view) {
        .sws-latest-news-wrapper {
            .sws-latest-news {
                margin: 10px 0px !important;
            }
        }
    }
    @media(min-width: $sws-md-min-view) and (max-width: $sws-md-max-view) {
        .sws-latest-news-wrapper:nth-child(2n+1) {
            .sws-latest-news {
                margin: 10px 10px 10px 0px;
            }
        }
        .sws-latest-news-wrapper:nth-child(2n) {
            .sws-latest-news {
                margin: 10px 0px 10px 10px;
            }
        }
        // .sws-news-component-stack {
        //     .sws-latest-news:nth-child(2n) {
        //         margin: 10px 0px 10px 10px;
        //     }
        //     .sws-latest-news:nth-child(2n+1) {
        //         margin: 10px 10px 10px 0px;
        //     }
        // }

    }

// }

//SWR-3149 Back-merge from Adobe team --start
// .sws-container-width-66 .latestnews.section .sws-latest-news-desktop-container .sws-news-component-first:nth-child(n+3) {
//     .sws-latest-news__image-wrap,
//     p.sws-latest-news__article__date,
//     p.sws-latest-news__article__text {
//         display:none;
//     }
// }
//SWR-3149 Back-merge from Adobe team --end

//scenario with 66% container
.sws-container-width-66 {
    .sws-news-component-first:nth-child(2n+1) {
        .sws-latest-news {
            margin: 10px 10px 10px 0;
            @media screen and (max-width: $sws-md) {
                margin: 10px 0;
            }
        }
    }
    .sws-news-component-first:nth-child(2n) {
          .sws-latest-news {
            margin: 10px 0px 10px 10px;
            @media screen and (max-width: $sws-md) {
                margin: 10px 0;
            }
        }
    }
    .sws-news-component-stack {
        .sws-latest-news:nth-child(2n) {
            margin: 10px 0px 10px 10px;
        }
        .sws-latest-news:nth-child(2n+1) {
            margin: 10px 10px 10px 0;
        }
        .sws-latest-news {
            width: calc(50% - 10px);
        }
    }
    // @media(max-width:$sws-md) {
    //   .sws-news-component-stack {
    //       .sws-latest-news:nth-child(2n+1) {
    //           margin: 10px 0;
    //       }
    //       .sws-latest-news {
    //           width: 100%;
    //       }
    //   }
    // }
    @media(min-width: $sws-lg) {
        //SWR-3149 Back-merge from Adobe team --start
        .sws-news-component-first:nth-child(n+3) {
            .sws-latest-news__image-wrap,
            p.sws-latest-news__article__date,
            p.sws-latest-news__article__text {
                display:none;
            }
        }
        //SWR-3149 Back-merge from Adobe team --end
        .sws-news-component {
            &-first {
                width: 50%;
            }
            &-stack {
                width: 100%;
                .sws-latest-news:nth-child(3) {
                    display: none;
                }
            }
        }
    }
}
//scenario with 33% container
.sws-container-width-33 {
    .sws-latest-news-wrapper {
        .sws-latest-news {
            margin: 10px 0;//10px 0px 10px 10px;
        }
    }
    @media(min-width: $sws-lg-min-view) {
        .sws-news-component {
            &-first {
                width: 100%;
                .sws-latest-news {
                    &__image-wrap,
                    img,
                    &__article__date,
                    &__article__text {
                        display: none;
                    }
                }
            }
            &-stack {
                width: 100%;
                .sws-latest-news {
                    width: 100%;
                }
                // .sws-latest-news:nth-child(3) {
                //     display: none;
                // }
            }
        }
    }
    .sws-container-inner {
        flex-direction: column;
    }
    @media screen and (max-width: $sws-sm-max-view ) {
        .sws-latest-news-wrapper {
            .sws-latest-news {
                margin: 10px 0px;
            }
        }
    }
    @media(min-width: $sws-md-min-view) and (max-width: $sws-md-max-view) {
        // .sws-latest-news {
        //     &__image-wrap,
        //     img,
        //     &__article__date,
        //     &__article__text {
        //         display: none;
        //     }
        // }
        .sws-container-inner {
            flex-direction: row;
        }
        .sws-latest-news-wrapper:nth-child(2n+1) {
            .sws-latest-news {
                margin: 10px 10px 10px 0px;
            }
        }
        .sws-latest-news-wrapper:nth-child(2n) {
            .sws-latest-news {
                margin: 10px 0px 10px 10px;
            }
        }
        // .sws-news-component-stack {
        //     .sws-latest-news:nth-child(2n) {
        //         margin: 10px 0px 10px 10px;
        //     }
        //     .sws-latest-news:nth-child(2n+1) {
        //         margin: 10px 10px 10px 0px;
        //     }
        // }

    }
}
//scenario with 50% container
.sws-container-width-index50 {
    .sws-latest-news-wrapper:nth-child(2n) {
        .sws-latest-news {
            margin: 10px 0px 10px 10px;
        }
    }
    .sws-latest-news-wrapper:nth-child(2n+1) {
        .sws-latest-news {
            margin: 10px 10px 10px 0px;
        }
    }

    @media screen and (max-width: $sws-md) {
        .sws-latest-news-wrapper {
            .sws-latest-news {
                margin: 10px 0px !important;
            }
        }
    }
}

//media queries
@media(max-width:$sws-md) {
    .sws-latest-news-container-padding {
        padding: 0 0;
    }
}

//from the department box starts here
.from-the-department {
    position: absolute;
    width: 60%;
    max-width: 125px;
    height: auto;
    font-size: 11px;
    font-weight: 600;
    line-height: 2.27;
    letter-spacing: -0.2px;
    text-align: center;
    color: #fffdfd;
    background: black;
    margin-top: -20px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 4px;
}

//department box ends here
