// -------------------
// LOCAL HEADER
//
// Local header styles. Normally present between the global header and page body
//
// .local-header - parent container that wraps everything that has to do with footer
//
// -------------------
.local-header {
    position: relative;
    margin-top: 0px;
    margin-bottom: 30px;
    .local-header-school-logo {
      position: relative;
      &:focus {
        float: left;
        outline: 1px solid #000;
      }
    }
}
.local-header-name {
    float: left;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding-left: 25px;
}
.local-header-heading {
    margin-top: 30px !important;
    padding-bottom: 10px;
    font-size: 2.25rem;
    line-height: 2.75rem;
}
.local-header-message {
    font-size: 18px;
    text-align: left;
    color: #000000;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 15px;
}
.local-header-logo {
    float: left;
    width: 130px;
    height: 150px;
}
.local-header-contact {
    margin-top: -20px;

}
.local-header-contact-info {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding-left: 10px;
    width: 50%;
    height:15px;
    margin-top: 0px;
    &:first-letter {
        text-transform: uppercase;
        font-weight: bold;
    }
    a{
          font-weight:400;
          text-decoration:none;
    &:focus,&:hover{
 text-decoration:underline;
    }
    }
}
.local-header-contact-info-phone {
    display: inline-block;
    vertical-align:center;
    font-size: 14px;
    width:10%;
    font-weight: normal;
    padding-left: 10px;
    height:15px;
    margin-top: 0px;
    &:first-letter {
        text-transform: uppercase;
        font-weight: bold;
    }
    &:first-child {
        padding-left: 0 !important;

    }
    @media screen and (max-width: 1299px) {
		width:16%;
	}
       @media screen and (max-width: 1100px) {
		width:19%;
	}
        @media screen and (min-width: 1300px) {
		width:16%;
	}
}
