
// ----------------------
// MOBILE NAV MENU COLOR VARIABLES
// ----------------------
$sws-menu-layer-1:  #929292;
$sws-menu-layer-2:  #ababab;
$sws-menu-layer-3:  #cccccc;
$sws-menu-layer-4:  #dadada;
$sws-menu-layer-5:  #eeeeee;
$sws-menu-layer-6:  #f5f5f5;

.sws-local-mobile-nav {
  min-width: 100%;
  background-color: $sws-hero;

   &__open {
        overflow: hidden;
        overflow-x: hidden !important;
        position: fixed !important;
    }

  nav {
    padding: 0;

    > * {
      margin: 0.75rem;
    }

    .sws-local-mobile-nav__icon--nav {
      width: 33px;
      height: 33px;
      border: none;
      position: relative;
      background-color: transparent;
      cursor: pointer;

      &::after {
        position: absolute;
        color: $sws-white;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        display: none;
      }
    }

    h1.sws-local-mobile-nav__header-title, h2.sws-local-mobile-nav__header-title {
      color: $sws-white;
      font-size: 1rem;
      font-weight: normal;
      padding: 0.5rem;
      margin: 0;
      display: flex;
      align-items: center;
      padding: 15px;
    }

    .sws-local-mobile-nav__icon--search {

      button {
        padding: 0;
        float: right;
        outline-offset: 6px !important;
        cursor: pointer;

        i {
          color: $sws-white;
          font-size: 1.25rem;
        }
      }
    }
  }

  .uk-offcanvas {
    background: rgba(0, 0, 0, 0.75);
  }

  &__close {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 2rem;
    background-color: transparent;
    left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    &.button-active {
      left: 281px;

      &::before {
        transform: rotate(0);
      }
    }

    &--button {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &-hidden {
        width: 100%;
        height: 0;
        box-shadow: none;
        border: none;
      }
    }


    .uk-icon-close {
      &::before {
        position: absolute;
        content: '\f00d';
        font-family: 'FontAwesome';
        color: $sws-white;
        display: block;
        width: 1.25rem;
        height: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        top: 0;
        left: 0;
        padding: 0 6px;
        pointer-events: none;
        transform: rotate(-270deg);
        transition: all 0.5s;
      }
    }
  }
}
.display-hide {
  visibility: hidden;
}
.sws-offcanvas-bar {
  background-color: $sws-white;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
  display: none;
  }

  .uk-parent {
    &:hover {
      text-decoration: none;
    }
  }

    @at-root .sws-offcanvas-bar__header {
      h3 {
        font-size: 1.25rem;
        margin-bottom: 0;
      }

      .sws-offcanvas-bar__header-logo-wrap {
        display: flex;
        align-items: center;

        img {
          width: 43px;
          height: 50px;
        }
      }
    }

    @at-root .uk-nav-offcanvas > li > a.sws-offcanvas-bar__quicklinks-a {
      display: flex;
      align-items: center;
    }

    @at-root html:not(.uk-touch) .uk-nav-offcanvas ul {
      a.sws-offcanvas-bar__quicklinks-a,
      .sws-local-mobile-nav__li--name-a {
        &:hover, &:focus {
          color: $sws-hero;
          // text-decoration: underline;
        }
      }
    }

    @at-root .sws-offcanvas-bar__main-unordered-list {

      a.sws-offcanvas-bar__quicklinks-a {
        margin: 0;
        min-height: 40px;
        box-sizing: border-box;
        font-size: 0.875rem;
        color: $sws-white;
        font-weight: normal;
        text-decoration: none;
        width: 100%;

        span {
          padding-right: 14px;
          width: 1.25rem;
        }

        p.sws-offcanvas-bar__quicklinks-p {
          margin: 0;
          font-size: 0.875rem;
          color: $sws-white;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      @at-root li.sws-local-mobile-nav__li-quicklinks {
        background-color: $sws-hero;
        padding-left: 0;
        margin: 0 0 1px 0;

        &:last-child {
          margin: 0;
        }

        .sws-local-mobile-nav__li-quicklinks-wrapper{
          float: left;
        }

        .sws-local-nav-quicklinks__icon-wrap {
          img {
            width: 1.2rem;
          }
        }

        &::before {
          display: none;
        }
      }

      @at-root li.sws-local-mobile-nav__li-menu-items {
        background-color: $sws-menu-layer-2;
        padding: 0;
        margin: 0 0 1px 0;
        min-height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a, p {
          color: $sws-black;
          padding: 0;
          font-weight: 400;
          font-size: 0.875rem;
          text-decoration: none;
          display: flex;
          align-items: center;
        }

        a.sws-local-mobile-nav__li--name-a {
          padding: 0 5px 0 20px;
          font-weight: 800;
        }

        p {
          margin: 0;
          padding: 5px 5px 5px 15px;
          display: flex;
          height: 100%;
          box-sizing: border-box;
          align-items: center;
        }

        & > div:last-child {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 100%;
        }

        @at-root .uk-nav-offcanvas > li > a.sws-local-mobile-nav__li--name {
          padding: 0;
          display: flex;
          align-items: center;
          background-color: $sws-menu-layer-1;
        }

        @at-root html:not(.uk-touch) .uk-nav-offcanvas > li > a.sws-local-mobile-nav__li--name {
          &:hover, &:focus {
            background-color: $sws-menu-layer-1;
          }
        }

        @at-root .uk-nav-offcanvas > .uk-open > a.sws-local-mobile-nav__li--name {
          background-color: $sws-menu-layer-1;

          .sws-local-mobile-nav__li--name-a {
            border-bottom: 1px solid $sws-white;
          }
        }

        @at-root .sws-local-mobile-nav__li--name {
          display: flex;
          align-items: center;
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 70%;
          min-height: 40px;

          @at-root .sws-local-mobile-nav__li--name-a {
            width: 100%;
            height: 100%;
          }
        }

        // Specific selector for overriding uikit styles
        @at-root .uk-nav-offcanvas li.uk-open > .sws-local-mobile-nav__li--name {
          border-bottom: solid 1px $sws-white;
          box-sizing: border-box;
        }

        // Specific selector for overriding uikit styles
        @at-root .uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon,
        li .sws-local-mobile-nav__plus-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 0%;
          color: $sws-hero;
          padding: 0;
          text-align: center;
          border-left: solid 1px $sws-white;
          text-decoration: none;

          div {
            transition: transform 250ms ease-in-out;
            transform: rotate(0);
          }

          .uk-icon-plus:before {
            font-size: 0.875rem;
          }

          @at-root html:not(.uk-touch) .uk-nav-offcanvas > li > .sws-local-mobile-nav__plus-icon {

            &:hover, &:focus {
              color: $sws-hero;
              background-color: $sws-menu-layer-2;
            }
          }
        }

        // UIKit style overwrite
        @at-root html:not(.uk-touch) .uk-nav-offcanvas ul .sws-local-mobile-nav__plus-icon {
            &:hover {
              color: $sws-hero;
            }
        }

        @at-root .uk-nav-offcanvas > li.uk-open > .sws-local-mobile-nav__plus-icon,
        .uk-nav-offcanvas > li.uk-open > .sws-local-mobile-nav__plus-icon:focus,
        .uk-nav-offcanvas > li.uk-open > .sws-local-mobile-nav__plus-icon:hover {
          background-color: $sws-menu-layer-2;

          div {
            transform: rotate(45deg);
          }
        }

        &:last-child {
          margin: 0;
        }

        ul.sws-local-mobile-nav__menu-ul {
          padding: 0;
          margin: 0;

          > li {
            display: flex;
            width: 100%;
            margin: 0;
            min-height: 40px;
            box-sizing: border-box;
            border-bottom: solid 1px $sws-white;
            background-color: $sws-menu-layer-2;
            // padding-left: 20px;

            div > a.sws-local-mobile-nav__li--name-a {
              color: $sws-hero;
              min-height: 40px;
              padding: 0 5px 0 25px;
              width: 100%;
              font-weight: 600;

              &.sws-local-mobile-nav__plus-icon {
                padding: 0;
              }
            }

            &.uk-open > .sws-local-mobile-nav__plus-icon {
              background-color: $sws-menu-layer-3;

              .uk-icon-plus{
                transform: rotate(45deg);
              }
            }

            &:last-child {
              border-bottom: none;
            }

            > div > .sws-local-mobile-nav__menu-ul {
              .sws-local-mobile-nav__li-menu-items {
                background-color: $sws-menu-layer-3;

                a.sws-local-mobile-nav__li--name-a {
                  padding-left: 30px;
                  font-weight: 400;
                }

                &.uk-open > .sws-local-mobile-nav__plus-icon {
                  background-color: $sws-menu-layer-4;
                }
              }

              > li > div > .sws-local-mobile-nav__menu-ul {
                .sws-local-mobile-nav__li-menu-items {
                  background-color: $sws-menu-layer-4;

                  a.sws-local-mobile-nav__li--name-a {
                    padding-left: 34px;
                    font-weight: 400;
                  }

                  &.uk-open > .sws-local-mobile-nav__plus-icon {
                    background-color: $sws-menu-layer-5;
                  }
                }

                > li > div > .sws-local-mobile-nav__menu-ul {
                  .sws-local-mobile-nav__li-menu-items {
                    background-color: $sws-menu-layer-5;

                    a.sws-local-mobile-nav__li--name-a {
                      padding-left: 41px;
                      font-weight: 400;
                    }

                    &.uk-open > .sws-local-mobile-nav__plus-icon {
                      background-color: $sws-menu-layer-6;
                    }
                  }



                  > li > div > .sws-local-mobile-nav__menu-ul {
                    .sws-local-mobile-nav__li-menu-items {
                      background-color: $sws-menu-layer-6;

                      a.sws-local-mobile-nav__li--name-a {
                        padding-left: 51px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}
