.sws-local-desktop-quicklinks {

  @at-root .sws-fullwidth-icon-menu {
    padding: 0;
    margin: 0;
    width: 750px;

    @at-root li.sws-fullwidth-icon-menu__li {
      padding: 0 10px;
      margin: 7px 0 4px;
      box-sizing: border-box;
      min-width: 140px;
      max-width: 150px;

      @at-root a.sws-fullwidth-icon-menu__link {
        text-decoration: none;

        p{
          font-size: 0.875rem;
          color: $sws-dark-accent;
          font-weight: normal;
          padding: 0;
        }

        @at-root .sws-fullwidth-icon-menu__icon-wrap {
          position: relative;
          background-color: $sws-dark-accent;
          width: 55px;
          height: 55px;
          border-radius: 28px;

          img {
            width: 25px;
            height: 25px;
            z-index: 1;
          }

          &::before {
            content: "";
            position: absolute;
            width: 29px;
            height: 55px;
            left: 0;
            top: 0;
            border-right: 28px solid rgba(255, 255, 255, 0.1);
            pointer-events: none;
            border-radius: 0 28px 28px 0;
            transform: rotate(45deg);
          }
        }

        &:hover {
          text-decoration: underline;
        }
      }

      @at-root .sws-fullwidth-icon-menu__divider {
        color: $sws-white;
      }

      &:last-child {
        .sws-fullwidth-icon-menu__divider {
          display: none;
        }
      }
    }
  }
}
