// -------------------
// LOCAL FOOTER
//
// Local footer styles. Normally present between the page body and global footer
//
// .local-footer      - parent container that wraps everything that has to do with footer
//
// -------------------
.local-footer {
    padding: 30px 5px;
    background: $gef-section-footer-bg;
    background: $gef-section-footer-bg;
    border-top: 3.6px solid $sws-hero;
    @media #{$gef-mq-lg} {
        padding: 25px 0 25px 0;
        text-align: left;
    }
    p,
    .local-footer-contact .local-footer-email {
        font-size: 0.875rem;
        line-height: normal;
        font-weight: 400;
    }
    @at-root .local-footer-message p {
        font-size: 0.875rem;
        line-height: normal;
        font-weight: 400;
    }
    p.local-footer-directions a {
        font-size: 1rem;
        font-weight: 500;
    }
    .local-footer-heading1 {
        font-size: 1.5rem;
        line-height: 29px;
        font-weight: 600;
        @media screen and (max-width: $sws-md) {
            font-size: 1.25rem;
            line-height: 24px;
        }
    }
    .local-footer-heading2 {
        text-align: left;
        font-size: 1rem;
        line-height: 19px;
        @media #{$gef-mq-md} {
            margin-top: 18px;
        }
    }
    .local-footer-heading3 {
        text-align: left;
        font-size: 1rem;
        margin-top: 10px;
        line-height: 19px;
        @media #{$gef-mq-md} {
            margin-top: 18px;
        }
    }
    .local-footer-main-content,
    .local-footer-social-media {
        width: 100%;
        @media #{$gef-mq-md} {
            width: 30%;
        }
    }
    .local-footer-logo {
        margin-right: 0;
        margin-left: auto;
        img {
            float: right
        }
    }
    a:focus {
        outline: 1px solid black !important;
        outline-offset: 1px!important;
    }
}

.local-footer-message {
    line-height: 20px;
    font-size: 0.875rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 25px 5px;
    background: $gef-section-footer-bg;
    @media #{$gef-mq-md} {
        padding: 15px 5px 15px;
    }
    @media #{$gef-mq-lg} {
        padding: 15px 5px 15px 0;
    }
}

.local-footer-contact {
    font-size: 14px;
    text-align: left;
    flex: 1;
    @media #{$gef-mq-md} {
        margin-bottom: 35px !important;
    }
    .local-footer-school-name {
        margin-top: 7px;
        font-size: 16px;
        font-weight: 600;
    }
    .local-footer-add {
        width: calc(100% - 15px);
        word-wrap: break-word;
        // &:before {
        //     content: "";
        //     float: right;
        //     height: 1rem;
        //     width: 35%;
        // }
        @media #{$gef-mq-md} {
            margin-top: 8px !important;
        }
        //min-height:60px;
    }
    .local-footer-phone {
        display: flex;
        margin-top: 1px;
        margin-bottom: 0;
    }
    .local-footer-phone-new {
        &:before {
            content: '\f095';
            font-family: 'FontAwesome';
            padding-right: 5px;
            margin-top: 3px;
        }
    }
    .local-footer-email {
        display: flex;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 1rem;
        line-height: 1.38;
        a {
            font-weight: 400;
            word-break: break-all;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .local-footer-email-new {
        &:before {
            content: '\f0e0';
            font-family: 'FontAwesome';
            padding-right: 5px;
        }
    }
    p.local-footer-directions {
        &:before {
            content: '\f041';
            font-family: 'FontAwesome';
            text-decoration: none;
            display: inline-block;
            padding-right: 5px;
        }
    }
}

//Social media links
.sws_social_links {
    margin-top: 0.5rem;
    li:first-child {
        padding-left: 0;
    }
    li {
        float: left;
        padding-left: 10px;
        margin-top: 0;
    }
    .sws-social-media__link {
        &:before {
            font-size: 1.450em;
        }
    }
}

//call and contact buttons for small device view
.sws-call-button,
.sws-mail-button {
    background: transparent;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #333333;
    border: 1px solid $sws-hero;
    line-height: 1.2;
    cursor: pointer;
    bottom: 75px;
    width: 125px !important;
    font-size: 12px!important;
    font-weight: 500;
    min-height: 30px !important;
    text-align: center;
    padding-bottom: 5px;
    text-transform: none;
    margin-left: 5px;
    margin-right: 5px;
}

.sws-mail-button {
    width: 260px!important
}

.uk-button {
    display: inline-block;
    padding-top: 8px;
    margin-top: 0;
}

.uk-button+.uk-button,
.uk-button:visited+.uk-button,
.uk-button+.uk-button:visited,
.uk-button:visited+.uk-button:visited {
    margin-top: 0;
}

.sws-call-button:hover,
.sws-call-button:focus {
    background-color: #000;
    color: #fff;
}

.local-footer-mobile-elements {
    margin-top: 20px;
}

@media #{$gef-mq-md} {
    .sws-call-button {
        bottom: 40px;
    }
}

.sws-add-this {
    padding: 0;
    overflow: hidden;
    border: 0;
    margin-bottom: 30px;
    margin-top: -2px;
}

.local-footer-directions {
    display: block;
    margin-top: 15px;
}
.local-footer {
  .local-footer-main-content {
    .footer-multi__campus--switch{
      .local-footer-contact {
        p.local-footer-directions {
          font-weight: 500;
          line-height: 19px;
          font-size: 1rem;
        }
      }
    }
  }
}

//localfooter multicampus
.footer-multi__campus {
    .local-footer {
        @media screen and (min-width: $sws-md+1) {
            &-main-content {
                width: 70%;
            }
            &-social-media {
                width: 15%;
            }
            &-logo {
                width: 15%;
            }
        }
    }
    & &--switch {
        .local-footer-contact {
            max-width: 25%;
            word-wrap: break-word;
            //outer header
            .uk-accordion-title {
                padding: 0;
                font-size: 0.875rem;
                margin-top: 10px;
                line-height: 1;
                cursor: unset;
                background: none;
                font-weight: 600;
                &:focus,
                &:hover {
                    background: none;
                }
            }
        }
        @media screen and (max-width: $sws-md) {
            display: none;
        }
    }
    & &__openable {
        margin-left: -17px;
        margin-right: -17px;
        //inside mobile view div
        .uk-accordion-title {
            padding: 10px 35px 10px 20px;
            background: none;
            font-weight: 600;
            &:focus,
            &.uk-active {
                background: none;
            }
            i {
                height: 2px;
                transform-origin: 50% 50%;
            }
        }
        .uk-accordion-content {
            padding: 0;
            background: none;
            padding-left: 17px;
            padding-right: 17px;
            &.uk-active {
                background: none;
            }
            .local-footer-mobile-elements {
                margin-left: -5px;
            }
        }
    }
}
