//--
//News Index Page
//---------------
.news-index {
    ul {
        display: list-item;
        padding-left: 30px;
    }
    ul li {
        list-style-type: disc;
        padding-left: 0;
    }
    ul li a {
        font-weight: normal;
        letter-spacing: inherit;
    }
}

.news-view-more {
    width: 70%;
    margin: auto;
    .sws-loader-svg-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
        img,
        svg {
            width: 25%;
            @media #{$gef-mq-md} {
                width: 17.5%;
            }
            .svg-rectangle {
                fill: rgb(100, 100, 100);
            }
        }
    }
}

//--
//Media Queries
//-------------
@media(max-width:$sws-md) {
    .news-index {
        margin-right: 0;
    }
    .news-view-more {
        width: 100%;
    }
}
