//--
//News Article Page
//---------------
.news-article {
    margin-right: 25px;
    ul li a {
        font-weight: normal;
        letter-spacing: inherit;
        line-height: 1;
    }
    &--hr{
      @media screen and (min-width: $sws-md) {
        display: none;
      }
      @media screen and (max-width: $sws-md) {
        display: block;
        border-top: 1px solid #000000;
      }
    }
    .sws-news-article-content .sws-remove-external-link-anchor-tags p:first-child {
        margin-top: 1.06rem;
    }
}

aside.sws-sidebar-wrapper {
    padding-left: 0;
    @media(min-width: 768px) {
        padding-left: 15px;
    }
    hr {
        display: none;
    }
}

//adding from department box on top
.from_department--news_article {
    position: relative;
    margin-top: 18px;
    margin-bottom: 30px;
    padding: 1px;
    top: 30px;
    word-wrap: break-word;
    .from-the-department {
        margin-bottom: 0;
    }
}

//--
//Media Queries
//-------------
@media(max-width:$sws-md) {
    .news-article {
        margin-right: 0;
        &__inline-images {
            margin: 10px 0px;
        }
    }
    aside.sws-sidebar-wrapper hr {
        display: block;
    }
    .from_department--news_article {
        width: auto;
    }
}

@media(min-width:$sws-md) and (max-width:$sws-lg) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .from_department--news_article {
        width: 30%;
    }
}
