

/* Large screen and bigger */

.uk-container {
    @media #{$gef-mq-lg} {
        max-width: 1200px;
        padding: 0;
    }

    @media screen and (min-width: 1024px) and (max-width: 1220px) {
        padding: 0 12px !important; // This style is to make sure that page doesnt get cut off with ipad view
    }
    padding: 0 12px;
}

ul,
li {
    list-style-type: none;
    &:before {
        display: none;
    }
}

hr.templateshow{
    display:block;
}
/*removing uppercase in gef-global-footer */

.gef-global-footer__inner__wrapper ul a,
.gef-global-footer__inner__wrapper ul a:visited {
    text-transform: none;
}

.gef-global-footer__inner__wrapper {
    padding-bottom: 0;
    margin-top: -8px;
    ul li {
        margin-top: 6px !important;
    }
}

.gef-global-footer__inner__logo {
    margin-top: 0 !important;
    @media #{$gef-mq-lg} {
        //left:-65%;
        margin-top: 60px;
    }
}

.gef-breadcrumbs__item {
    a {
        font-weight: 400;
    }
    &:before {
        content: ' /';
        display: block;
        position: absolute;
        left: 0;
        padding: 0 12px;
        font-size: 1.375rem;
        top: 13px;
        cursor: default
    }
}

.gef-corporate-logo__link {
    width: 75%;
}

.sws-global-footer-links {
    @media #{$gef-mq-lg} {
        width: 50%;
    }
    @media #{$gef-mq-xl} {
        width: 25%;
    }
}

.gef-breadcrumbs__back {
    font-weight: 500;
    text-transform: none;
    font-size: 0.8125rem;
}

.force-margin-bottom-empty {
    padding-bottom: 50px;
    padding-top: 50px;
}

/* Headings
 ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family:$gef-font-family;
}
@media screen and (max-width: $sws-md) {
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
}



//Skip links edit to adjust
.gef-skiplink-container {
    max-width: 1440px;
    margin: auto;
}

.gef-skiplink {
    max-width: 100%;
    padding: 0 40px;
    ul li {
        padding: 0;
    }
    a {
        padding-left: 0;
    }
    a:focus {
        outline-offset: -1px !important;
    }
}

.gef-main .contact-us-container-wrapper .uk-grid .gef-skiplink {
    display: block;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 35px;
    .gef-skiplink__link {
        position: absolute;
        left: -9999em;
        margin: 0 0 5px 0;
        padding: 5px;
        width: 1px;
        height: 1px;
        display: inline-block;
        background: transparent;
        font-weight: normal;
        &:focus {
            position: relative;
            left: auto;
            transition-duration: 10s;
            transition-delay: 2s;
            width: auto;
            height: auto;
        }
    }
}


.sws-remove-external-link a .gef-external-link{
display:none;
}
.gef-tabs .gef-external-link {
    display:unset !important;
}

.gef-tabs .gef-external-link:before {
  content: "\f08e";
}
.gef-external-link:before {
  text-decoration: none !important;
  display:inline-block;
}
@media screen and (min-width: 1024px) {
  .gef-image-with-caption {
    padding-right: 0;
  }
}

// override UiKit focus state
body a:focus {
  outline-offset: 2px !important;
}

/*  Fix for back to top */

.sws-remove-external-link-anchor-tags a[id] > .gef-external-link:before {
  content:"";
}
