    //**********
    //Advance Filter In-Page
    .sws-advance-search {
        hr {
            margin: 10px 0 0;
            padding: 0 10px;
        }
        select::-ms-expand {
            display: none;
        }
        margin: 10px 0px !important;
        &__block {
            margin: 10px 0;
        }
        a {
            text-decoration: none;
        }
        &__text {
            margin: 0 10px;
            &-static {
                margin-left: 5px;
            }
            &-first {
                margin-left: 0!important;
            }
        }
        &__select,
        &__button {
            outline: 0!important;
            text-align: left;
            padding: 10px 10%;
            border-radius: 20px;
            font-size: $sws-component-font-size-smaller;
            font-weight: $sws-component-header-font-weight;
            background-color: $sws-white;
            width: 100%;
            //white-space: pre-line;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            border: 1px solid $sws-component-theme-bg;
        }
        button {
            width: 25%;
            max-width: 100px;
            text-align: center;
            border-color: transparent !important;
            margin-left: 30px;
            background: $sws-component-theme-bg;
            color: $sws-component-color;
            padding: 10px 15px;
        }
        &__select-wrapper {
            display: inline-block;
            position: relative;
            min-width: 140px;
            border-radius: 20px;
            border: 1px solid $sws-component-theme-bg;
            width: 25%;
            margin: 10px 5px;
        }
        &__select-wrapper:after {
            padding-left: 10px;
            content: "\f107";
            font-family: FontAwesome;
            position: absolute;
            top: 25%;
            right: 5%;
            pointer-events: none;
        }
        .gef-search-results__info {
            max-width: 100%;
            margin-bottom: 0!important;
        }
    }
    
    //--
    //media queries
    @media (max-width:$sws-md) {
        .sws-advance-search {
            &__options {
                margin: 0 !important;
                float: none !important;
                max-width: 60% !important;
            }
            &__text-first {
                display: block;
            }
            &__select-wrapper {
                margin: 5px 0 15px;
                max-width: 100%;
                width: 100%;
            }
            button {
                width: 100%;
                max-width: 100%;
                margin-left: auto;
            }
        }
    }
    
    //------------------------
    //View More Bottom Page Component
    .sws-view-more {
        @extend .sws-advance-search__select;
        max-width: 100%;
        width: 100%;
        background: none;
        text-align: center;
        border-radius: 5rem;
        background-color: transparent;
        border: 1px solid $sws-dark-accent;
        padding: 0;
        margin: 3.75rem auto 0;
        white-space: nowrap;
        height: 40px;
        h2 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.38;
            margin-bottom: 0;
        }
        @media screen and (max-width:$sws-md) {
            margin-top: 1.85rem;
        }
    }
    
    .sws-album-details .album-view-more.sws-view-more h2,
    .sws-content .sws-view-more h2 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.38;
    }
    
    //--------------------------
    //News Index Page Banner
    .sws-index-banner {
        width: 80%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 40px;
        &__txt,
        &__img {
            height: auto;
            overflow: hidden;
            display: flex;
        }
        &__txt-inner {
            width: 100%;
            // height: 100%;
        }
        &__txt-inner .sws-latest-news {
            margin: 0!important;
        }
        &__img {
            background: $sws-component-theme-bg;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .sws-container-width-index50 {
            max-width: 100%;
        }
        &__container {
            min-height: auto;
            max-height: auto;
        }
        &__img {
            max-height: auto;
        }
        .sws-latest-news {
            &__article {
                min-height: auto;
                box-sizing: border-box;
            }
        }
    }
    
    //---Media Query
    @media (max-width:$sws-lg) {
        .sws-index-banner {
            &__txt {
                width: 100%;
                height: auto;
            }
            &__img {
                width: 100%;
                height: auto;
            }
        }
        .sws-index-banner__img-none {
            display: none;
        }
    }
    
    @media (max-width:$sws-md) {
        .sws-index-banner {
            width: 100%;
        }
    }
    
    @media (min-width:$sws-md) and (max-width:$sws-lg) {
        .sws-index-banner {
            &__img {
                height: auto;
            }
        }
    }
    
    @media (min-width:calc($sws-lg + 1)) {
        .sws-index-banner {
            &__container {
                min-height: 375px;
                max-height: 440px;
            }
            &__txt {
                max-height: 440px;
            }
            &__img {
                max-height: 440px;
                align-items: center;
            }
            .sws-latest-news {
                &__article {
                    // min-height: 440px;
                    box-sizing: border-box;
                }
            }
        }
        .sws-container-width-index50 .sws-latest-news-wrapper {
            width: 50%;
        }
    }