//--
//Sidebar Components
//---
//-------
//Category Sidebar
//--------
.component-sidebar {
    max-width: 380px;
    margin: 0 0 30px 24px;
    @media screen and (max-width: 1023px) {
        margin: 0 0 30px 0;
    }
    .category-sidebar__desktop {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    .themed-sidebar {
        padding: 30px;
    }
    .gef-category-list {
        margin-bottom: 0;
    }
    &.archive-sidebar {
        max-width: 100%;
        // margin-top: 25px;
        @media #{$sws-mq-md} {
            margin-left: 25px;
            margin-top: 0;
        }
        ul.gef-category-list {
            list-style-type: none;
            padding-left: 0;
            li {
                &:after {
                    content: '';
                }
            }
        }
        .archive-sidebar__caret {
            position: relative;
            &:after {
                padding-left: 10px;
                content: "\f107";
                font-family: FontAwesome;
                font-size: 16px;
                font-weight: 700;
                position: absolute;
                top: 8px;
                right: 15px;
                pointer-events: none;
            }
        }
        select {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
}

.themed-sidebar {
    background: $sws-component-theme-bg;
    a {
        text-decoration: underline;
        display: block;
    }
}

.category-sidebar {
    max-width: 100%;
    nav {
        padding: 30px;
        background: $sws-light-accent;
    }
    select {
        background: $sws-light-accent;
        margin-bottom: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 15px;
        outline: none;
    }
    &__caret {
        position: relative;
        display: none !important;
        label {
            display: none;
        }
        &:after {
            padding-left: 10px;
            content: "\f107";
            font-family: FontAwesome;
            font-size: 16px;
            font-weight: 700;
            position: absolute;
            top: 25%;
            right: 15px;
            pointer-events: none;
        }
    }
}

//-----Media Query
@media screen and (max-width: 1023px) {
    .component-sidebar,
    .component-sidebar.archive-sidebar {
        max-width: 100%;
        margin: 15px 0;
        .themed-sidebar {
            padding: 15px;
        }
        h2 {
            font-weight: 500;
            font-size: 1.375rem;
            line-height: 24px;
        }
    }
    .category-sidebar {
        &__caret {
            display: block !important;
        }
    }
}

@media screen and (max-width: 769px) {
    .component-sidebar,
    .component-sidebar.archive-sidebar {
        h2 {
            font-weight: 800;
            font-size: 1.25rem;
        }
    }
}

//--Events detail page
//--sidebar component
.category-sidebar--events_detail {
    nav {
        background: none;
        outline: solid 1px #eeeeee;
    }
    &__attachments {
        a {
            display: block;
        }
    }
    &__links {
        a {
            display: block;
        }
    }
}

//--media queries
@media(max-width:$sws-md) {
    .category-sidebar--events_detail {
        nav {
            outline: none;
            padding: 0;
        }
    }
}
