// -------------------
// SKIP LINK
//
// Skip link is internal page links used by screen reader users for bypassing or 'skipping' over repetitive web page content.
//
//  .gef-skiplink       - parent container that wraps skip link elements
//  .gef-skiplink__link - clickable skip link
//
// -------------------
.gef-skiplink {
    display: none;
    background-color: transparent;
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            list-style-type: none;
            margin-top: 0;
            padding-left: 35px;
            &:before {
                content: "";
            }
        }
    }
    @media #{$gef-mq-lg} {
        display: block;
        margin: 0 auto;
        max-width: 1024px;
        padding: 0 35px;
        background-color: transparent;
    }
}

.skip-link-single {
    list-style-type: none;
    margin-top: 0;
    margin-left: 40px !important;
}

.gef-skiplink__link {
    @media #{$gef-mq-lg} {
        position: absolute;
        left: -9999em;
        margin: 0 0 5px 0;
        padding: 5px;
        width: 1px;
        height: 1px;
        display: inline-block;
        background: transparent;
        font-weight: normal;
        &:focus {
            position: relative;
            left: auto;
            transition-duration: 10s;
            transition-delay: 2s;
            width: auto;
            height: auto;
        }
    }
}

//   }
// }