// .sws-social-component{
.sws-social-media-header__button {
  display: none;
}

.sws-social-media-parent-list {
  margin-top:15px;
  display: flex;
  justify-content: stretch;
  // margin-left:0;
  margin-left:-10px;
  width: calc(100% + 20px);
  li {
    display: -ms-flexbox;
    display:inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: flex-top;
    align-items: flex-top;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 33.33%;
    margin: 0;
    padding: 0;
    article {
      margin: 0 10px 30px 10px !important;
      @media screen and (max-width: 766px) {
        margin: 0 10px 10px 10px !important;
      }
    }
    @media screen and (min-width: $sws-md-min-view) and (max-width: $sws-md-max-view) {
      width:50% !important;
    }
    @media screen and (max-width: $sws-sm-max-view) {
      width:100% !important;
      flex:auto;
      article {
        margin: 15px 0;
      }
    }
  }
  li:last-child{
    //margin-bottom: 10px;
    margin-right:auto;
  }
  li:first-child{
    @media screen and (min-width: $sws-md-min-view){
      justify-self: left;
      justify-content: flex-start;
    }
  }
}
.sws-container-full-width {
  .sws-social-media-parent-list {
    // @media screen and (min-width: 961px) {
    //   margin-left:-10px;
    //   width: calc(100% + 20px);
    // }
  }
}

.sws-container-width-66 {
  // @media(width: 960px) {
  //   max-width: 100%;//--TODO temp fix to cope with breakpoint inconsistencies across diff components
  // }
  .sws-social-media-parent-list {
    li {
      width:50% !important;
      @media screen and (max-width: $sws-sm-max-view) {
        width:100% !important;
      }
    }
  }
}

.sws-container-width-33 {
  // @media(width: 960px) {
  //   max-width: 100%;//--TODO temp fix to cope with breakpoint inconsistencies across diff components
  // }
  .sws-social-media-parent-list {
    li {
      width:100% !important;
      @media screen and (min-width: $sws-md-min-view)and (max-width: $sws-md-max-view) {
        width:50% !important;
      }
      @extend .uk-width-1-1;
      flex:auto;
    }
    li:last-child {
      flex: none;
    }
  }
}

.gef-social-media-post {
  border: solid 1px #ababab;
  padding: 15px $sws-long-img-margin;
  @media screen and (max-width: $sws-md) {
    padding: $sws-long-img-margin-mobile;
  }
}

.gef-social-media-post__name {
  font-weight: bold;
}

.gef-social-media-post__icon.uk-icon {
  &-twitter {
    color: #00aced;
  }
  &-facebook {
    background-color: #3b5998;
    border-radius: 0;
  }
  &-youtube {
    // background-color: #d0011b;
    // color:$sws-white;
    // padding-left:4px;
    background: none;
    &:before{
      color:#d0021b;
    }
  }
  &-vimeo {
    color: #0faef1;
  }
  &-instagram {
    color: #833ab4;
  }
}
.gef-social-media-post__media {
  margin-left: -$sws-long-img-margin;
  margin-right: -$sws-long-img-margin;
  margin-bottom: 0;
  margin-top: 0;
  @media screen and (max-width: $sws-md) {
    margin-left: -$sws-long-img-margin-mobile;
    margin-right: -$sws-long-img-margin-mobile;
  }
}

.gef-social-media-post__media + .gef-social-media-post__content,
.gef-social-media-post__content + .gef-social-media-post__media {
  margin-top: 5px;
}

.gef-social-media-post__media-imgwrapper > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sws-ie{
  .gef-social-media-post__media-img-twitter {
    max-width:100%;
    max-height:none;
  }
}

.gef-social-media-post__media-img-twitter {
  object-fit: cover;
  object-position: center;
  max-height: 124px !important;
  -o-object-fit: cover;
  -o-object-position: center;
}

.gef-social-media-post__media iframe {
  max-height: 124px !important;
}

.gef-social-media-post__media-img-facebook {
  // padding: 20px 0 0 0;
  padding: 0;
}

.gef-social-media-post__content, .gef-social-media-post__content-error {
  font-size: 16px;
  margin: 0;
  padding-left: 0;
}

.gef-social-media-post__metadata:first-child {
  margin-bottom: 15px;
}

.gef-social-media-post__metadata-viewfeed{
  margin-bottom: 0;
  a{
    font-weight:600;
  }
}
.gef-social-media-post__metadata a.gef-remove-external-link:focus i {
    outline: 1px solid #000!important;
    outline-offset: 2px!important
}

.gef-social-media-post__metadata i.gef-social-media-post__icon:focus{
   outline: 1px solid #000!important;
    outline-offset: 2px!important
}

.gef-social-media-post__metadata a.gef-remove-external-link:focus {
    outline: 0!important
}
.sws-skipsocial-link{
  a{
    text-decoration: underline;
    i{
      padding-left:5px;
    }
  }


}
// }
