.sws-banner-wrapper {
    width: 100%;
}

.sws-banner-inner_action {
    display: none;
    margin: 25px 0px;
    a {
        text-decoration: none;
        color: $sws-component-color;
    }
    &__button {
        display: table;
        border: 1px solid $sws-component-color;
        padding: 10px 15px;
        border-radius: 20px;
        width: 50%;
        text-align: center;
        font-size: $sws-component-font-size-smaller;
        font-weight: $sws-component-header-font-weight;
    }
}

.sws-static-banner-component {
    width: 100%;
    display: block;
    position: relative;
    background: $sws-component-theme-bg;
    &__image {
        width: 100%;
        max-height: 450px;
        object-fit: cover;
    }
    &__text {
        position: absolute;
        top: 0;
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        left: 8%;
        color: $sws-component-color;
        &_inner {
            padding: 30px 40px;
            width: 30%;
            min-width: 260px;
            background: $sws-component-theme-bg;
            max-height: 70%;
            overflow: scroll;
            overflow-y: auto;
            overflow-x: auto;
        }
        .sws-banner-inner_action__visible {
            display: block;
        }
        h2 {
            color: $sws-component-color;
        }
    }
    &__textOnly {
        position: relative;
        justify-content: center;
        text-align: center;
        left: 0;
        max-height: 450px;
        overflow: hidden;
        & &_inner {
            width: 50%;
            padding: 10%;
            max-height: 70%;
            overflow: scroll;
            overflow-y: auto;
            overflow-x: auto;
            display: table-cell;
            .sws-banner-inner_action a {
                margin: auto;
            }
        }
    }
}

//media queries
@media (max-width: $sws-lg) {
    .sws-static-banner-component {
        &__text {
            position: relative;
            left: 0;
            &_inner {
                width: calc(100% - 40px) !important;
                min-width: auto;
            }
        }
        &__textOnly {
            justify-content: left;
            text-align: left;
            & &_inner {
                padding: 20px;
                text-align: center;
            }
        }
    }
}
.banner {
    border-top: 3px solid #fff;
}
