.sws-content-header {
    background-color: $sws-light-accent;
    padding-bottom: 30px;
    margin: 0 0 40px;
    min-height: 120px;
    h1 {
        font-size: 2.25rem;
    }
    .gef-breadcrumbs__dropdown div {
        z-index: 1;
    }
}

.sws-lead-paragraph {
    font-size: 1.125rem;
    line-height: 1.33;
}

.sws-lead {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.sws-content__content-page {
    order: 2;
}

.sws-content__side-nav {
    order: 1;
    display: none;
    h2 {
        display: none;
    }
    // set to break at 1024px as this is the same width for uk-large
    @media screen and (min-width: 1024px) {
        display: block;
        h2 {
            display: block;
        }
    }
}

// MAIN CSS CLASS FOR WYSIWYG/RICH TEXT EDITOR
// Add to main tag and append the gef class
// e.g. div.gef-main-content.sws-content
.sws-content,
.sws-latest-news,
.events-article-wrapper__main,
.style-like-rte {
    hr {
        display: block;
    }
    @at-root p {
        font-size: 1rem;
        line-height: 1.38;
    }
    h1 {
        font-size: 2.25rem;
        line-height: 1.11;
        font-weight: 700;
    }
    h2 {
        font-size: 1.625rem;
        line-height: 1.23;
        font-weight: 700;
    }
    h3 {
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: 700;
    }
    &__h3 {
        line-height: 2.25rem;
    }
    h4 {
        font-size: 1rem;
        line-height: 1.38;
        font-weight: 700;
    }
    h5 {
        font-weight: 400;
        font-size: 0.875rem;
        text-transform: uppercase;
    }
    .gef-anchor-box {
        border: 1px solid $sws-hero;
        background-color: transparent;
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        .gef-anchor-box__title {
            font-size: 1rem;
        }
        ul.gef-link-list {
            padding-left: 0;
            li {
                margin-top: 1rem;
                padding-left: 30px;
                &::before {
                    transform: rotate(90deg);
                }
                &::after {
                    display: none;
                }
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    table {
        thead {
            background-color: $sws-hero;
            tr {
                th {
                    color: $sws-white;
                    background-color: transparent;
                    border-bottom: none;
                    font-weight: 600;
                }
            }
        }
    }
    .gef-show-hide {
        border-bottom: 1px solid $sws-hero;
        .uk-accordion-title {
            text-transform: initial;
            font-size: 1.25em;
            line-height: 1.3;
            background-color: transparent;
            border-top: 1px solid $sws-hero;
            margin-top: 0;
            span {
                position: relative;
                border-bottom: 3px solid transparent;
                width: 100%;
                transition: border-color 0.2s;
                &:hover,
                &:focus {
                    border-bottom: 3px solid $sws-hero;
                }
            }
            i {
                width: 0;
                height: 0;
                right: -15px;
                top: -4px;
                float: right;
                position: relative;
                margin: 0;
                transform-origin: 0;
                font-style: normal;
                font-size: 1.5rem;
                &.vertical {
                    display: none;
                }
                &::before {
                    content: '+';
                    position: absolute;
                    font-weight: 600;
                    transform: rotate(0);
                    transition: transform 0.5s;
                    -webkit-font-smoothing: antialiased;
                }
            }
            &.uk-active {
                i::before {
                    transform: rotate(45deg);
                    font-weight: 600;
                }
            }
            @media #{$gef-mq-lg} {
                padding: 13px 45px 13px 20px;
            }
        }
        div:last-child {
            // border-bottom: 1px solid $sws-hero;
        }
        .uk-accordion-content {
            background-color: transparent;
            padding: 5px 15px 20px 20px;
        }
    }
    .gef-call-out-box {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        .sws-callout-box {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid $sws-hero;
            box-sizing: border-box;
        }
    }
    .js-tabs {
        ul.js-tablist {
            padding-left: 0;
            li {
                &::after {
                    display: none;
                }
            }
        }
        &.gef-tabs--active {
            .gef-tabs__panel-group {
                [role="tabpanel"] {
                    border: 1px solid $sws-hero;
                    border-left: none;
                    border-right: none;
                }
            }
            .gef-tabs__group [role="tab"][aria-selected=true] {
                background-color: $sws-hero;
                color: $sws-white;
            }
        }
    }
    .sws-download-link {
        i {
            padding: 0 0.5rem 0 0;
        }
    }
    .sws-blockquote {
        position: relative;
        border-left: none;
        padding-top: 0;
        margin-left: 25px;
        font-size: 1rem;
        &::before {
            content: '';
        }
        i {
            position: absolute;
            left: 0;
            &::before {
                content: '\201c';
                position: relative;
                font-size: 7rem;
                line-height: 87px;
                color: $sws-dark-accent;
                top: 0;
                left: -1rem;
                font-style: normal;
            }
        }
        // @media #{$gef-mq-lg} {
        //   margin-left: 0
        // }
    }
    ul {
        list-style: none;
        padding-left: 20px;
        // 1st level
        li {
            // list-style-type: disc;
            position: relative;
            height: auto;
            padding-left: 0;
            &:after {
                content: '\25CF';
                position: absolute;
                top: 0;
                left: -20px;
                line-height: 0;
                margin-top: 0.625rem;
            }
            // 2nd level
            &>ul {
                &>li {
                    // list-style-type: circle;
                    &::after {
                        content: '\25CB';
                    }
                    // 3rd level
                    &>ul {
                        &>li {
                            // list-style-type: square;
                            &::after {
                                content: '\25A0';
                            }
                            // 4th level
                            &>ul {
                                &>li {
                                    // list-style-type: disc;
                                    &::after {
                                        content: '\25CF';
                                    }
                                    // 5th level
                                    &>ul {
                                        &>li {
                                            // list-style-type: circle;
                                            &::after {
                                                content: '\25CB';
                                            }
                                            // 6th level
                                            &>ul {
                                                &>li {
                                                    // list-style-type: square;
                                                    &::after {
                                                        content: '\25A0';
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ol {
        margin-left: 10px;
        font-weight: normal;
        // 1st level
        li {
            // list-style-type: decimal;
            padding-left: 0px;
            display: table;
            &::before {
                //display: block;
                display: table-cell;
                position: relative;
                padding-right: 5px;
            }
            p {
                font-weight: 400;
                // margin-left: -25px;
            }
            // 2nd level
            &>ol {
                &>li {
                    // list-style-type: lower-latin;
                    // 3rd level
                    &>ol {
                        counter-reset: a;
                        &>li {
                            // list-style-type: lower-roman;
                            &::before {
                                counter-increment: a;
                                content: counter(a, lower-roman) '.';
                            }
                            // 4th level
                            &>ol {
                                counter-reset: b;
                                &>li {
                                    // list-style-type: decimal;
                                    &::before {
                                        counter-increment: b;
                                        content: counter(b, decimal) '.';
                                    }
                                    // 5th level
                                    &>ol {
                                        counter-reset: c;
                                        &>li {
                                            // list-style-type: lower-latin;
                                            &::before {
                                                counter-increment: c;
                                                content: counter(c, lower-latin) '.';
                                            }
                                            // 6th level
                                            &>ol {
                                                counter-reset: d;
                                                &>li {
                                                    // list-style-type: lower-roman;
                                                    &::before {
                                                        counter-increment: d;
                                                        content: counter(d, lower-roman) '.';
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    table {
        thead {
            tr {
                th {
                    padding: 7px 10px 7px 20px;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 17px 10px 13px 20px;
                }
            }
        }
    }
    .gef-image-with-caption {
        figcaption {
            font-size: 0.875rem;
        }
    }
    .sws-page_metadata {
        padding-top: 15px;
        border-top: 1px solid $sws-hero;
        width: 50%;
        @media #{$gef-mq-md} {
            width: 45%;
        }
        @media #{$gef-mq-lg} {
            width: 39%;
            br {
                display: none;
            }
        }
        p {
            font-size: 0.875rem;
            margin-top: 0;
        }
    }
    figure.gef-image-with-caption {
        display: table;
        padding: 0;
        margin: 0.9375rem 0 0 0;
        img {
            display: block;
        }
        figcaption {
            display: table-caption;
            caption-side: bottom;
        }
    }
}

//Image and Text component side by side
.sws-text-image-wrapper {
    display: grid;
    h2 {
        @media screen and (max-width: $sws-md) {
            font-size: 1.625rem;
        }
    }
    &--inner__left {
        padding-bottom: 10px;
        margin-top: 10px;
        display: block;
        &>* {
            overflow: hidden;
        }
        img {
            float: left;
            margin-right: 25px;
            max-width: 50%;
            @media screen and (max-width: $sws-md) {
                max-width: 100%;
            }
        }
        &:after {
            clear: both;
            content: " ";
        }
        p {
            //margin: 0;
            overflow: visible;
        }
        @media screen and (min-width: $sws-md-min-view) {
            > :nth-child(2) {
                margin-top: 0;
                > :first-child() {
                    margin-top: 0;
                }
            }
        }
    }
    &--inner__right {
        padding-bottom: 10px;
        margin-top: 10px;
        display: block;
        img {
            float: right;
            margin-left: 25px;
            max-width: 50%;
            @media screen and (max-width: $sws-md) {
                max-width: 100%;
            }
        }
        &:after {
            clear: both;
            content: " ";
        }
        p {
            //margin: 0;
        }
        @media screen and (min-width: $sws-md-min-view) {
            > :nth-child(2) {
                margin-top: 0;
                > :first-child() {
                    margin-top: 0;
                }
            }
        }
    }
    @media screen and(max-width:$sws-md) {
        display: block;
        &--inner__left,
        &--inner__right {
            img {
                float: none;
                margin: 0;
            }
            p {
                margin-top: 15px;
            }
        }
    }
}
// .sws-grid {
//     @media screen and(min-width:1200px) {
//       margin-right: -7.5px !important;
//       margin-left: -7.5px !important;
//     }
//
// }
// .sws-regular-colspace {
//     @media screen and(min-width:1200px) {
//       margin-right: 7.5px !important;
//       margin-left: 7.5px !important;
//     }
// }

.sws-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -20px;
  > * {
    padding-left: 20px;
    flex: none;
    margin: 0;
    float: left;
  }
  &:after,
  &:before {
    content: "";
    display: block;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

[class*='sws-container-width'] {
  box-sizing: border-box;
}

.sws-iframe, .gef-image-with-caption {
    margin: 0.9375rem 0 0 0;
    /*--iframe dimensions are configured by author
    &-video {
        width: 100%;
        height: 500px;
    }
    &-map {
        width: 100%;
        height: 400px;
    }
    &-calendar {
        width: 100%;
        height: 650px;
    }*/
}

.sws-iframe-script {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  &-error {
    word-wrap: break-word;
  }
  &-url {
    word-break: break-all;
  }
}

/*from GEF*/

@media screen and (min-width: 1024px) {
    .uk-accordion-title span {
        border-bottom: 2px solid transparent;
        transition: border-color 0.2s;
    }
}
