// -------------------
// TERTIARY SIDE NAVIGATION
//
//  .sws-side-navigation      - start of side navigation with list style none
//
// -------------------

.sws-side-navigation {
  margin: 1rem 0.5rem 2rem;
  @include reset_list;
  font-size: 1rem;

  > li {
    position: relative;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $side-nav-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    .sws-side__sublist-item {
      padding: 16px 15px 12px 10px;
      width: 100%;
    }

    a.sws-side__list-item {
      display: block;
      border-left: none;
      font-weight: 400;
      text-decoration: none;
      width: calc(100% - 55px);

      &:hover {
        text-decoration: underline;
        font-weight: 600;
      }
    }

    .sws-side__sublist-ul {
      padding-top: 0;
    }

    a.sws-side__open-icon {
      position: absolute;
      width: 45px;
      height: calc(100% - 7px);
      right: 0;
      top: 0;
      margin: 0;
      padding: 4px 3px 3px 4px;
      text-decoration: none;
      display: flex;
      flex: 0 1 40px;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s;
      border-left: 1px solid $side-nav-border;
      border-right: 1px solid $side-nav-border;
      border-bottom: 1px solid $side-nav-border;

      &:focus,
      &:active,
      &:hover {
        text-decoration: none;
      }

      &:focus:hover {
        outline: 1px solid black !important;
        outline-offset: 2px !important;
      }

      i {
        transform: rotate(0deg);
        transition: transform 0.5s;
      }
    }

    &.uk-parent {

      > a,
      > a:visited {
        position: relative;
      }
      > a.sws-side__open-icon {
        position: absolute;
      }

      &.sws-side-navigation-upper {
        background-color: $side-nav-parent-bg;

        > a {
          padding: 15px 15px 13px 41px;

          i {
            float: left;
            margin: 3px 0 0 -24px;
          }
        }
      }

      &:hover {
        text-decoration: none;
      }

      &.sws-side {

        &__sublist-block {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div:last-child {
            border-top: 1px solid $side-nav-border;
            width: 100%;

            .sws-side__sublist-ul {
              li {
                border-bottom: 1px solid lighten($side-nav-border, 25%);
                padding: 5px 0 11px 10px;
                margin-left: 0;

                &:last-child {
                  border: none;
                }
              }
            }
          }
        }

        &__sublist-item {
          flex: 0 1 269px;

            a {

            > a {
              padding: 15px 15px 13px 41px;

              &:hover {
                text-decoration: underline;

                i {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      .uk-nav-sub {
        li > a,
        li > a.sws-side__list-item {
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &.uk-active {

        > ul {
          height: auto;
          overflow: visible;
          padding-bottom: 6px;
          @include reset_list;
        }

        > li {
          margin: 0;
          padding: 0 15px 14px 30px;
        }

          a:visited,
          a:not(.sws-side__open-icon) {
            font-weight: 600;
            text-decoration: underline;
          }
      }

      &.uk-open {
        a.sws-side__open-icon {
          i {
            transform: rotate(45deg);
          }

          &:focus,
          &:focus:hover {
            outline: 1px solid black !important;
            outline-offset: 2px !important;
          }
        }
        .sws-side__sublist-item > a.sws-side__list-item {
          display: block;
          text-decoration: underline;
          font-weight: 600;
          width: calc(100% - 55px);
        }
      }
    }

    &.uk-active,
    &.uk-open {
      > a,
      > a:visited {
        // font-weight: 800;
        // line-height: 1.55em;
        // border-left: 6px solid $gef-decoration;
        // padding-top: 20px;
      }
    }

    > ul {
      margin: 0;
      padding: 0;
      height: 0px;
      overflow: hidden;
      @include reset_list;
    }

    > a,
    > a:visited {
      padding: 16px 15px 13px 10px;
      transition: background-color 0.2s;
      font-weight: 400;
      letter-spacing: 0.02em;
    }

    ul ul {
      // @include reset_list;

      > li {
        margin-top: 0;
      }
    }
  }

  @media #{$gef-mq-lg} {
    margin-top: 0;
    max-width: 340px;

    > li {
      border-left: 6px solid transparent;

      &.uk-parent {

        &.sws-side-navigation-upper {

          > a {

            &:hover,
            &:focus {
              background-color: transparent;
              border-color: transparent;

              &:before {
                content: none;
              }

              > i {
                margin: 18px 0 0 20px;
              }
            }

            > i {
              position: absolute;
              top: 0;
              left: 0;
              margin: 18px 0 0 20px;

              &:before {
              }
            }
          }
        }

        &.uk-active {
          border-left: 6px solid $gef-decoration;

          > a:not(.sws-side__open-icon) {

            &:hover,
            &:focus {
              font-weight: 600;
              line-height: 1.55em;
              letter-spacing: 0.02em;
              text-decoration: underline;
              transform: none;
              cursor: pointer;

              &:before {
                content: none;
              }
            }

            &:focus {
              text-decoration: underline;
            }
          }
        }
      }

      > a,
      > a:visited {

        &:hover,
        &:focus {
          font-weight: 600;
          text-decoration: underline;
          i:before {
            text-decoration: none;
            // transform: rotate(45deg);
          }
          }
        }
    }
  }
}

.sws-side-nav {

  margin: 10px 0px 20px;
  &__block {
      margin: 10px 0;
  }

  a {
      text-decoration: none;
  }

  &__text {
      margin: 0 10px;
      &-static {
          margin-left: 5px;
      }
      &-first {
          margin-left: 0!important;
      }
  }

  &__select,
  &__button {
    text-align: left;
    border: 1px solid grey;
    border-radius: 20px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
  }

  &__wrapper:after {
      padding-left: 10px;
      content: "\f107";
      font-family: FontAwesome;
      position: absolute;
      top: 25%;
      right: 15px;
      pointer-events: none;
  }

  select {
    appearance: none;
    outline: none;
    padding: 0 1rem;
    margin: 0.25rem 0;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      box-shadow: none;
      animation: none;
    }

    &::-ms-expand {
      display: none;
    }
  }
}
