/* uncss:ignore start */

.sws-albums-landing__content {
    margin-top: -20px;
    a {
        font-weight: 400;
    }
    p {
        font-size: 0.875rem;
        margin-bottom: 0;
        &.sws-albums-gallery__text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 0;
            font-weight: bold;
        }
    }
    #albums-landing-view-more {
        width: 100%;
        margin: 0 auto;
        .albums-landing-view-more {
            white-space: nowrap;
        }
        h2 {
            margin-bottom: 0;
            font-weight: 400;
        }
    }
    &__link {
        color: $sws-white;
    }
    @media(min-width:$sws-md) {
        #albums-landing-view-more {
            width: 70%;
        }
    }
    //media queries
    @media(max-width:$sws-md) {
        .sws-albums-gallery__overall-padding {
            padding: 0 0;
        }
        .sws-albums-gallery-wrapper:nth-child(4),
        .sws-albums-gallery-wrapper:nth-child(5) {
            display: block !important;
        }
    }
    // .sws-component-self-contain {
    //     &__first,
    //     &__second {}
    //     &__childs {}
    //     @media(max-width:$sws-md) {
    //         &__first,
    //         &__second,
    //         &__childs {}
    //     }
    //     @media(min-width:$sws-md)and(max-width:$sws-lg) {
    //         &__first {}
    //         &__second,
    //         &__childs {}
    //         .sws-albums-gallery-wrapper:nth-child(4),
    //         .sws-albums-gallery-wrapper:nth-child(5) {}
    //     }
    // }
    // .sws-album-gallery-header {
    //     a {}
    //     &__button {}
    // }
    // .sws-albums-gallery-wrapper {
    //     &:hover {
    //         .sws-albums-gallery {}
    //         .sws-albums-gallery-full-info {}
    //     }
    //     &__inner {}
    // }
    // .sws-albums-gallery-full-info {
    //     &__bottom {
    //         img {}
    //         span {}
    //         &__inner {}
    //     }
    //     p {}
    //     a {}
    // }
    .sws-albums-gallery {
        a {}
        a:focus {}
        &__image {}
        &__album-info {}
        &__left-content {}
        &__right-content {
            img {}
            span {
                font-weight: bold;
            }
        }
    }
}


/* uncss:ignore end */
