.search-text-box {
  width: 100%;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
  border-color: $sws-component-theme-bg;
  box-sizing: border-box;

}
.search-results-image{
    width:99px;
    height: 61px;
    padding-top: 5px;
    overflow: hidden;
    max-width:100%;
    max-height: 189px;
    margin-bottom: 5px;
}
.sr_url_text_wrapper{
    clear: both;
    p{
        font-size: 1rem;
    }
    width:100%;
    flex: auto;
}
.sr_url_text_wrapper__img{
    //float: left;
    //margin-top: -10px;
}


.search-wrapper{
    padding-left: 10px;
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    top: 25%;
    right: 15px;
    pointer-events: none;
    float: left;

}
.search_summary{
  padding: 19px;
  font-size: 1rem !important;
  margin: 1.06rem 0 0.65rem 0 !important;
  font-weight: normal !important;
}
@media (max-width: $sws-md) {

    .search-results-image{
        width:100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .search-block{
        background-color: #eaeaea;
        margin-bottom: 16px !important;

    }

    .search-text-box{
        font-size: 15px;
    }
    .sws-search-results{
        display: inline-block;
        margin-left: 9px;
        margin-bottom: -40px;
    }
    .gef-pagination__prev{
        span:first-child{
            border-radius: 18px;

        }
    }

    .gef-pagination__next{
        :first-child{
            border-radius: 18px;
        }
    }
    .search_summary{
        margin-top: 0px !important;
        padding: 6px !important;
        line-height: 1.38;
        margin-bottom: 10px !important;
    }
    .search-results-header{
        h2{
            font-size: 1.1rem !important;
        }
    }
    .search-para-wrapper{
        float: left;

    }
    .gef-search-results__url{
        padding-bottom: 10px;
    }
    .search_mobile_view{

        padding: 7px !important;
    }
    .search-icon-wrapper{

        top: 36px !important;

    }

  }

  .search_mobile_view{
      position: relative;
      padding: 19px;
  }
  .search-icon-wrapper{
      position: absolute;
      top: 50px;
      right: 30px;
  }

  .search-block{
      //float: left;
      margin-bottom: 35px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
      margin-left: 6px;
      margin-right: 6px;
      border: 0;
      border-width: 0;
  }
  .search-results__hr{
      width: 1000%;
      margin-left: -500%;
      overflow: hidden;
  }
  .search-para-wrapper{
    p{
        font-size: 0.875rem !important;
    }
}
  //highlight page 3 on pagination item demo (gef-pagination__active)
  .search_pagination_demo .sws-search-results {
      & li:nth-child(4) a {
        background: #c41201 !important;
        color: $sws-white !important
      }
  }
  .sws-search-results {
      margin-left: 17px;
      & .gef-pagination__active {
        background: #c41201 !important;
        color: $sws-white !important
      }
      .gef-pagination__next a{
          width: 91px !important;
      }
      .gef-pagination__prev span{
        width: 91px !important;
    }
    .gef-pagination li
        span,a{
            display: inline !important;
        }


}
.search-text-box{
    border: 1px solid;
&::-ms-clear{
    display: none;
}
}
