.sws-newsletter {
    &--component {
        padding: 28px 15px;
        margin: 15px 0;
        background-color: $sws-dark-accent;
        @media #{$gef-mq-md} {
            padding: 28px 30px;
            // margin: 15px 0;
        }
        @media #{$gef-mq-lg} {
            padding: 28px 30px;
            // margin: 15px 0;
        }
    }
    &__image {
        &--wrap {
            width: 150px;
        }
        &--a {}
    }
    &__copy {
        h3 {
            a {
                color: $sws-white;
                font-weight: 600;
                text-decoration: none;
                &:hover,
                &:focus {
                    text-decoration: overline;
                }
            }
        }
        h3,
        p {
            color: $sws-white;
        }
        h3 a {
            color: $sws-white;
            font-weight: 600;
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
    &__date {
        font-size: 0.875rem;
    }
    // > div {
    //   order: 1;
    // }
    // > div:nth-child(2) {
    //   order: 0;
    //
    //   @media #{$gef-mq-md} {
    //     order: 1;
    //   }
    // }
    .newsletter-view-more {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        background-color: transparent;
        transition: all 1s;
        @media #{$gef-mq-lg} {
            margin-right: 24px;
        }
        @media #{$gef-mq-md} {
            margin-right: 0;
        }
        &:hover {
            background-color: $sws-light-accent;
        }
    }
    .sws-download-link {
        color: $sws-white;
        a,
        span {
            color: $sws-white;
            font-weight: 600;
        }
    }
    hr {
        display: block;
    }
    @at-root .sws-loader-svg-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
        img,
        svg {
            width: 25%;
            @media #{$gef-mq-md} {
                width: 17.5%;
                max-width: 140px;
            }
            .svg-rectangle {
                fill: rgb(100, 100, 100);
            }
        }
    }
    &-cta {
        width: 100%;
        margin: 1.5rem 0;
        &__link {
            display: flex;
            box-sizing: border-box;
            padding: 0 2.125rem;
            align-items: center;
            text-decoration: none;
            width: 100%;
            cursor: pointer;
            height: 11rem;
            border: 1px solid $sws-hero;
            background-color: $sws-white;
            justify-content: space-between;
            transition: all 0.5s;
            cursor: pointer;
            flex-direction: column;
            @media #{$gef-mq-md} {
                height: 5rem;
                flex-direction: row;
            }
            &:hover {
                background-color: $sws-hero;
                #newsletter_icon {
                    .newsletter_icon__svg-path {
                        fill: $sws-white;
                    }
                }
                h2 {
                    color: $sws-white;
                }
                &:focus {
                    text-decoration: underline;
                    text-decoration-color: $sws-white;
                    transition: all 0.5s;
                }
                p {
                    color: $sws-white;
                }
            }
            h2 {
                font-size: 1.5rem;
                color: $sws-hero;
                margin-top: 0;
                text-align: center;
                margin-bottom: 0;
                @media #{$gef-mq-md} {
                    font-size: 2rem;
                    text-align: left;
                    margin-right: auto;
                }
            }
            p {
                color: $sws-hero;
                font-weight: 400;
                margin: 0;
                margin-bottom: auto;
                @media #{$gef-mq-md} {
                    margin: 2rem 0 auto auto;
                }
            }
            &:focus {
                text-decoration: underline;
                text-decoration-color: $sws-hero;
            }
            #newsletter_icon {
                width: 3rem;
                margin-right: 0;
                margin-top: auto;
                @media #{$gef-mq-md} {
                    margin-right: 3rem;
                    margin-top: 0;
                    width: 2rem;
                }
                .newsletter_icon__svg-path {
                    fill: $sws-hero;
                }
            }
        }
    }
}

// override cause some genius decided to use an !important in the root GEF repo
.gef-main a.sws-newsletter-cta__link:focus {
    outline: none !important;
}