.sws_local_social-links {
  padding: 1.875rem 0;

  h2 {
    font-size: 1.625rem;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  ul {
    max-width: 235px;
    padding: 2rem 0;

    li {
      display: flex;
      padding: 0 17px;
      justify-content: center;
      margin-right: 1rem;
      min-width: 25px;
      max-width: 30px;
    }
  }

  a {
    text-decoration: none;

    &.sws-fullwidth-icon-menu__link{

      &:hover {
        text-decoration: none;
      }

      i {
        color: #5d5d5d;
        transition: color 0.25s ease-in-out;

        &:hover {
          color: $sws-hero;
        }
      }
    }
  }

  i {
    color: $sws-hero;
    font-size: 1.75rem
  }
  .uk-container{
    padding: 0;
  }
}
