//class to build column control- 66% container
//will be 100% container from Tablet view- less than 960px
.sws-container-width-66 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    @media(min-width: $sws-lg-min-view) {
        max-width: 66.666%;
    }
    &::after,
    &::before {
        content: "";
        display: block;
        overflow: hidden;
        clear: both;
    }
}

//class to build column control- 50% container
//will be 100% container from Tablet view- less than 960px
.sws-container-width-50 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    @media(min-width: $sws-lg) {
        max-width: 49.75%;
    }
    &::after,
    &::before {
        content: "";
        display: block;
        overflow: hidden;
        clear: both;
    }
}

//class to build column control- 33% container
//will be 100% container from Tablet view- less than 960px
.sws-container-width-33 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    @media(min-width: $sws-lg-min-view) {
        max-width: 33.333%;
    }
    &::after,
    &::before {
        content: "";
        display: block;
        overflow: hidden;
        clear: both;
    }
}

//class to build column control- 100% container
//will be 100% container all the views
.sws-container-width-100 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    &::after,
    &::before {
        content: "";
        display: block;
        overflow: hidden;
        clear: both;
    }
    }
//Added media query to handle toggle between devices for Mobile Menu
@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-medium-max) {

    .uk-hidden-small { display: none !important; }
    .local-footer-directions {
      display: block !important;
    }

}
