// ----------------------
// CUSTOM VARIABLES
// ----------------------
$sws-hero: $gef-dark-grey;
$sws-screen-width: 1440px;
$sws-meganav-bg: #b4b4b4;
$sws-theme-font-color:black;
$sws-uk-dropdown-navbar:#f5f5f5;
$sws-black :black;
$sws-white :white;
$sws-light-accent: #efefef;
$sws-dark-accent: #5f5f5f;
$sws-alert-color: #f8e71c;
$sws-long-img-margin: 20px;
$sws-long-img-margin-mobile: 10px;
//----------------------------------
//variables used for following:
//Latest News - Home Page
//Album Gallery - Home Page
//Static Banner- Home Page
//News Index Page
//News ARticle- detail page
//Sidebar - In Page
//Page Components - Page Filter, Featured News Banner
//sidebar components
//Events detail page
//----------------------------------
$sws-component-theme-bg: grey; //change it to fed from theme variable
$sws-component-header-font-weight:500; //change it to fed from theme variable
$sws-component-font-size:16px; //change it to fed from theme variable
$sws-component-font-size-smaller:12px; //change it to fed from theme variable
$sws-component-color:white; //change to follow the text color
//MEDIA QUERIES
$sws-md: 767px;
$sws-sm: 200px;
$sws-lg: 960px;
$sws-xg: 1024px;
$sws-sm-min-view: 320px;
$sws-sm-max-view: 767px;
$sws-md-min-view: 768px;
$sws-md-max-view: 1199px;
$sws-lg-min-view: 1200px;
//FINISH
//----------------------------------
// MEDIA QUERIES FOR EVENTS COMPONENT
$sws-mq-md: "screen and (max-width: 768px)" !default;
//Responsive widths for grid columns SWR-3141
$sws-mq-sm-view: "screen and (max-width: 767px)" !default;
$sws-mq-md-view: "screen and (max-width: 1199px) and (min-width: 768px)" !default;
$sws-mq-lg-view: "screen and (min-width: 1200px)" !default;
// ----------------------
// Theme Specific variables - These variables are to be setup in whitelabel so that changes to themes can happen through them
// ----------------------
$sws-theme-hero: #cccccc; //Primary hero color in the theme
$sws-base-h1-font-size: 1.375rem !default;
$sws-base-h1-line-height: 1.63 !default;
$sws-base-h1-font-weight: 800 !default;
$sws-base-h2-font-size: 1.125rem !default;
$sws-base-h2-line-height: 1.5 !default;
$sws-base-h2-font-weight: 800 !default;
$sws-base-h3-font-size: 1rem !default;
$sws-base-h3-line-height: 1.43 !default;
$sws-base-h3-font-weight: 800 !default;
$sws-base-h4-font-size: 1rem !default;
$sws-base-h4-line-height: 1.43 !default;
$sws-base-h4-font-weight: 800 !default;
$sws-base-h5-font-size: 1rem !default;
$sws-base-h5-line-height: 1.43 !default;
$sws-base-h5-font-weight: 800 !default;
$sws-base-h6-font-size: 1rem !default;
$sws-base-h6-line-height: 1.43 !default;
$sws-base-h6-font-weight: 800 !default;
